[2021-09-26 02:31] Efruit commented on #1119
@phkahler That took a bit longer than I had hoped, but it sort of works now.  I'm hesitant to put it up as a PR because I have no idea what I'm doing, and I don't want to pass this off as something that could actually be merged.

https://github.com/Efruit/solvespace/tree/svg-groups

[2021-09-26 15:11] andesfreedesign opened #1122 "Update messages.pot template"
Would have to add..

**'Show E&xploded View'
'Dimensions in &Feet and Inches'
'Length / Arc Ra&tio'
'Length / Arc Diff&erence'**

Cheers!

[2021-09-26 15:48] phkahler commented on #1122
Oh there's a build command that will update it. Just have to remember what it is...

[2021-09-26 15:57] andesfreedesign commented on #1122
@phkahler
Ok, thanks!
Do you plan to integrate the texts of the **Property Browser** to be able to translate them?

[2021-09-26 20:34] phkahler commented on #1122
To udpate the .pot file:
[code]
I also had edit locales.txt and CMakeLists.txt to actually add the new translation. PR is on the way.

[2021-09-26 20:41] phkahler commented on #1122
Ouch. I'm not sure the text window is ready for that. The previous maintainer wanted to rework it first, and I agree that's probably a good idea, but I might not be the right one for that task. It would also be good to have the text and icons resizable. OTOH if I didn't speak english I'd be annoyed that solvespace is only half-translated  ;-)

[2021-09-26 20:45] #1122 closed

[2021-09-26 22:15] phkahler commented on #439
@jwesthues
A math update on path extrusion.  To transform a flat sketch from one station to the next can be done via a rotation and translation. The challenge is to keep those two operations constrained to maintain the condition that the surface we're going to create is perpendicular to both instances of the sketch.

In the diagram below, we're looking at a side view of some sketch containing poin

[2021-09-26 23:15] andesfreedesign commented on #1122
@phkahler
The es_AR.po file was not merged properly
Can you remove it and make a PR with the translations of the updated messages.pot?

[2021-09-26 23:23] jwesthues commented on #439
I'd probably implement this feature without any interaction with the solver? Like the user would select a plane sketch and the sweep trajectory (a chain of curves all tangent to each other at their endpoints, with one endpoint lying in the sketch plane and normal to that sketch plane), and you'd compute everything from that. That would avoid the need to compute anything symbolically, greatly simpl

[2021-09-27 00:03] phkahler commented on #439
No, I want to know how to reorder them. So Q then T is replaced by T' then Q'.  I want to be able to reorder a sequence of rotations and translations so I can then combine them and end up with just one rotation and one translation.

[2021-09-27 00:12] jwesthues commented on #439
I think you can just expand out the matrix math? Like if you want to apply rotation R1, then translation x1, then rotation R2, then translation x2, then you have

R2\*(R1\*p + x1) + x2 = R2\*R1\*p + (R2\*x1 + x2)

which is equivalent to rotation by R2\*R1 then translation by R2\*x1 + x2. The rotations are of course implemented as quaternion operations rather than actual 3x3 matrix multiplies.

[2021-09-27 00:21] Symbian9 commented on #738
- SolveSpace version: `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57 (Debian 10.x)
- SLVS - [tube-turns.zip](https://github.com/solvespace/solvespace/files/7232521/tube-turns.zip)
![Screenshot_2021-09-27_03-15-29](https://user-images.githubusercontent.com/13188580/134829451-17b49888-dbf4-491f-8b8d-735527b7cd75.png)

[2021-09-27 10:14] phkahler commented on #738
@Symbian9 this issue is not meant to be a dumping ground for NURBS issues. @ruevs created an index to other issues.

[2021-09-27 10:34] Symbian9 opened #1124 "NURBS fails between Extrude and Revolve solids with same Circle profile"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** Debian 10.x buster

### Expected behavior

NURBS should not fails between Extrude and Revolve solids with same Circle profile.

### Actual behavior

Revolve NURBS operation fails between Extrude and Revolve solids with same Circle

[2021-09-27 13:38] Symbian9 commented on #738
Here is sample of such *solution* (not a bug case).

- SLVS: [cube-orthogonal-holes_slvs.zip](https://github.com/solvespace/solvespace/files/7236631/cube-orthogonal-holes_slvs.zip)

[2021-09-27 17:10] phkahler commented on #1124
Is this the same as #171?  In that case the 2d coordinate systems for the circles are misaligned but the circles still lie exactly on each other.

If your "extrude path" is all in a plane (perpendicular to all Revolve axies) then this may be a different issue.

[2021-09-27 17:24] Symbian9 commented on #1124
This one.

[2021-09-27 22:38] Symbian9 opened #1126 "Active point does not follow mouse (cursor) postion in X or Y on canvas"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** Debian 10.x buster

### Expected behavior

If grab & move point, point should follows mouse (cursor) position (even if point is constrained on line, it should at least follow mouse X or Y position according canvas)

### Actual beha

[2021-09-28 13:27] phkahler commented on #1126
It follows the closest position on the line to the mouse pointer, exactly as intended. You can also think of this as following the mouse position along (parallel to) the line.

When the sketch is rotated so the line is closer to parallel to the view direction (into or out of the screen) the same directional behavior is there, but the distance moved is reduced. It is in some sense "correct" if not

[2021-09-28 13:39] phkahler commented on #206
@nanoant  Can you issue a pull request so we can have a look and try your changes?  I think it would be helpful to export a simple STEP file from a tool that does this correctly, as we really don't have a full understanding of the standard. If edges need to be reversed for one surface, it must happen where that edge (or curve) is referenced by a surface because we know (believe) the curve should o

[2021-09-28 17:35] phkahler commented on #206
Searching for a simple cube I ran across this one with a hole in it:
https://isr.umd.edu/Labs/CIM/vm/xlator/step.html

Where entity IDs #9 and #27 both refer to #8 with the only difference being .F.  or  .T.  which is False or True. Searching on ORIENTED_EDGE brought me to this:
https://www.steptools.com/stds/stp_aim/html/t_oriented_edge.html

Which seems to indicate that the start and end of the

[2021-09-28 18:45] ruevs commented on #206
STEP is a... big... specification. Last year I superficially "dipped my toe in it" while implementing the STEP colors and transparency (https://github.com/solvespace/solvespace/pull/763, https://github.com/solvespace/solvespace/pull/767, https://github.com/solvespace/solvespace/issues/452). After that I [spent some time](https://github.com/solvespace/solvespace/issues/206#issuecomment-715521786) o

[2021-09-28 18:52] ruevs commented on #1126
@Symbian9 How should it behave in the extreme case when you rotate the workplane that the line segment is in to be perpendicular to the screen (i.e. the line segment projected on the screen becomes a single point)?

What does Blender do in that case?

[2021-09-28 19:38] ruevs commented on #1118
Correct URLs:
https://github.com/KhronosGroup/glTF
https://github.com/KhronosGroup/glTF-Sample-Models

[2021-09-28 20:02] ruevs commented on #1069
This is true,

No. The ""sketch-in-plane"_ workplane border" actually shows the workplane(s) of the groups that are "New Group | Sketch In New Workplane" and not the "active" workplane. To figure out what the active workplane is press `W`.

By the way one can show all workplanes for all "sketch-in-plane" groups by pressing the ![workplane](https://github.com/solvespace/solvespace/raw/master/res/ic

[2021-09-28 21:05] nanoant commented on #206
@phkahler Well my code is available at https://github.com/nanoant/solvespace/tree/step/edge-reuse It has a bit of debugging junk in it so I am not sure if it is good candidate for PR at the moment, not to mention use of `std::map` and all approx stuff that is just quickly baked.

Anyway it seems to do the job for some not very complex shapes produced from some well defined boolean ops - FreeCad co

[2021-09-28 21:29] nanoant commented on #206
Oh.. okay, I think I know what is the problem. It looks like some issue with the solver, and the outcome depends on how you place constraints:

Doing this, leads to proper solid STEP file:
<img width="515" alt="image" src="https://user-images.githubusercontent.com/103067/135168017-50d6c025-950a-403b-a510-514685a39bf0.png">

Doing this produces a file with right adjacent arcs edge broken:
<img widt

[2021-09-28 22:02] nanoant commented on #206
Update. It looks like you need to compare bezier weights with some approximation when looking up the cache. I updated my commit with working code, please see / use this https://github.com/nanoant/solvespace/commit/2266fedbba846ec53e4f1ec292ee0621884a5dd3

[2021-09-29 00:18] phkahler commented on #206
@nanoant
Some comments, I don't know what's best. I didn't expect to cache entire curves, but it turns out what I thought we could do isn't quite possible but may be with some help. Most of this is in the /srf folder, so see surface.h.

Some background:
A curve (SCurve) has a unique handle (h). It also has handles to the two surface it joins (surfA, surfB). They also have a flag (isExact) that tel

[2021-09-29 21:47] nanoant commented on #206
@phkahler Many thanks for such an exhaustive explanation. I have learned a lot.

Also I made some progress by realizing that `std::map` is a wrong container when using approximate comparisons (see https://github.com/nanoant/solvespace/commit/ba2be4a5ea6a3229b3f094f873cdde1cb42d3f86), since it requires strict weak ordering. I switched to `std::unordered_map` with curve id as a hash and now I can ex

[2021-10-03 14:04] Symbian9 opened #1127 ""Color picker" and "Lightness slider" does not show actual (previous) color"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** Debian 10.x

### Expected behavior

When click `[change]` in any color string to input new color value,  "Color picker" on color map & "Lightness slider" should show *actual (previous) color*.

### Actual behavior

When click `[cha

[2021-10-05 12:04] Sil68 commented on #77
Sound really compelling! I am absolutely looking forward to this feature! Currently I am using FreeCAD and it is feeling clunky & sluggish. How I have experienced SolveSpace so far, I am almost ready to migrate!

Using named parameters is one of my relevant requirements, and I really would like to try out this patch of yours. I've already successfully built your branch on my Mac, but now I'm strug

[2021-10-07 19:50] Symbian9 opened #1130 "Do not reserve space above toolbar in minumum window size"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** Debian 11 bullseye (Fluxbox)

### Expected behavior

There should be no extra `32px` space in height reserved in minimum window size.

To allow record full window (with title & toolbar ON) at least in 720p video standard (1280x720)

[2021-10-07 22:47] rpavlik commented on #439
Yeah that's by far the easiest, turn it all into isometries in Eigen (or equivalent) - matrices - then back to position and quaternion at the end if you like.

[2021-10-08 03:03] Symbian9 opened #1131 "Add standard view titles in "g000-#references" planes"
### System information

- **SolveSpace version:** `3.x`/`4.0`
- **Operating system:** all supported

### Expected behavior

Add standard view titles (as text labels) in `g000-#references` planes - it would helps users to easier orient in 3D space of *SolveSpace*:

- in `#XY` plane: `Top` / `Bottom`
- in `#YZ` plane: `Left` / `Right`
- in `#ZX` plane: `Front` / `Back`

### Actual behavior

Actually

[2021-10-13 07:49] Symbian9 commented on #1131
No. Its maybe related, but "view cube" request is about adding something like *FreeCAD's Navigation Cube* or *Blender's Navigation Gizmo*.

In actual issue I requests just adding global view text labels directly in reference planes instead.

- **Mockup** (`SLVS`) - [view-titles_slvs.zip](https://github.com/solvespace/solvespace/files/7336038/view-titles_slvs.zip)

![Screenshot_2021-10-13_10-42-36]

[2021-10-17 20:36] Symbian9 commented on #1091
I just discovered one more NURBS failure, but could you point me is it related to actual issue, or there already some other issues, or this something else:

- SolveSpace version: `3.0~`https://github.com/solvespace/solvespace/commit/2cd0ee4b3352c8fb68921399790d0545ad9b26bf
- SLVS-file: [corner-nurbs_slvs3x.zip](https://github.com/solvespace/solvespace/files/7360794/corner-nurbs_slvs3x.zip)

![corn

[2021-10-17 22:29] Symbian9 opened #1134 ""Export 2d Section" produces empty PDF"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/2cd0ee4b3352c8fb68921399790d0545ad9b26bf
- **Operating system:** Debian 10 buster

### Expected behavior

*"File > Export 2d Section..."* should produce correct cross-section drawing output

### Actual behavior

Actually *"Export 2d Section..."* produces just empty PDF in size of 1.0 KB.

#### S

[2021-10-18 04:00] jwesthues commented on #1134
"Section" here means "all the trim curves of the solid model lying in that plane", not "all the trim curves created if we cut the solid model along that plane". The latter would perhaps be better, and that problem is roughly equivalent to the Booleans. Still considerable new work, though.

[2021-10-24 17:21] ghost opened #1136 "Use JSON format for configuration file on all platforms"
### System information

- **SolveSpace version:** `3.x`, `4.0`
- **Operating system:** all supported

### Expected behavior

SolveSpace configuration settings should be stored in same format (JSON file) on all platforms.

### Actual behavior

Actually SolveSpace uses various places for storing configuration data:

- **Linux:** `~/.config/solvespace/settings.json`
- **Windows:** configuration data

[2021-10-29 18:26] ppd commented on #1103
Apologies for the delay. Life got in the way.

Unlikely, I reckon. If we install the nightly.link app (https://github.com/apps/nightly-link), we get something like 5,000 requests/hour (https://docs.github.com/en/developers/apps/building-github-apps/rate-limits-for-github-apps). I doubt this will ever be a problem.

I think we should just

1. install the nightly.link GitHub app
2. add those links t

[2021-10-29 20:47] #1103 closed

[2021-10-30 07:19] ddevault commented on #1103
Thanks!

[2021-10-30 17:41] phkahler commented on #206
[PWL_edges.zip](https://github.com/solvespace/solvespace/files/7447274/PWL_edges.zip
![Screenshot from 2021-10-30 13-33-22](https://user-images.githubusercontent.com/14852918/139543366-19a9055a-32ff-4ae5-ab8d-abd58c99b20b.png)

This file should have 8 surfaces. 4 for the main shape and 4 90 degree cylindrical surfaces for the hole. The top and botton edges of the hole should be PWL curves since th

[2021-10-31 07:46] shockergit opened #1138 "Negative extrusion"
Please add champering and filleting tool like the extrusion tool.

[2021-10-31 16:07] phkahler commented on #1138
@shockergit  If by "Negative extrusion" you mean the ability to subtract an extruded shape from an existing model, just extrude your chamfer, go to the text window for that group and change "solid model as" from union to difference. In some cases doing an intersection might be better.

[2021-10-31 16:15] shockergit commented on #1138
yes thank you soo much, thats all i wanted. and can you make that text window pinned on the right side  it would have been nice or it will overlap on the drawing window.

[2021-10-31 16:33] phkahler commented on #1138
@shockergit  The text window is just a floating window. I think some people made experimental single-window attempt a few years ago. Not sure what came of it. I'm hoping to figure out how to get gnome to remember where the window was last time it was opened.

[2021-10-31 16:35] phkahler commented on #1138
Yes, issue #39 which is very old, asks for a single window.

[2021-10-31 16:45] shockergit commented on #1138
Anyway thanks so much for this app its very easy and fun to use better than freecad in my case

[2021-11-01 08:08] ruevs commented on #1138
https://github.com/solvespace/solvespace/issues/149

[2021-11-01 10:41] shockergit opened #1139 "Need Help"
How do i create a workspace under the pipe.
I need to add a hook below the pipe in the center how can i do that?
This is the hook
![Screenshot 2021-11-01 141202](https://user-images.githubusercontent.com/63154802/139659406-7cba0818-f9f5-489a-a3b3-8c5d2852f1a6.png)
This is the pipe.
![Screenshot 2021-11-01 141250](https://user-images.githubusercontent.com/63154802/139659467-9c32cd7f-9be4-4bf1-a816-

[2021-11-02 11:59] Symbian9 commented on #401
Qt would allow easy porting to Android:

- https://solvespace.com/forum.pl?action=viewthread&parent=3966&tt=1635827927

[2021-11-02 18:58] ruevs commented on #1139
Closing since this was answered on the forum:
https://solvespace.com/forum.pl?action=viewthread&parent=3965&tt=1635846778

[2021-11-02 18:58] #1139 closed

[2021-11-02 19:01] #1138 closed

[2021-11-04 15:55] ruevs commented on #1130
I like it and have implemented it.
![image](https://user-images.githubusercontent.com/15338069/140373599-62db8d85-0dc8-4e4c-abae-c36554e7b028.png)

[2021-11-04 18:54] Symbian9 commented on #1130
Looks great!

[2021-11-05 00:08] #1130 closed

[2021-11-05 17:09] phkahler opened #1142 "Add midpoint when none selected"
### Expected behavior

When the user selects a line and no point, pressing "m" should create a new point constrained to the midpoint of the line.

### Actual behavior

Nothing happens

### Additional information
This is not a bug, as "m" is meant to constrain an existing point to a line. Some users don't realize this and expect the midpoint function to *create* a midpoint, and that seems reasonabl

[2021-11-07 01:18] Symbian9 commented on #1142
JFTR, What would happen if user would quickly set <kbd>M</kbd> few times in row?

Also, what about use next behavior instead:

1. Select *line* entity;
2. Press <kbd>P</kbd>;
3. Press <kbd>M</kbd>.

[2021-11-07 18:06] phkahler commented on #1142
Well I hadn't thought of that. A naive implementation might create extra points at the midpoint. But only if the line remains selected?

[2021-11-07 23:42] Symbian9 commented on #1142
In theory, yes.

But I don't know, could be there a case where second <kbd>M</kbd> click in row would be faster then selected line would be unreleased after first  <kbd>M</kbd> click and creating dot on line in mid position? (on complex 3D models I few times spotted that selecting/unselecting may require a even 1-2 seconds)

JFTR, There is issue in "Property Browser" where ***if click*** on last (

[2021-11-08 07:27] ruevs commented on #1142
I don't particularly like either of the proposed ways to implement this.

Both break the "uniformity" of the UI and in my opinion it is much more important to have consistent behaviour without "corner cases" and "special cases" than to cater to a beginner.

[2021-11-08 19:44] Symbian9 commented on #1142
Should we vote on this feature to decide?

[2021-11-08 19:54] nabijaczleweli opened #1143 "Properties of TrueType element show what the text was, not what it is"
### System information

- **SolveSpace version:** df3ef2ab0e805b3500803607aa33e8152f11b048
- **Operating system:** Windows 10

### Expected behavior

The text in the property browser shows what it is.

### Actual behavior

The text in the property browser shows what it was.

### Additional information

An mpreg four illustrating the problem:

https://user-images.githubusercontent.com/6709544/14080

[2021-11-10 17:08] Symbian9 commented on #1130
Windows 10) so it is possible to capture 720P video tutorials.

Thanks, @ruevs!

 Now its possible also to capture not only full SolveSpace window, but also system panel to be captured too ;)

![slvs3x-720p](https://user-images.githubusercontent.com/13188580/141159629-1f135470-e8e3-4c66-90b3-cb35f1094dba.png)

[2021-11-11 17:49] phkahler commented on #173
Current master also has the exploded view for 2d sketches, which separates all lines by an adjustable interval perpendicular to the sketch plane.

[2021-11-12 23:22] barnabywalters opened #1144 "“STEP file doesn’t contain any solid bodies” according to Spanflug"
### System information

- **SolveSpace version:** Version 3.0 (3.0~0e0b0252)
- **Operating system:** Mac OS 10.15.7

I’ll preface this issue with the following disclaimer: yes, I know this is very specific and probably more to do with a particular manufacturer than Solvespace itself. I don’t expect to receive much help with this, as I know the devs have much more important things to work on. Howev

[2021-11-13 07:55] ruevs commented on #1144
@barnabywalters you are absolutely right. Here is the issue tracking this problem https://github.com/solvespace/solvespace/issues/206 .

[2021-11-13 07:55] #1144 closed

[2021-11-13 07:57] ruevs commented on #1144
You should at least look through the issue pinned at the top https://github.com/solvespace/solvespace/issues/1024 before creating a new one.

[2021-11-13 10:29] ruevs commented on #1144
Hey this Spanflug place looks pretty nice. Good to know.

[2021-11-13 10:31] barnabywalters commented on #1144
@ruevs oh thanks, I didn’t realise that was the same issue. Good to know it’s already being worked on!

I don’t have any experience with Spanflug’s parts myself yet, but a friend recommended them to me after a lot of good experiences, and they seem to offer better features than many similar services for quite reasonable prices.

[2021-11-21 15:52] Symbian9 opened #1146 "CVE's in `libdxfrw` (CVE-2021-21898, CVE-2021-21899, CVE-2021-21900)"
### System information

- **SolveSpace version:** `master`
- **Operating system:** All supported

### Expected behavior

Critical patches to LibreCAD's `libdxfrw` should be ported into SolveSpace's `libdxfrw`

- https://github.com/solvespace/libdxfrw

### Actual behavior

TL;DR: Multiple code execution vulnerabilities in LibreCAD's `libdxfrw`:

- https://blog.talosintelligence.com/2021/11/libre-ca

[2021-11-25 17:59] ruevs commented on #143
https://solvespace.com/forum.pl?action=viewthread&parent=3996&tt=1636240197

[2021-11-26 13:54] Symbian9 commented on #143
To be clear, it is just set of drawing templates not related directly for auto generating blueprint (as I requested).

See also further discussion on drawing templates with its author:

- https://www.reddit.com/r/SolveSpace/comments/qocc3h/2d_drawings_in_solvespace/

[2021-12-02 14:42] sokol07 commented on #1050
Stumbled upon the same issue, it is still valid.
The thing is that if you install a font clicking on it and selecting "install" (automatic Windows installation, Windows will place the .ttf file somewhere deep in the system:
![image](https://user-images.githubusercontent.com/39523480/144443001-f8791ac2-2e78-4413-9ce2-0afa4aba7b19.png)

Meanwhile, **Solvespace is fetching only the fonts placed in fo

[2021-12-02 20:28] ruevs commented on #1050
It never occureed to me to "install" a TTF font in Windows. One always simply copies them to C:\Windows\Fonts (since at least Windows 95).

[2021-12-02 21:14] sokol07 commented on #1050
It may depend on Windows version or configuration (accounts?) but on my Windows 10 Home when I open C:\Windows\Fonts I get such preview and there is no way to open "normal" view of the folder:

![image](https://user-images.githubusercontent.com/39523480/144502178-41490032-2166-467f-a071-625881b53ee9.png)

If I drag and drop (copy label when dropping) the .ttf file to this window the font is instal

[2021-12-03 13:57] ruevs commented on #1050
Indeed! At some point - hard to find exactly when - it became impossible to copy directly to C:\Windows\Fonts with Windows Explorer. It certainly works in XP. Here is another discussion https://inkscape.org/forums/questions/installed-fonts-do-not-appear/

# `Right-click the font | Install for all users` is the solution.

[2021-12-03 13:57] #1050 closed

[2021-12-03 14:16] ruevs commented on #1050
And here for the programmers is the "real" explanation http://archives.miloush.net/michkap/archive/2006/06/25/646701.html

[2021-12-04 01:38] piedoom commented on #1050
Fantastic, thanks for the discussion and answers!

[2021-12-05 20:58] ConductiveInsulation commented on #75
I think it also would be great to have the possibility to add comments inside the slvs file, currently it's possible to add a comment somewhere in the text but it'll get removed when the "corrupted" file gets repaired.

I use the comments when I use git to share some files  (works great since they are just text files) so it's not really helpful when they just disappear, having them in a separate f

[2021-12-06 00:43] phkahler commented on #75
@ConductiveInsulation  you know you can put comments directly on the sketch right? Press ;  you can also select a point first to position a comment relative to it.

[2021-12-06 05:23] ConductiveInsulation commented on #75
Do you mean the text function? It incredibly bloats the file since not only the Message gets stored but also the shape/extrusion of the message. Unfortunately the Message itself also doesn't get stored on the beginning of the file so it won't be visible when the file is viewed because it for example got directly linked.

I made a example how i currently do it: [https://bitbucket.org/conductiveinsu

[2021-12-06 06:53] ruevs commented on #75
No not the "Text" function. The "Comment" function from the menu `Constrain | Comment` or with the `;` (semicolon) shortcut key. If yoo select a point before adding the comment it will be positioned relative to the point and will move with it.

[2021-12-06 07:28] ConductiveInsulation commented on #75
@ruevs I'm using Solvespace for a pretty long time now but I have to admit that I must have overlooked that function totally. I'll look into it after work and give you a update.

[2021-12-06 13:36] ConductiveInsulation commented on #75
@ruevs it appears to be Impossible to store the comments in the beginning of the file since the constraints get stored in the end of the file

[2021-12-06 19:12] phkahler commented on #1146
Does anyone know why solvespace keeps its own version of libdxfrw? It seems like any PRs relating to that should just attempt to switch back to an upstream version if possible.

[2021-12-06 19:39] Symbian9 commented on #1146
Guess, at least @jwesthues may/should know why it happen.

IMSHO, SolveSpace devs should in some way collaborate with LibreCAD devs and unify `libdxrw` code base into single `LibreCAD/libdfxrw` repo.

FTR, *LibreCAD* `2.2.0-rc3` released week ago with all those CVE's fixed:

- https://github.com/LibreCAD/LibreCAD/releases/tag/2.2.0-rc3

[2021-12-07 01:23] jwesthues commented on #1146
I'm afraid I don't know why. Perhaps @Evil-Spirit does?

[2021-12-07 04:22] kk6mrp commented on #1146
Check out https://github.com/solvespace/solvespace/commit/20a041e0efd02b481b91c1df93d112150b09854f

[2021-12-07 11:08] Symbian9 opened #1147 "SolveSpace Official Accounts on social networks"
### System information

- **SolveSpace version:** all
- **Operating system:** all

### Expected behavior

Dear, @jwesthues @phkahler @ruevs @ppd.

For a long time since SolveSpace `2.0` released as open-source projects it was less highlighted for FOSS/FLOSS community, and even after `3.0` release it is still yet obscure project.

*I want ask you all to **grant me a permission to represent SolveSpa

[2021-12-07 16:24] phkahler commented on #173
I'm going to close this, as the exploded view should cover it. There have been other improvements to selection since this was opened as well, and there has been no feedback on any of that.

[2021-12-07 16:24] #173 closed

[2021-12-07 18:37] Symbian9 commented on #1146
@lordofbikes, may You clarify which one is actual place of upstream `libdxfrw` used for LibreCAD during compile process?

- https://github.com/LibreCAD/LibreCAD/tree/master/libraries/libdxfrw
- https://github.com/LibreCAD/libdxfrw
- https://github.com/codelibs/libdxfrw

[2021-12-09 11:07] ruevs commented on #1147
Hi @Symbian9 ,

  In my opinion your (and anyone's) efforts to popularize SolveSpace are a great thing!

  As to your request

What do you mean specifically? SolveSpace is open source and (at least I) certainly can not "grant" you or anyone a permission to popularize it on social networks. It's not forbidden in the first place. At least that's what I think.

  In fact I'm only answering because yo

[2021-12-09 19:29] phkahler commented on #1146
Another option is to push ahead with #326 and use libreDWG instead. It's come a long way since that issue was opened, but the solvespace integration branch of @rurban had its last commit in January and I'm not sure where it stands.

[2021-12-09 21:10] ruevs commented on #1147
As for:

If you mean the team here on the GitHub repo - that is not my decision, but I think @phkahler  added the rest of us based on a very simple, purely technical criteria - just look here https://github.com/solvespace/solvespace/graphs/contributors ;-)

[2021-12-09 21:44] Symbian9 commented on #1147
No, I mean just recognize me as member of SolveSpace project in general meaning, not on GitHub :)

I mean I wold be happy to create official SolveSpace app acconts on Twitter/Mastodon, also it would be cool if  SolveSpace Team allow to claim `r/SolveSpace` as official subreddit of SolveSpace project on Reddit ;)

[2021-12-09 21:56] Symbian9 commented on #1146
And here is a thread on LibreCAD (GPLv2) + LibreDWG (GPLv3)

- https://github.com/LibreCAD/LibreCAD/issues/1055#issuecomment-451304367

[2021-12-09 22:36] phkahler commented on #1147
I want to close this without comment, but here I am. I don't think SolveSpace needs an official social media representative at this time. It does need more developers and continued promotion on other sites, and we should all continue to bring it up in appropriate ways when opportunity comes along.

I find the wording odd too "permission to represent SolveSpace Team on various social platforms". No

[2021-12-10 00:03] Symbian9 commented on #1147
As SolveSpace is almost is uknown, I can't see the other way to join active FOSS/FLOSS software devs instead of promote it

As for now there are two major users of SolveSpace who *actively promote use of SolveSpace app and create showcases examples & videos*:

- me, on Twitter: https://twitter.com/app4soft
- and Eric Buijs on Mastodon (Fosstodon): https://fosstodon.org/@ericbuijs

And there are pl

[2021-12-10 06:49] ruevs commented on #1147
@Symbian9  But you re not a team member. So it would be... misleading... to represent yourself as one. So I do not "give you" permission to do so.

Your attempts to organize things are... unproductive... for the scale of the SolveSpace project. Just continue to popularize it in any way you wish. Saying "I'm a team member" won't make it more effective.

You are an active, very skilled user, and I f

[2021-12-10 07:22] Symbian9 commented on #1147
No. Again, I just clarified that I just want to create SolveSpace account on Twitter as official & set /r/SolveSpace on Reddit as "SolveSpace User Support Team")

Anyway, I'm officially `Contributor` to SolveSpace development already, so I'm part of SolveSpace Contributors Team.

To be more clear, https://github.com/solvespace/solvespace/graphs/contributors does NOT represent issues/bug reports su

[2021-12-10 08:51] ruevs commented on #1147
I said you are not a team member - @phkahler (quite wisely in my opinion) seems to have chosen team members based on commits to the code (as in C++, programming). When writing about SolveSpace please do not make it sound as "official SolveSpace team" statements - there is no such thing - In my opinion we are too small to have this level of "formality":

[code]

:-D ;-)

Whenever I mention SolveSpa

[2021-12-10 09:15] ruevs commented on #1147
To make it even more clear - what you are suggesting makes sense for a "big enough project" where apart from the "mandatory":
 - programming
 - debugging
 - testing

There is "room" for formal "teams" for :
- QA
- marketing
- support
- process
- planning
- management
- PR
- accounting
- HR
- etc.

At this point SolveSpace is not big enough for anything from the second group.

I'll close this. Feel

[2021-12-10 09:15] #1147 closed

[2021-12-10 09:46] Symbian9 commented on #1147
I'm not agree with statement that SolveSpace is not big enough for anything from the second group.

- https://old.reddit.com/r/FreeCAD/comments/raz787/yorik_van_havre_on_twitter_i_really_need_to_have/

But I may agree that SolveSpace Forum (its look & login behaviour) is bad for normal support site.

Lets clarify each of them:

- **QA** - it is mostly all of users who reports SolveSpace issues and

[2021-12-10 11:19] henrebotha opened #1148 "Solver fails to converge when applying parallel constraint to exactly perpendicular lines"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Xubuntu 21.10

### Expected behavior

I imported `column.slvs` into `matrix-right.slvs` and attempted to set the normals of the centre point of the circle parallel to the same point on another circle. I expected the imported model to be rotated such that the normals are now parallel.

### Actual behavior

The so

[2021-12-10 15:17] phkahler commented on #1146
SolveSpace is GPLv3+ and so is LibreDWG. That's awesome because we can statically link it into a single executable and continue not needing an installer for Windows ;-)

I do find LibreDWG's choice of GPL rather than LGPL a bit puzzling, but they are the FSF and I understand that hard line. At least they can change license later since they require a CLA.

I also wasn't aware of LibreCAD 3 untill t

[2021-12-10 15:24] phkahler opened #1149 "Study a possible solver improvement"
### System information

- **SolveSpace version:** 3.x
- **Operating system:** All

A discussion recently came across [hackernews](https://news.ycombinator.com/item?id=29472189) about an [improved newtons method](https://arxiv.org/abs/2112.02089) with better convergence.  The suggestion is for someone to study that to see if it could improve our solver performance.

That paper obviously isn't the o

[2021-12-10 15:25] #1106 closed

[2021-12-10 15:38] Symbian9 commented on #1146
Not good.

Does CLA is required to sign if fork/bundle LibreDWG under terms of GPLv3+ into other GPLv3+ software?

[2021-12-10 16:15] phkahler commented on #1146
No. You can mix and match any code under the GPLv3 license. The terms of use are totally "compatible" since the two projects are under the same license. Some licenses are only compatible in one direction, since the terms of use of one are a subset of the terms of the other. Most license pairings are incompatible (thanks OSI /sarcasm/) so it is important for FLOSS projects to keep to a small set of

[2021-12-10 18:52] rurban commented on #1146
Unfortunately I don't have that much time anymore to work on that integration.
But it's mostly a C++ solvespace job anyway, not so a LibreDWG job.

RE: License. The FSF made it very clear that GPLv3+ will stay. No LICENSE changes. But they own the code, so they could change it. I wouldn't be happy though. The adversary parties are huge and evil.

[2021-12-11 21:04] phkahler commented on #1079
OK @Symbian9 and @ruevs  an IDF has one normal shown, does that fully behave the way a normal is supposed to? If so I'll make 3 of them for linked STL and maybe add two more for IDFs.

[2021-12-11 21:46] Symbian9 commented on #1079
Probably. I guess there also should be origin point at XYZ normals crossing point for each linked/assembled STL/IDF/etc. parts after import (but not for linked/assembled SLVS parts)

NOTE: In SLVS its possible to decide show or not XYZ and origin point for each SLVS part by toggling `g001-#refernces` in  each SLVS part before saving — some time it may be really useful for assembly creating, so I m

[2021-12-12 17:51] ruevs commented on #1079
@phkahler  As far as I can tell the lone normal of a linked IDF works just like any other. Gets hidden when you "Hide normals". `X` works as expected. So  if you add normals to the STL that wold be great.

In the meantime a solution for constraining and STL is to add a construction line(s) between two "convenient" point(s) of the STL and use that to constrain. It is not as convenient as a normal s

[2021-12-15 00:54] Symbian9 opened #1150 "SolveSpace freeze on enter U+EA00 character for GNU Unifont Text"
### System information

- **SolveSpace version:** 3.0~https://github.com/solvespace/solvespace/commit/85f6ec414492d07b512fdfc6f97559ec11ebb36c
- **Operating system:** Debian 10 buster

### Expected behavior

SolveSpace should not be freezed by input any Unicode symbol for TrueType Text.

### Actual behavior

SolveSpace fully freeze after input `` (U+EA00) character into text input field and apply

[2021-12-15 18:27] phkahler commented on #1150
U+EA00 is in the "private use area" and is not standard unicode. On the other hand, solvespace should not lock up if someone tries to input characters like that - assuming you're after a twitter bird.

[2021-12-16 14:33] ruevs commented on #1150
It's alive!

![image](https://user-images.githubusercontent.com/15338069/146390619-ce61c871-a5f9-447b-a480-4748bfab8692.png)

I'll submit a pull request when I write up the stupidity in our binary search for glyphs insige unifont.hex.

By the way the font is no good - zero length edge on the "beak".

[2021-12-16 18:51] ctrlcctrlv commented on #1150
All glyphs in TrueType fonts (SFNT quadratic `glyf`) are implied closed. Don't blame the font for errors in rendering implementation please. Due to the fact font authors know there will be an implied force closure, many fonts, not just mine, eliminate an edge to save filesize.

I will fix this font probably because it's so small and this isn't a concern but you should know it.

[2021-12-16 21:29] ruevs commented on #1150
The fifteen or so other true type fonts ("Abc", obviously not all glyphs) that I just tried and all others I've used in the past to create 3D geometry result in closed contours and no zero length edges in SolveSpace. I did try to look through the glyph https://github.com/ctrlcctrlv/TwitterEA00/blob/main/TwitterEA00.ufo/glyphs/uea00.glif but could not quite parse where the problem is.

That said th

[2021-12-18 14:23] bobertlo commented on #1028
A vendored release tarball would be ideal, but tagging the sub-module repositories would be a work-around without cutting a new release for now.

[2021-12-18 17:56] phkahler commented on #1150
I updated the title since it's not the True Type font failing. It's the unifont in the text window.

[2021-12-20 17:59] bobertlo commented on #1028
I'm just going to leave this here in case anyone else ending up here finds it useful.

For the 3.0 release:

[code]

[2021-12-20 20:09] ruevs commented on #1150
In the meantime the twitter font is fixed https://github.com/ctrlcctrlv/TwitterEA00/commit/862c14dd3d05cf4a5a11fc08e7e4d130ca79d857 and now one can have a 3d Twitter :-)

Thanks you @ctrlcctrlv .

![image](https://user-images.githubusercontent.com/15338069/146826532-7170ddc7-e91e-4ad4-9497-d3970c118d2d.png)

[2021-12-20 20:37] ruevs commented on #1016
@someSven can you please attach your model again. I'm not sure what happens, but both of the ones above a missing.

[2021-12-20 20:40] ruevs commented on #1067
@eaglefred is this still a problem? @ppd at the time you assigned it to yourself - do you have an idea?

[2021-12-20 21:05] Symbian9 commented on #1150
This one also is waiting for DEB package to be built from `master` ater related pull to be merged)

BTW, Thank you all for working on fixing this issue! Can't wait for the next 'nightly' SolveSpace builds for crash testing;)

[2021-12-20 21:21] ppd commented on #1067
Ah, I forgot, sorry. This looks very much like a missing desktop portal on the host. That's not really a supported configuration for flatpaks or snaps. GTK would have to fall back to its own file chooser in this case, but it doesn't do this by default.

A workaround for users would be to set `GTK_USE_PORTAL=0`. That should get rid of the portal requirement. Of course the paths will look strange an

[2021-12-21 08:53] ruevs commented on #386
@bmorel  Indeed `System::CalculateRank()` is the slowest function for the attached test case ([keyb_case.slvs](https://github.com/solvespace/solvespace/files/3748504/profiling.zip)). However in both cases it loads in about three seconds on this particular machine.  Granted the number of unknowns is limited to 1024 (and this sketch is just a few below this limit). So I increased `MAX_UNKNOWNS` to 2

[2021-12-21 09:22] ppd commented on #886
The edge releases are gone, and so this issue is not relevant any more (+ it was already solved by #1008).

[2021-12-21 09:22] #886 closed

[2021-12-21 10:59] Symbian9 commented on #886
Guess the last change should be related to this issue is to repalce "edge"/"cutting edge" with "nightly" in `README.md`:

- https://github.com/solvespace/solvespace/blob/2450010bbfa20a1ffbf5fd90b85c4b941f56cb16/README.md?plain=1#L69

[2021-12-21 11:09] bmorel commented on #386
Well, the point was not to have a perfect solution, I perfectly knew (and still know) that I lack knowledge (and time) for bigger, more efficient changes. The point was to improve situation.
From the numbers I provided, it does (and yours confirm it, 2 years after, on a very likely a lot more powerful system), but the answer was that the solution is to do intensive work to switch to a library I ne

[2021-12-21 11:11] ruevs commented on #886
No. "Cutting edge" is an [idiom](https://www.oysterenglish.com/idiom-on-the-cutting-edge.html) [in English](https://www.theidioms.com/cutting-edge/) and the usage is correct.

[2021-12-21 11:38] ruevs commented on #386
The speed of the system is "irrelevant" - this algorithm will be "slow" on any system - [by it's nature](https://randomascii.wordpress.com/2021/02/16/arranging-invisible-icons-in-quadratic-time/) (by slow I do not mean "the human will be annoyed" - even though that will happen with enough objects) .

I understand. And as I said "I'm inclined to make a pull request for this." - 16% less time is 16%

[2021-12-21 11:54] bmorel commented on #386
Yep. That's what I had in mind :)

It does not. I think this is sad to freeze improvements because of the big nice silver bullet is «coming soon(tm)», and I like solvespace :)

[2021-12-21 12:50] ctrlcctrlv commented on #1150
You're welcome, funny enough this makes TwitterEA00 font the first font that I've publicly released which is built with my MFEK editor, I fixed the glyph in MFEKglif lol.

[2021-12-21 13:05] Symbian9 commented on #886
I has never seen "cutting edge" release naming used by other popular FLOSS projects for its "nightly" builds :-/

FreeCAD uses "daily" term, but "nightly" is common for software releases.

Also, on linked page with idioms in English in "Example Sentences" section there NO any example of "cutting edge release" name use for something related to application releases and/or packaging ("technology" is

[2021-12-21 14:49] #1150 closed

[2021-12-21 15:25] phkahler commented on #386
@ruevs  I'm inclined *not* to make changes like this in the solver because it will make the @Evil-Spirit solver patches less likely to apply cleanly. And those changes will definitely be a better performance increase, but last I tried there were some problems. I'd also like his patch series split into two - the solver changes and then the Eigen integration. IIRC somewhere in all that a memory leak

[2021-12-21 15:28] ruevs commented on #1150
Hey you are the author of MFEKglif! Having never heard of "glif" before your Twitter font; just yesterday I Googled it and found MFEKglif - pretty cool and written in Rust too. Downloaded the Windows binary and "clicked around" a bit with the Twitter font - nice :-)

[2021-12-21 15:39] jwebb opened #1152 "Sketching text fails if glyphs overlap"
### System information

- **SolveSpace version:** e07b082eb810d2088c92b97d04e864a4ab95816f
- **Operating system:** Ubuntu 20.04

### Expected behavior

Sketching 'Text in TrueType Font' should create a valid contour.

### Actual behavior

The contour may be self-intersecting and therefore unusable if some glyphs overlap e.g. due to kerning. For example, the letters `TY` in DejaVu Sans Bold.

### A

[2021-12-21 15:46] ruevs commented on #1152
Yes, if a particular text in a particular font has overlapping glyphs - either due to kerning or "handwriting" fonts for example - then the sketch will be self intersecting and it will not form a valid solid when extruding/revolving/lathe-ing etc.

I don't think there is a general way to fix this.

[2021-12-21 16:34] bmorel commented on #386
so... the problem is that it might be harder to rebase? If that's the only problem to accept the kind of patches I proposed years ago, then I'm ok to do it.
At that time, I had no good reason to use github that often (also was doubtful about how GH projects are managed... doubts that I'm slowly changing into certainty), but this has changed.
Thus, there's no reason I can't put some efforts at impr

[2021-12-21 17:05] phkahler commented on #386
@bmorel  - Your help will be gladly accepted. I wasn't a contributor back when this issue was opened, nor when the other solver work was done (but not merged). I consider all the open issues on github to be either nice ideas when someone has time, or backlog of things that really should be done. As with most things I find the challenge is balancing short and long term goals. Leaning toward long te

[2021-12-21 17:14] jwebb commented on #1152
There is certainly general fix: When two or more glyphs overlap, generate a contour which is their union. That's a standard operation in any 2D vector graphics package, and Solvespace already offers it for 3D solid models. And it's the _right_ solution because it's logically equivalent to how every font rasterizer handles the situation.

Whether it's easy or justified within Solvespace's framework

[2021-12-21 18:06] ruevs commented on #1152
I understand. You ment the union of the 2d outlines of the overlapping glyphs. That makes sense. SolveSpace currently does not have this implemented for anything else, so it will be entirely new code. But it is possible.

[2021-12-21 19:18] phkahler commented on #1152
Split the curves for each glyph against the curves from the previous glyph. Discard the sections from each curve that are inside the outline of the other glyph. The tricky part is the word "inside", but I wouldn't be surprised if there is a lot of code already there that can be used in making that determination. Curve-curve intersection looks like it will be important for #1091 - second issue.

[2021-12-21 21:12] ruevs commented on #1152
In principle it is "simple" we already do all of it in 3d. The inside/outside classification I am VERY familiar with ;-)

[2021-12-22 10:04] Symbian9 commented on #1067
@ppd, as alternative, to avoid of Flatpak and Snap issues, try SolveSpace DEB builds from @AlexanderP's PPA:

- https://notesalexp.org/packages/en/focal/amd64/solvespace
- https://launchpad.net/~alex-p/+archive/ubuntu/solvespace-daily

[2021-12-22 10:31] ppd opened #1153 "snapcraft in CD fails: Error fetching account information from store: The request is missing an Authorization header field containing a valid macaroon"
https://github.com/solvespace/solvespace/runs/4596340741?check_suite_focus=true

Probably just because a new major snapcraft version has been released. I guess the login token has a different format and needs to be exported again. Will look into it very soon.

[2021-12-22 10:35] ppd commented on #886
Also, nightly has a temporal meaning, i.e. nightly commonly refers to scheduled builds. We're building on each push to master.

[2021-12-22 15:37] phkahler commented on #886
"Leading Edge" might also be an interpretation of "Edge"

[2021-12-22 16:48] rpavlik commented on #386
I think I had a crack at integrating the two eigen branches. Mine was a direct translation, while the other was a greater improvement along with the use of Eigen. (we have an exploded view setting now? Fancy!) I've pushed it here, though my most recent commit messages on the branch make me nervous that it's possibly nonfunctional: https://github.com/rpavlik/solvespace/tree/eigen_over_master

[2021-12-22 17:23] ruevs commented on #886
"Bleeding edge" then.

[2021-12-22 19:12] rpavlik commented on #386
OK, and I split stuff up a bit: https://github.com/solvespace/solvespace/pull/1156 is a pretty minimal introduction of Eigen, from long ago (my previous job email!) that noticeably improved performance at that time. Tests pass. Doesn't touch anything dramatic so shouldn't introduce any leaks.  I've updated my eigen_over_master branch now to build on it: if it's interesting to review the big refact

[2021-12-22 19:54] 77maxikov commented on #386
Eigen 3.4.0 wants C++14 by default - have to add #define EIGEN_MAX_CPP_VER 14 there to be able to compile. Playing with keyb_case.slvs got strange thing while first load of this file - Generate::ALL (for bounding box) took 12285 ms on master while on eigen_over_master  Generate::ALL (for bounding box) took 14128 ms.

[2021-12-22 23:10] rpavlik commented on #386
https://github.com/solvespace/solvespace/pull/432 was my previous PR, so I went back to using that one

[2021-12-23 12:09] 77maxikov commented on #386
Sorry for my previous comment - all timings for keyb_case.slvs sample were obtained for debug build. For release build have got  10x speedup:  3727 ms on master vs. 369 ms on eigen_over_master branch.

[2021-12-23 15:19] ruevs commented on #386
And for my [keyb_case_MAX_UNKNOWNS_2048.zip](https://github.com/solvespace/solvespace/files/7750846/keyb_case_MAX_UNKNOWNS_2048.zip) the https://github.com/rpavlik/solvespace/tree/eigen_over_master takes about 3 seconds (down from 25 in trunk):

| Function Name | Total CPU [unit, %] | Self CPU [unit, %] | Module |
|-- | -- |-- | -- |
| solvespace.exe (PID: 26804) | 21732 (100.00%) | 0 (0.00%) | so

[2021-12-23 16:46] rpavlik commented on #386
The removal of too-many-unknowns is associated with the replacement of a fixed-size array with a std::vector and other things of variable size. I suppose we could still add back an artificial limit of unknowns.

[2021-12-23 17:00] ruevs commented on #386
Yes I think an artificial limit is in order. Essentially put back this line:
https://github.com/rpavlik/solvespace/commit/349de5fe01e01b0636a18e7c0a26eace4ec62c6a#diff-d34d69445971e623152a1884dfe7d22e7b59ebc1edf082008dd4b1cc5b5b5acaL28

[2021-12-23 17:10] ruevs commented on #386
I'm looking at the @Evil-Spirit optimizations other than Eigen https://github.com/solvespace/solvespace/pull/1158 now. They do not help with the test case in this issue, but  there are some interesting things there. I'll need some time to "parse" the math and make sure it makes sense for these two https://github.com/solvespace/solvespace/pull/1158/commits/8a7996bb60edb25d68436aef04bdd33defe51516 h

[2021-12-23 19:16] rpavlik commented on #386
cool, thanks for looking into this. I'd love to get any portion of this merged if it makes it faster (or more maintainable with minimal speed penalty).

[2021-12-23 21:52] ToddG opened #1161 "Building solvespace as a submodule fails"
### System information

#### HOST
Linux starbird 5.11.0-41-generic #45~20.04.1-Ubuntu SMP Wed Nov 10 10:20:10 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

#### GUEST
ubuntu:latest

solvespace:main branch

### Expected behavior

I should be able to build solvespace even if it is a submodule of another repo.

### Actual behavior

I have created a simple docker container to build and run solvespace here:

[2021-12-23 22:01] ruevs commented on #1161
https://github.com/solvespace/solvespace/blob/71c6492d6de798166e0c09d1529dffed745f6fbf/CMakeLists.txt#L35

[2021-12-24 17:15] mantielero opened #1163 "slvs.h: problem using SLVS_C_PT_PLANE_DISTANCE"
### System information

- **SolveSpace version:** 3.0
- **Operating system:** ArchLinux

### Expected behavior

Solve the system

### Actual behavior

It looks like it doesn't converge.

### Additional information

I am developing a wrapper for `slvs.h`. I asked a question in the [forum](https://solvespace.com/forum.pl?action=viewthread&parent=4203&tt=1640362897). I tried to write the same example

[2021-12-24 21:11] phkahler commented on #386
@baryluk   Since you've confessed to having some experience with numeric algorithms, we have a few pull requests pending that integrate Eigen into the solver. If you've got some time it might be worth having a look and offering any suggestions you might have. In particular #1158, #1159, and #1160.  If not, then carry on ;-)

[2021-12-25 20:17] Symbian9 opened #1164 "Add "osifont" as default built-in TrueType font"
### System information

- **SolveSpace version:** `3.x`, `4.x`
- **Operating system:** all supported

### Expected behavior

Add as default TrueType font `osifont.ttf` (*"osifont (Medium)"*) which conforms `ISO 3098` standard as font for CAD & engineering/technical drawings:

- Source & TTF binary: https://github.com/hikikomori82/osifont
- <details><summary>Details:</summary>
  <b>What is osifont<

[2021-12-25 23:14] ruevs commented on #1164
"2021-12-07 - fixed kerning in P.(A-Za-z), removed Belarusian support in protest of latest actions on Polish border" now there is something one does not see often - a CAD font with a political agenda :-)

Anyway can you explain why should the default font be a CAD font? I would think that the usage of a font would be to add text to a 3D model - it's highly unlikely whoever is doing it will want th

[2021-12-25 23:48] Symbian9 commented on #1164
First of all, as for TrueType font - in most cases used for extrude, so the best choice for such font is a font with same width along each character path ("isofont" is exactly what it should look like, but not "Bitstream Vera Sans")

Few other fonts I may recommend to look:

- "OpenGost" - set of OFL-licensed fonts which conforms exUSSR's GOST 2.304-81 standard and its derivatives still used by po

[2021-12-26 08:46] ruevs commented on #1164
The ISO/ГОСТ/DIN etc. technical drawing fonts are constant stroke width, because they were drawn with [technical pens (rapidographs)](https://en.wikipedia.org/wiki/Technical_pen) and I agree that for extruding and injection moulding (of embossed letters) it is an advantage. However this is only one of many possible uses - for engraved (debossed) letters, CNC, 3d printing, cutting (laser, water jet

[2021-12-26 14:43] Symbian9 commented on #1164
Ok, then I will close this issue for noww in favor to mentioning them in "FAQ"

FTR, @phakhler, may you enable "GitHub Wiki" feature for this repo?

[2021-12-26 14:43] #1164 closed

[2021-12-26 15:20] Symbian9 opened #1165 "Add option to set custom fonts folder path"
### System information

- **SolveSpace version:** `3.x`, `4.x`
- **Operating system:** all supported

### Expected behavior

Add option to set custom fonts folder (instead of use system default fonts)

Few ways to solve this feature request:

1. as path input field in "Property Browser > configuration" tab (should be then stored);
1.1. there should be something like: `fonts folder:` `~/path/to/fon

[2021-12-26 23:09] brennane opened #1166 "README : xcode build instruction update"
### System information

- **SolveSpace version:** 3.0
- **Operating system:** macos 12.1

### Expected behavior

xcode project build should work.

### Actual behavior

Following the README file on current macos is failing.

1. the workaround (for README inclusion) is simple, see additional information
2. the cmake process should be updated for the new build system on mac

[code]

### Additional in

[2021-12-28 14:32] ConductiveInsulation opened #1168 "Solvespace Windows are completely stuck after attempting to change the Background Colour"
### System Info:

- **SolveSpace version:** 3.0~2450010b
- **Operating system:** Linux Mint 20.2 Cinnamon
- **Kernel** 5.4.0-91-generic
- **CPU** Intel© Core™ i5-8265U CPU @ 1.60GHz × 4
- **RAM** 7.9gb free of 15.1

### Expected behavior

Change of BG Colour since it was hard to Distinguish Background and a Black Object in the file.

### Actual behavior

PID28419 Was the Window opened when i decid

[2021-12-29 20:23] bmorel opened #1169 "[feature request] export several STL files from a single slvs file"
This is a feature request, which would help multi-material 3D printing a lot.

Currently, when one wants to 3D print with multiple materials, it is required to do each drawing separately, and to *manually offset the 1st layers of each* which is error-prone and cumbersome.

What I propose, and I'm ok to implement it myself if I can have some guidance on how to do it, is to be able to export stl fil

[2021-12-29 20:29] bmorel commented on #1169
Actually, a better way would be to export a single AMF/3MF file, since they are built for that kind of feature, but I think exporting several stl files would be a good, easier to implement, 1st step.

you can find infos here: https://blog.prusaprinters.org/3mf-file-format-and-why-its-great_30986/ and I have to say that the few exchanges I had with prusa persons were rather nice, so maybe they'd he

[2021-12-29 23:17] ruevs commented on #1169
Would it not be easier to draw the separate volumes as separate SolveSpace files and then link/assemble them in a new file?

Here is a tutorial https://solvespace.com/box.pl
And the.one before last video at the bottom here: https://solvespace.com/tutorial.pl

[2021-12-30 01:34] phkahler commented on #1169
I'm not excited about 3mf, but if you want to write an explorer that would be OK. We already have a request for glTF which is probably better, and also not a priority.

The main issue seems to be how to produce variants of a given part/sketch. Would it be possible to achieve what you need by checking "suppress solid model" on certain groups? What about the use of color? We do support color in .stl

[2021-12-30 19:29] phkahler commented on #1168
@ConductiveInsulation  I tried to reproduce this. One thing I did see is that once I click "change" under background color, the main window becomes completely unresponsive until a color is selected and the color chooser goes away. Then everything is fine again. Maybe that's what you were seeing?

[2021-12-31 14:10] Symbian9 commented on #1168
@ConductiveInsulation As an addition, try to repeat all the steps for reproduce background color change BUT then just try click <kbd>>Esc</kbd> key on keyboard (once or twice).

[2021-12-31 14:15] bmorel commented on #1169
Yes, the feature request is more about being able to export parts of the 3D model than to support new file formats, which are of dubious interest considering the work they'll likely require (possibly high cost for minor benefit, I would not call that worthwhile).

I do not know if it's already possible with checking "suppress solid model", but, to me, the generated stl file does not checks the sta

[2021-12-31 16:16] ConductiveInsulation commented on #1168
@Symbian9 @phkahler

I tested a few things. I could not reproduce another window being affected but I could completely get the current window stuck
Pressing `esc` only works as long as the program isnt completely stuck
###How to get current window stuck

1. Open Dialog to change BG colour
2. Click change to view colour selection
3. dont select colour
4. close Dialog
5. Do literally anything except

[2021-12-31 20:41] phkahler commented on #225
Merged in #1159

[2021-12-31 20:41] #225 closed

[2022-01-01 19:10] jelinj8 opened #1171 "Can't draw arc"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Win 10 x64 21H2

### Expected behavior

select ARC tool, mark first endpoint, mark second endpoint.

### Actual behavior

select ARC tool, first click creates "unsolvable constraints" (with empy list of "unsatisfied constraints").
Endpoints and center are created on one point as if I've set both endpoints.

Does

[2022-01-01 19:58] phkahler commented on #1171
To be clear:

1) Start Solvespace
2) Click the Arc tool
3) Click somewhere on the sketch not on the origin.
4) Problem?

And this is with Version 3.0 release on Windows?

[2022-01-01 20:00] jelinj8 commented on #1171
![obrazek](https://user-images.githubusercontent.com/3816495/147859130-d7c681b0-dd7a-4b89-bb3f-10ebf75b0143.png)

[2022-01-01 20:04] phkahler commented on #1171
Did it ever work for you? On that computer?

[2022-01-01 20:09] phkahler commented on #1168
@ConductiveInsulation  How do you close a dialog in step 4?  I'm on linux (Fedora) and the color chooser isn't a separate dialog, it's part of the Property Browser window.

Also, are you on X or Wayland?

[2022-01-01 20:20] jelinj8 commented on #1171
Hmm.. interresting question. I think that it used to work as I was using Solvespace quite a lot for 3D printing, but I've tried an older version of Solvespace now and that doesn't work either. I've tried the new version on another computer and it works. It isn't a problem of mouse doubleclicking (I've tested another mouse), neither multiscreen issue. Only thing I can't test is another computer wit

[2022-01-01 20:36] ConductiveInsulation commented on #1168
@phkahler With dialog i meant the Property Browser. Updated the previous Comment with a comment. Has to get closed with the X, tab doesnt work

I'm directly on my Notebook, no Protocol in between. If you want I can make a Screen recording for you.

[2022-01-01 21:28] Symbian9 commented on #1168
It would be the best to understand.

You may attach MP4 files directly to your comments here.

[2022-01-01 21:40] Symbian9 commented on #1171
I guess I can reproduce this issue: it seems like during new "Arc" creation you clicked <kbd>LMB</kbd> second time too fast in a row after first time (may be that is mouse issue) - as a result *start point* of "Arc" collided with its *end point*.

https://user-images.githubusercontent.com/13188580/147860720-bc7484e1-d4c3-4fb5-95c9-6467a5324793.mp4

Just as recommendation, always try to draw bigger

[2022-01-01 21:47] jelinj8 commented on #1171
The thing is that I'm not clicking at all for the second time and for the mouse issue it'd have to be some system issue as it is the same with several mouses. Plus it is an issue only with arc with no relations, if I start from a point or try to draw anything else than arc, there is no problem.

[2022-01-02 00:10] phkahler commented on #1171
@jelinj8  Like @Symbian9 says, I can reproduce this (on Linux) if I double click the first point of an arc. The funny thing is that it creates the entire arc, and I can drag the 3 points apart one at a time.  If I draw line segments (s) and double click the first point I get a full segment there along with a pts-coincident constraint.

Some googling indicates that some Windows 10 users are experie

[2022-01-02 01:58] rpavlik commented on #1146
Interesting. I actually went thru and fixed some issues in dxfrw, realized they had a separate git repo (the codelibs one), and submitted our stuff plus a few more cleanups/modernizations: https://github.com/codelibs/libdxfrw/pull/19 and made some additional cleanups here: https://github.com/codelibs/libdxfrw/pull/20

[2022-01-02 02:00] rpavlik commented on #1161
so this is almost certainly a CMAKE_SOURCE_DIR vs CMAKE_CURRENT_SOURCE_DIR or PROJECT_SOURCE_DIR or ... thing. My recent build improvements may have helped.

[2022-01-02 05:31] anymouse404 opened #1172 "Feature request: Add build date to the Help->About dialog"
Sometimes, it would be nice to easily find out how old my installed build is.
It would be nice if in addition to the revision number, the Help>About dialog contained a date of either the last commit or the build.

[2022-01-02 10:37] Symbian9 commented on #1171
Fully agree! There should be NO fix for Windows without Bounty-pay from MS for SolveSpace Team ;P

Happy Holidays, Y'all! :)

[2022-01-02 13:47] vespakoen opened #1173 "Snapcraft build issue"
### System information

Ubuntu 20.04.3 (in Github Actions)

### Expected behavior

Snap should build successfully

### Actual behavior

Fails with ld linking errors

### Additional information

Working fine here: https://github.com/solvespace/solvespace/actions/runs/1485714200
Broke in the next push to master: https://github.com/solvespace/solvespace/actions/runs/1564051582

The commits in between

[2022-01-02 14:11] ppd commented on #1173
I'll take a look later today. Should be easy to fix.

Koen Schmeets ***@***.***> schrieb am So., 2. Jan. 2022,
14:48:

[2022-01-02 16:59] ppd commented on #1173
I'm very confused. CMake seems to use ld as the linker, which ignores LIBRARY_PATH. I thought the default was to use g++ for linking.

[2022-01-02 17:41] ConductiveInsulation commented on #1168
@Symbian9
Only used the enter key in the end after it got stuck
https://user-images.githubusercontent.com/85430982/147884380-2c0eb0ee-bcc8-4b23-b2d8-ddae9035082a.mp4

[2022-01-02 19:04] #1173 closed

[2022-01-02 19:54] ppd commented on #1153
It seems that the macaroon has simply expired. I'll send a new one to @phkahler.

[2022-01-02 20:46] vespakoen opened #1176 "Snap secret expired?"
The latest [CD run](https://github.com/solvespace/solvespace/runs/4685812548?check_suite_focus=true) almost succeeded, it looks like the snap secret expired (It looks like it has to be renewed every year?)

`Error fetching account information from store: The request is missing an Authorization header field containing a valid macaroon`

@jwesthues Did you setup the account over there? or do you kno

[2022-01-02 21:09] ppd commented on #1176
You're absolutely right. See https://github.com/solvespace/solvespace/issues/1153, I've already sent @phkahler a new token.

[2022-01-02 21:09] Symbian9 commented on #1168
OK, this bug is reproducible.

@phkahler, it seems like "Property Browser" window should be locked (prevents closing it) during any input box is activated.

Another possible solution to fix this bug: when "Property Browser" window is closed manually during any input field is activated SolveSpace should firstly close input field process.

[2022-01-02 22:24] ConductiveInsulation commented on #1168
Guess I should have made the video in the beginning. But I'm still learning, usually I don't break software.

[2022-01-03 10:29] Symbian9 opened #1177 "Rename "line styles" to "styles""
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/e07b082eb810d2088c92b97d04e864a4ab95816f
- **Operating system:** all supported

### Expected behavior

In "Property Browser" tab "line styles" should be renamed just to "styles" (or even to "styles & theme").

### Actual behavior

Actually "line styles" are misinterpreted as only styles for line

[2022-01-03 21:03] phkahler commented on #1177
"styles and colors" ???

[2022-01-03 23:48] Symbian9 commented on #1177
Maybe. But if so then "colors & styles" (and use "&" instead of "and" for shorten)

Additionally, what You think about move "background color" to "view" tab?

[2022-01-04 10:18] ruevs commented on #386
I'm looking at the @Evil-Spirit optimizations other than Eigen https://github.com/solvespace/solvespace/pull/1158 now. They do not help with the test case in this issue, but  there are some interesting things there. I'll need some time to "parse" the math and make sure it makes sense for these two https://github.com/solvespace/solvespace/pull/1158/commits/8a7996bb60edb25d68436aef04bdd33defe51516 h

[2022-01-04 11:39] ruevs commented on #386
Since #1158 and #1159 are now merged and the [performance is much better](https://github.com/solvespace/solvespace/issues/386#issuecomment-1000371505) I will close this.

Just for reference the 18s loading time with the [4096](https://github.com/solvespace/solvespace/files/7770072/keyb_case_MAX_UNKNOWNS_4096.zip)  test file:

| Function Name | Total CPU [unit, %] | Self CPU [unit, %] | Module |
|-

[2022-01-04 11:39] #386 closed

[2022-01-04 11:46] ruevs commented on #386
In addition the new check box in the sketch group properties `suppress dof calculation (improves solver performance)` vastly speeds things up when pasting thousands of objects (e.g. going from 2048 to 409 in the examples from this issue).

[2022-01-04 13:02] #1176 closed

[2022-01-06 10:42] ruevs commented on #1168
@ConductiveInsulation if you can build from source can you check if this https://github.com/solvespace/solvespace/pull/1180 fixes the problem on Linux?

On Windows the hang does not happen but there is still a subtle bug.

[2022-01-06 10:45] ruevs commented on #1168
I found one more bug related to the color picker - it remains open when hitting `ESC`  - but that is a bit trickier to fix.

[2022-01-06 13:19] #1110 closed

[2022-01-06 13:54] ruevs commented on #1172
SolveSpace has always had a rather "simple" versioning approach. For example during the whole five years between v.2.3 and v.3.0 all builds from master were simply 3.0 and the commit hash. If we add the date of the last commit it is redundant - one can simply look up the commit on GitHub by going to (example for 3.0) `https://github.com/solvespace/solvespace/commit/0e0b025` where the last part of

[2022-01-06 14:03] ruevs commented on #1171
Well this is not a bug in SolveSpace strictly speaking. Clicking twice on the same spot does create a "degenerate" ark that is unsolvable, but is can still be "dragged apart" to normal with a few attempts at the three points stacked on top of each other.

As for the potential double click problem in Windows - here is one decent looking reference https://www.computerhope.com/issues/ch001532.htm

I

[2022-01-06 14:03] #1171 closed

[2022-01-06 19:14] phkahler commented on #1172
@ruevs  I'd like to get a 3.1RC out soon, so maybe wait until then? I think leaving it 3.0 for all the edge builds since 3.0 might have been a mistake. It shouldn't be 3.0 for pre and post 3.0 official ;-)

BTW @ppd  I saw your email on my phone, just need to get to it. Not feeling well this week.

[2022-01-06 20:25] anymouse404 commented on #1172
That makes sense from dev's perspective, but it is very cumbersome and confusing from user's perspective. I get that the build date is not reliable, but there really should be *some* information about the age so that a user doesn't have to cross-reference the commit hash, if they know how to make sense of it at all. Redundancy is good in this case IMO.
I don't know about what the build system and

[2022-01-06 23:15] ruevs commented on #165
I agree with @whitequark that the proposed implementation was too intrusive and inconsistent with the style of the UI code for the test window. Here https://github.com/solvespace/solvespace/pull/1182 is a clean implementation with minimal intrusiveness.

Whether the style of the UI code is nice or not is another question. I'm split on this...

[2022-01-06 23:30] ruevs commented on #939
@phkahler I think we can close this after https://github.com/solvespace/solvespace/pull/1002, https://github.com/solvespace/solvespace/pull/1158, https://github.com/solvespace/solvespace/pull/1159 are merged and https://github.com/solvespace/solvespace/issues/386 is closed.

@giannissc would you please try the cutting edge build from here https://github.com/solvespace/solvespace#via-automated-edge

[2022-01-06 23:47] #1168 closed

[2022-01-07 00:36] phkahler commented on #1177
In that case this should remain "line styles" because it's just for lines?  I did wonder about moving BG color, but if the existing tab if for colors then no?

Question: Are any of these saved as part of the sketch, or are they all general settings?

[2022-01-07 00:44] phkahler commented on #1148
@henrebotha what about the same orientation constraint?

[2022-01-07 00:47] phkahler commented on #1153
Deploy worked for both snaps. Assuming the "Upload Release Assets" step is only for tagged release we can close this.

[2022-01-07 01:01] ruevs commented on #1177
@phkahler if you create custom styles they are shown in the list and are saved in the model. The default ones are in the registry/json.

Changing label is superfluous (especially considering the translations).

[2022-01-07 01:01] #1177 closed

[2022-01-07 07:37] Symbian9 commented on #1177
Good question!

Guess, "background color" is not saved into `slvs` file, but other "line styles" (especially newly created custom styles) are saved into `slvs`, where there are entities with custom styles.

[2022-01-07 15:42] ConductiveInsulation commented on #1168
@phkahler sorry for the late reply, tested it and it works as it should.

[2022-01-07 17:09] ppd commented on #1172
Versioning is really a matter of philosophy, I guess. I'm rather fond of bumping the version just before/when tagging a new release. Dev/edge versions should then always be named according to the git describe scheme, e.g. `v3.0-101-g985e4fb`, which clearly shows how far we've come since the last release.

Advancing the in-source version before tagging the release leads to confusion when you then d

[2022-01-07 18:21] Symbian9 commented on #165
@ruevs, just a reminder, `@whitequark` asked to not cast (mention/trigger) she in SolveSpace related threads anymore.

[2022-01-07 22:09] ruevs commented on #165
OK thanks.

[2022-01-07 22:17] ruevs commented on #1172
By the way the commit hash is obtained here https://github.com/solvespace/solvespace/blob/master/cmake/GetGitCommitHash.cmake in a very clever way by looking inside the .git directory directly. I like this a lot since it will work on a system that somehow (?!) has a zipped up project but no git installed. This will not be as easy for the date. @rpavlik at the same time has a rather complicated cma

[2022-01-07 22:40] rpavlik commented on #1172
We do lack the "commits since last release" component of the git describe string, and we use `~` between the version and the git commit despite `~` meaning "this actually precedes the version described so far" in Debian-speak. I'd be happy to see that string change to be just a straight git describe output, probably provides a better idea of age than what we have.

I'd strongly recommend against u

[2022-01-08 12:40] ruevs commented on #1172
@rpavlik very good point against adding the date

I actually found your CMake script on StackOverflow while searching how to do git describe for this issue :-)

[2022-01-08 15:45] rpavlik commented on #1172
I can probably do this (using my module) if nobody beats me to it.

[2022-01-08 20:14] #165 closed

[2022-01-08 20:36] phkahler commented on #1172
I agree with reproducible builds. That said, if the last commit date is reproducible that may be nice to add. Debian guidelines are probably better to follow than none.

[2022-01-09 04:06] gitname commented on #1172
Maybe this could be accomplished by updating the "About" window so the version number is a **hyperlink** to the associated commit on GitHub (instead of being plain, non-interactive text).

**For example:**

Given the following "About" window:

![image](https://user-images.githubusercontent.com/7143133/148668819-d49b9232-eec3-4675-8d8e-2d78b8084cc2.png)

The `3.0~0e0b0252` text could be a hyperlink

[2022-01-09 10:59] ppd commented on #1172
@gitname That is an excellent idea.

[2022-01-09 12:34] ruevs commented on #1172
The idea is indeed excellent - I also thought about it but we will need to figure out how to do it on all platforms. The website/help menu item already opens a link so we have some relevant code. I will look into it.

[2022-01-09 19:24] ruevs commented on #1172
Here is how we open the website from `Help | website / Manual" menu
https://github.com/solvespace/solvespace/blob/5efc1480741ad4d6edcf64ca78fff67de5a0dc66/src/solvespace.cpp#L1039

And just below that is the About dialog. It is not going to be trivial to make the version a link. But we could easily add an extra menu item. But what to call it?

There is also an unused one https://github.com/solvesp

[2022-01-09 22:54] ruevs opened #1186 "Performance testing models (slow speed benchmarks)"
This is a list of SolveSpace models that have shown performance bottlenecks in the past. Some of them were resolved, some were improved but still are slow.

I have marked all related issues and pull requests (that I could find or remember) with the [`performance`](https://github.com/solvespace/solvespace/issues?q=label%3Aperformance+sort%3Acreated-desc) label.

Links to the `.slvs` models reproduc

[2022-01-10 08:58] Symbian9 commented on #1098
@phkahler, please "pin" this issue to make more visible for new contributors.

[2022-01-10 09:22] ppd commented on #1098
Wouldn't it be sufficient to remove the webhook to get rid of it? There  should be one in the GH settings.

[2022-01-10 09:44] Shegox commented on #1098
So there are quite a few ways to disable it:
The normal way is to log into https://cla-assistant.io/ and just delete the repository there (... -> unlink) , for this you require admin permissions.
If this doesn't work/ you don't want to do that you can do following:
- As a repository you can remove the webhook under repository -> settings -> hooks: This will prevent new checks from being triggered.

[2022-01-10 09:51] Symbian9 commented on #1098
JFYI, @Shegox, `@whitequark` resigned from SolveSpace dev team years ago.

[2022-01-10 09:55] Shegox commented on #1098
In that case, removing the webhook under repository -> settings -> hooks and removing the OAuth App permissions are the way to get rid of it. Unfortunately this is kinda problem with how CLA-Assistant currently uses user tokens for accessing the GitHub API, in future we want to switch to GitHub Apps, which makes it way more clear that there is an app installed and easier to remove it.

[2022-01-10 15:31] rpavlik commented on #1186
Do we have copyrights/licenses for each of those so we can include them in a testing repo?

[2022-01-10 15:35] rpavlik commented on #407
Can't repro anymore.

[2022-01-10 15:35] #407 closed

[2022-01-10 16:26] phkahler commented on #1098
I disabled the CLA assistant access, but we should not be telling it to do anything in the first place.

[2022-01-10 16:30] phkahler commented on #1098
Update. Also found the webhook and unchecked "Pull Request" which was the only condition set to trigger it.

[2022-01-10 16:35] phkahler commented on #1186
A_wheel is probably obsolete for perf testing these days.  Also, if perf_test is the cylinder with many holes, that was posted to the forum so while technically they put it out in public, we probably don't have proper permission to redistribute it as a package.

[2022-01-10 16:52] bmorel commented on #1186
The profiling thing I did is under CC-0. Or WTFPL if you prefer it.

[2022-01-10 17:15] ruevs commented on #1186
Public domain for all of mine.

@rpavlik can you point me to your models please? I did not find any. It's possible I've missed some others too.

[2022-01-10 17:17] Symbian9 commented on #1098
@Shegox, Is there a way to mass remove comments from @CLAassistant already posted in exists pulls threads?

Such like this one: https://github.com/solvespace/solvespace/pull/1187#issuecomment-1008674428

[2022-01-10 17:47] Shegox commented on #1098
I'm not aware of a native UI way to do this, but you can leverage the [GH CLI](https://github.com/cli/cli) and API to do this. This small script should do the trick:
[code]

I have only tested in on a very small dummy repo, so best to first get the list of all comments to remove via getting first all comments in the whole repository and then selecting it down to only the ones done by CLAassistant

[2022-01-10 17:52] ruevs commented on #1098
https://github.com/solvespace/solvespace/pull/1188 "worked" - no CLA assistant message any more.

[2022-01-10 17:52] #1098 closed

[2022-01-10 19:13] Symbian9 commented on #1098
Thank Y'all for the fix on this issue finally!

[2022-01-10 20:16] phkahler commented on #1098
This is something we absolutely will NOT do.  There has been a lot of code contributed to solvespace under CLA and there is no reason to remove github comments to that effect.

[2022-01-10 20:18] Symbian9 commented on #1186
To be clear on this and on @rpavlik's note on licensing, even some posts something publicly it does NOT mean that such type of file/content is free to distribute.

Otherwise there should be warning message on forum:

- "Uploading file as an asset to forum you are agreed to allow reuse/redistribute your asset under terms of CC0/CC-BY/CC-BY-SA"

Who knows where file originally may came from.

As for

[2022-01-10 20:32] Symbian9 commented on #1098
Since https://github.com/solvespace/solvespace/commit/2fcc933aa9c7d8f30a35d94fdb760b343e4562bf none of pulls/commits could be CLA assigned where are edited GPL-licensed files.

[2022-01-11 15:02] phkahler commented on #1148
Going with a wont-fix on this one. The issue is mathematical and there isn't an obvious way to push the solver in one direction or the other.

[2022-01-11 15:02] #1148 closed

[2022-01-11 21:22] hinell commented on #330
Thumbing up this request. It's paramount for any CAD to have a library interop. Would be best to couple it with existing software.

[2022-01-11 22:53] hinell commented on #245
Hi. Web developer is here.

I can tell that it shouldn't be hard to parse and import SVG data. Though I agree that it's simpler to implement a procedural gear generator.

The most sophisticated element in SVG is the [`<path d="...." />`][path]. It has [d attribute] that basically directs line drawing by simple commands like move (M, m), lineTo (L, l) etc.

[d attribute]: https://developer.mozilla.

[2022-01-12 00:05] hinell commented on #245
I've found that it's possible to export `DFX` from `SVG` by using [Inkscape](https://inkscape.org/). The latter has compatible GPL3 license btw.

[2022-01-12 07:22] ruevs commented on #245
The gear link:
https://solvespace.com/forum.pl?action=viewthread&parent=872

[2022-01-12 15:47] ruevs commented on #245
DXF, absolutely! And it works. For simple SVG files the exported DXF if "properly" imported in SolveSpace.

And:
- SVG is not a CAD file format - so any import we implement will be "fuzzy and incomplete" and someone will complain.
- SVG is a huge and complicated format.
Even if we use an existing library we will drag in a significant amount of... weight... if we support it.
- SolveSpace is not a f

[2022-01-12 15:47] #245 closed

[2022-01-12 20:05] ruevs commented on #1147
Hey my "marketing efforts" paid off https://www.youtube.com/watch?v=CHfFfl_zFC8&t=1160s :-)

[2022-01-13 07:07] Symbian9 commented on #1147
@ruevs, Oh, so it was You who triggered The Melt Zone!? Thank You so much!

Watched it few weeks ago & shared on Twitter: https://twitter.com/app4soft/status/1477675754427240456

[2022-01-13 08:07] tpimh commented on #245
Understandable decision with very good argumentation. I'm converting all my SVGs to DXFs now.

[2022-01-15 12:36] baryluk commented on #1186
You can take my example model `case-vents.slvs.gz` (any any other variants of it posted on this github issue tracker)  under CC-BY-4.0.

[2022-01-16 00:38] rpavlik commented on #1186
Thanks folks for chiming in with your terms!
I'd recommend using the conventions of https://reuse.software for the benchmarking repo whenever it gets made: license sidecar files for the models is probably the best we can do without adding a "comment-looking" file header to Solvespace files. We can then use their tool in CI to make sure that any models added also have their license and copyright in

[2022-01-16 18:08] #1172 closed

[2022-01-17 18:56] ConductiveInsulation commented on #738
I was told [here](https://twitter.com/SolveSpace/status/1483141214446698504) to post and upload it here too. The "red hole" moved by a bit when i saved the file at another angle but its still there. Dont fully understand why it's there and how to remove it

[hook.slvs.tar.gz](https://github.com/solvespace/solvespace/files/7884145/hook.slvs.tar.gz)
![solsphook](https://user-images.githubusercontent

[2022-01-17 19:25] tomjnixon commented on #689
I found this issue while trying to get the solvespace build from nixpkgs running on arch with intel graphics (do not recommend).

The most helpful debug output i got was through running with `LD_DEBUG=files,libs` -- the opengl driver is dynamically loaded, and it seems like being in a snap might get in the way of that, just as nixos' rpath fiddling does.

This suggests that the driver needs to be

[2022-01-17 20:25] phkahler commented on #738
@ConductiveInsulation  Did you add the threads as a helix around an existing cylinder? If so, try having some (more) overlap so the threads cut into the cylinder an let the boolean union clean it up. That's just a suggestion to try, not a sure thing. I have a bolt model that does not use a boolean and has some red in the threads - that one is a a real mystery to me.

[2022-01-17 21:20] phkahler commented on #1143
Can not reproduce this on Fedora Linux. Added the win32 tag because it seems OS specific.

[2022-01-18 08:27] ruevs commented on #1143
@phkahler I can reproduce it on Windows but have not had time to debug it. Will try if #927 affects it bus as far as I remember there was something in that PR that I had doubts about.

[2022-01-18 09:30] ppd commented on #689
@tomjnixon That's great info; thank you for contributing. The snap itself does not include the drivers, that's true. However, the connected platform snap does (in the Intel case), or it gets mounted from the host into the snap namespace (in the Nvidia case).

I suspect this bug has been fixed by our recent move to the core20 base in 34efb6de77edbb4ae2b4d9252124240987895bbf.

[2022-01-18 16:43] phkahler commented on #121
I'm curious how many people actually want this. It's a second way to do the same things, but actually takes *more* clicks than the existing way. We have "noun, verb" today but this asks for "verb, noun, confirm" to also be available. I honestly don't see the advantage and some improvements have been delayed/rejected in part to wait for this to land first.

But rather than just closing, I'm asking

[2022-01-18 19:21] #263 closed

[2022-01-18 19:50] Symbian9 commented on #738
@phkahler, May I take a look on this SLVS?

[2022-01-20 14:53] phkahler commented on #1079
@Symbian9  I'm going to merge a change that implements the normals for STL files. If you've got sketches with constraints on an STL I expect there to be problems (and I don't care because I warned about that when I added STL linking). But see how this works for you. It will close this issue on merge.

Thanks!

[2022-01-20 14:53] #1079 closed

[2022-01-20 15:34] Symbian9 commented on #1079
Thanks, @phkahler!

I will checkout for fresh DEB packge from @AlexanderP and then will test it & let you know my new experience ;)

[2022-01-20 21:58] ruevs commented on #121
@phkahler No one wants is currently it seems. (neither do I)

But since there is even a (not very good) pull request on this I's leave it open for now...

[2022-01-20 22:17] ruevs commented on #1186
@rpavlik I did find one of yours https://github.com/whitequark/solvespace-testcases - I had almost forgotten about that collection :-)

[2022-01-22 01:58] bryanpaget opened #1195 "Solvespace crashes on Pinephone!"
### System information

#### SolveSpace version

The solvespace packages in postmarketOS are called:

`solvespace-3.0-r0`
`solvespace-dev-3.0-r0`

And `solvespace-cli version` returns `SolveSpace version 3.0~0b7b7b70`.

#### Operating system

`Linux pine64-pinephone 5.15.13 #2-postmarketos-allwinner SMP PREEMPT Sun Jan 16 01:17:53 UTC 20 aarch64 Linux`

### Expected behavior

I'm trying to test so

[2022-01-22 02:47] kk6mrp commented on #1195
That looks like maybe @Symbian9's request. I attempted building Solvespace instead of installing from the Alpine repo (as it appears you have) a while back and it did run except it was an empty window with the menubar only. At which point I lost interest, I'll have to try again and actually try troubleshooting it.

Can you try building from source?

[2022-01-22 12:33] nabijaczleweli commented on #1195
`ulimit -Sc unlimited`, get a dump, trace it in gdb?

[2022-01-22 18:48] kk6mrp commented on #1195
[code]

Perf also:

[code]

[2022-01-22 19:38] barkYboY commented on #1024
A configurations feature would be very useful.  With this feature a part(imported geometry) in a model could shift things around without having to open, modify, save, then reload the imported geometry.  Since the part is not changing, just the used configuration, the part doesn't need to be modified.  This feature not only would increase workflow productivity but could also be used to solve some o

[2022-01-22 23:18] edoelas commented on #1117
Not sure if this is the right place to talk about this but:
I would love to see a nice qt interface for solvespace and I have some experience working with Qt + C++ as well as UI design. I am not an expert by any means, but I would like to give it a try.  I am interested in discussing this option, is it possible to talk about this topic with a current developer of the project?

[2022-01-22 23:21] ruevs commented on #1024
@barkYboY please open a new issue with your suggestion. Then delete your comment here. This is intended as a summary and a starting point only.

[2022-01-22 23:40] ruevs commented on #1053
Here is an updated unofficial Windows XP release with OpenGL 1.
https://github.com/ruevs/solvespace/releases/tag/WindowsXPPost3.0_2

[2022-01-22 23:40] ruevs commented on #1036
Here is an updated unofficial Windows XP release with OpenGL 1.
https://github.com/ruevs/solvespace/releases/tag/WindowsXPPost3.0_2

[2022-01-22 23:52] ruevs commented on #1117
@edoelas here is the issue about QT https://github.com/solvespace/solvespace/issues/401

[2022-01-22 23:57] kk6mrp commented on #1117
You might find this useful also (https://solvespace.com/forum.pl?action=viewthread&parent=3611):

[2022-01-23 00:22] edoelas commented on #1117
Thanks, I have looked in those threads, and based on how the project is defined I think there is no point in porting it to qt. What I was thinking was more about a remake of the UI, not to use a different framework for no reason. It seems that for what I have in mind it would be better to use solverSpace as a library and forget to merge it with the main project.
On the topic of the usability of th

[2022-01-23 06:07] barkYboY opened #1196 "Part level configuration could be the answer to many implementation issues and lead to a common standard"
A part level configurations feature would be very useful. With this feature a part(imported geometry) in a model could shift things around without having to open, modify, save, then reload the imported geometry. Since the part is not changing, just the used configuration, the part doesn't need to be modified. This feature not only would increase workflow productivity but could also be used to solv

[2022-01-23 06:12] barkYboY commented on #1024
ruevs,
  Completed as requested, issue #1196 presents a case for a configuration feature.
Cheers

[2022-01-23 06:30] Symbian9 commented on #1036
@ruevs, thanks! What about adding this build script & patches to SolveSpace's GitHub Actions CI for continuous "edge" release?

[2022-01-23 14:49] phkahler commented on #1117
@edoelas  I hope what you mean is that the UI looks like some kind of toy paint program from the 1990's or something similar. I can accept that as a perfectly valid criticism. However, there are a lot of people who (aside from the appearance) love the simplicity and ease of use solvespace brings. Once you learn the shortcut keys, there is little need to even look at the toolbar, and the text windo

[2022-01-23 16:06] phkahler commented on #939
Another thing that might help is to "hide edges of solid model". It's the 8th button at the top of the text window.

[2022-01-23 16:37] Symbian9 commented on #1117
Agreed. And I guess "distraction free" UI/UX is the key feature of SolveSpace.

Yep, this + there are no way to change position of toolbar & axis icon (only show or hide in hardcoded position) — myself I want to has an option to show toolbar from "Property Browser" inside main window: https://github.com/solvespace/solvespace/issues/857#issuecomment-749051510

Hopefully, sooner or later SolveSpace

[2022-01-23 16:42] edoelas commented on #1117
I think that there are more problems than just the looks of it. For example: is there a way to set absolute coordinates when drawing a rectangle? Can I press the rectangle shortcut, type a start point and draw a rectangle without using the mouse?

[2022-01-23 19:32] phkahler commented on #1117
That an interesting question. Short answer is no, but hear me out.

First, should a rectangle be specified using the coordinates of two points, or one point and a width and height? Solvespace allows either, but you need to specify the constraints on the diagram. There is also no such thing as a rectangle is solvespace. When you use the rectangle tool it creates 4 lines and a bunch of constraints.

[2022-01-23 21:23] ruevs commented on #1117
`"Constrain | Lock Point Where Dragged"` shortcut key `]`:

;-)

[2022-01-23 21:26] Symbian9 commented on #1117
Need to check drawing standard, but is not it just as bolt marking via arrow with label `M10 × 1.5` (where `1.5` is 1.5mm pitch)?

[2022-01-23 21:44] edoelas commented on #1117
There are so many things to talk about just on the topic of squares. What I am suggesting is not to introduce automatic constraint, is just being able of using the keyboard instead of the mouse to set the points of the square. Autocad uses some kind of fancy command line to archive this. It looks like some contextual Widget, but at the end of the day is just a CLI.
![image](https://user-images.git

[2022-01-23 22:05] ruevs commented on #1117
On the other hand I think SolveSpace is a great program *_largely_* because of its interface. As I stated somewhere else - this is not a smartphone chat app ;-)

Absolutely! In fact the first thing I do is hide the toolbar - I _***never***_ use it. Well I would use it if I was recording a video tutorial... maybe... :-)

Many (most) advanced programs that expect "professional"/dedicated users have

[2022-01-23 22:11] Symbian9 commented on #1117
Why just not provide SovleSpace users both ways:

1. enable & customize toolbars;
2. fully disable and use only shortcuts on their wish?

Thus each user may individually choose use it using only mouse/touch screen OR hide all toolbars and use only keyboard ;)

[2022-01-23 22:23] ruevs commented on #1117
Because the other reason I absolutely ***love*** SolveSpace is that it is a single 6MiB executable (3.5MiB on ARM Raspberry Pi - just compiled it yesterday). And what you are suggesting creates bloat/complexity/code in non-trivial amounts. And (depending on how it is implemented) may cause the program to loose it's "razor sharp focus" (for lack of a better expression).

[2022-01-23 22:28] ruevs commented on #1117
By the way - has anyone looked at the size (and number of files) of the QT runtime (the part that will need to be distributed and installed)? It is grotesque compared to SolveSpace! And I traditionally like QT and have used it in the past :-)

[2022-01-23 23:06] ruevs commented on #1024
@barkYboY thanks! I will delete both our comments now :-)

[2022-01-23 23:18] ruevs commented on #1036
@Symbian9 sometimes you are annoying https://github.com/solvespace/solvespace/issues/1036#issuecomment-850894499 :-)

I do the XP build, because I still can and because I like XP, but it is slowly dying.

Presuming you will get an email notification with this I'll delete it in a few hours together with your comment :-)

[2022-01-23 23:43] phkahler commented on #1117
@edoelas   Thanks for the pics, they are very informative. So having a nested toolbar might be a decent way to handle a lot more construction tool variants, and we don't have a way to do that now.  +1 for an existing toolkit.  I had already considered making a new variant of rectangle that leaves it free to rotate (I was using SS to arrange furniture and wanted to rotate things). However, those la

[2022-01-24 00:09] phkahler commented on #1196
This is related to issues #77  #80, and maybe #85.

From an implementation perspective, the part absolutely IS changing. The saved part becomes an incomplete template of sorts - one where we can override parameters for each instance of it. This stuff is definitely on the radar for implementation some day.

[2022-01-24 00:39] Symbian9 commented on #1117
@ruevs @phkahler, To be clear, all I said above, could be implemented with GTK and OpenGL, I guess.

So, there would be no "size increasing" issue at all.

[2022-01-24 00:41] Symbian9 commented on #1036
Yeah, I know. Sorry me for that, please (^_^;)

[2022-01-24 07:51] edoelas commented on #1117
On the topic of weight, what I can say is: in my company we are creating a product whose interface is way more complex than solvespace and we are using QT. We use a statically compiled version of QT and the weight of the final executable is 17 MB.

[2022-01-24 08:46] Symbian9 commented on #1079
UPD: Just checked — it works as expected now. Thanks! ;-)

![Screenshot_2022-01-24_10-44-04](https://user-images.githubusercontent.com/13188580/150750187-8cc9979e-9791-401d-a65c-d6ba7829e060.png)

[2022-01-24 14:31] phkahler commented on #1117
We are not going to adopt QT on all OSes. End of story. I'm not going to give reasons because I'm not here to have a debate.

[2022-01-24 16:16] Symbian9 commented on #1117
* in official SolveSpace repo ;)

[2022-01-24 19:00] ruevs opened #1199 "Building on macOS 10.14.6 requires root?"
### System information

- **SolveSpace version:** git master b399d9a
- **Operating system:** clean install of macOS Mojave 10.14.6, Xcode 11.3.1 (the latest supported on Mojave) in a VirtualBox virtual machine.

### Expected behavior

Building on the command line [according to the instructions](https://github.com/solvespace/solvespace#building-on-macos) should work.

### Actual behavior

First I h

[2022-01-24 20:30] ruevs commented on #1166
`cmake .. -G Xcode` worked just fine for me on it's own, see #1199 but that is probably because I used macOS 10.14.6 and Xcode 11.3.1.

On the other hand `cmake .. -G Xcode -T buildsystem=1` worked as well, but the application size (in debug mode) is 1144 bytes smaller (47882062 vs. 47880918),..

This seems to be a problem with the `libpng` CMake configuration. Am I correct @vespakoen, @rpavlik ?

[2022-01-24 20:40] ruevs commented on #1076
@akauppi [pkg-config](https://packages.debian.org/sid/pkg-config) sounds like a pretty "basic" package needed for development - maybe that is why it was not noticed? Everyone already had it?

And perhaps your "Debian `buster slim`" did not include it - which is untypical?

Someone more familiar with Linux distributions will have to decide whether we should add it to the README.

[2022-01-24 20:47] ruevs commented on #68
https://github.com/solvespace/solvespace/pull/1107
https://github.com/solvespace/solvespace/pull/1093
https://github.com/solvespace/solvespace/pull/825

@tomsci @vespakoen @phkahler @d235j considering the above changes, what do you think, can we close this? I do not have a real Mac with a trackpad to test on.

[2022-01-24 20:49] ruevs commented on #1152
Here is a much older related issue
https://github.com/solvespace/solvespace/issues/285

[2022-01-24 21:14] vespakoen commented on #68
Trackpad support kindof broke in with the last changes done to support the magic mouse, I want to take a look at this for a while already but was busy with other stuff.

This issue should stay open for now at least

[2022-01-24 21:42] ruevs commented on #1086
Now that I have [macOS in a VirtualBox](https://github.com/solvespace/solvespace/issues/1199) I experimented a bit (did a bisect) and found that the [oldest version](https://en.wikipedia.org/wiki/MacOS_version_history#Releases) for which we can compile with Xcode 11.3.1  is [10.9 Mavericks](https://en.wikipedia.org/wiki/OS_X_Mavericks).

It runs fine on Mojave and the test suite (solvespace-testsu

[2022-01-24 22:42] Symbian9 commented on #1076
@AlexanderP, may I ask You for help here?

[2022-01-25 15:45] Symbian9 commented on #1117
Meanwhile, *GTK3* almost ported to *Haiku* (support for X11/Xlib, Qt, OpenGL & Cairo already added last weeks):

- https://discuss.haiku-os.org/t/xlibe-an-xlib-x11-compatibility-layer-for-haiku/11692/103

So, SolveSpace, as GTK3/OpenGL/Cairo might be ported & packaged for *Haiku* sooner or later ;)

@phkahler, Lets SolveSpace be GTK-based, but anyway its UI/UX should be improved using GTK & OpenGL

[2022-01-25 18:47] kk6mrp commented on #1076
It appears like pkg-config support has been required ever since the GTK port was added here: https://github.com/solvespace/solvespace/commit/2c39f259db0c6b6f1eeef7fa95125311daadc991 and my best guess is that the distribution normally pulls it in with the `build-essential` package or something like that. I couldn't find any other information on it but there is pkg-config and pkgconf, pkgconf appear

[2022-01-25 20:18] ruevs commented on #1143
Related (maybe the same)
https://github.com/solvespace/solvespace/issues/920
https://github.com/solvespace/solvespace/issues/863
https://github.com/solvespace/solvespace/pull/926

[2022-01-25 20:31] AlexanderP commented on #1076
libfontconfig1-dev and pkg-config are needed, cmake checks them, and installed as dependencies of `libpangomm-1.4-dev`
[code]

[2022-01-25 21:33] phkahler commented on #326
I've added this to the 4.0 milestone to show it as  a priority. The rurban fork has a lot of work done already but he's busy with other things. It would be nice if someone could evaluate how capable the libredwg version is compared to the libdxfrw version for both DXF and DWG files. If libredwg is at parity for both we should switch. If it's better only for dwg we should use both. If it needs more

[2022-01-26 16:47] WooterTheTroubleshooter commented on #453
I'd like to add for people searching for this. That it is actually possible to select any sketch-in-plane workplane for the extrusion and thus create a constrained skew.
![FlexySkew](https://user-images.githubusercontent.com/7723555/151207989-3192b6ff-0454-4dc9-b0cb-ee411624fe92.gif)

[2022-01-26 17:13] phkahler commented on #453
@WooterTheTroubleshooter  the technique for making a skewed extrusion is a bit obscure but has been mentioned before. What I want to know is how you appear to be manipulating the workplane used to skew the extrusion after the fact. I am not aware of any way to move such workplanes.

[2022-01-26 17:44] hinell commented on #1136
It's best to follow basic [XDG_Base_Directory] conventions for LInux. They specify necessariy folder for application lifecycle. Hope this helps.

[XDG_Base_Directory]: https://wiki.archlinux.org/title/XDG_Base_Directory

[2022-01-26 17:46] WooterTheTroubleshooter commented on #453
It was not that obvious for me, so I thought it would help other people wanting to do something like this.

I use Shift + W, (based on a point and 2 lines) what does shift-left-click-drag do? So my sketch-in-plane workplane is constrained to the normals of that selection.

Currently I use it to constrain the skew based on the height of the base model. (So I like the angle to propagate up instead o

[2022-01-26 19:06] Symbian9 commented on #1146
Additionally to already fixed `CVE-2021-21898`, `CVE-2021-21899`,
`CVE-2021-21900`, now there are few more CVEs:

- https://cve.report/CVE-2021-45341

- https://cve.report/CVE-2021-45342

- https://cve.report/CVE-2021-45343

[2022-01-26 19:08] phkahler commented on #453
@WooterTheTroubleshooter  ok. Your step by step didnt indicate the workplane was defined using other sketch entities. That explains it.

[2022-01-26 19:32] WooterTheTroubleshooter commented on #453
@phkahler
![AngleConstraintSkew](https://user-images.githubusercontent.com/7723555/151233429-88c79426-b6fc-47d6-8e04-762ad387766e.gif)

[2022-01-26 19:41] hinell commented on #325
Thumbing up. Even with turntable is enabled it still feels quirky compared to blender.
I think rotation around the `X` axis is not correct.

https://user-images.githubusercontent.com/8136158/151233874-cc101e33-cbdb-45aa-a91b-47adf80d08e6.mp4

https://user-images.githubusercontent.com/8136158/151233878-34df3b59-ebba-4831-9661-42ed34bdf304.mp4

[2022-01-26 23:41] Symbian9 commented on #325
@hinell, before rotate select XYZ-normal origin point from active `g001-references` (or any other point to be used as rotation origin) and click <kbd>F4</kbd> (or go to menu *"View > Center View At Point"*) — then retry rotation behavior.

[2022-01-27 00:43] Symbian9 opened #1200 "[Wiki] Platforms support & Packaging status"
### System information

- **SolveSpace version:** all
- **Operating system:** various

### Expected behavior

List *all possible platforms* which may be used to run *SolveSpace*.

### Actual behavior

Actually *SolveSpace* target platforms are Linux, macOS & Windows.

But there are already a lot of other platforms which may be (and already) used to run *SolveSpace*:

- https://repology.org/project

[2022-01-27 07:29] ruevs commented on #1200
So:
- Raspberry Pi is Linux and  3.0 rc2 and 2.3 are already in the official package manager (http://archive.raspbian.org/raspbian/pool/main/s/solvespace/).
Compiling following the Linux instructions should just work - [it does not, but I'll make a pull request that will make it "just work™"](https://solvespace.com/forum.pl?action=viewthread&parent=3955).
-  FreeBSD - SolveSpace 3.0 is already pac

[2022-01-27 07:43] ruevs commented on #1076
So shall we close this without adding `pkg-config` to the build instructions or should we add it?

[2022-01-27 08:10] Symbian9 commented on #1200
As I noted:

[2022-01-27 08:41] Symbian9 commented on #1200
**UPD:** Inkscape ported to Haiku!

- https://discuss.haiku-os.org/t/inkscape-now-available-in-package-repositories/11850

So, it seems like GTK3 porting is complete and SolveSpace porting is finally possible:

- https://discuss.haiku-os.org/t/xlibe-an-xlib-x11-compatibility-layer-for-haiku/11692/113

[2022-01-27 08:45] ruevs commented on #1200
If the port requires changes to the build system or the core that can be merged upstream they would (I presume) submit a pull request. If not - great - nothing to do.

OK, but in fact it does not contain useful "info" for end users - any user should be able to look in the package manager / installer / app store / whatever of their OS and see if SolveSpace is available.

That said - you are of cour

[2022-01-27 08:45] #1200 closed

[2022-01-27 08:53] ruevs commented on #1200
The Repology link is useful and I will add it to the pinned issue.

[2022-01-27 09:07] Symbian9 commented on #1200
@phkahler, May you enable GitHub Wiki for actual SolveSpace repo?

For example, like this:

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

SolveSpace Wiki is really missed as part of docs.

[2022-01-27 09:49] lordofbikes commented on #1146
These 3 vulnerabilities are not related with `libdxfrw`, only with LibreCAD!
So, don't panic solvespace :wink:
Also all three are already fixed.

[2022-01-27 15:04] phkahler commented on #325
@hinell   Imagine the model is sitting inside a glass ball. Moving the mouse UP is like rolling that ball upward by pushing your hand (or mouse) across it. Another analogy is to think of a trackball, and the model is inside the trackball. However you want to think of it, the rotation is rotating the model, not the camera. Well, it actually is moving the camera because none of the coordinates in th

[2022-01-27 16:41] rurban commented on #1146
Also libredwg has plenty of such buffer overflows, as it's continuously fuzzed by google osfuzz service.
It also has a much larger attack surface because it supports 220 more object classes.

[2022-01-27 17:11] Symbian9 commented on #325
@phkahler, no, you missed the point where @hinell told that he *"think rotation around the `X` axis is not correct."* — problem here is that selecting/setting origin of 3D view rotation is not well documented in SolveSpace docs.

In [LeoCAD](https://github.com/leozide/leocad) app there is excellent UX on 3D view rotating with many various methods.

[2022-01-27 18:20] #1084 closed

[2022-01-27 20:01] vespakoen commented on #1199
What are the permissions on the libomp.dylib file?

Mine looks like this:

[code]

I can run cmake without root fine over here at least (and in CI as well).
Not sure what's going on...

[2022-01-27 21:14] hinell commented on #1007
Thumbing up. I just found myself contantly refreshing flag for supressing solids... Especially when I've a lot of unions or differences.

[2022-01-27 21:46] hinell commented on #423
I think this doesn't require any extra functionality to be embedded.
This is might be a mere automatic "_create a point on a surface -> create a workplane at this point -> constrain angle of every point on the workplane relative to surface ..._" macro. All necessary components supported by `.slvs` are already present.

[2022-01-28 00:39] phkahler commented on #423
Here is the challenge as I understand it:

A workplane in solvespace is represented by a point and a "normal". I put that in quotes because it's not a vector perpendicular to the plane as one might expect. A "normal" in this case is a quaternion used to represent the u,v basis vectors for the sketch plane. It is also possible to extract a conventional N vector from it. The reason for this is that

[2022-01-28 09:32] ruevs commented on #423
What @phkahler said. Or put simply a "face" does not have a fixed orientation in its plane - in other words it is free to "spin" in its plane.

A workplace can not "spin" - it is fixed at a particular angle in its plane.

So a face does not hold enough information to uniquely define a wirkplane.

[2022-01-29 03:32] rpavlik commented on #1166
I have no idea about anything mac anymore, sorry.

[2022-01-30 20:13] phkahler commented on #1120
@ruevs  regarding my fix for this, I think we can use Subtype::WORKPLANE_BY_POINT_ORTHO for this instead of having a new subtype WORKPLANE_BY_POINT_ORTHO. At least I think that subtype is new but I can't find the PR that allowed this new way of defining a workplane.

[2022-01-30 20:22] phkahler opened #1202 "Time for version 3.1RC1 soon?"
Asking  @ppd  @rpavlik @ruevs @vespakoen  are there any things you'd like to get in prior to a version 3.1?  We should be able to get it out less than a year after 3.0, which would be a nice change of pace.

For me, I've got one bugfix PR pending that I want in, but I'm not going to get mirror groups is this time much to my disappointment. I think there is enough good stuff for a 3.1 though. I'm c

[2022-01-30 21:14] vespakoen commented on #1202
I will mess around with the trackpad issue in the coming evenings. I think a setting / checkbox can solve the current issue and provide very nice panning and zooming on mac.
I think it makes sense to include it in the release because the current behaviour on edge is confusing.

[2022-01-31 12:42] ruevs commented on #1202
I could reproduce this https://github.com/solvespace/solvespace/issues/681 by deleting everything from the registry. And would like to debug it.

This one is rather annoying as well https://github.com/solvespace/solvespace/issues/1143

[2022-01-31 16:13] phkahler commented on #1120
I'm not really excited about doing that either. How many places would need to check for entityB? Same number that would need to check for WORKPLANE_BY_POINT_NORMAL, but that seems less explicit about what's going on and why.

[2022-01-31 20:20] Symbian9 commented on #738
Another one NURBS fail on intersection (not sure which issue is related here)

- [slvs3x-nurbs_cut.zip](https://github.com/solvespace/solvespace/files/7973952/slvs3x-nurbs_cut.zip)

<summary><details>
There are two variants:</details>

- Variant 1 (`slvs3x-nurbs_cut.slvs`)
![Screenshot_2022-01-31_22-14-16](https://user-images.githubusercontent.com/13188580/151866762-4e2c64f6-ad30-46b4-848a-9e3ab79

[2022-01-31 20:23] Symbian9 commented on #1202
Should we call translators? (so may update locales just before `3.1` release)

[2022-01-31 20:40] phkahler commented on #738
@Symbian9  Please open new issues for new NURBS problems so they get unique issue numbers. We can add them to the table at the top of this tracker.

Also, the second version seems to work fine for me (on Windows:  Version 3.x commit 5cb299b2be)

[2022-01-31 20:40] Symbian9 commented on #738
And another one NURBS fail:

- [slvs3x-hex-hole_asm.zip](https://github.com/solvespace/solvespace/files/7974122/slvs3x-hex-hole_asm.zip)

<details><summary>Sreenshot:</summary>

![Screenshot_2022-01-31_22-33-13](https://user-images.githubusercontent.com/13188580/151869517-a947e20a-d909-4a90-b3b5-d90f988b2e5a.png)

</details>

Instead of https://github.com/solvespace/solvespace/issues/738#issuecomm

[2022-01-31 20:42] Symbian9 commented on #738
OK.

[2022-01-31 20:45] Symbian9 opened #1204 "NURBS intersected solid fails"
### System information

- **SolveSpace version:**
- **Operating system:**

### Expected behavior

There should be no issues with NURBS intersected solids.

### Actual behavior

Intersected NURBS solid fails, even all groups are `ok` in "Property Browser"

### Additional information

- [slvs3x-nurbs_cut.zip](https://github.com/solvespace/solvespace/files/7973952/slvs3x-nurbs_cut.zip)

<details><sum

[2022-01-31 20:49] Symbian9 opened #1205 "NURBS hexagonal segment union solid fails"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/b399d9a1ec50086cdfc827a43d661ef79052e175
- **Operating system:** Debian 10 buster

### Expected behavior

There should not be fails in NURBS segment union solid

### Actual behavior

NURBS solid fails.

### Additional information

- [slvs3x-hex-hole_asm.zip](https://github.com/solvespace/solvesp

[2022-02-01 03:49] rpavlik commented on #1202
Yeah probably good to run the update translations job and make call for translation. I'll look and make sure all my Debian patches have made it in.

[2022-02-01 08:00] Symbian9 commented on #1202
Anybody may update it today in `master`?

[2022-02-01 14:29] ruevs commented on #1202
Done here https://github.com/solvespace/solvespace/commit/a1b2db5e187eb85b85e7ac407e77935973893809

[2022-02-01 14:37] ruevs commented on #1120
Then I do not understand your question correctly. (btw I would also not remove `WORKPLANE_BY_POINT_NORMAL` )

[2022-02-01 16:41] ruevs commented on #1120
I added a [commit](https://github.com/solvespace/solvespace/pull/1201/commits/2e553b310fecb0ec071d5719682112f34d5f3b82) fixing the bug I described [above](https://github.com/solvespace/solvespace/issues/1120#issuecomment-1025791804).

[2022-02-01 18:40] simrim1 opened #1207 "Feature request: Change workplane (sketch-in-plane) properties in the Property Browser window..."
Hi,

This is a feature request for changing the workplane (sketch-in-plane) properties in the Property Browser window.

On selection of sketch-in-plane group name it will show properties as follows

First property will be Move with three text fields (X, Y, Z) to move the Origin Datum Point from its current position according to the the values in X, Y, Z text fields. The values will obviously be Nu

[2022-02-01 18:59] simrim1 commented on #1205
Click the group g004-rotate to show its properties. Then check the property "force NURBS surfaces to triangle mesh". It will fix the error.

![NURBSSurfaces](https://user-images.githubusercontent.com/13056546/152033166-f0eeb861-e846-49a2-8452-d2f2356a3bd3.png)
.

[2022-02-01 19:47] Symbian9 commented on #1205
You forced triangle mesh. That is out of scop of this *NURBS solid bug*.

[2022-02-01 20:03] simrim1 commented on #1205
@Symbian9, That is correct. I am new here and sorry if it was out of scope of your issue. I am deleting my reply. Sorry again.

[2022-02-02 00:49] ghost opened #1208 "NURBS solid fillet on cone cut fails"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/b399d9a1ec50086cdfc827a43d661ef79052e175
- **Operating system:** Debian 10 buster

### Expected behavior

There should not be fails in NURBS fillet on cone cut edge.

### Actual behavior

NURBS solid fails.

### Additional information

- [slvs3x-cone_fillet.zip](https://github.com/solvespace/sol

[2022-02-02 01:09] phkahler commented on #1205
@simrim1 dont worry about it :-)  he is correct though. When NURBS surfaces fail, one "solution" is to force to triangle mesh but that is only viable in some cases. You won't be able to export a STEP file for example. Even though it masks a NURBS issue, there is still an issue that we would like to fix.

[2022-02-02 10:07] ruevs commented on #423
This https://github.com/solvespace/solvespace/pull/1054#issuecomment-855439157 is also a very good explanation from SoveSpace's original author.

[2022-02-02 15:29] phkahler commented on #423
So what we need to do is create a new face type where it stores an oriented normal. Then we go to all the places where faces are created and have them create this new face type. Existing sketches will still work because the old face types are still supported in the code even if no new ones are created. We'd also have to introduce a new point-on-face constraint that uses the new face definition.  E

[2022-02-02 16:15] ruevs commented on #423
And all this trouble for a (small?) usability improvement of selecting a face and pressing `SHIFT-W` instead of selecting a point and two lines from the face... I'm not sure it is worth it. And if we select the orientation "randomly" or with some heuristic someone will always complain.

[2022-02-02 17:22] gnbl commented on #320
Just had this issue with 3.0~61cc28f8 with and without OpenMP on Windows 10 when a NURBS helix difference failed and needed "force to mesh". Uses about 1.5 GB RAM at this point and as NURBS, the slvs file with 500 kB becomes close to 10 MB as mesh.
Reducing the (export) mesh settings (chord tolerance & piecewise linear segments) helps reduce the risk of running out of memory.
A warning beforehand

[2022-02-02 19:06] phkahler commented on #423
Thinking about it more, IF regeneration can successfully convert all the old face definitions to a new one, the only reason to keep the old ones would be for linked files. Does Solvespace regenerate on opening a file?

Another advantage to replacing all the faces with a new one like this is a reduction in code. All those different face types in entity.c exist because the face normal is a unique ty

[2022-02-03 07:39] ruevs commented on #423
For a loft (twisted /and scaled/ extrusion along a path) "fully oriented" faces will certainly be needed.

[2022-02-03 07:57] ppd commented on #1202
I'm thinking this should be part of CI for tagged commits. I can give it a stab sometime soon.

[2022-02-03 16:58] phkahler commented on #1202
That's a really useful tip.

I think our mimalloc is currently at 2.0.2 and maybe should be bumped to v2.0.3 which they have tagged.

[2022-02-03 17:11] phkahler commented on #1207
I'm not in favor of this. It presumes a particular way to define the position and orientation of a workplane. In fact your wording suggests that the (X,Y,Z) values are relative to the existing location, so they would make zero sense after the workplane moves. Absolute coordinates seem like a slightly better idea. What about adding a constraint for points to set their X,Y,Z position and display it

[2022-02-03 20:06] #1120 closed

[2022-02-03 22:29] simrim1 commented on #1207
Thanks for your response and suggestion about datum point. I believe it will also do. But the other two options make a lot of sense. The text fields suggested above will be decorated with up/down arrows where mouse wheel can be used for increasing/decreasing numeric values. As the values are changing in the text field, the workplane will tilt, rotate so the user can see where it is as per values.

[2022-02-04 15:46] phkahler commented on #1207
This was new to me, I didn't realize this was possible. But I do see some issues:
1) The workplane (request) created in the extrude group is nearly useless. It does have a point and normal shown in the text window if you select it, but there is very little that can be done to set its alignment aside from dragging the normal vector on the diagram. You can constrain that to some geometry in the exis

[2022-02-04 19:34] phkahler commented on #1166
@vespakoen  thoughts?

[2022-02-04 22:14] Symbian9 commented on #1076
Could be there created `build-deb.sh` script for easily compile & build DEB package locally or via CI/GitHub actions?

- https://github.com/jtdor/build-deb-action
- https://github.com/zlig/deb-builder-packagecloud

[2022-02-05 14:57] phkahler opened #1210 "Change function names (quaternions)"
This would be strictly a change of naming convention in the code.

Quaternions currently have 3 functions called RotationU, RotationV, and RotationN.

What would you expect they do based on the names? What if I then told you the return a vector? Now what you think they do? There are not comments in the code documenting these (adding some might also be a solution)

A quaternion can be used to apply

[2022-02-05 19:43] simrim1 commented on #1207
I think I confused it. Sorry about that. I actually wanted to refer to "sketch-in-plane" rather than workpalne. sketch-in-plane is defined on a workplane. So, the properties I mentioned above will apply to sketch-in-plane and not workplane.

Please note, I am not saying that what I want to achieve is impossible with current arrangements.  It is achievable with construction lines to define a sketch

[2022-02-05 20:20] Symbian9 commented on #1210
Some related reference info:

1. Quaternions — https://liorsinai.github.io/mathematics/2021/11/05/quaternion-1-intro.html
1.1 https://news.ycombinator.com/item?id=29510237
2. Rotations with Quaternions - https://imadr.github.io/rotations-with-quaternions/
2.1. https://news.ycombinator.com/item?id=27353263
3. Quaternions: The Strange Numbers That Birthed Modern Algebra - https://www.quantamagazine.

[2022-02-06 13:59] hinell commented on #1210
Refactoring.

[2022-02-06 15:25] hinell commented on #423
It's often desirable to have a sketch  on a skewed plane. Currently only orthogonal workplanes are allowed. Related: #103

![solvespace-2022-38-06-17:38:54](https://user-images.githubusercontent.com/8136158/152686907-8493bedf-045a-45d6-8f11-cda26705f949.png)

https://user-images.githubusercontent.com/8136158/152688014-0962b89b-6a99-42a5-8599-9b8f6fa4943a.mp4

[2022-02-06 15:30] ruevs commented on #423
Not at all https://github.com/solvespace/solvespace/issues/453#issuecomment-1022386947

Also https://github.com/solvespace/solvespace/issues/1207

[2022-02-06 15:53] hinell commented on #423
@ruevs Ah alright, it worked, but it's very tedious to manually reach for every workplane compared to a shortcut.

 I think <kbd>SHIFT+W</kbd> should take into account the mode (2D or 3D) user is currently in. Should I fill a separate issue for that?

[2022-02-06 16:32] phkahler commented on #423
@hinell  There may be some confusion here. Once you have an extrusion, select a point and 2 non-parallel lines/edges and press Shift->W to create a workplane. This can be used on pretty much any flat face.

This particular issue "Start sketch on selected face" is only meant to make it even easier by just selecting the face and pressing Shift->W.

[2022-02-06 16:34] #1028 closed

[2022-02-06 16:48] phkahler commented on #1210
I'm leaning toward VectorU()  VectorV() and VectorN()

This is with an eye toward something which might be controversial. Changing the members of EntityBase from normal and numNormal to basis and numBasis. This way we get entity.numBasis.VectorU() for example rather than entity.numNormal.RotationU(). But I would definitely put that in a different PR than renaming those "rotation" functions. Anothe

[2022-02-06 17:31] hinell commented on #423
@phkahler Yeah, quite tricky, but it works, thanks. I've found it in the third-party documentation already: [Sketch in New Workplane].

[Sketch in New Workplane]: https://solvespace.readthedocs.io/en/latest/groups/sketch_in_new_workplane.html

The process is still tedeious though so this issue may be still relevant.

[2022-02-06 17:36] phkahler commented on #175
I just revisited this model with commit 61cc28f8b2  (late in 3.0 prior to 3.1) and the problem is still there. I noticed that switching to NURBS and then back to triangle mesh often changes the number of bad edges. Anywhere from zero up to 126 but typically about 30. There seem to be some randomness in the boolean operations on triangle meshes.

[2022-02-06 20:38] ruevs commented on #423
@hinell that reference is just a reformatted (and outdated 2017) version of the reference https://solvespace.com/ref.pl
Just search for "new workplane" ;-)

[2022-02-06 21:13] ruevs commented on #1199
[code]

[2022-02-06 21:15] ruevs commented on #1199
[code]

[2022-02-06 21:19] vespakoen commented on #1199
Interesting... not sure what is going on though, I'll suggest running / looking up the:

brew doctor

and

brew prune

commands, and give those a try.. also make sure to remove the build folder before rebuilding (using sudo)

[2022-02-06 22:21] ruevs commented on #1199
Great idea @vespakoen! That fixed it!
Doing:

[code]

worked just fine! But why?! Eh well...

Anyway just FYI:

[code]

[code]

[code]

[2022-02-06 22:21] #1199 closed

[2022-02-07 09:22] hinell opened #1211 "Display a circle length in the browser"
![image](https://user-images.githubusercontent.com/8136158/152760009-9d2988df-af8f-497c-97f9-5c36ccaacedb.png)

I request to enable displaying a circle length in the browser window when selected.

### System information
- **SolveSpace version:** 3.0.rc2+repack1-3
- **Operating system:** Linux/Microsoft

[2022-02-07 14:51] phkahler commented on #1211
Should we also add arc length?

[2022-02-07 19:40] hinell commented on #1211
@phkahler May be useful, I'm not sure. I was making  a gear and found myself calculating its length it manually.
@EkaterinaEvdokimova Екатерина, ты из России?

[2022-02-07 20:00] EkaterinaEvdokimova commented on #1211
@hinell Да, я из России

[2022-02-07 21:42] phkahler commented on #1211
@hinell   I just checked, and you can measure lengths with Analyze->Perimeter in the menu. You select any number of lines, arc, circles (but no points, not sure why those aren't auto-excluded) and it will give the total length.

It still seems reasonable to display the length of a single selected entity in the text window though.

[2022-02-07 22:55] phkahler commented on #1211
I've looked at google search data, and some other things and it seems Solvespace is quite popular in Russia and parts of eastern Europe. Does anyone know why that might be? Just curious.

[2022-02-07 23:12] hinell commented on #1211
@phkahler It's handy to have this information listed right away in the browser data in unit-less format. I used this information to calculate the pitch for the gear (in non standard way of course). Would be best if we can have _cog tool_ for that at some point in the future though.

Regarding geographical distribution of users, well I'm not sure why. Probably because it's free. Personally I starte

[2022-02-08 00:14] hinell commented on #1186
[code]

Not sure if I'm in the right spot but I'm having a performance issues with a simple gear model. The culprit is a rotation group. If I rotate a complex sketch over 16 times it gets slower and slower. It takes a couple of minutes to just reopen.

Should I fill a separate issue for this?  The short log is above.  The `Vector::WithMagnitude(1) of zero vector!` string is repeated after every li

[2022-02-08 07:06] ruevs commented on #1186
@hinell try an edge build.
https://github.com/solvespace/solvespace#via-automated-edge-builds

Is it still slow?

Can we use your model in a potential future benchmark? Under what license?

[2022-02-08 09:14] hinell opened #1214 "Performance drop with a step and repeat rotating"
[code]

See a linked model below for reproduction. The log is above. The culprit is the `step and repeat rotating` group. If I apply it (e.g. 20 rotations) to any complex sketch (say 20 construction + 10 actual lines) it slows down significantly so it remains unresponsive for a few minutes

**Note:** The `Vector::WithMagnitude(1) of zero vector!` string above is repeated after every line many time

[2022-02-08 10:51] ruevs commented on #1186
On current [master](https://github.com/solvespace/solvespace/commit/d8b5281f) changing the repeat from 1 to **_64_** in `g00b-rotate` takes `Generate::DIRTY took 2871 ms` ;-)

[gear-64-2.zip](https://github.com/solvespace/solvespace/files/8022949/gear-64-2.zip)

![Gear64](https://user-images.githubusercontent.com/15338069/152970072-41d5fde4-6c14-430a-8eff-e6c566fccf54.png)

By the way there are be

[2022-02-08 11:05] ruevs commented on #1211
There are better ways.

You can type formulas in any dimension field. If you want a circle with a circumference of 500 just type `500/(2*pi)` for the radius.

You can use `sqrt`, `square`, `sin`, `cos`, `asin`, `acos`, `pi`, `+`, `-`, `*`, `/`, `()`

![CircleCircumference1](https://user-images.githubusercontent.com/15338069/152974170-11b3c842-5244-4161-8ded-605b6fae51ff.png)
![CircleCircumference2

[2022-02-08 11:29] ruevs commented on #1211
А аз съм от България :-)

@phkahler SolveSpace simply resonates with the proverbial Slavic soul :-D

Joke aside, my theory is that in the former eastern block there (still) are a disproportionately high percentage of geeks/DIYorselfers/makers/whatever and the minimalist and clean "ideology" of SolveSpace attracts people who do not want to pirate SolidWorks (or any of the others) or their systems s

[2022-02-08 11:45] ruevs commented on #1214
https://github.com/solvespace/solvespace/issues/1186#issuecomment-1032277333
https://github.com/solvespace/solvespace/issues/1186#issuecomment-1032472416

[2022-02-08 11:47] ruevs commented on #1214
@hinell try an edge build.
https://github.com/solvespace/solvespace#via-automated-edge-builds

Since you are on Linux try the edge build from the SnapStore https://github.com/solvespace/solvespace#via-snap-store

Is it still slow?

Can we use your model in a potential future benchmark? Under what license?

[2022-02-08 11:47] ruevs commented on #1214
On current [master](https://github.com/solvespace/solvespace/commit/d8b5281f) changing the repeat from 1 to **_64_** in `g00b-rotate` takes `Generate::DIRTY took 2871 ms` ;-)

[gear-64-2.zip](https://github.com/solvespace/solvespace/files/8022949/gear-64-2.zip)

![Gear64](https://user-images.githubusercontent.com/15338069/152970072-41d5fde4-6c14-430a-8eff-e6c566fccf54.png)

By the way there are be

[2022-02-08 12:07] Symbian9 commented on #1186
@ruevs, may you retry performance with switching to *"Hide edges of solid model"*?

[2022-02-08 14:11] hinell commented on #1186
@ruevs
@Symbian9
Hi. Can I ask you to move all these comments to the related issue?  I was just going to remove my comment here but seems like I forgot to that. Thanks!

[2022-02-08 14:17] ruevs commented on #1186
I removed mine and @Symbian9 should just delete his because the performance with "Hide edges of solid model" is practically the same `Generate::DIRTY took 2723 ms` - this model is solver limited. Not OpenGL, triangulation etc...

For the same reason testing with an OpenGL1.x version is pointless.

[2022-02-08 14:53] hinell commented on #1211
@ruevs [#issuecomment-1032485216](#issuecomment-1032485216)
Omg why in hell isn't this documented in the [main reference](https://solvespace.com/ref.pl)?! :smile:

Omg sounds like you need a bit of fresh blood to refresh some rusty  SolveSpace gears out here!

Btw, this reminds me of the TypeScript issue that they can't solve for about 7 years now. It's constantly poping up but nobody cares. The i

[2022-02-08 14:54] hinell commented on #1214
@ruevs Thanks, I will try to do that.

Thanks for the links as well. Turns out, there is a nice article in the [wikipedia on that](https://en.wikipedia.org/wiki/Involute_gear). Cool shit.

[2022-02-08 15:10] Symbian9 commented on #1214
@ruevs, as for me, ***NURBS solid difference fails*** in your  SLVS-file from [gear-64-2.zip](https://github.com/solvespace/solvespace/files/8022949/gear-64-2.zip)

![Screenshot_2022-02-08_14-11-36](https://user-images.githubusercontent.com/13188580/152984939-4352f349-9c02-4d1b-b560-46b4bead9138.png)

[2022-02-08 15:12] Symbian9 commented on #1214
JFTR, Here is collection of tutorials for making "Involute Gear" in SolveSpace:

- https://homehack.nl/solvespace-involute-gear/

[2022-02-08 15:36] ruevs commented on #1214
The performance with "Hide edges of solid model" is practically the same `Generate::DIRTY took 2723 ms` - this model is solver limited. Not OpenGL, triangulation etc...

As for the NURBS problem I do see the red edges as well, but after pressing ESC the solid is water tight/valid and we have much simpler models reproducing this. Thus it is not interesting.

[2022-02-08 16:06] ruevs commented on #1211
It is documented a bit (exactly in the reference) ;-)

But adding the supported operations is a good idea.

The trigonometric function parameters are in degrees.

[2022-02-08 16:20] phkahler commented on #1211
@hinell   And to really blow your mind, the geometric/algebraic constraint solver can use these functions in constraint equations. We don't currently support user input of constraints, only evaluation of expressions.

[2022-02-08 17:44] Symbian9 commented on #1211
We already has arc length in "Property Browser", but adding circle length would be good too ().

![Screenshot_2022-02-08_19-41-45](https://user-images.githubusercontent.com/13188580/153045135-4c50c358-414b-4756-ac3c-441cc01e506c.png)

[2022-02-08 20:14] hinell commented on #1214
@Symbian9

Sure. As long as you are not trying make profits out it. Thanks for checking it out anyway. ;)

Looks like I'm going to build solvespace from scratch because I also have discovered a few nutty cases that simply hang entire app. No memory leaks however. Surprisingly.

[2022-02-08 20:31] ruevs commented on #1214
If you find reproducible "nutty cases" open issues.

Quite a bit of work has gone into it over the years. You'll find that "edge" is usually as stable as any release.

[2022-02-08 21:35] Symbian9 commented on #1214
Guess, it was reply to @ruevs question ;)

[2022-02-09 00:06] hinell commented on #1211
@phkahler Not documented too, right? How can be this done?

[2022-02-09 09:28] ruevs commented on #1211
Done

[2022-02-09 09:28] #1211 closed

[2022-02-09 12:10] Symbian9 opened #1217 ""Black" color always shown flat"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/a1b2db5e187eb85b85e7ac407e77935973893809 ; `4.0`
- **Operating system:** Debian 10 buster; all supported

### Expected behavior

Redesign color implementation and diffuse shading in rendering, so even solids with "Black" color (`0, 0, 0`) should not look *'flat'* if "ambient lightning" < `1.0`.

[2022-02-09 16:03] phkahler commented on #1217
All shading in Solvespace is done using nothing more than Snell's law (diffuse) with 2 lights and ambient. Black will just be black because the lighting model is so simple. I did some experiments on one of my branches to implement a more realistic lighting model including the Fresnel term which tends to highlight silhouette edges better and it looked a little better. It's hard to validate that the

[2022-02-10 10:22] ruevs commented on #1214
So @hinell did you try? Can I we close this now?

[2022-02-10 18:55] hinell commented on #1214
@ruevs Give me a bit more time.

[2022-02-10 22:31] #1214 closed

[2022-02-10 22:32] hinell commented on #1214
@ruevs Yeah, feel free to close this.
I can confirm that with newer version it became much more responsive. At least it doesn't freeze to an unusable degree for now.

[2022-02-10 22:41] hinell commented on #1214
@ruevs Yeah, feel free to close this.
I can confirm that with a newer version it became much more responsive.
At least it doesn't freeze beyond unusable state for now.

[2022-02-10 22:58] #1076 closed

[2022-02-11 19:24] ruevs commented on #1076
https://tracker.debian.org/pkg/solvespace

[2022-02-12 21:40] hinell commented on #75
Would certainly go for JSON based format. It would be best for WEB based software to handle such files. Performance of loading  is less important when compared to a modelling one.

I would also vote for zip-based archiving approach. FreeCAD uses something like that for their main format.

[2022-02-13 16:14] phkahler opened #1219 "Improved Tiangulation"
This may be a good issue for someone wanting to eventually get deep into the geometry code of Solvespace.
 ### issue:
Triangulating a NURBS surface is currently O(n^2) operation, and in many cases it doesn't produce very good triangles. We should be able to have better quality in O(n*log(n)) time.

### background
For surfaces with compound curvature (a torus for example) we use "grid triangulation

[2022-02-16 22:27] phkahler commented on #423
I looked into this a bit and found [this function](https://github.com/solvespace/solvespace/blob/master/src/entity.cpp#L712) and the one below it to be informative. These return the normal (vector) for a given face. There are several face types and how they each store the normal is different. Example:
FACE_NORMAL_PT - stores a vector in the entities numNormal (which is defined as a quaternion BTW)

[2022-02-18 21:38] Symbian9 commented on #1036
@ruevs, (*just theoretically*) could be those dependencies implemented as *module inside SolveSpace itself*?

[2022-02-21 10:48] Nemo-HelloWorld opened #1222 "How to quickly get started with the architecture of solvespace?"
### System information

- **SolveSpace version: 3.0~0e0b0252
- **Operating system: Windows 10

I want to learn the architecture of solvespace, is there any relevant information that I can refer to besides reading the source code?

[2022-02-21 12:54] ruevs commented on #1222
Few and far between are the "developer documents" :-)

https://github.com/solvespace/solvespace/tree/master/developer_docs
https://github.com/solvespace/solvespace/blob/master/CONTRIBUTING.md
https://solvespace.com/tech.pl
https://github.com/solvespace/solvespace/blob/master/exposed/DOC.txt
In many of the issues linked here https://github.com/solvespace/solvespace/issues/738 you will find deeper d

[2022-02-21 12:54] #1222 closed

[2022-02-21 15:09] Nemo-HelloWorld commented on #1222
Thank you, very helpful :-)

[2022-03-03 09:19] sgall17a opened #1223 "Crashes on Mac when I try to open preferences"
### System information

- **SolveSpace version:** Version 3.0 (3.0~54015b67)
- **Operating system:MacBook Pro (13-inch, 2020, Two Thunderbolt 3 ports) Monterey 12.1
### Expected behavior

Show preferences dialgo

### Actual behavior
program crashes

### Additional information
-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:

[2022-03-03 15:15] phkahler commented on #1223
That appears to be a development build from 3 years ago? Please try the [final 3.0 release](https://github.com/solvespace/solvespace/releases) or the latest [Development Edge build](https://github.com/solvespace/solvespace#via-automated-edge-builds)

[2022-03-05 12:39] henrebotha commented on #931
This issue should be renamed so that references to it elsewhere (e.g. in #1024) have a sensible name to display instead of just "Feature request".

[2022-03-08 20:56] jackfabulous opened #1225 "Cannot click on some constraints"
### System information

- **3.0 0e0 b0252**
- **Windows 10**

### Expected behavior

I click on a constraint.  The constraint is then selected.

### Actual behavior

Frequently it is impossible to find a place to select a constraint because
1) the constraint is behind another constraint, so its "hit box" is completely obscured by another constraint.
2) the constraint is much smaller on screen than

[2022-03-09 15:41] phkahler commented on #1225
We used to have an issue where the highlighted item (mouse over) might be different than what gets selected if you click. I assume this is not a recurrence of that problem. So you are unable to get the constraint in question to highlight (yellow) by moving the mouse over it, is that correct?

If you're working on a 2d sketch group, you might try using the new exploded-view either in the View menu,

[2022-03-09 20:18] jackfabulous commented on #1225
Unfortunately:
1) I cannot find an option to change the text size (which is much smaller than v2x)
2) pressing "\" seems to do nothing.
3) there is nothing in the view menu that is similar to "exploded view".  I tried random other menus from view, but am not turning anything up.
4) I poked around in the reference section of the website, but don't see anything about an exploded view.

[2022-03-09 23:25] phkahler commented on #1225
@jackfabulous you'll need to grab the latest "Edge" build for the exploded sketch option. Look here:
https://github.com/solvespace/solvespace#via-automated-edge-builds

[2022-03-10 09:55] ruevs commented on #1225
You can find all styles in the `line styles` section - at the bottom left of the text window. The default style for constraints is called `s006-#def-constraint`. Select it and change "text style | height" at the bottom.

[2022-03-15 10:30] trembel commented on #88
(+1) for adding linking support for step files. When creating enclosures for a produced PCB, it would be really nice to be able to import the step file form the EDA (incl connectores and so on) into the CAD, to design a proper housing.

[2022-03-15 13:19] phkahler commented on #88
@trembel  Since version 3.0 you can link [IDF (.emn) circuit boards](https://github.com/solvespace/solvespace/issues/625) . The latest Edge builds will also show keep-out regions on the board as construction lines. If that is useful and you want to give feedback on it, use issue #625 to comment on it. IDF "part models" are not supported yet, and won't be unless I have evidence that people will act

[2022-03-15 19:47] johreh opened #1227 "Solvespace crashes with nullptr when importing .dxf"
### System information

- **SolveSpace version:** 3.0~fc16cdb
- **Operating system:** Arch Linux

### Expected behavior
I tried importing a .dxf board layout for the Pine64 RockPro64 SBC into SolveSpace ([link](https://files.pine64.org/doc/rockpro64/RockPro64_v21_Boardoutline-top.dxf), also attached in zip).

File should either be successfully imported into SolveSpace, or give a meaningful error m

[2022-03-20 18:11] ruevs commented on #1227
https://github.com/solvespace/solvespace/issues/932#issuecomment-808785294

[2022-03-22 13:48] phkahler commented on #932
I'm wondering if the issue here is the O(n**2) behavior of ear triangulation and SEdgeList::AssemblePolygon / SEdgeList::AssembleContour

[2022-03-28 10:26] drozdziak1 commented on #77
Hey folks, I am almost ready to convert to SolveSpace fully, if not for the variables/expressions feature. What could be the remaining blockers for this feature?

[2022-03-28 21:14] phkahler commented on #77
The demo that Evil-Spirit did is not a complete implementation. It is very interesting and his changes would probably be the starting point for this feature. I have some questions about his changes which I can get answers to by testing it more, but then the there are some things that have to be worked out before adding it to an official Solvespace release. First, we'd need a good way to define con

[2022-03-30 06:25] ruevs commented on #1147
@Symbian9 looking at https://mobile.twitter.com/SolveSpace it has turned into an endless feed of things completely unrelated to SolveSpace. Irrespective of whether I agree with them or not they are unrelated. And this post-factum answers your question why I personally did not agree for you to "represent" SolveSpace on social networks.

Keeping in mind what is going on - I hope you are fine and wil

[2022-03-30 09:14] ppd commented on #1147
Three opinions:
1. I think marketing/PR is very important, so it makes some sense to maintain a focused social media presence in general.
2. Nothing in life is truly apolitical, but a software project's social media account should mostly stay on topic.
3. Beyond simple statements of fact ("there is a new release"), only those who have strategic influence in the project itself can represent it in a

[2022-03-30 13:36] phkahler commented on #1147
@ruevs @ppd and anyone else interested. Just prior to all this, that twitter account made a post suggesting people donate to a patreon account of the same person, written as though they were a 3rd person. It looked like an offical solvespace account encouraging donations to a "contributor" who happened to be in Ukraine but was in fact the same person, who is not a significant contributor. Symbian

[2022-03-30 20:51] ruevs commented on #1147
@phkahler oh, what a sad mess, I wish I had not googled it :-( But there is an upside - now I am convinced you did well to ban him. To be honest I've been continuously surprised over the years that Whitequark did not ban him. As for the Twitter account called SolveSpace - that he controls... ehhh... that's unfortunate. Are there ways to "claim" official sounding accounts?

I don't have a Twitter a

[2022-03-31 12:21] Dromantor opened #1228 "Build fails (on Windows) bc. of libpng when awk was found in path"
Just something I found when I tried to build solvespace some time ago and rediscovered when building it again today (in console with nmake).

Libpng has some (optional as it seems) awk build script that is executed if cmake finds the awk executable in path. For me this is the case because gawk is part of my cygwin installation which is in path.

This leads to the following build error:
![grafik](h

[2022-03-31 13:04] phkahler commented on #1228
@Dromantor  Lots of questions. Why does the awk script fail for you? Can it be fixed upstream? Can we (should we) tweak ours somehow to make it not happen in this (relatively rare) scenario?

@ppd any ideas? Also, our snap builds seem to be not working in CI.

[2022-03-31 13:15] ppd commented on #1228
This screams Windows line endings (\r\n) vs. Unix line endings (\n). So some generated header file has incompatible line endings, I guess.

@phkahler I'll look into it.

[2022-03-31 13:33] ppd opened #1229 "Snap builds fail with "aa_is_enabled() failed unexpectedly""
## What's the problem?

Snapd switched to strict AppArmor checking: https://github.com/snapcore/snapd/commit/c6011693a816f7f8a5b0c7858ddce91c6ef1a352

This check fails in containers, rendering our current pipeline useless because it relies on Docker to provide an arm64 environment for cross-builds.
The GitHub action's author has no idea how to fix this either: https://github.com/diddlesnaps/snapcr

[2022-03-31 13:38] ppd commented on #1228
`pnglibconf.tf4` probably has CRLF, then gawk turns it into some unholy abomination as it only understands LF. It probably needs an extra conversion/filter step if run in this specific build environment (Windows + GNU awk). Or an awk version that supports CRLF.

[2022-03-31 13:42] phkahler commented on #1229
Yes it does. You've been the one getting snaps together, so if you're OK with it so am I  ;-)  It would be nice to build for everything, but sometimes that's just not possible. Looks like there are people actively trying to solve the problem, but for now we should probably just drop it.

[2022-03-31 13:45] ppd commented on #1229
I'll make a PR. Anything's possible with unlimited time, but at the moment I'm elbow deep in thesis work and don't have the mental energy to debug this complicated stack (GH actions + docker + snapd + QEMU user mode emulation).

[2022-03-31 14:36] Dromantor commented on #1228
Installed Windows port from [http://gnuwin32.sourceforge.net/packages/gawk.htm](http://gnuwin32.sourceforge.net/packages/gawk.htm) and added it to path before cygwin. Error gone, works now. Line-endings really were the problem as it seems.
It would be good to mention this problem somewhere in the build instructions since gawk is part of the base install of cygwin.

[2022-03-31 19:35] phkahler commented on #1228
@Dromantor  see if you think the updated MinGW instructions are adequate to close this.

[2022-03-31 20:01] Dromantor commented on #1228
@phkahler I'm using the VS tools in console so its a general build-on-Windows thing and not just MinGW. Other than that the text is fine.

[2022-04-01 13:20] #1228 closed

[2022-04-07 17:49] phkahler opened #1230 "Investigate curve splitting"
The function SCurve::MakeCopySplitAgainst()  splits the curves in one shell against all surfaces in the other shell. It does this by finding intersections between PWL points, even for exact curves. If an intersection point is "equal" to one of the existing PWL points it is not added to the newly created curve but the PWL point is preserved. Question:  In these cases should we make sure the PWL poi

[2022-04-12 03:10] twhitehead opened #1231 "Constraint to line passing through work plane only decreases DOF count by 1"
### System information

- **SolveSpace version:** 3.0-v3.0
- **Operating system:** nixos 21.11

### Expected vs actual behavior

If you are sketching on a workplane and constrain on a line passing through that work plane, the DOF count is only decreased by 1 while it should be decreased by 2.

The following is a screen shot showing the simplest example I could think of if this: a point added to a

[2022-04-12 03:29] twhitehead commented on #1231
Right. I bet it is because it is constrained to the projection of the line in the plane, and, while technically a line that is perpendicular to the plane would reduce the DOF by 2, probably even perpendicular lines are perpendicular due to rounding....

[2022-04-12 06:53] ruevs commented on #1231
Your "bet" is correct. From the reference:

https://solvespace.com/ref.pl

[2022-04-12 14:44] twhitehead commented on #1231
Thanks!

[2022-04-12 14:44] #1231 closed

[2022-04-13 03:12] #1229 closed

[2022-04-14 20:05] Thovthe opened #1233 "Glitch with menus and application drawing on ARM"
### System information

- **SolveSpace version:** v3.0 built with PKGBUILD below
- **Operating system:** ManjaroARM on the PinebookPro
-**Architecture:** aarch64 (arm64/armv8)
<details>
  <summary>PKGBUILD (Expand)</summary>
[code]
</details>

### Expected behavior
Application stops drawing menus when you click into the workarea and doesn't exhibit other graphical glitches.

### Actual behavior
Gh

[2022-04-14 20:14] ruevs commented on #1233
What is reported on the bottom of the configuration screen (OpenGL info)?

[2022-04-14 20:23] Thovthe commented on #1233
![SolvespaceBug4](https://user-images.githubusercontent.com/3664947/163469518-820b33d4-8097-4a06-807b-4bfa8da2983c.png)

[2022-04-14 20:40] ruevs commented on #1233
Is there any other windowed OpenGL software that you can try? This is just a wild guess... I suspect you are the first one to try SolveSpace on this platform.

[2022-04-14 21:06] Thovthe commented on #1233
Quite possibly. I'm not sure how to query pacman for build dependencies though.  Maybe you know of some programs that I might have access to on linux?

Very probably, it took me a couple of hours to get a working PKGBUILD

[2022-04-14 21:12] Thovthe commented on #1233
glxgears runs fine but it has no menus and only one window.

[2022-04-15 01:02] Thovthe commented on #121
If you're used to verb>noun it will trip you up a bit when starting to use solvespace but this is a minor quirk.  This is low priority.

To track demand for this feature:
:thumbsup: if you want this added; :eyes: **Eyeballs** if you don't care; :thumbsdown: if it makes you feel icky gross that there be another option

[2022-04-15 01:07] Thovthe commented on #77
I like the idea that it propagate to child groups but there should be a top level where global variables can be defined.  Maybe something like a spreadsheet.

[2022-04-15 01:14] Thovthe commented on #422
3.2 milestone? Is this behaviour toggleable?

[2022-04-15 01:29] Thovthe commented on #1006
Close this in favor of #70?

[2022-04-15 05:00] #1006 closed

[2022-04-15 05:03] ruevs commented on #422
Maybe 4.0 together with #77 .

[2022-04-15 07:44] ruevs commented on #1233
The only other ARM Linux platform (that I know of) that SolveSpace has been tried on is Raspberry Pi - it works fine but there is a glitch in the menu bar (not the menus themselves). See here https://github.com/solvespace/solvespace/pull/825#issuecomment-734899712

Would the ARM64 build from the Snap store work? https://snapcraft.io/solvespace

Another thing to try may be to build it with the old

[2022-04-15 15:23] phkahler commented on #1233
I wonder if @rpavlik knows anyone working on the panfrost driver. This could be a driver issue?

[2022-04-15 15:27] phkahler commented on #77
yeah, that's why it's closely related to issues #78 and #80.

[2022-04-15 20:37] Thovthe commented on #1233
@ruevs
It sounds like that might be a related glitch.

Can I pass this as a command line option somehow?  (not a C programmer)

I'm somewhat allergic to snap for ideological reasons but if the rebuild is not illuminating I could try that.

[2022-04-15 20:55] Thovthe commented on #78
Is this blocked on #75 or could it conceivably be done by someone with the time and inclination?  If so ~ how much time would this take?  And is it straightforward boring work or exciting but immensely difficult?

[2022-04-15 21:22] Thovthe commented on #68
You don't have to rely on gnome docs for touchpads anymore.  libinput [to the rescue](https://wayland.freedesktop.org/libinput/doc/latest/gestures.html)!

Also the [maintainer](http://who-t.blogspot.com/2021/09/whats-new-in-xi-24-touchpad-gestures.html) is an entertaining speaker (/watch?v=HllUoT_WE7Y).

[2022-04-15 23:54] Thovthe commented on #1233
Update on how to reproduce:
I was having trouble reproducing the menu behavior.  Seems that the application rendering gets buggy if you somehow get the viewport to change while menus are open.  `Select a menu` then hit `w` while off axis

[2022-04-16 04:09] Thovthe commented on #1195
Have you tried this on Manjaro?  I have made a PKGBUILD that can be found in #1233.  Runs on the PbP with only occasional rendering issues.

[2022-04-16 19:37] JulianGmp commented on #1147
Sorry for digging up this issue despite it being closed.
I just looked through twitter's support page and found this: https://help.twitter.com/en/rules-and-policies/twitter-impersonation-and-deceptive-identities-policy

I think if you wanted to, I think you could claim the `@SolveSpace` user for yourself. Though I'm not 100% certain how well twitter's support handles these cases.

[2022-04-17 16:06] ruevs commented on #1147
Reading that policy at most the account may end up permanently disabled. Perhaps I missed it but there was nothing about "claiming" it.

[2022-04-17 20:18] Thovthe commented on #1195
I have compiled solvespace for Manjaro on the Pinephone, found a couple more implicit build dependencies but it starts without any apparent memory leaks.  The windows start with all the gtk supplied menus seeming to work but the viewport and property browser have a white field with "Unable to create a GL context" in the center.  Maybe an implicit runtime dependency not on a default install?

[2022-04-17 22:07] rpavlik commented on #1233
I know people on my team have more interesting sbc boards than raspberry pi, so they can try to repro and pass info along to the panfrost team

[2022-04-18 15:04] Thovthe commented on #1233
Let's say cutting edge, Manjaro lags upstream for stability's sake.

[2022-04-19 14:17] phkahler commented on #1233
And is probably one of the first programs the driver developers tested with ;-)

BTW assuming you're running on X and not Wayland. Either way, the blocky garbage on top of your web browser strongly suggests something lower level to me.

[2022-04-19 14:23] phkahler commented on #1166
Pinging @vespakoen again ;-)

[2022-04-19 14:25] vespakoen commented on #1166
This probably has to do with the cmake version, @brennane what version of cmake are you using?

I have already opened up an issue over at libpng to update the targets, but it seems to take a while for them to change it.

I think it makes sense to add the extra flag to our docs.

[2022-04-19 20:46] Thovthe commented on #1233
So that looks at first glance like it's on top of my webbrowser but that's a solvespace window (i had alt-tabbed to solvespace), you can tell because the window decoration is not for firefox.  Or do I misunderstand what you are saying?

I am running XFCE on x11.

It's only solvespace that retains the (buffer?) screen content from other applications.  No other applications I've tried have this draw

[2022-04-22 18:20] phkahler opened #1234 "Change the way chord tolerance is applied."
### System information

- **SolveSpace version:** All
- **Operating system:** All

### Expected behavior

The chord tolerance percent setting should use the bounding box of the shell, not the sketch.

### Actual behavior

Create a torus by making a circle and a revolve group (not lathe). Drag it around to form a full torus and observe the level of mesh detail by viewing the triangle mesh. The amou

[2022-04-26 18:25] phkahler commented on #439
Just documenting my most recent thoughts on this, but would also like input from @jwesthues @ruevs and anyone else who may understand either the math or the internal structures.

What I'm thinking now is segmented extrusions with multiple segments in one group where:
1) Each segment ends with a "station" like the top of the existing extrusions
2) A face will be created at each station
3) You can c

[2022-04-28 08:15] yueduz commented on #149
Chamfering should exist as a modifier, not a real modification model. Like Blender's modifier, we can then hide the modifier and show the modifier. Modifiers are applied only when the model is exported, so this has no effect on the assembly.

[2022-04-28 18:32] phkahler commented on #149
@jwesthues  When new sketch entities are created by making an extrusion, they get put in the remap table correct? So we may do a REMAP_POINT_TO_LINE or REMAP_LINE_TO_FACE which allows the new entities to be used in constraints even after doing regeneration. Would it be possible to do a remap where something is based on two parents? I'm thinking of edges formed by intersection of faces in booleans.

[2022-04-29 01:44] jwesthues commented on #149
@phkahler That makes sense, and the ability to generate sketch entities from solid model edges would be valuable even independently of the chamfer feature discussed here, for example to permit constraining against new edges created by the Booleans. The current `struct EntityKey` contains just one parent entity, plus the integer copy number. The copy number is used in the obvious way for step and r

[2022-04-29 17:20] phkahler commented on #149
@jwesthues if we do 3 parents I think it may be a good idea to sort the parent IDs prior to using in the key. For example, an intersection curve may be clipped at another surface to create a point. We could say the point has a curve and a surface as parents, but there will likely be more curves ending at that point. Only by using the 3 surfaces and being independent of their order will we identify

[2022-04-30 02:25] jwesthues commented on #149
@phkahler That makes sense. In cases where more than three surfaces intersect, I believe it would be reasonable e.g. to take the three surfaces with the lowest handles (or any other stable set of three), and ignore the others. That would behave consistently as long as the topology doesn't change, and when the topology changes there's no clear correct behavior anyways.

Note that faces don't curren

[2022-05-01 18:30] phkahler commented on #1202
@rpavlik and @ppd  This is the "instructions" I previously followed to udpate mimalloc:
https://github.com/solvespace/solvespace/pull/661#issuecomment-664001203

If there isn't a better way I'll do that again to get us up to their latest tagged version (2.0.7 or so).

[2022-05-02 17:58] phkahler commented on #149
For anyone following along, the last few comments here are related to what FreeCAD calls the [Topoligical Naming Problem](https://wiki.freecad.org/Topological_naming_problemurl)

SolveSpace is very good at handling those issues, but also somewhat limited. We do not currently create a sketch entity where boolean operations create new edges (intersection of planes for example). What you see is edges

[2022-05-03 15:47] phkahler opened #1236 "Improve Remap Funcitonality - Topological Naming"
### System information

- **SolveSpace version:** All
- **Operating system:** All

## Expected behavior

The number of entities in a group should not be limitied.
Sketch entities should be created from boolean operations where surfaces intersect.
Surfaces and edges of the solid model should have IDs that are persistent across regeneration.
It should be possible to link more than 1 part into an ass

[2022-05-09 12:06] gnbl opened #1238 "Missing image path change does not trigger file change"
windows-openmp 3.0~b334996c on Windows 10 64 bit.

Sketch>Image allows inserting a PNG image file into the sketch.
When that image file is moved on the harddrive and subsequently cannot be found upon loading the slvs file, a dialog allows updating its path.
Doing that does not mark the svls file as modified, i.e. closing it does not trigger a warning, causing the newly updated image file path to b

[2022-05-10 00:28] brennane commented on #1166
MacOS:  Confirmed that as of `cmake version 3.23.0` (from homebrew) solvespace is building without the backwards compatability flag.  I can't say that it was the cmake change or a dependent library update; regardless Solvespace certainly builds with no extra flags at this point.

[2022-05-10 00:28] #1166 closed

[2022-05-10 08:29] gnbl opened #1239 "Multiple "Message" dialogs when deleting elements with dependant constraints (minor, UI)"
Deleting elements that other elements are constrained to, this message is shown:

[code]

Unfortunately I can't provide a minimal example of this, but sometimes this automatic deletion appears to cause another automatic deletion and a corresponding message dialog. I've only noticed because the second message takes the focus, so hitting Return to accept with `OK` does not work and I have to use the

[2022-05-10 12:00] phkahler commented on #1239
@gnbl what OS is this on? I thought those message boxes were modal so there couldn't be 2 at the same time. An example could be helpful.

[2022-05-10 16:49] gnbl commented on #1239
windows-openmp 3.0~b334996c on Windows 10 64 bit.

Sorry, I tried to come up with an example, but unsuccessful so far.
Next time it happens, I'll take a closer look and will attempt to reproduce in minimal example file.

[2022-05-11 10:07] gnbl opened #1240 "Reference plane visibility (feature)"
Windows 10 openmp 3.0~b334996c

The reference planes are centered on the origin and displayed proportionally to the view (window) size, regardless of zoom.
This is helpful for orientation when orbiting in 3D view since the full planes are always visible (around the origin).

When zooming in on elements at a distance from the origin, the reference planes are not visible anymore.

Two ideas:

- show

[2022-05-11 11:00] gnbl opened #1241 "Right mouse button (RMB) cannot be used for panning when editing a dimension (enhancement)"
windows 10 openmp version 3.0~b334996c.

When (automatically) editing a (new) dimension that happens to be off screen (e.g. angle constraint), panning with RMB (right mouse button) does not work, since the dimension input field has focus.

Two ideas:

1. RMB cancels editing, but then only the second attempt to pan will work
2. RMB pans, while edit field remains focused

[2022-05-11 14:10] phkahler commented on #1241
I'm not sure this is really feasible, and it would have to work on all platforms. Just press enter, pan, and then double click the dimension.

[2022-05-11 14:10] #1241 closed

[2022-05-11 17:32] gnbl commented on #1241
But you could check whether it is feasable, just to be sure, before shutting this suggestion down?

[2022-05-11 17:47] phkahler commented on #1241
No, I could not.

It takes a lot of time to investigate UI toolkits that I'm not familiar with, and for the very minor benefit it's just not worth it. I have a large backlog of things that I actually *want* to do.  If someone submits a PR for something like this I'm happy to review it and even merge it, but not me nor any other semi-regular contributors are going to jump on this and take it on.

[2022-05-11 17:50] gnbl commented on #1241
That's perfectly fine, and you could just say so.

[2022-05-11 17:54] gnbl commented on #1239
Here's what it looks like, even three dialogs:
![autodelete](https://user-images.githubusercontent.com/1181708/167914570-5b9197dd-c50d-4900-b2d5-dca29b097449.png)
Cannot reproduce in example sketch.

[2022-05-12 19:00] phkahler commented on #1202
@rpavlik  it looks like the version in CMakes.txt or whatever is displayed in the about dialog. It is currently showing 3.1 even thought there is no tag with that yet.

Github refuses to let me create a 3.1~rc1 or v3.1~rc1 tag.  It suggests v3.1-alpha so it seems the ~ is the problem can I use the - character instead?

[2022-05-12 19:36] rpavlik commented on #1202
Oh right, it always converts them to underscores. Either is fine as long as I do the debian import

[2022-05-12 20:50] phkahler commented on #1202
Just tagged v3.1-rc1 and it looks like @ppd changes worked nicely. I haven't opened the tarball yet but it's big so maybe the dependency sources made it! We should be at mimalloc 2.0.6 as well.

Thanks everybody. Let me know something is actually broken that I didn't notice ;-)

[2022-05-12 22:28] rpavlik commented on #1202
Looks good to me so far, got it imported into the debian git just fine, package almost done.

[2022-05-14 13:12] ktrace opened #1244 "Segmentation fault on language change"
### System information

- **SolveSpace version:** 3.1~0e0b0252
- **Operating system:** gentoo/Calculate

### Expected behavior
Try to change language:
Help -> Language -> (any language include English (US))

### Actual behavior

Segmentation fault

### Additional information

Try under strace and choose Spanish, strace ended with:

[code]
bt in gdb:

[code]

[2022-05-14 13:38] ktrace opened #1245 "Idea: free for opensource translation hosting"
I saw some translation hosting and think https://hosted.weblate.org/ is one of the best.
Most convenient for translators. Free for OpenSource projects. Github OAuth2 authorization and integrations.

Take a look https://github.com/WeblateOrg/weblate/commits/main, translation commits from hosted.weblate.org.

[2022-05-14 18:47] phkahler commented on #1244
My builds on Fedora can not reproduce this. Can anyone else confirm it?

[2022-05-15 17:46] AresAndy commented on #164
Any news on this? It has been 5y and this feature would be extremely useful

[2022-05-15 19:59] phkahler commented on #164
@AresAndy  no progress on this. Is your desire for this feature related to assemblies? I ask because I'd like to change the way assembly works so multiple linked files can exist in the same group - in your case if B and C were linked files, they would be in the same group and both move freely until constrained. But I make no promises on timeframes :-)

[2022-05-16 00:07] phkahler opened #1246 "Feature request: Faces Perpendicular Constraints"
## Description

Like the title says. Allow the user to select two faces and apply a perpendicular constraint. This would be most useful for revolve groups to set the angle to 90 degrees. There are probably other uses as well.

@jwesthues  On implementation would it make sense to add faces to EntityBase::HasVector  and other minor tweaks so the existing perpendicular constraint can be applied, or s

[2022-05-16 01:19] jwesthues commented on #1246
The feature makes sense to me, and implementation with `::HasVector()` and the existing constraints would do what you want for face-face angles with very little additional code.

Line-face angle is fundamentally a different thing, as you note. For example, line-line and face-face perpendicular both constrain 1 DOF, but line-face perpendicular constrains 2 DOF. I guess you could swap the definition

[2022-05-16 13:36] kbrock commented on #164
When I am exploring in SolveSpace, rather than copying a diagram I often create a few groups in an order: A, B, C, where a cube in C depends upon a point in B. There is only one file, no assemblies.

I later decide that it would work better if the order were A, C, B.
So I change the line in C to depend upon a point in A.
At this time, nothing in C depends upon B.

I would like to change the order

[2022-05-20 15:36] tc7000 opened #1247 "SolveSpace fails to solve solvable constraints"
### System information

- **SolveSpace version:** 3.0~ab00823a
- **Operating system:** Ubuntu 20.04.4 LTS 64-bit

### Expected behavior

There should be no error solving constraints.

### Actual behavior

unsolvable constraints error (distance and angle)

### Additional information

Extract attached zip file, open test.slvs, then modify the angle constraint to 60°. Change again the angle to 30°.
[

[2022-05-24 08:39] AresAndy commented on #164
@phkahler Well, allowing groups to be sorted manually could unlock all sorts of possibilities (and weird things too I'm afraid, by side-effects), but the main and cool feature is that one could treat the groups tree as a _timeline_ so-to-speak. Eg. booleans would for instance apply only to the geoms existing up to it, anything further down the line remains untouched. Graphically:

- cube extrusion

[2022-05-24 14:15] phkahler commented on #1028
@nick87720z  and @vuokko  does the current tarball in 3.1-rc1 suite your needs?

[2022-05-25 03:09] rpavlik commented on #1028
Yeah, see the Debian package source for how we handle it there, the instructions are right there in the comment in the CMake file.

[2022-05-26 13:19] phkahler commented on #1202
@rpavlik   If you're happy with it from a packaging side I think I'll drop the rc this weekend and tag 3.1. Are we good?
I'm looking forward to this one getting into more distros over the next year ;-)

BTW We made the front page of HN a few days ago and 3.1-rc1 has a bunch of downloads:

[2022-05-26 13:24] phkahler commented on #1247
@tc7000  Thank you for such a simple test case.

That's really annoying. It can handle a jump from 60 to 40, but not 60 to 30. This seems similar to another solver failure issue but also much simpler and more likely for people to run into.

[2022-05-26 13:59] ruevs commented on #1202
I'm fine with releasing 3.1 the issues I mentioned above https://github.com/solvespace/solvespace/issues/1202#issuecomment-1025700337 still bug me but I obviously did not find time to work on them for almost 5 months :-(

[2022-05-26 14:29] rpavlik commented on #1202
oh, did we want to rename the default branch to "main" as the tendency seems to be? and are all the translations updated? I didn't run the gettext thing this time.

[2022-05-26 14:54] ruevs commented on #1202
I ran it 4/months ago and since then only Turkish and German .po were touched. I'll try to do it gain tonight. https://github.com/solvespace/solvespace/commits/master/res/locales

On "main" vs. "master" - the whole "political correctness" "movement" is a bit much to me, but ultimately I am ambivalent to it.

[2022-05-27 08:35] ruevs commented on #1202
I ran the translations update - nothing changed, but the dates in the .po files and "Project-Id-Versionan" to 3.1 in `res/messages.pot`. So it's fine.

[2022-05-27 12:53] sokol07 opened #1249 "Impossible to export curves as curves, not series of straight lines"
### System information

- **SolveSpace version: 3.0~0e0b0252**
- **Operating system: Windows 10**

### Expected behavior

I was trying to export a shape to DXF file to process it in FreeCAD as a technical drawing for manufacturing. I want to have all circles exported as real circles so that I can select them as circles in FreeCAD TechDraw module and add diameters, etc.

### Actual behavior

I expo

[2022-06-01 14:20] phkahler commented on #1202
3.1 is still running through CD, but will come out fine. @ruevs if you want to update the main solvespace page to include version 3.1 in the table I won't complain ;-) Otherwise I'll get to it hopefully tonight.

[2022-06-01 14:20] #1202 closed

[2022-06-01 16:26] phkahler commented on #1244
Can not reproduce.

[2022-06-01 18:02] ppd commented on #1202
Huh, seems that the tag wasn't published when the Snap CD job ran. Because of that, the build got marked as unstable, which prevents us from pushing it into the stable channel. Hm. Strange. That used to work, I think

[2022-06-01 18:28] ppd opened #1251 "Snap grade detection is unreliable"
It works like this:
[code]

This has two problems:

1. The tag is not available for the build that is triggered by the release event. I think this used to be different, but the old logs are already wiped. Maybe I'm hallucinating this.
2. This works only for annotated tags. It'd need `--tags` as an extra argument.

Options:
1. Just declare everything stable
2. Don't rely on tags to determine the gr

[2022-06-01 19:05] ppd commented on #1202
@phkahler I already did, but locally. Nothing to worry about for now. But for the next release, we need something better.

[2022-06-02 07:59] ruevs commented on #1202
Done here https://github.com/solvespace/solvespace-web/pull/35. @jwesthues should publish to the web site after it is merged.

[2022-06-02 18:05] phkahler commented on #1161
@ToddG  Is this any better?

[2022-06-02 18:10] #1131 closed

[2022-06-02 18:14] phkahler commented on #1246
Oops, this is a duplicate of #1115, but I'll close that one.

[2022-06-02 18:14] phkahler commented on #1115
duplicate #1246

[2022-06-02 18:14] #1115 closed

[2022-06-02 18:15] phkahler commented on #1087
Closing, as we are going to switch to LibreDWG.

[2022-06-02 18:15] #1087 closed

[2022-06-03 04:32] jwesthues commented on #1202
Very cool, just pulled to live on the website. Let me know if anyone sees any issues.

[2022-06-03 14:55] yukulele commented on #902
minimal usual cli options should be also added:
[code]

[2022-06-03 15:09] ruevs commented on #1247
Nice test case! Changing the angle from 60 to anything between 27-32 causes the solve to fail.
59.1 -> 28. fails as well, 59.0 -> 28.0 does not.  Interesting.

[2022-06-03 17:18] phkahler commented on #1247
This is among the things #1149 might address. Need a mathematician for this stuff  ;-)

[2022-06-03 18:41] ruevs commented on #1247
There is some nice debug code from @Evil-Spirit here https://github.com/Evil-Spirit/solvespace-master/commits/solver-debug I have not pulled it into master in years but it is a rather interesting tool. No time now but I'll do it... some day.

[2022-06-04 07:09] ruevs commented on #939
@giannissc @pjanx @rpavlik @phkahler I am closing this. If you have some big models that make SolveSpace (3.1+) unreasonably slow - please open a new issue.

[2022-06-04 07:09] #939 closed

[2022-06-06 14:01] ruevs commented on #1247
I rebased
https://github.com/Evil-Spirit/solvespace-master/commits/solver-debug
onto master here:
https://github.com/ruevs/solvespace/tree/EvilSpirit_solver-debug
it is interesting to watch the solve fail, and see the equations but no immediate help. I need to think/debug much more...

[2022-06-10 21:23] ghsp22 opened #1253 "variables"
#Idea or Enhancement

I noticed sometimes I have to restart constructing. Or I have collected several measurements that go down as distance constraints.
Also it seems even in the tutorial sometimes the same measure value is inserted several times.

Maybe it would be worthwhile to allow the user to enter a list of variables and later use variable names in the distance field.
Ideally even using a cv

[2022-06-11 05:47] ruevs commented on #1253
This is a duplicate and is one of the oldest feature requests:

- Parametric sketches, parametric constraints, variables. inequality constraints etc. </br>Examples: `x=2` `y=3` `z=x+5` `3*x+z` `x`  `<7`</br>https://github.com/solvespace/solvespace/issues/77 https://github.com/solvespace/solvespace/issues/81   https://github.com/solvespace/solvespace/issues/422 https://github.com/solvespace/solvesp

[2022-06-11 05:47] #1253 closed

[2022-06-12 00:46] #1246 closed

[2022-06-12 13:17] ruevs commented on #1143
https://github.com/solvespace/solvespace/issues/920 is related.

[2022-06-14 17:07] #920 closed

[2022-06-14 17:07] #1143 closed

[2022-06-14 18:07] #1072 closed

[2022-06-14 19:03] ruevs commented on #1240
How do you envision the reference planes being drawn away from the origin or from their intersection lines? What would be visible?

A related topic is this https://github.com/solvespace/solvespace/issues/1006

[2022-06-15 15:38] phkahler commented on #206
@nanoant  Have you ever got a chance to do more on this? Do you have a branch here on github I can look at and maybe rebase to master?  If it's not too invasive I might want to use what you've got rather than waiting for a "perfect" solution that handles all cases.

[2022-06-15 19:08] ruevs commented on #206
@phkahler here https://github.com/nanoant/solvespace/tree/step/edge-reuse

[2022-06-17 08:27] ruevs commented on #1223
@sgall17a have you tried the 3.1 release?

[2022-06-17 09:05] sgall17a commented on #1223
I did try version 3.1 and the issue has gone.

Stuart Galloway
email: ***@***.***
Phone: 0421560031

On Fri, Jun 17, 2022, at 16:27, ruevs wrote:

[2022-06-17 09:07] ruevs commented on #1223
Thanks.

[2022-06-17 09:07] #1223 closed

[2022-06-17 09:18] #1069 closed

[2022-06-17 09:23] ruevs commented on #1225
@jackfabulous can you attach a file that demonstrates the problem?

[2022-06-17 21:18] ktrace commented on #1244
Look like bug present only with dynamic mimalloc link (in gentoo's portage).

[2022-06-18 11:41] gnbl commented on #1240
Here's an example of what I imagined for my second idea (imagine dotted lines):
![extend](https://user-images.githubusercontent.com/1181708/174435224-cd311f23-511c-4a05-bd7d-169f1538109f.png)

It would extend the reference planes beyond the bounding box. But this mixes screen and geometry.
Maybe it's simpler to resize the reference planes so their intersections are always visible on screen? Howeve

[2022-06-18 21:37] phkahler commented on #686
@ruevs  I would much rather continue addressing performance issues than add this capability (at this time).

[2022-06-19 05:05] ruevs commented on #686
@phkahler absolutely! In my opinion the original topic needs to be closed. So I'll close this.

But since the conversation here veered in the direction of performance in general and the (now solved) IdList bottleneck, and @vcaputo seems to use SolveSpave for some complicated things I thought of asking him how 3.1 works on them.

[2022-06-19 05:05] #686 closed

[2022-06-24 21:12] simrim1 opened #1261 "32bit SolveSpace crashes when it runs out of memory (was SolveSpace 3.1 is crashing so frequently without any warning/error on assembling parts.)"
System information

SolveSpace version: 3.1~70bde63c
Operating system: Windows 10

Expected behavior

I am designing a CNC machine in SolveSpace and trying to combine (assemble) different parts (SolveSpace sub assembly files) in a separate file which has its own drawing as well.
It should work as normal and should not crash.

Actual behavior

It keeps crashing and has become almost unusable.

Addi

[2022-06-25 17:32] ruevs commented on #1261
@simrim1 would you be willing to share your model? If not publicly et least privately?
Does it crash with 3.0?
Are you by any chance the author of this video https://www.youtube.com/watch?v=iuBfzpcCO5c ?

[2022-06-25 18:52] phkahler commented on #1261
I'm wondering if this is a new issue or if it's the size of the sketch/assembly running into a limitation.

We have seen cases where the performance increases allowed people to hit limitations before.

So yeah, is this unique to version 3.1 or does it happen with 3.0 as well? Assuming the files are compatible (no 3.1 specific features).

[2022-06-25 19:58] simrim1 commented on #1261
@ruevs Spot on man. Your searching capabilities are better than Google. I am really curious how you related my post to my video on Youtube.
Coming back to the issue, I have not tested it in 3.0 and I don't think I can because I have made all my designs in 3.1 taking benefit of better Helix feature in 3.1.

I can send you files privately. I am going to public them all in my next 2-3 videos. I am ke

[2022-06-25 20:58] ruevs commented on #1261
Email "dpr" at the domain you can see in my profile.

[2022-06-26 10:16] ruevs commented on #1261
@simrim1 First thank you for sending me your CNC lathe/router model! Very impressive job! It is by far the most complicated SolveSpace project I have seen.

I found your YouTube channel a few months ago when you posted your ["Resolving Issues of Solvespace on Windows 7 and Windows XP."](https://www.youtube.com/watch?v=C6g2F-nNXK4) video and linked to my [Windows XP build](https://github.com/solves

[2022-06-26 10:25] ruevs commented on #1261
And now to the problem :-)

It is not necessarily a memory leak. It simply runs out of it. Probably through [heap fragmentation](https://www.design-reuse.com/articles/25090/dynamic-memory-allocation-fragmentation-c.html).

At about 1.2GB allocated after opening your MyCNCBaseAssembly.slvs and toggling back and forth through the groups a few times. The failure is eventually at this memory allocatio

[2022-06-26 11:16] ruevs commented on #1261
@simrim1 Here is a large address aware 32 bit Windows build - OpenGL 3, multi threaded (OpenMP).
[SolveSpace_Win32_x86_Post3.1_c20c4dab_LARGEADDRESSAWARE.zip](https://github.com/solvespace/solvespace/files/8986464/SolveSpace_Win32_x86_Post3.1_c20c4dab_LARGEADDRESSAWARE.zip)

Please try it and let me know if it crashes or not.

And since there is a YouTube video with your project already I hope you

[2022-06-26 11:23] ruevs commented on #1261
And here are the memory limits under different conditions on Windows:
https://docs.microsoft.com/en-us/windows/win32/memory/memory-limits-for-windows-releases?redirectedfrom=MSDN

Memory type | Limit on X86 | Limit in 64-bit Windows
-- | -- | --
User-mode virtual address space for each 32-bit process | 2 GB<br/>Up to 3 GB with IMAGE_FILE_LARGE_ADDRESS_AWARE and 4GT | 2 GB with IMAGE_FILE_LARGE_ADD

[2022-06-26 12:58] phkahler commented on #1261
@ruevs and @simrim1  The question that always comes to my mind with complex designs:  Did you have to force it to triangle mesh?

[2022-06-26 13:50] ruevs commented on #1261
@phkahler not a single one from a total of 37 models and assemblies is forced to triangle mesh.

There are errors (naked edges) in only two assemblies of longer screws made from shorter screws (helixes)
MyCNCLeadScrew8mm500Assembly.slvs
MyCNCLeadScrew8mm600Assembly.slvs

Everything else looks good.

[2022-06-26 20:21] simrim1 commented on #1261
@ruevs Thanks a million for having a look at it. I am sorry I was away. Just switched on my computer and found your messages. You response if very detailed. Although I am a programmer myself, most of the things you explained are out of my domain but some of them I understand.

Where is 64bit version by the way?

I have tested your newly built binary you attached here. It is still crashing. All I d

[2022-06-26 21:04] simrim1 commented on #1261
@ruevs O yes, I forgot to address your last comment about the alignment of Nut in "X-Axis". This is actually Y-Axis in my design. I was actually pointing it out in the video and how to find out how much misaligned it is.

Thanks again for going through the video and noting the point.

[2022-06-30 15:30] rpavlik opened #1263 "Crash (assert) on load file - regression?"
### System information

- **SolveSpace version:** git bisect says it appeared in 465506670ceaa1f2004b7aa8d5979c9622b3d565 @phkahler
- **Operating system:** Windows 10, Debian Bullseye

### Expected behavior

The attached file should open and be able to export to STL for 3d printing.

### Actual behavior

Crash/assertion failure:

[code]

### Additional information
[wheel sleeve2.zip](https://githu

[2022-06-30 15:53] rpavlik opened #1264 "Regression blocking Debian"
### System information

- **SolveSpace version:** 3.1~rc1
- **Operating system:** Debian testing

### Expected behavior
autopkgtests run normally

### Actual behavior

"no surfaces to export" on s390x: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1013163

[code]

and

[code]
This did work with the previous Debian package version, which is a 3.0RC.

[2022-06-30 17:37] ruevs commented on #1263
@phkahler The pull request for your (and mine) bug fixes is this one https://github.com/solvespace/solvespace/pull/1201. The original one that implemented the feature is https://github.com/solvespace/solvespace/pull/1054 I found it through my commit message here https://github.com/solvespace/solvespace/commit/026f9369894bd

So the overall story so far is:
[A workplane can now be defined from a wor

[2022-06-30 18:22] ruevs commented on #1263
It asserts here: https://github.com/solvespace/solvespace/blob/d6e1b23006580fb6bfb8d562264030524993bf1b/src/group.cpp#L466 this code was introduced here https://github.com/solvespace/solvespace/commit/465506670ceaa1f2004b7aa8d5979c9622b3d565 on February 2, 2022.

This means that any models using "WORKPLANE_BY_POINT_NORMAL" and created with a version after [**_Jun 27, 2021_**]( https://github.com/s

[2022-06-30 18:36] rpavlik commented on #1263
Ohh, hmm. Didn't realize I was using a new feature at the time :)  Wonder if it's worth adding compat/conversion code. I was just surprised when I loaded a model I made recently in 3.1 and it went boom - apparently I was using an older build still.

[2022-06-30 18:45] ruevs commented on #1264
@rpavlik So is this is a custom Debian test suite/script using the files from our test suite and solvespace-cli ?

I am not on Linux but I did run the equivalent of the last command

[code]

On Windows:

[code]
and it exported a valid step file. This was in debug mode. Here is the output:

[code]

The same in release:

[code]

And the output:

[code]

[2022-06-30 19:19] rpavlik commented on #1264
yeah, it only shows up on the s390x architecture which is IBM z/Series aka system 360 successor. I have a docker environment setting up on my pc (using binfmt and qemu) now to bisect

here's the script: https://salsa.debian.org/science-team/solvespace/-/blob/master/debian/tests/surfaces

[2022-06-30 20:08] ruevs commented on #1264
Call me very impressed that you know how to set up and IBM s/390 emulation with qemu and docker!

Crazy thought - if you run solvespace (the GUI) and point it to an X server on a PC would it actually work? The s/390 does not have "local" display hardware I presume?

[2022-06-30 20:22] rpavlik commented on #1264
Yeah , x forwarding would probably work. I had never done it either, and am frankly surprised it works too. My first try was to install a vm, but I found instructions to do it with docker and it worked, so...

I am now basically trying to rerun the tests: on testing (bookworm), with the unstable (sid) version of the solvespace package installed (3.1 basically), doing the autopkgtests. Some weird r

[2022-06-30 22:17] rpavlik commented on #1264
btw

[code]

[2022-06-30 22:54] rpavlik commented on #1263
Actually maybe a better idea - is there a way to partially fail loading, such that previous groups are intact but there's a final "file corrupted" group when a problem is hit, instead of an assert? Maybe more sustainable than migration support.

[2022-06-30 23:02] phkahler commented on #1264
I ran master on x86-64 linux, opened the test file with the GUI and exported surfaces. Got what looks like a valid .step file.

[2022-06-30 23:04] rpavlik commented on #1264
Yeah, see the linked Debian bug: it's a very specific environment causing failure (architecture, system deps, and maybe cosmic rays). It works fine on more common setups and on my attempt to replicate the failed setup.

[2022-06-30 23:20] phkahler commented on #1261
@simrim1  Under Analyze->Show Naked Edges
Also for assemblies Analyze->Show Interfering Parts

The second one is very likely to fail on the lead screw since it goes through a nut and the Helical surfaces are not perfect. I have not tried this.

Making the long screws one piece might help if I read @ruevs comment correctly.

It is for whatever you want, however the performance degrades as models be

[2022-06-30 23:31] phkahler commented on #1263
I was thinking about this on my way home. For your file you should be able to manually (yeah I know) add the workplane handle to the failing group in predef.entityB and it should load. The problem is figuring out which workplane to take the handle from, which makes automating it a bit difficult. I suppose the most recent sketch-in-workplane group would be a good guess?

Another option would be to

[2022-06-30 23:38] phkahler commented on #1263
This is an interesting idea. Load as far as possible and then display a message indicating incomplete loading due to an error? I'm assuming you'd want this to be some kind of generic error trapping so it would work in other cases in the future? I'm not an error trapping kind of coder myself, but I did something like this last millennium for a file format incompatibility. I just don't remember how.

[2022-07-01 06:13] ruevs commented on #1261
Indeed on the final assembly they show many red edges.

From the individual parts only the two long screws I mentioned above have NURBS problems. And @phkahler is right - if you model them as two individual long screws instead of assembles of the short cestion their NURBS problems (red edges where the sections meet) should disappear.

[2022-07-01 16:31] rpavlik commented on #1263
Yeah - I don't mind revising my model to not be broken, but it's nicer if I could load and reuse at least some of it.

[2022-07-01 16:41] rpavlik commented on #1261
I don't think it require a debug build, just an option in CMake. I've had it on for a long time "by accident", finally turned it off recently.

[2022-07-02 08:26] simrim1 commented on #1261
@phkahler @ruevs Thanks for pointing it out how to find out issues in drawing. It is right that screw issue cannot be resolved unless you keep it at a very precise location so that leadscrew threads don't intersect with nut threads.

@ruevs I still believe it is memory leak issue. If you open a complex design (less than the main assembly) and some operations and then without closing solvesoace ope

[2022-07-02 10:20] andrzejtp opened #1266 "Unfollowable tutorial"
### System information

- **SolveSpace version:** 3.1~70bde63c
- **Operating system:** Ubuntu 20.04

### Expected behavior

It should be possible to follow the "bracket" tutorial in a freshly installed solvespace. This is most likely the first tutorial a newcomer will attempt, so any negative experiences will discourage the potential new user.

### Actual behavior

The tutorial says:

"SolveSpace

[2022-07-02 20:55] ruevs commented on #1261
It could - I ran it now with the address sanitizer of VS 2019 enabled. It did not catch anything.

[2022-07-02 20:58] ruevs commented on #1261
@simrim1 here is a x64 version for your experiments.
[SolveSpace_Win32_x64_Post3.1_d6e1b230.zip](https://github.com/solvespace/solvespace/files/9033708/SolveSpace_Win32_x64_Post3.1_d6e1b230.zip)

For now I can not catch a memory leak.

[2022-07-02 21:11] phkahler commented on #1266
Not sure if this is the problem, but you need to use the property browser to select the original sketch group where those lines were created before trying to select and round the corner.

[2022-07-04 00:00] phkahler commented on #1261
@ruevs and maybe @rpavlik how much memory does solvespace eat for undo/redo history. I thought it was very minimal, just working on the requests. But does it - perhaps accidentally - keep multiple meshes and shells?

[2022-07-04 00:20] simrim1 commented on #1261
@ruevs Thanks for the 64bit binary. It worked very well. Did a number of operations and SolveSpace didn't crash. Is it not a good idea to include 64bit binary in the assets?

The memory usage going up is what I was referring to. When you open complex design and do some operations and then open a new design without closing Solvespace going to File->New it should show the memory status as if you hav

[2022-07-05 12:34] ruevs commented on #319
https://github.com/solvespace/solvespace/issues/112 is the original issue.

[2022-07-05 12:34] #258 closed

[2022-07-05 12:50] ruevs commented on #311
@rpavlik @ppd @phkahler does this still fail on Linux?

[2022-07-05 13:02] ruevs commented on #68
Hey guys should we close this? @tomsci @vespakoen @phkahler ?
https://github.com/solvespace/solvespace/pull/1093

[2022-07-05 13:11] ruevs commented on #1233
@Thovthe were you able to build it with OpenGL1?
The cmake command should be: `cmake .. -DCMAKE_BUILD_TYPE=Release -DOPENGL=1`

[2022-07-05 13:48] phkahler commented on #29
No. Selecting a general constraint command, then selecting entities, then a specific constraint? That first command is almost completely redundant.

As it is, you just select entities and apply a specific constraint.

@ruevs I think we should close this.

[2022-07-05 13:55] phkahler commented on #311
@ruevs what does it mean? How do I even try to reproduce it?

[2022-07-05 14:01] phkahler commented on #68
Last I checked on my old MB Air... in version 2.3 you could rotate with 2-finger drag and no click or keypress. Now you need a modifier key. So IMHO a slight step backward.

Nowhere near as bad as having to click-drag though.

[2022-07-05 14:31] rpavlik commented on #311
yeah I don't know what "wrong angles" even are. "d2" seems wrong, it responds that it's invalid, which seems right to me.  -740 got turned into 740, which is more than 360 but not inherently wrong. (though the loss of the negative without changing the direction of the angle is interesting)

The issue report says it should *not* show the dialog but I think that's a typo, the dialog seems to be the

[2022-07-05 17:01] ruevs commented on #29
@phkahler the part where, once one selects some entities a list of the possible constraints that can be applied to them is shown, could be useful for a complete novice. We could do it in this "beautiful" function - it will just get slightly longer ;-) https://github.com/solvespace/solvespace/blob/b5333608e9d4826fcb6dc497a9e94e162267a84c/src/describescreen.cpp#L64

Anyway, just like you I find this

[2022-07-06 10:10] #311 closed

[2022-07-06 14:56] rpavlik commented on #1266
There should only be a single group at that point, I just followed it and it worked fine. Can you record a screencast so we can see where the instructions lead you astray?

[2022-07-06 16:27] rpavlik commented on #1249
So I've exported models as surfaces and imported into FreeCAD, and I get curves there. I have not. tried DXF. That said I was pretty sure I had exported to PDF and gotten curves, even if not ideal. Do you have "convert to tri mesh" somewhere in your model maybe?

[2022-07-08 22:15] ruevs commented on #1247
Issue https://github.com/solvespace/solvespace/issues/21 seems to me somewhat related. Even though the details differ.

[2022-07-08 23:46] rpavlik commented on #43
So I think we do have the two "whole thing" and "just data" exports now. I have tested this fairly recently too, when working on the Debian package, since there we use the separately packaged threejs. I also fixed the compatibility issue some time ago so we're using a more modern version. Documentation is still lacking, but it actually works now both in source builds and the Debian package, which

[2022-07-10 05:37] ruevs commented on #1136
Just for tracking:
https://github.com/verylowfreq/solvespace/commit/1f42e31cb30cef12c5e8548209e380bed5e0d8ed#commitcomment-78052435

[2022-07-10 20:28] blinkenlight opened #1268 "NURBS failure on simple union of cube and cylinder"
### System information

- **SolveSpace version:** 3.1~d6e1b230
- **Operating system:** Windows 7 x64

### Expected behavior

No naked edges

### Actual behavior

Naked edges produced

### Additional information

As you can see, this is an exceedingly simple object consisting of a same-sized cube and cylinder extruded from the same plane in different directions - and it breaks the mesh. Interesting

[2022-07-10 20:47] blinkenlight opened #1269 "Solid model is missing for an assembled part that was forced to triangle mesh at design time"
### System information

- **SolveSpace version:** 3.1~d6e1b230
- **Operating system:** Windows 7 x64

### Expected behavior

Triangle-mesh assemblies should have a visible solid model

### Actual behavior

Assembled part that had beed restricted to triangle mesh at design time loads with no visible solid model as an assembly

### Additional information

Using the model attached in #1268 except wit

[2022-07-10 22:58] phkahler commented on #1269
@blinkenlight I'm speculating at the pub. If you force the model to triangle mesh in the first extrusion instead of the last one, does it link properly?

[2022-07-11 00:06] wolfpackmars2 commented on #1225
I can attach an example.

Solvespace version 3.1~70bde63c
Linux Mint 19.3 (Ubuntu 18.04)

![Screenshot from 2022-07-10 19-04-33](https://user-images.githubusercontent.com/1011130/178167424-5dedfb22-1987-457c-99a4-46e264c1bac7.png)
[nano_holder_bracket_2_r2.slvs.zip](https://github.com/solvespace/solvespace/files/9080121/nano_holder_bracket_2_r2.slvs.zip)

Within group g002-sketch-in-plane, there e

[2022-07-11 00:21] phkahler commented on #1225
Press the backslash key @jackfabulous to explode the view. You will need to rotate the view so you're not looking straight at the sketch. Use the explode distance in the view menu to increase the separation if needed. This should allow you to select what you want.

[2022-07-11 00:30] blinkenlight commented on #1269
Nope. No matter which group (extrusion or sketch) I use to restrict to triangle mesh, the result is the same - no solid model as an assembly unless I also restrict the assembly itself... (also: cheers! ;))

[2022-07-11 11:59] ruevs commented on #1225
@wolfpackmars2 selecting some constraints is indeed rather difficult sometimes. Your file is a nice example. Nevertheless it is possible to do it with some patience. Here is a video:

https://user-images.githubusercontent.com/15338069/178258886-2eacc864-cc4b-4069-9ccb-669e932bafe6.mp4

As @phkahler mentioned - using the `View | Show Exploded View` (`\`) option (available in version 3.0 and later)