[2017-01-02 15:08] Evil-Spirit commented on #148
@whitequark, can you turn back
mouse.cpp:1391
[code]
Probably PaintGraphics runs before GenerateAll

[2017-01-02 15:15] whitequark commented on #148
@Evil-Spirit That doesn't help. But I also found this only happens on GTK 2. So maybe this just means it's time to drop GTK 2 from SolveSpace 3, and fix any remaining bugs.

[2017-01-02 16:26] whitequark commented on #148
Solved by killing GTK2 and removing various horrible hacks also.

[2017-01-02 16:26] whitequark commented on #128
Fixed in master.

[2017-01-02 16:26] #128 closed

[2017-01-02 16:28] whitequark commented on #148
Let's fix that too, what sort of artifact is that?

[2017-01-02 16:56] Evil-Spirit commented on #148
When dragging new rect one of the line not matched in vertex.  This is because redrawing before solving.  This happens inside hit test function.

[2017-01-02 18:38] tpimh commented on #128
Thank you!02.01.2017, 18:26, "whitequark" <notifications@github.com>:Fixed in master.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-02 22:48] whitequark commented on #148
@Evil-Spirit There must be some other error, because with both of your fixes above, dragging of new rect still has the same issue on Linux.

[2017-01-02 23:35] whitequark commented on #132
Fixed in master (not for Cocoa though since I think it doesn't expose the numpad keycodes in any way?)

[2017-01-02 23:35] #132 closed

[2017-01-02 23:48] whitequark commented on #136
Fixed in master. Note, emoji will only be shown when using the TTF text tool, and with a supported font:
![2784](https://cloud.githubusercontent.com/assets/54771/21597654/00335248-d146-11e6-9537-63e5ffcdfca9.png)

[2017-01-02 23:48] #136 closed

[2017-01-03 01:47] whitequark commented on #148
@Evil-Spirit I've merged your Windows fix.

[2017-01-03 17:09] Evil-Spirit commented on #148
@whitequark, more fixes

[2017-01-03 17:11] Evil-Spirit commented on #148
@whitequark, problem with mouse-move hovering happens again(viewport is not redrawing while moving over, just when mouse move stopped)

[2017-01-03 17:47] whitequark commented on #148
This fix you added makes no sense.

[2017-01-04 04:59] Evil-Spirit commented on #148
@whitequark,
We have eliminated only PaintGraphics() call inside HitTestMakeSelection, so there is no place where PaintGraphics worked while mouse move events present in queue and takes a lot of time.

[2017-01-04 04:59] Evil-Spirit commented on #148
@whitequark,
 This is only windows problem

[2017-01-04 05:22] whitequark commented on #148
Then I will revert that commit, because your fix makes no sense, and after it PaintGraphics/InvalidateGraphics don't do what they claim to.

[2017-01-04 05:28] Evil-Spirit commented on #148
@whitequark, Can you explain what does mean "don't do what they claim to"?
InvalidateGraphics before this just posts WM_PAINT message, PaintGraphics redraws immediately.
The things have worked before this way also works this way now (if WM_PAINT doesn't drew viewport it will be drawn using SS.later.paintGraphics, but never before GenerateAll as it can be done now)

[2017-01-04 05:29] whitequark commented on #148
And on GTK/Cocoa PaintGraphics redraws immediately. Any fix that makes the platforms diverge isn't the right fix.

[2017-01-04 05:45] Evil-Spirit commented on #148
@whitequark, OK, changed this

[2017-01-05 02:13] whitequark commented on #148
@Evil-Spirit That's much better! Let me see if this applies to

[2017-01-07 03:31] whitequark commented on #112
@Symbian9 I've applied your ua-UA translation. I cannot reply to your email because your mail host rejects my mail with:
[code]

[2017-01-07 09:30] Symbian9 commented on #112
@whitequark, thanks!

Think, problem is with your own mail server, that not recognised by my mail hosting.
Try use <code>Symbian9@github.com</code>
* https://developer.github.com/v3/users/emails/

[2017-01-07 16:38] whitequark commented on #112
No. Every other mail hoster so far had no problems with my server. Complain to your hoster.

Fixed

[2017-01-07 16:48] Symbian9 commented on #112
@whitequark, When somebody send me message from GMail I has on problems with getting them. Also, Github & Reddit, governmental mail servers normally send mails to described above my mail host. So, its only issue in your mail hoster, that prevent sent messages from you to me.

[2017-01-07 18:38] whitequark commented on #112
No. There is no reason for ua.fm to reject my mail, and I don't care what the excuses are.

[2017-01-08 15:35] wpwrak opened #149 "make chamfers as easy as fillets"
### Expected behavior

Right now, it is easy to draw a basic geometry that represents the core function of a piece, and then add fillets for strength, looks, etc., using tangent arcs. For chamfers, there doesn't seem to be an easy way to do the same, i.e., to rapidly apply them as refinements. It would be nice if such a function could be added.

[2017-01-08 16:48] wpwrak opened #150 "when about to delete, have a way to first examine what else gets deleted"
### Actual behavior

When deleting something, one is often warned that a number of related items (typically constraints) will get removed, too. It would be good to be able to examine what these items are, in case the deletion has wider effects than expected (or in case the numbers just don't look right, even if they are).

### Expected behavior

Perhaps deletion could offer the option to not delet

[2017-01-09 05:57] Evil-Spirit opened #151 "Font texture update not working"
### System information
Windows, OpenGL2
### Expected behavior
Font texture should be updated for each OpenGL context.
### Actual behavior
Font texture updated only for context where new character appears
### Additional information
For native windows OpenGL there are possible to use the same context for different windows, or share context resources by using wglShareLists. Unfortunately, this approa

[2017-01-09 06:28] whitequark commented on #151
yes, I also noticed this bug, please fix it

[2017-01-09 15:27] Evil-Spirit commented on #151
@whitequark,
I have no idea how to make this not using some hacking.
1. The best solution I know is perfrom versioning of the font texture and store it inside pixmapCache.
2. Make copy of the font for each Canvas instance

[2017-01-09 17:00] whitequark commented on #151
@Evil-Spirit 2nd sounds OK to me

[2017-01-09 17:02] Evil-Spirit commented on #151
@whitequark, OK!? ok :)

[2017-01-09 17:08] Evil-Spirit commented on #141
@whitequark, fixed here. +improvements.

[2017-01-10 02:53] Evil-Spirit commented on #151
@whitequark, ready

[2017-01-11 03:26] whitequark commented on #151
@Evil-Spirit This crashes tests. Why do you not run tests?

[2017-01-11 03:33] whitequark commented on #151
Fixed in master.

[2017-01-11 03:33] #151 closed

[2017-01-11 03:45] whitequark commented on #50
@virtualritz Any update on the assets? Meanwhile, I've added preliminary Hi-DPI support to the GTK port as well.

[2017-01-11 03:53] whitequark commented on #142
This PPA is not updated to SolveSpace 2.3, and recommending a buggy version of SolveSpace isn't good. Besides, it shouldn't live in the README (which is for the source code) but on solvespace.com.

[2017-01-11 04:14] Evil-Spirit commented on #151
@whitequark, I have different build directory, so I have to run tests separately and sometimes forget to do it. Sorry, I just need to reconfigure my building env to build inside repo dir.

[2017-01-11 04:17] whitequark commented on #141
Fixed in master.

[2017-01-11 04:17] #141 closed

[2017-01-11 04:20] whitequark commented on #151
@Evil-Spirit OK

[2017-01-11 04:26] Evil-Spirit commented on #141
@whitequark,
what about https://github.com/solvespace/solvespace/commit/31296333539d6ce5f27220aba7363c2f26dfc1b2?
This is very annoying for me.

[2017-01-11 04:29] whitequark commented on #141
@Evil-Spirit I haven't noticed that one... you just linked one commit here.

[2017-01-11 04:31] Evil-Spirit commented on #141
@whitequark, Oh, sorry, usually I make branch for every issue and put some other improvements realated to it.

[2017-01-11 04:34] whitequark commented on #141
Merged in master too.

[2017-01-11 14:53] Evil-Spirit opened #152 "Force NURBS surfaces to triangle mesh not working when specified for translation/rotation groups"
### Version
All versions

### Expected behavior
Force NURBS surfaces to triangle mesh shourd work when specified for translation/rotation groups.

### Actual behavior
Force NURBS surfaces to triangle mesh not working when specified for translation/rotation groups. This is because it not considered when such group are generated (booleans inside group perfromed using NURBS anyway even if we specify

[2017-01-12 03:08] whitequark commented on #148
@Evil-Spirit Actually, I think your fix will create another problem. Try it on any case where hit testing is really slow.

[2017-01-12 15:04] Evil-Spirit opened #153 "Crash with Unmatched regex"
### System information
Appears after adding translations.
Windows 7 x64, MS VS 2013 compiler

### Expected behavior

Should work

### Actual behavior

Crash on running tests and running SolveSpace.exe

### Additional information

File E:\SolveSpaceWork\solvespace_dxf\src\resource.cpp, line 488, function SolveSpace::ASCIIReader::ExpectRegex:
Assertion 'Unmatched regex' failed: ((TryRegex(re, m)) ==

[2017-01-12 15:43] Evil-Spirit commented on #148
@whitequark,
I have tested it for big-big-big-woodworking-asm.slvs(where HitTestMakeSelection really slow) and there is no problem for me (with using https://github.com/Evil-Spirit/solvespace-master/commit/6cdb9a3fd38e79706bf70b896f13e052f0df6890)

[2017-01-12 16:27] whitequark commented on #153
This seems like an MSVC-related bug, or maybe \r\n issue. Can you look?

[2017-01-12 17:33] Evil-Spirit commented on #153
@whitequark, OK

[2017-01-12 21:17] wpwrak opened #154 "color selection is confusing / buggy"
### System information

SolveSpace at commit 7dbbd75969b5f7c26e97ffe3e8f9da67fb3cfca4
(i.e., before the gtkmm-3.22 requirement, since Ubuntu is still at 3.20)

### Actual behavior

Color selection is confusing:
1) it is hard to distinguish the color selection overlay from the dialog in the background.
  E.g., the checkboxes on the left, the "mesh" on the right, etc.
2) the logic of color selection

[2017-01-12 21:24] whitequark commented on #154
Yeah that's how it is supposed to work.

[2017-01-13 02:17] dynamodan opened #155 "Build broken on Ubuntu 16.04"
### System information

SolveSpace version: latest from git, i.e. commit 022d012a4454952f45

Operating system: Ubuntu 16.04

### Expected behavior

Check out from git, follow compilation steps for Linux, run

### Actual behavior

Got this when running cmake:

[code]

### Additional information

Ubuntu 16.04's latest GTK3 is at version 3.18.0-1 . Not until you get up to Ubuntu Zesty (17.04?) do you

[2017-01-13 02:27] whitequark commented on #155
This is pretty much working as intended. 3.0 does not (yet) have major new features and is not particularly close to release. I expect this will not be a problem as Debian Stretch releases with 3.22.

[2017-01-13 02:29] whitequark commented on #155
Actually, nevermind, there's an easy fix and I will apply it soon.

[2017-01-13 04:12] lomatus commented on #153
Vote +1
Appears after adding translations.
Windows 7 x64/x86, MS VS 2015 compiler

[2017-01-13 12:37] wpwrak commented on #155
For what it's worth, Ubuntu 16.10 (Yakkety Yak) gets a bit closer, gtkmm 3.20.
I found that with this, I can build SolveSpace at commit 7dbbd75969b5f7c26e97ffe3e8f9da67fb3cfca4 (from Jan 2, 2017).
If the requirement could be lowered at little, that would of course be even better :)

[2017-01-13 13:25] dynamodan commented on #155
I can build that commit on Ubuntu 16.04 as well.  It seems the Open GL ES stuff apparently isn't supported on GTK3 until 3.22.

[2017-01-13 13:59] Symbian9 commented on #155
@whitequark, add "Linux" tag to this issue.

[2017-01-13 14:21] Symbian9 commented on #23
@Evil-Spirit, not only for 2D drawings!
* http://help.solidworks.com/2010/English/SolidWorks/Sldworks/LegacyHelp/Sldworks/Detailing/Area_Hatch.htm
![cutted model without hatch](http://help.solidworks.com/2010/English/SolidWorks/Sldworks/LegacyHelp/Sldworks/art/area_hatch_selections.gif)
![cutted model with hatch](http://help.solidworks.com/2010/English/SolidWorks/Sldworks/LegacyHelp/Sldworks/art/a

[2017-01-13 17:28] whitequark commented on #23
@Symbian9 What you are describing is not a pattern "for filled paths", it is a pattern for faces of solid objects. The implementation and UI is completely different.

[2017-01-13 21:42] Symbian9 opened #156 "Support Draco for compression 3D graphics"
* https://opensource.googleblog.com/2017/01/introducing-draco-compression-for-3d.html

[2017-01-13 21:53] whitequark commented on #156
This is completely irrelevant to a CAD program, which does not download assets over the web.

[2017-01-13 21:53] #156 closed

[2017-01-13 23:38] wpwrak opened #157 "better support for dependency analysis"
Sometimes, it can be difficult to determine which constraints are in place, and to what objects they are applied. What would help is to have slightly more tools for exploring how items in a sketch are related, e.g.:

- when selecting a point, line, etc., get a list of (clickable) constraints in the text window,
- when selecting a constraint, get a list of (clickable) items it applies to (in additi

[2017-01-14 00:32] whitequark commented on #155
Fixed in master.

[2017-01-14 00:32] #155 closed

[2017-01-14 00:35] whitequark commented on #153
I cannot reproduce this one myself with either MSVS2013 or MSVS2015, weird.

@lomatus would that be a zh_CN translation? I am very interested in that one.

[2017-01-14 02:23] drbobbob commented on #155
The build works now (29e43e67eaea5c7f95fc0943a6728583cb9efbcf) but running does not work on my Ubuntu 16.04 system.  I get the following error and the screen shows "OpenGL context creation failed"

[code]

[2017-01-14 02:41] whitequark commented on #155
Haven't pushed everything, try again.

[2017-01-14 02:46] drbobbob commented on #155
Works with fba88859e1646e821e3b61700a02fe8c37ba324d.  Thanks for the quick turnaround.

[2017-01-14 02:51] whitequark commented on #153
Should be fixed in master.

[2017-01-14 02:51] #153 closed

[2017-01-14 03:18] whitequark commented on #118
Merged in master.

[2017-01-14 03:18] #118 closed

[2017-01-14 03:23] whitequark commented on #131
Doesn't apply on master anymore.

[2017-01-14 03:31] Evil-Spirit commented on #131
@whitequark, OK I am rebasing

[2017-01-14 03:39] whitequark commented on #153
@Evil-Spirit btw there is an unmerged ru_RU translation already, don't bother

[2017-01-14 03:49] dynamodan commented on #155
@whitequark Thanks a bunch!  I had encountered the same issue as @drbobbob with the G_IS_OBJECT assertion bug, but everything's working now.

[2017-01-14 03:55] Evil-Spirit commented on #153
@whitequark, OK

[2017-01-14 04:52] Evil-Spirit commented on #131
https://github.com/Evil-Spirit/solvespace-master/commits/master-131

[2017-01-14 04:56] Evil-Spirit commented on #131
@whitequark, but this is works bad after we add forceDofCheck. try to comment forceDofCheck inside FindWhichToRemoveToFixJacobian to allow SolveBySubstitution run. It will be fast for constraintfreeze.slvs. But this will not consider some cases with double-hvpc

[2017-01-14 04:57] whitequark commented on #131
@Evil-Spirit how to fix this?

[2017-01-14 05:02] Evil-Spirit commented on #131
@whitequark, For now I only can suggest to limit FindWhichToRemoveToFixJacobian by time. For constraintfreeze it's over 600 equations if we don't appy solvebysubstitution, so we can just give up until we involve sparse-matix algorithms. The second way - is to find double constraints like hvpc

[2017-01-14 05:03] whitequark commented on #131
@Evil-Spirit ok. is there any benefit from your updated patch?

[2017-01-14 05:11] Evil-Spirit commented on #131
@whitequark, only if we choose "finding the same multiple hvpc". if we bound by time, there is no point.
only benefit is from loop unrolling, but this is something like x2-x3

[2017-01-14 05:12] whitequark commented on #131
@Evil-Spirit ok. let's add a 1000ms time limit, and indicate in the text window if it was reached.

[2017-01-14 05:13] Evil-Spirit commented on #131
@whitequark, acc.

[2017-01-14 08:07] Evil-Spirit commented on #131
@whitequark, implemented here

[2017-01-16 08:52] wpwrak opened #158 "looks for imesh_texr.frag that no longer gets installed"
### System information

SolveSpace commit 6c1287681df3e1d3a61e993ef48b8852c7e9300e
on Ubuntu 16.10.

### Actual behavior

When starting, looks for
/usr/local/share/solvespace/shaders/imesh_texr.frag
in vain, aborts.

This seems to have been introduced in 6c1287681df3e1d3a61e993ef48b8852c7e9300e

Note that this failure may not occur when running from the "build" directory, if a
build/res/shaders/im

[2017-01-16 11:40] whitequark commented on #158
Fixed in master, thanks!

[2017-01-16 11:40] #158 closed

[2017-01-16 11:53] whitequark opened #159 "Crash when deleting a group"
Load [box.zip](https://github.com/solvespace/solvespace/files/708240/box.zip). Then delete group g006-sk-window. The crash results:
[code]

This is a crash introduced in 022d012a4454952f454e33278af744c01f69667a, which I have reverted.

[2017-01-16 13:01] Evil-Spirit commented on #159
@whitequark
[code]

[2017-01-16 13:02] Evil-Spirit commented on #159
@whitequark, fixed here

[2017-01-16 13:09] whitequark commented on #159
Reapplied in master

[2017-01-16 13:09] #159 closed

[2017-01-16 13:36] Evil-Spirit commented on #157
May be something like this can be useful too.
![Uploading Скриншот 2017-01-16 20.35.35.png…]()

[2017-01-16 13:37] whitequark commented on #157
@Evil-Spirit How does that work?

[2017-01-16 13:39] Evil-Spirit commented on #157
@whitequark,
We draw stippled line between two points (get it using GetReferencePoints) when drawing hovered constraint.

[2017-01-16 13:40] whitequark commented on #157
@Evil-Spirit Excellent idea.

[2017-01-16 13:54] wpwrak commented on #157
The circles on hover would be great for better visualization.

However, I'm also looking for making selection unambiguous. E.g., if I want to do something with a point that I've identified through a constraint, I could unambiguously select it if the dependencies are shown (and selectable) in the text window. However, if it's only in the graphics window, clicking on that point may select something

[2017-01-16 14:06] Evil-Spirit commented on #157
@whitequark, I think we can easily list all constraints liked to the selected entity

[2017-01-17 07:22] whitequark opened #160 "center-of-gravity calculation"
For design of rotating parts, it would be useful to have a centre-of-gravity calculation, with display of a point and its coordinates.

A parametric one would also be interesting. But, if placed into a group with a mesh, this creates a circular dependency. Perhaps it could be restricted to only be placed in sketch in workplane/3d groups.

[2017-01-17 07:28] Evil-Spirit commented on #160
@whitequark, What algorithm you can suggest? I know what we have to integrate by volume... I think there is only numeric method we can implement in simple way...

[2017-01-17 07:30] whitequark commented on #160
Sure, it can only be numeric, like volume and area calculations.

[2017-01-17 07:30] Evil-Spirit commented on #160
@whitequark, circular dependencies is the point of exisnace of the solver...

[2017-01-17 07:31] whitequark opened #161 "selection of entities for dragging is too greedy"
Open the attached file:
[bug.zip](https://github.com/solvespace/solvespace/files/710286/bug.zip)
Rotate to the following view and position the cursor as follows:
![2820](https://cloud.githubusercontent.com/assets/54771/22011379/bb56f200-dc86-11e6-8d30-b5e6803ecc94.png)
Drag with mouse. Both points will get dragged.

As a bonus I once got this crash:
[code]
but have no real way to reproduce it exce

[2017-01-17 07:32] Evil-Spirit commented on #160
@whitequark, volume of an triangle mesh actually is not numerical but exact

[2017-01-17 07:32] whitequark commented on #160
But I don't think it will nicely work with the centre-of-gravity constraint because of discontinuities.

[2017-01-17 07:35] Evil-Spirit commented on #160
@whitequark, Yes, dymamic volume is quite complex task, but assembly is much simplier and actually can be implemented.

[2017-01-17 07:39] whitequark commented on #160
@Evil-Spirit let's start with the simplest thing, just non-parametric display, and then do the complex one if it's really useful.

[2017-01-17 07:41] Evil-Spirit commented on #160
@whitequark,
We can use regular 3d grid with fixed step (cubes) or Monte-Carlo approach for performing this kind of integraion.

[2017-01-17 07:44] whitequark commented on #160
@Evil-Spirit I trust you to make the right choice. I think a live display that updates when dragging is useful, so that probably should affect the decision.

[2017-01-17 07:45] whitequark opened #162 "selection of entity from request for dragging doesn't work for circles"
To reproduce:
  * draw a circle
  * extrude into a cylinder
  * try to change radius

[2017-01-17 07:52] Evil-Spirit commented on #160
@whitequark, No problems here. There is no need to perform numerical integration, we can exactly calculate center of mass of triangle mesh like we done it for volume! http://e-maxx.ru/algo/gravity_center

[2017-01-17 07:54] Evil-Spirit commented on #162
@whitequark, I've also figured out this when worked on not hovering of the pending...

[2017-01-17 07:55] whitequark commented on #160
OK. How expensive is that?

[2017-01-17 08:42] Evil-Spirit commented on #160
@whitequark, exactly just like volume calculation.

[2017-01-17 11:57] whitequark commented on #157
done

done

this is a fairly invasive change. if it is done, it will involve changing the file format. please use the newly implemented features, and if they are really not enough, reopen and i will implement this.

[2017-01-17 11:57] #157 closed

[2017-01-17 12:12] wpwrak commented on #157
Thanks a lot ! Now, when exploring the dependency graph, I find that a "back" button (like in Web browsers) would be really handy. I guess, next, I'll ask for "Forward", too :)

[2017-01-17 12:14] whitequark commented on #157
@wpwrak This isn't really implementable in a non-horrible way with the current text window code, so that will have to wait further.

[2017-01-17 13:11] whitequark commented on #154
Fixed in master.

[2017-01-17 13:11] #154 closed

[2017-01-17 13:43] Symbian9 commented on #155
@drbobbob, @dynamodan, are you has working PPA's for this builds? Add links to them in related issue discussion
* https://github.com/solvespace/solvespace/issues/142

[2017-01-17 13:57] Symbian9 commented on #50
Maybe it would be usefull make some simple "my-own-theme.cfg" template, that would be stored in config folder, that should define how represent UI (icon set, positions of UI elements in main window, etc).

And every user can make own theme.

P.S.: it could be as "load custom theme file" option in "Property Browser"

[2017-01-17 13:58] whitequark commented on #50
No, this would be a complete waste of time.

[2017-01-17 15:16] Evil-Spirit commented on #50
@virtualritz , @whitequark,
We can render unifont in bigger size from .ttf. There is no problem to build distance-map for glyphs and perform alpha-clipping to get perfecly-resizable font in just 16x16 pixels or may be a little bit bigger like 32x32 for precision.

[2017-01-17 15:18] Evil-Spirit commented on #50
@virtualritz, @whitequark
http://wiki.polycount.com/wiki/Transparency_map

[2017-01-17 15:18] dynamodan commented on #155
@Symbian9 No, I am not aware of a PPA for this build.  The only way I get solvespace is by building from source.

[2017-01-17 15:20] whitequark commented on #50
@Evil-Spirit But Unifont only has 16x16 glyphs...

[2017-01-17 15:22] Evil-Spirit commented on #50
@whitequark, we can render any resolution and technique we want if it have TTF version.

[2017-01-17 15:23] Evil-Spirit commented on #50
@whitequark, It will be raster font with vector quality.

[2017-01-17 15:24] Evil-Spirit commented on #50
![signeddistancealphatest](https://cloud.githubusercontent.com/assets/1980537/22026575/c5e33c06-dd03-11e6-9353-dcf24cf114be.png)

[2017-01-17 15:25] whitequark commented on #50
This doesn't actually work for fonts that have been specifically designed to be displayed with pixels

[2017-01-17 16:59] Evil-Spirit commented on #160
@whitequark, implemented here
We can also change volume calculation to simplier one.

[2017-01-17 17:03] Evil-Spirit commented on #160
@whitequark, one more time

[2017-01-17 17:04] Evil-Spirit commented on #160
@whitequark, actually I have no idea how to test it.

[2017-01-18 07:17] whitequark commented on #160
@Evil-Spirit Hm, I want a different UI. Basically recompute it after every regeneration, show a bright dot in the center of the screen, and write the exact coordinates. This constraint is not really useful, without more in-depth solver support I'd have to get the center of mass to the center of rotation manually, which is fine, just make it more convenient.

[2017-01-18 08:55] Evil-Spirit commented on #160
@whitequark,
So, you don't need it actually to be as datum point. Just visualization with ability to see coordinates? Can we just introduce checkbox "show mass center of solid model" inside text window?

[2017-01-18 09:06] Evil-Spirit commented on #160
@whitequark,OK. What about correctness? Can you suggest samples/method of testing?

[2017-01-18 10:20] whitequark commented on #160
@Evil-Spirit I would run some quick checks with shapes where one can calculate it by hand. I've done that in high school but has since forgot everything, hope you haven't..

[2017-01-18 12:44] whitequark opened #163 ""Show Degrees of Freedom" highlights should be drawn over the mesh"
Otherwise it is easy to miss some of them. I think both the cyan dot and the green point should be overlaid.

[2017-01-18 16:20] Evil-Spirit commented on #160
@whitequark, updated here

[2017-01-18 17:15] Evil-Spirit commented on #160
@whitequark, Now it is more useful
![2017-01-19 00 14 32](https://cloud.githubusercontent.com/assets/1980537/22074856/6487aa94-dddc-11e6-898e-c8dc8f275aa3.png)

[2017-01-19 08:57] whitequark commented on #160
Merged

[2017-01-19 08:57] #160 closed

[2017-01-19 09:00] wpwrak opened #164 "support reordering of groups"
When we have a group A and "child" groups B and C where B and C only depend on A (or things before A), then, in the group list, sequences A, B, C, and A, C, B both would satisfy the dependency requirements.

However, which sequence gets chosen depends on the order in which things were done during construction, and cannot be changed afterwards.

Since one may want to introduce a dependency/constrai

[2017-01-20 03:03] Evil-Spirit commented on #163
@whitequark, did you mean something like this?
![2017-01-20 10 02 25](https://cloud.githubusercontent.com/assets/1980537/22134164/a910f0aa-def7-11e6-937b-b0f1f1649936.png)

[2017-01-20 03:13] Evil-Spirit commented on #161
@whitequark, updated here

[2017-01-20 03:14] Evil-Spirit commented on #162
@whitequark, fixed here

[2017-01-20 11:25] whitequark commented on #163
@Evil-Spirit yes

[2017-01-20 11:46] whitequark commented on #163
Fixed in master

[2017-01-20 11:46] #163 closed

[2017-01-20 11:48] whitequark commented on #161
@Evil-Spirit But not the first bug, no?

[2017-01-20 11:50] Evil-Spirit commented on #161
@whitequark, not yet.

[2017-01-20 11:55] whitequark commented on #162
Merged in master, thanks

[2017-01-20 11:55] #162 closed

[2017-01-22 19:38] wpwrak opened #165 "make arc-center relation "explorable""
Now that we can follow the relation between items and constraints, it would be nice if one could do the same for arcs and their center point. (The same would apply for circles, and possibly other items with "special" points.)

Right now, the center point is shown in the text window just as "POINT", without indication that it is the center of an arc. It would be nice if one could 1) tell that it is

[2017-01-22 20:17] wpwrak commented on #165
I forget an even more common case: the endpoints of lines.

[2017-01-23 11:37] wpwrak opened #166 "refresh file from the CLI"
Scenario: part A is assembled from part B, and B in turn is assembled from part C, each in its own .slvs file.
After changing c.slvs, b.slvs has to be updated (loaded and saved) before the changes become visible in A.

Supposedly, resolving all such dependencies properly would require all of https://github.com/solvespace/solvespace/issues/80 i.e., a lot of work.

However, it would seem that, as a

[2017-01-23 17:43] Evil-Spirit commented on #165
@whitequark, implemented here

[2017-01-24 06:38] mdejean opened #167 "Can't make periodic cubic"
regression in [55ae10b](https://github.com/solvespace/solvespace/commit/55ae10b5b84ce51042ac9957cfbf01e70d48c952). you're supposed to be able to click again on the first point of a cubic to make a periodic cubic ([HitTestMakeSelection allows this](https://github.com/solvespace/solvespace/blob/55ae10b5b84ce51042ac9957cfbf01e70d48c952/src/draw.cpp#L402)), but [this](https://github.com/solvespace/sol

[2017-01-24 16:58] Evil-Spirit commented on #167
@whitequark, fixed here.

[2017-01-24 17:29] wpwrak opened #170 "export-mesh issues cause assertion failure"
Trying to "solvespace-cli export-mesh" an-top.slvs as of
https://gitlab.com/anelok/mexp/commit/1cf3d328df77497d4b42a87b494eba6533d139c1

Produces a number of complaints about the mesh (expected), then an abort, apparently as a result of the reporting, not mesh generation itself:

solvespace-cli export-mesh an-top.slvs -o an-top.stl
Missing (absent) translation for group-name'#references'
Missing (

[2017-01-24 19:13] whitequark commented on #167
Actually, I can't seem to be able to reproduce the bug.
  * Select "Sketch → Bezier Cubic Spline"
  * Place a 1st point
  * Place a 2nd point
  * Place a 3rd point
  * Click the 1st point again
... creates a periodic cubic for me here.

[2017-01-24 19:31] mdejean commented on #167
Ah, yeah. [this](https://github.com/solvespace/solvespace/commit/55ae10b5b84ce51042ac9957cfbf01e70d48c952#diff-f43ee4b722fdb04241093b055c6cb28dR1044) adds the cubic to pending.requests, but then immediately calls ClearSuper() which empties pending.requests, preventing the bug from appearing.

[2017-01-24 20:02] whitequark commented on #166
Done in master, command "regenerate".

[2017-01-24 20:02] #166 closed

[2017-01-24 20:06] whitequark commented on #170
This is not "really" a bug in the sense that I'm aware of this behavior, most of SolveSpace's codebase is just not adjusted for CLI yet.

For now I suggest not exporting invalid meshes, since they're likely to cause bugs in the slicer anyhow :)

[2017-01-24 20:32] whitequark commented on #167
Fix merged in master.

[2017-01-24 20:32] #167 closed

[2017-01-25 00:41] whitequark opened #171 "coincident edges result in NURBS failure"
Open [bug.zip](https://github.com/solvespace/solvespace/files/728328/bug.zip). This file, extracted as an example, shows an instance of a very pervasive NURBS issue: performing an union or a difference with surfaces that have coincident edges, but do not have Bezier control points in exactly the same place in both edges, result in a failure.

@Evil-Spirit do you have any idea, at least, why this h

[2017-01-25 03:16] Evil-Spirit commented on #171
@whitequark,
The reason can be is SBezier::Equals. When we have found exact intersecton of cylindrical surface and top cap of different bodies, we are adding this as intesection curve (AddExactIntersectionCurve). While we process it, we are trying to find some identical curve, but comparation is performed only for contorl points, not like integrated length of the difference of the radius-vectors:

[2017-01-25 03:44] whitequark commented on #171
@Evil-Spirit can you fix this?

[2017-01-25 04:10] Evil-Spirit commented on #171
@whitequark, I can try figure out possibility of the fixing.

[2017-01-25 04:15] whitequark commented on #171
@Evil-Spirit please do.

[2017-01-25 04:17] Evil-Spirit commented on #171
@whitequark, OK

[2017-01-25 16:28] Evil-Spirit opened #172 "constraints with parameter don't working for solver library"
### Expected behavior

Param should be generated and stored inside Constraint just like for Entity.

### Actual behavior

Param for Constraint is generated just for SolveSpace and no any way to specify it inside solver library

[2017-01-25 16:43] Evil-Spirit commented on #172
@whitequark, look here

[2017-01-26 17:48] whitequark commented on #161
@Evil-Spirit Another bug with dragging:
open [bug2.zip](https://github.com/solvespace/solvespace/files/733080/bug2.zip) select g00a then try to drag the circle around by its center. This worked exactly once for me, and then stopped.

[2017-01-27 02:37] Evil-Spirit commented on #161
@whitequark, Somehow I can't open this file (packed filesize is zero). Could you reattach please?

[2017-01-28 10:23] Leichtbier opened #173 "select underlying line segement"
### System information

SolveSpace version: 2.3~7c1ca460

Operating system: Win10

I'm not able to select the underlying line segement if two line segemnts are upon each other.
I can not hide the first selection to select the underlying line segement. I'm not able to select both to choose. The only way is to search the list "requests in group". Is there are an other way to select an underlying lin

[2017-01-28 16:47] wpwrak opened #174 "if a constraint is selected, prioritize it for starting a drag"
Lately, I'm having a lot of difficulties dragging distances. Selecting them is fine. I'm not entirely sure if it's because I unlearned some movement that happens to work better, or simply because my designs are getting more crowded.

When trying to drag a distance, I typically aim first for the text. If that doesn't work, I try to get the line(s) to the item being sized.

Perhaps the dragging func

[2017-01-28 16:57] wpwrak commented on #173
Now that we can select such things from the text window, perhaps a selection of multiple items could could make the items in question also selectable in the text window, with the option of de-selecting ? That way, an ambiguous selection could just select everything applicable, and the user could get rid of the undesired bits.

Another way for handling ambiguous selections that works quite nicely (

[2017-01-28 18:50] whitequark commented on #173
We even should already have the list of entities under cursor.

[2017-01-28 18:53] whitequark commented on #174
@wpwrak do you have any sketch where this is reproducible? Please also post a screenshot with position/zoom settings that reproduce the issue.

[2017-01-28 19:15] wpwrak commented on #174
Here is one:
http://downloads.qi-hardware.com/people/werner/slvs/drag-diam-hard.png
The cursor (alas, xwd can't show it) is over the center of the circle-with-slash. Pressing the left button and dragging does nothing.

The .slvs is simple enough:
http://downloads.qi-hardware.com/people/werner/slvs/drag-diam-hard.slvs

[2017-01-28 19:16] whitequark commented on #174
confirmed

[2017-01-28 20:05] wpwrak opened #175 "forcing NURBS to mesh causes "naked edges""
SolveSpace at commit d4b052d34d94a62d9a9921f9c7916c4821bb325a

The following design produces complaints about 864 naked edges, which makes SolveSpace very unhappy:
https://gitlab.com/anelok/mexp/raw/016367ea70960daac4d8bb94a5740d84a3f5e900/alt13/aaa-minus-weirdly-broken.slvs

I found that turning off NURBS to mesh in g00b-spring makes the naked edges go away.

Before I noticed that I had NURBS to

[2017-01-29 08:11] Evil-Spirit commented on #173
This even was already implemented as "select by order"

[2017-01-29 16:30] whitequark commented on #173
I'm not sure if that's the best UI really, compared to e.g. listing all entities in the text window. I'll need to think about it.

[2017-01-30 16:29] Evil-Spirit commented on #161
@whitequark,
I have thought a lot and perform some experiments.
There are seriuos issues with the current selection/hovering logic as it described in https://github.com/whitequark/solvespace/issues/213

1. We can't use isFromRequest criteria for prioritizing because we can (and want) drag non-request entities: extruded, step-n-tf, etc.
2. We should drag exactly what we are hovering (or exacly equa

[2017-01-31 06:30] wpwrak commented on #91
Especially the explanation would be very useful also for those "what just happened ?" moments.

E.g., working on a complex design, I often find that a constraint I try to apply seems to get ignored, e.g., because I accidently selected the wrong item. In such cases, I try undo and then do it again. But if my attempts keep getting ignored, I get nervous and quit, reverting to the last known to be go

[2017-01-31 06:33] whitequark commented on #91
@wpwrak I don't really see how this would help. Especially, it is not an improvement over, in your case, clicking on the constraint and seeing what exactly is it attached to--which I believe you can now do with the "explorability" patch.

[2017-01-31 07:06] wpwrak commented on #91
The explorability SolveSpace has at the moment is great, and I expect it to be even greater with Evil-Spirit's pending further enhancement, but the issue is often that I'm not sure if SolveSpace even performed the operation. I.e., sometimes there is no visual feedback, or maybe there is, but not where or how I expect it. So a quick way to check what happened last should be useful.

[2017-01-31 07:11] whitequark commented on #91
Ah--fair. That will indeed improve.

[2017-01-31 07:28] wpwrak opened #176 "placing points on lines in 3D makes them appear at strange places"
When placing a point on a line in 3D, it can appear at a different location than the one where I clicked. Here is an example showing a moderate displacement:
![point-in-3d-placement](https://cloud.githubusercontent.com/assets/1292352/22455681/edfe0bda-e76c-11e6-85b5-7561a6dabe03.png)

The model is
https://gitlab.com/anelok/mexp/raw/88480766568dc2ab7c00d2d0bea628c9895e554e/alt13/an-top.slvs

[2017-01-31 07:33] whitequark commented on #176
That's expected behavior, really, in any view that's not parallel to the line you're placing the point at.

[2017-01-31 07:42] wpwrak commented on #176
But why not place it where I asked, instead of making me search for where it may have ended up ? Especially if there are a lot of points (like in the example above), that can get quite tricky. Given that SolveSpace recognized the automatic point-on-line constraint, there is a valid position for that point in the immediate vicinity of the click location.

[2017-01-31 07:42] Evil-Spirit commented on #176
@whitequark, We need to implement ModifyToSatisfy for pt-on-line and call it when we are creating like for distances (since pt-on-line has hidden parameter which needs to be guessed when we just create constraint)

[2017-01-31 07:46] whitequark commented on #176
@Evil-Spirit ok

[2017-01-31 10:37] wpwrak opened #177 "naked edges vs. chord tolerance"
Given this design,
https://gitlab.com/anelok/mexp/raw/8951232e87fa6c7a8f2820436a2ae9c247dd26a6/alt13/an-top.slvs
all is well with chord tolerance 0.1.

However, if I reduce it to 0.05, suddenly naked edges appear:
![naked-low-tolerance](https://cloud.githubusercontent.com/assets/1292352/22461233/38fcf316-e787-11e6-9b72-a4699f29e710.png)

The history of plus-base is as follows: I first made sk-minu

[2017-01-31 23:13] kellpossible opened #178 "Project 2D sketch onto 3D surface"
I've an application where it is necessary to project a 2d sketch onto a 3d surface

[2017-01-31 23:30] whitequark commented on #178
Even if the projection operation itself would be implemented (and that's already a problem for the simple reason that we have a mesh backend alone), the resulting curves won't be analytic, and won't work with our constraint system, so that doesn't work.

[2017-01-31 23:30] #178 closed

[2017-02-01 01:35] whitequark opened #179 ""Unselect hovered" is broken"
It just never appears anymore.

[2017-02-01 13:41] kellpossible commented on #178
oh, nevermind I didn't realise this would be impossible due to fundamental limitations of the 3d implementation, thanks anyway. Surely some of the other CAD packages support analytic projected curves?

[2017-02-01 16:13] Evil-Spirit commented on #179
@whitequark, this works for me

[2017-02-01 23:00] Symbian9 opened #180 "nanovg (rendering lib)"
### Expected behavior
Antialiased canvas representation
* https://github.com/memononen/nanovg

### Actual behavior
For non-retina display current rendering engine not give antiallise

[2017-02-01 23:36] whitequark commented on #179
@Evil-Spirit Try this:
  1. New file
  2. Draw a rect
  3. Click on top line
  4. Hover over top line and right-click

[2017-02-01 23:37] whitequark commented on #179
@Evil-Spirit Oh... I've just realized "Unselect Hovered" doesn't appear unless more than one entity is selected. Nevermind.

cc @wpwrak

[2017-02-01 23:50] whitequark commented on #178
None come to mind, but I haven't worked a lot with the large commercial packages. In general this seems like a really hard problem to solve.

[2017-02-01 23:53] whitequark commented on #180
Your suggestions are really not helpful. Why do you think a proper solution to an issue with antialiasing is to completely replace our rendering backend? And moreover, the display scale factor makes absolutely no difference to the rendering pipeline--the platform-independent code is not even aware of this.

If you have a specific issue with antialiasing, you are welcome to post an issue that confi

[2017-02-01 23:53] #180 closed

[2017-02-01 23:54] wpwrak commented on #179
Hmm, but even if selecting two lines of the rect, I don't see any "Unselect Hovered", just "Unselect All":
![no-unselect-hovered](https://cloud.githubusercontent.com/assets/1292352/22531579/a452b44a-e8c0-11e6-803a-16e5de608cae.png)

[2017-02-01 23:57] whitequark commented on #179
@wpwrak Are you really hovering the top line? The menu seems quite far from it.

[2017-02-02 01:07] wpwrak commented on #179
Yes, the line pales with fear as the mouse pointer approaches. Alas, it turns regular red again when right-clicking, so one can't see that in the screenshot.

By the way, for this type of debugging, it may be useful to have an option somewhere (could be on the command line), to make SolveSpace draw a cursor (maybe X-shaped), so that it is included in the screenshot.

[2017-02-02 01:13] whitequark commented on #179
This is really the responsibility of your screenshot program. Both GNOME and KDE provide such an option, for one.

[2017-02-02 01:31] wpwrak commented on #179
Sigh, all that modernism (using xwd here) ... here we have one with cursor, courtesy of "screengrab":
![no-unselect-hovered-cursor](https://cloud.githubusercontent.com/assets/1292352/22533553/87bbee84-e8cd-11e6-9ca9-4ee635812ff5.png)

[2017-02-02 03:50] Evil-Spirit commented on #176
@whitequark, update here

[2017-02-02 10:00] Evil-Spirit commented on #178
@kellpossible, Any CAD can't handle analytical NURBS intesection. NURBS is an illusion of exact representation, math guys can't solve NURBS surface intersection in analytically-exact way. So we have just use numeric approximation.

[2017-02-02 12:32] kellpossible commented on #178
@Evil-Spirit and yet we would say that NURBS itself is analytic? And the curves themselves are analytic. Perhaps there would be a way to define the intersection path as a function of the two, and evaluate it numerically to get an adaptive analytic approximation of the result?

[2017-02-02 12:34] kellpossible commented on #178
@whitequark it seems so, I'll have a google around to see if there's any good papers on the subject. perhaps room for new research? wish I was better at maths

[2017-02-02 14:10] virtualritz opened #181 "Linking latest master fails on macOS"
[code]

[2017-02-02 14:47] wpwrak commented on #165
Thanks ! Here's a fix for a little typo:
https://github.com/wpwrak/solvespace/commit/782a5bbbe61c0a1e5326d55218de33e6a7682f26

I also found this extra semicolon, which already existed before #165. I'm not sure if this is a safe change, though, or if something may depend on that typo:
https://github.com/wpwrak/solvespace/commit/a77cedbfd8dedd147fb59ebf9af936f4259ff31b

[2017-02-02 14:55] Evil-Spirit commented on #165
@wpwrak, thank you :) We've found this semicolon a long time ago, but I forgot to fix it.

[2017-02-02 15:02] Evil-Spirit commented on #178
@kellpossible, It is common to use rational cubic bezier for both surface and cure representation, and yes, for this case all is analytical and exact. But when we are projecting cubic curve onto cubic surface, we can't get cubic curves anymore. This is the first. The second... We can't even found this intersection in analytical form. But if you doesn't mean cubic on cubic but just project anything

[2017-02-02 15:12] wpwrak opened #182 "undo deletion leads to alarming complaints"
I have a design where trying to undo a deletion causes an alarming complaint about redundant constraints. It <I>seems</I> that there is no real problem in the end, but it's still unsettling.

Unfortunately, this is a complex scenario. It is based on
https://gitlab.com/anelok/mexp.git
as of commit 7c1ff0aa55dbacc7cdede37aa8b24a1faf9a74a5 (master).

To reproduce,
1) open alt13/an-top.slvs
2) activat

[2017-02-02 16:04] Evil-Spirit commented on #177
@wpwrak, I have cloned your repo and switched out this revision. But I can't reproduce this. I have no problem for export chord tolerances: 0.1, 0.05, 0.01. Can you switch and check again? Also, what SolveSpace  revision do you have?

[2017-02-02 16:31] wpwrak opened #183 ""make clean" removes res/locales/*"
When running "make clean" in build/, the
cd .../build/src && /usr/bin/cmake -P CMakeFiles/solvespace-translations.dir/cmake_clean.cmake
step removes the .po files under res/locales (which are sources, originating from the git repo)

A subsequent "make" then fails.

[2017-02-02 16:51] wpwrak commented on #177
I'm running a mix of master plus some cherry-picked changes, but I can also make it happen with solvespace/solvespace master (279424)
Build options:
cmake .. -DENABLE_TESTS=OFF -DCMAKE_BUILD_TYPE=Release
(but it also happens with just cmake .. -DENABLE_TESTS=OFF)

[2017-02-02 17:46] whitequark commented on #181
please `make clean` then build again

[2017-02-02 18:09] whitequark commented on #183
Fixed in master.

[2017-02-02 18:09] #183 closed

[2017-02-02 19:25] wpwrak commented on #165
By the way, along the lines of explorability, how about something like this ? https://github.com/wpwrak/solvespace/commit/41e55b3d79f7d2df61fb9db0b494ff09a37d6add
(My ultimate goal in this quest of mine is to be able to perform the deletion in #182 without losing any groups, and this should bring me a little closer to being able to rearrange the dependencies.)

[2017-02-02 23:30] GerhardPaulus opened #184 "problem with text input field on Arch Linux"
solvespace on Arch Linux (both current) :

text input field in GraphicsWindow and TextWindow gets black transparent background, as soon as you start to type. Editing is effectively black on black.

The simplest workaround I found is commenting out the line in src/platform/gtkmain.cpp where the frame of Gtk::Entry is removed.

class EditorOverlay : public Gtk::Fixed {
public:
    EditorOverlay(Gtk:

[2017-02-02 23:49] kellpossible commented on #178
@Evil-Spirit
I was thinking something more like this, where you project a curve onto another curved object with a plane of projection:
![curveprojection1](https://cloud.githubusercontent.com/assets/4527338/22573440/14bb60dc-e9fd-11e6-9cbd-db5bc457ebab.png)
![curveprojection2](https://cloud.githubusercontent.com/assets/4527338/22573465/2fcc7b7c-e9fd-11e6-9e82-ec69ab8d2eb3.png)

projected_curve = fu

[2017-02-03 00:27] wpwrak opened #186 "slightly shifting an assembly causes excessive computation"
Using SolveSpace master at 4465bc02, built with "cmake .. -DCMAKE_BUILD_TYPE=Release"

I originally observed this with a version where I had cherry-picked 9cf1a09b and a5ffd9d1 from https://github.com/whitequark/solvespace/issues/147 but the same problem also occurs in the "plain vanilla" version above.

It's the usual model, alt13/an-top.slvs from https://gitlab.com/anelok/mexp.git
this time at c

[2017-02-03 03:09] Evil-Spirit commented on #178
@kellpossible, Yes, this is how this problem solved in other CADs - compute approximation numerically and try to interpolate it using bezier curves.

[2017-02-03 08:47] Evil-Spirit commented on #186
@wpwrak, Can you try with this: https://github.com/Evil-Spirit/solvespace-master/commit/a5ffd9d182360e1be904aa35e2f9eb331783b211 https://github.com/Evil-Spirit/solvespace-master/commit/9cf1a09bcdaa5a2bc99400d368dc1a8f43996e1d

[2017-02-03 08:51] Evil-Spirit commented on #186
@wpwrak, oh, sorry, you already try it

[2017-02-03 08:52] Evil-Spirit commented on #186
@wpwrak, you can also try to switch off edges completely. This can improve performance.

[2017-02-03 08:58] whitequark commented on #186
@Evil-Spirit this is nonsense, edges should not get generated for 285 minutes.

[2017-02-03 10:57] wpwrak commented on #186
I stopped it at  704 CPU-minutes. Virtual size has been growing at about 12 kB/s over the last nine hours.

Now I built it with -DCMAKE_BUILD_TYPE=Debug
Set "Hide shaded view of solid model" and "Hide edges of solid model" and repeated the experiment:

- g027-an-screw-placement -> 33 s (DIRTY took 7926 ms)

- g028-sk-boss -> 78 s (DIRTY took 43583 ms)

- activate g029-boss (or maybe it started cal

[2017-02-03 10:59] whitequark commented on #186
@wpwrak please never post bare backtraces like this bare in github. Either surround them with ``` ``` or add a hastebin link. When you post a comment containing #1, #2, ..., GitHub back-links these issues to the current one, which is just annoying noise.

I've edited your comment for now (which unfortunately won't fix that).

[2017-02-03 11:22] Evil-Spirit commented on #186
@wpwrak, @whitequark may be this takes more when autosave period and this is stuck in autosave-regen-autosave-regen infinite loop...

[2017-02-03 11:23] whitequark commented on #186
@Evil-Spirit well 60 seconds is too much too.

[2017-02-03 11:24] Evil-Spirit commented on #186
@whitequark, to much but finite. just switching off edges can improve this

[2017-02-03 11:24] whitequark commented on #186
@Evil-Spirit doesn't matter that it's finite. it's unusable. why is it so slow exactly?

[2017-02-03 11:44] whitequark opened #187 "Exported DXF files are unreadable by QCad, A360, DraftSight"
See this thread: http://solvespace.com/forum.pl?action=viewthread&parent=1741.
I suspect 99d6f1f is the cause but don't understand why.

[2017-02-03 14:01] Evil-Spirit commented on #186
@whitequark, this is because of SnapToMesh. This function performs edges splitting by vetices (this is probably for correct working of MakeCertainEdgesInto and so on). So, this function somehow perform extra subdivision and probably goes into infinite loop or just getting some big number of triangles and just calculate it very long time. Each group increases the triangles count.
[code]

[2017-02-03 14:07] whitequark commented on #186
@evil-spirit thanks. What is the root cause of that?

[2017-02-03 14:09] Evil-Spirit commented on #186
@whitequark, I don't know at the moment, but I am going to export mesh for each group and look at this in some 3d editor to figure out what's went wrong way.

[2017-02-03 15:00] wpwrak commented on #186
@whitequark: I see what you mean (stack trace). Sorry about that.

Meanwhile, at 247 CPU-minutes, SolveSpace still seems to be stuck at the same point.
https://0bin.net/paste/pJmXSYbruVlfKyW0#p7fmjZjIi1TIE7QEQkfM78E53g7eeVi1AWlORlvzt92
Note that it didn't print anything on the console since the first interruption.

With this model, delays after operations in 3D are now normally in the order of may

[2017-02-04 11:05] Evil-Spirit commented on #186
@wpwrak, @whitequark updated here.
The problem was in zero-area triangles whrere vertex "a" lays on the edge "bc". When two such triangles overlaps in some especial way, this causes generation of a big number of the same triangles wich generate more the same... Howerver, this is not reason for infinite loops but just for fast growing or triangles count because  SKdNode::SnapToMesh not adding new s

[2017-02-04 11:31] Evil-Spirit commented on #177
@wpwrak, I still can't reproduce. Can you attach exported STL file?

[2017-02-04 13:24] wpwrak commented on #186
@Evil-Spirit: you rock ! It works great, also for a similar change I made for the other battery contact. Thanks a lot !

[2017-02-04 14:07] Leichtbier opened #188 "Exported DXF files are not readable for RDWorks"
Since SolveSpace 2.1 I'm no longer able to use the exported DXF files with RDWorks (a software for my laser cutter).

You can get the software here:
[http://www.thunderlaser.com/download/down/RDWorksV8.rar](url)

I had the same problem with inkscape, but that seems to be fixed. My current workaround is to save as svg and than convert to dxf.
Solvespace is a realy nice programm fore laser cutting a

[2017-02-04 15:04] wpwrak commented on #177
Alright, here is the setup:
-  solvespace/solvespace master at 4465bc0270ee185e5029ecacfe27665fa7fe5ab0
-  cmake .. -DCMAKE_BUILD_TYPE=Release
-  anelok/mexp at 8951232

SolveSpace configuration:
-  chord tolerance 0.10% / 0.10 mm
-  max piecewise linear segments 100
-  export chord tolerance 0.10
-  export max piecewise 64

First test:
-  Analyze > Show Naked Edges: all is well
-  Export Triangle

[2017-02-04 15:28] wpwrak commented on #177
@Evil-Spirit: by the way, with the version I use for actual work, which is a mix of master, DISPLAY_TEXTWND, your two performance enhancements, the #186 fix, and explorability enhancements, I get only 11 naked edges:
![177-05-mishmash](https://cloud.githubusercontent.com/assets/1292352/22619552/5fb0f98e-ead5-11e6-855b-f713e17e3daf.png)

The resulting STL:
http://downloads.qi-hardware.com/people/we

[2017-02-04 15:34] Evil-Spirit commented on #177
@wpwrak, thank you, I will try to figure out what happens.

[2017-02-04 16:50] Evil-Spirit commented on #187
@whitequark, may be this can help... https://github.com/Evil-Spirit/libdxfrw/commit/f3f38c723d1e333e871b5f1a7360a26aa41f81ec

[2017-02-04 16:51] Evil-Spirit commented on #188
@Leichtbier, I have tried this and have no problem to import dxf in RDWorks.
But with Inkspace still the trouble... You can also look here https://github.com/solvespace/solvespace/issues/187

[2017-02-04 16:51] Evil-Spirit commented on #188
@Leichtbier, can you attach slvs example and way to reproduce bug?

[2017-02-04 16:53] Evil-Spirit commented on #188
![2017-02-04 23 53 10](https://cloud.githubusercontent.com/assets/1980537/22620022/249a313e-eb35-11e6-8a55-7b635a53806c.png)

[2017-02-04 16:55] Evil-Spirit commented on #187
@whitequark, with inkscape still the problem.. I can't find where dxf import source of inkscape. This can help.

[2017-02-04 17:26] whitequark commented on #187
@Evil-Spirit It's a bunch of disgusting Python code here: https://github.com/inkscape/inkscape/blob/bzr-original/share/extensions/dxf_input.py

[2017-02-05 08:28] Evil-Spirit commented on #177
@wpwrak, can you try this? https://github.com/Evil-Spirit/solvespace-master/commit/51616bc339d4a980dc2ae73c8a140be0fdefdcc0

[2017-02-05 09:22] whitequark commented on #186
Merged in master.

[2017-02-05 09:22] #186 closed

[2017-02-05 09:43] whitequark commented on #187
@Evil-Spirit I merged your fix, except I don't mark the POLYLINE as 3d if every point has Z exactly at zero. This still doesn't work with Inkscape, probably because its DXF import is badly written. We have SVG export anyway, so I don't consider this a priority.

[2017-02-05 10:07] Evil-Spirit commented on #186
What about the last commit? This also improves.

[2017-02-05 10:08] whitequark commented on #186
It's for a different issue. And I'm not convinced it's the correct way, yet.

[2017-02-05 10:12] whitequark commented on #184
@GerhardPaulus Unfortunately `set_has_frame(true)` screws up positioning.

The correct patch should be somewhere along these lines:
[code]
... but unfortunately, because GTK 3 is a pile of crap, this doesn't do anything and I couldn't permute it to make it work. If you feel adventurous you can fix this, otherwise I am not going to waste any more time fighting GTK.

[2017-02-05 10:14] whitequark commented on #176
Depends on #172

[2017-02-05 10:17] whitequark commented on #175
Triage: still an issue after baf9dc0aae573f017b8477e5d438665e90e2d5ae, although I get many fewer problematic edges (different chord tolerance?).

[2017-02-05 11:23] Leichtbier opened #189 "1:1 on screen"
In the 3d view parameters is the parameter 'overall scale factor'. It could be handy to have also an additional default parameter for this parameter combined with a shortcut key to set the overall scale factor to this default value. Than you can adjust your default parameter so the scale on your screen is 1:1. Furthermore the unit for 'overall scale factor' could than be percent.

[2017-02-05 11:32] whitequark commented on #189
You can already get 1:1 scale on screen by pressing the "set to full scale" link on the view properties. I don't think this is an operation common enough to warrant a shortcut, seeing as we're short on those already.

[2017-02-05 11:32] #189 closed

[2017-02-05 12:16] Leichtbier commented on #189
In Inkscape you press '1' and you get a scale of 100%. In solvespace you have no echo of your current scale factor until you are in the '3d view parameters'.

[2017-02-05 12:27] whitequark commented on #189
Sure. I just don't see why is this such a common need as to warrant a shortcut.

[2017-02-05 13:40] whitequark commented on #187
This fixed DraftSight and QCad, so I believe that's the root cause. Let's backport this to 2.x...

[2017-02-06 07:10] Evil-Spirit commented on #172
@whitequark, updated here

[2017-02-06 07:11] Evil-Spirit commented on #176
@whitequark, also here

[2017-02-06 07:19] Evil-Spirit commented on #176
@whitequark, sorry, not working here. wait.

[2017-02-06 07:26] Evil-Spirit commented on #176
@whitequark, ready here

[2017-02-06 07:45] holocronweaver opened #190 "libgtkmm-3.0-dev dependency"
When building on Ubuntu 16.04, in addition to the dependency packages listed on the README, I also needed `libgtkmm-3.0-dev` to satisfy CMake. Probably should add it to the list?

[2017-02-06 07:51] holocronweaver opened #191 "undefined symbol: g_simple_io_stream_get_type"
### System information

SolveSpace version: master branch, commit 4260be2445

Operating system: Ubuntu 16.04 x64

### Expected behavior

What should have happened?

On a fresh build,

`cd solvespace/build;
./bin/solvespace`

Program should run.

### Actual behavior

What actually happened?

An error message:

[code]

[2017-02-06 08:38] whitequark commented on #187
Apparently still some problems in QCad... http://solvespace.com/forum.pl?action=viewthread&parent=1741

[2017-02-06 08:48] Evil-Spirit commented on #187
@whitequark, I can't reproduce it for QCad. Probably, not the same version or somthing else. I have BircsCAD, NanoCAD, DWG TrueView, LibreCAD, QCad, Inkspace installed and perform testing with them...

[2017-02-06 08:50] whitequark commented on #187
@Evil-Spirit Can you confirm that export works properly with everything except Inkscape??

[2017-02-06 08:53] Evil-Spirit commented on #187
@whitequark, OK I am testing with the last master now... Wait 10 minutes.

[2017-02-06 09:06] Evil-Spirit commented on #187
@whitequark, All is working except Inkscape.
`1 ENTITIES of type POLYLINE encountered and ignored. Please try to convert to Release 13 format using QCad.`

[2017-02-06 09:14] whitequark commented on #187
Which version of QCad are you using?

[2017-02-06 09:15] Evil-Spirit commented on #187
@whitequark, 3.13 free version

[2017-02-06 09:16] Evil-Spirit commented on #187
@whitequark, may be I should try install commercial trial...

[2017-02-06 09:25] whitequark commented on #187
@Evil-Spirit in Qcad 3.16.4 (trial) actually I don't get a rectangle at all.

[2017-02-06 09:27] Evil-Spirit commented on #187
@whitequark, I have no this problem in windows. Can you attach dxf?

[2017-02-06 09:32] Evil-Spirit commented on #187
![2017-02-06 16 31 39](https://cloud.githubusercontent.com/assets/1980537/22641561/d337a1cc-ec89-11e6-89d2-9574d31c39df.png)

[2017-02-06 09:48] whitequark commented on #187
@Evil-Spirit Oh, interesting. I found that Qcad misreads SolveSpace's DXF files, but *only* when the paid addon is activated.

As for a file, just draw a single rectangle, that was enough to me.

[2017-02-06 10:13] Evil-Spirit commented on #187
@whitequark, So you are meaning what this can be just QCad bug?

[2017-02-06 10:16] whitequark commented on #187
Maybe... Teigha is produced by ODA, which includes Autodesk. Can you try https://www.opendesign.com/guestfiles/TeighaFileConverter ?

[2017-02-06 10:18] Evil-Spirit commented on #187
Teigha is used by BricsCAD and nanoCAD. They are open files smoothly...

[2017-02-06 10:19] whitequark commented on #190
Um.
![screenshot_20170206_101944](https://cloud.githubusercontent.com/assets/54771/22643312/cca28f18-ec55-11e6-90fe-cb2f59cc1133.png)

[2017-02-06 10:20] #190 closed

[2017-02-06 10:20] whitequark commented on #187
OK, then it's a QCad bug.

[2017-02-06 10:20] #187 closed

[2017-02-06 10:26] holocronweaver commented on #190
Ah, it wasn't caught in my c/p. My bad.

[2017-02-06 10:31] whitequark commented on #191
This is *definitely* something up with your system. Is it fully upgraded? Are there no APT conflicts?

I've just did a fresh build with 16.04 to confirm and it indeed works.

[2017-02-06 10:34] #142 closed

[2017-02-06 10:40] holocronweaver commented on #191
Reinstalled the library and now solvespace runs fine. No APT conflicts detected though, not sure how it got overwritten.

[2017-02-06 10:40] #191 closed

[2017-02-06 10:53] whitequark commented on #191
I believe Anaconda specifically avoids altering LD_LIBRARY_PATH because of this problem. Not sure what happened.

[2017-02-06 11:40] whitequark commented on #182
@Evil-Spirit Looks like replacing

    SS.GenerateAll(SolveSpaceUI::Generate::ALL);

with

    SS.GenerateAll(SolveSpaceUI::Generate::REGEN);

fixes NG groups *after* the active one but breaks a group *before* the active one instead.

[2017-02-06 12:30] Evil-Spirit commented on #182
@whitequark, hm.. strange behaviour.

[2017-02-06 14:21] whitequark commented on #172
Fixed in master.

[2017-02-06 14:21] #172 closed

[2017-02-06 14:21] whitequark commented on #176
Fixed in master.

[2017-02-06 14:21] #176 closed

[2017-02-06 14:27] whitequark commented on #148
I've figured out the problem. It has nothing to do with invalidation. Rather, it is because of ScheduleGenerateAll that never actually performs the generation if the queue is full of mouse move events (at least on Linux).

[2017-02-06 14:30] Evil-Spirit commented on #148
@whitequark, Good. So how to fix this?

[2017-02-06 14:32] whitequark commented on #148
@Evil-Spirit Not sure. Maybe we need to rewrite the message handling loop on Linux to make it look like it does on Windows.

[2017-02-06 15:20] whitequark commented on #140
Done.

[2017-02-06 15:20] #140 closed

[2017-02-07 01:35] holocronweaver commented on #191
This was bugging me because Anaconda has done this to me before. Found the issue in the solvespace binary rpath:
[code]
What remains a mystery is why CMake is picking up the path. I am not sure how CMake even knows of the path's existence besides $PATH containing `anaconda/bin`.

[2017-02-08 07:53] wpwrak opened #192 "custom style on comment causes occlusion"
solvespace master (1871efa), plus local changes (non-interfering)

Comments are normally not occluded by solids. However, if setting a custom style, they are - and you can't even turn it off.

Reproduce:
- create rectangular solid: File > New, R, extrude
- add comment somewhere in space
- rotate things and observe that the comment is always visible, also when behind the solid
- select comment and

[2017-02-08 08:06] whitequark commented on #192
This is a regression in 3.0; 2.x used to draw comments, even with custom style, over all other geometry.

[2017-02-08 14:27] whitequark commented on #148
Fixed in master.

[2017-02-08 14:27] #148 closed

[2017-02-08 16:03] wpwrak opened #193 "switch to "Anywhere in 3d" can cause confusion"
SolveSpace sometimes unexpectedly switches from "In Workplane" to "Anywhere in 3d". This can cause user-machine coordination issues, similar to the "autopilot disconnected but the pilots didn't notice" kind of problems in aviation.

This can often be detected early when SolveSpace complains about the lack of a workplane when trying to set a H or V constraint, but sometimes the transition can go un

[2017-02-08 16:11] whitequark commented on #193
The "unexpectedly" part is not actionable without a way to reproduce. In general SolveSpace switches to the free in 3d mode by itself in one case: when there isn't a workplane available.

[2017-02-08 16:53] wpwrak commented on #193
Okay, I found one case where this happens: I have a sketch without issues (that I know of). In this sketch there is an arc with both endpoints fixed. I set the center with a point-to-point coincidence, which over-constrains the sketch and I get an error. At this point I'm still in the workplane.

Now I undo. After the undo, I'm in 3D.

There must be some additional condition to make this happen, s

[2017-02-08 17:00] wpwrak commented on #193
The plot thickens: the "undo" also changed the group (from g01f-sk-minus-base waaay out to g02d-balance). No surprise it doesn't find my old workplane there. The group change may in turn have been caused by reporting a transient SOLVE FAILURE of the #182 type.

[2017-02-08 17:06] whitequark commented on #193
Yes, that seems likely.

[2017-02-08 17:07] whitequark commented on #193
What are the exact steps to reproduce?

[2017-02-08 17:24] wpwrak commented on #193
I put a snapshot where I stopped editing at the right moment into
https://gitlab.com/anelok/mexp.git at ebb4a394 (branch "193")

- solvespace alt13/an-top.slvs
- select g01f-sk-minus-base
- activate sk-minus-base workplane
- find r0b7-arc-of-circle (selected in picture)
- make center coincide (O) with "center of everything" (seleced in picture)
![193-the-beginning](https://cloud.githubusercontent.

[2017-02-08 18:01] whitequark commented on #193
Can you try this patch?
[code]

[2017-02-08 18:14] wpwrak commented on #193
Seems to have no effect. I.e., sk-minus-base is still the active group after the "undo" and #182.

[2017-02-08 18:17] whitequark commented on #193
Sorry, incomplete patch.
[code]

[2017-02-08 19:00] wpwrak commented on #193
Now it works, thanks ! However, it makes #182 also a little weirder:

Activating the problem group (g02d-balance here) also clears the transient errors of #182 (all of them in this case, though I don't know if this would always be the reason). So the poor user gets teleported to another group for no apparent reason, i.e., there is no error page or any other indication anymore.

Upon returning to s

[2017-02-08 20:34] wpwrak opened #194 "Show degrees of freedom for normals and circle radius"
It seems that Analyze > Show Degrees of Freedom never shows DOF indications (large cyan squares) when analyzing a group that contains (only) an assembly.

Some examples, all with master (e2efefeb) of the usual suspect, https://gitlab.com/anelok/mexp.git

- alt13/an-cover.slvs, group g003-oled13 (1 DOF)
- alt13/an-side.slvs, group g003-an-cover (3 DOF)
- alt13/an-top.slvs, group g007-an-side (2 DOF

[2017-02-09 21:26] wpwrak commented on #103
The only reason I experienced so far for wanting to change the origin of a workplane was that I had picked a point at the wrong level for linear extruding. If two-sided extrusions would allow the user to place both end faces, not just one with the other inevitably being symmetrical to the workplane, extrusions would no longer have to begin at a workplane. Thus, the origin would be largely irreleva

[2017-02-10 14:08] wpwrak opened #195 "display exact circles/arcs whenever possible"
This is an enhancement request. Right now, arcs and circles (and maybe splines as well) are drawn with a relatively large chord tolerance, which often results in significant visual differences between the ideal arc and the polygon displayed.

Reducing the chord tolerance (for better accuracy) has a major computational impact and is therefore often not advisable.

These deviations cause numerous in

[2017-02-10 14:35] whitequark commented on #195
They are drawn with the chord tolerance that you've specified in settings, which is as small as you set it.

This doesn't make any sense. There is no graphical primitive for a circle or an arc in OpenGL, just triangles. Regardless of what you do, you *have* to choose some chord tolerance (perhaps corresponding to one pixel), and then convert a circle or an arc into piecewise linear representation.

[2017-02-10 15:08] wpwrak commented on #195
The problem with setting a significantly smaller chord tolerance is that SolveSpace becomes extremely slow, probably since the chord tolerance also affects mesh operations. I guess having separate chord tolerances for arcs display and meshes could accomplish what I'm after.

Please let me be clear about the objective: the principal issue is that sloppily drawn geometry causes the designer to devel

[2017-02-10 15:18] whitequark commented on #195
That's only useful in immediate mode, not when drawing in OpenGL 2.

[2017-02-10 15:18] whitequark commented on #195
More or less. Display lists specifically are useless but we have a similar data structure.

Yes. But the issue is that regenerating edges alone can be costly too.

[2017-02-10 15:33] Evil-Spirit commented on #195
@whitequark, @wpwrak We can easily make perfect primitives just using bezier representation and geometry shaders https://www.khronos.org/opengl/wiki/Geometry_Shader. But this require OpenGL 3.2.

[2017-02-10 15:34] whitequark commented on #195
I don't think OpenGL 3.2 is an option.

[2017-02-10 16:56] wpwrak opened #196 "deletion does not report point reuse"
When deleting items, there is no warning if this removes points directly (i.e., not through a constraint) referenced in later groups.

solvespacer master (f29d9d7)

- New
- draw a random line
- create new group with its workplane anchored at a point that's not on that line (e.g., the origin)
- draw a circle centered at one of the line's endpoints
- we now have one DOF
- go back to the first group

[2017-02-10 16:58] Evil-Spirit commented on #194
@wpwrak, an-cover.slvs is false dof reporting... i can't figure out why... but if you will remove all the groups but oled13, same orientation constrains only 2 dof instead of 3. but if you are create the empty file and apply same-orientation, it will constrain 3 dof as it should.

[2017-02-10 17:00] whitequark commented on #196
This is working as intended; solvespace explicitly ignores trivial constraints (generate.cpp:335) since otherwise deleting any request would result in the warning.

[2017-02-10 17:00] #196 closed

[2017-02-10 17:02] Evil-Spirit commented on #194
@wpwrak, @whitequark  now there are no visualization for normals (rotational dofs) and radius dofs. So, we have to draw them as something different than points...

[2017-02-10 17:03] whitequark commented on #194
@Evil-Spirit How about the same cyan line around the normal, or circle?

[2017-02-10 17:06] wpwrak commented on #194
@Evil-Spirit: I think I found it: if I delete the same-orientation constraint, switch to "Anywhere in 3d", and re-create it, I get DOF = 0. So the loose DOF was probably for real, caused by user error. Still, it should be reported.

[2017-02-10 17:40] Evil-Spirit commented on #194
The problem with assemblies is in fact what correspondent point doesn't exist. Imported group just generate some parameters for position and rotation quat which don't liked with any of the existent entities. So, there are nothing to visualize, we have to visualize it by different routine (per group) not inside point or any other entity.

[2017-02-10 17:40] wpwrak opened #197 "coexistence of "In Workplane" and "Anywhere in 3d""
It it possible to make the "Sketch" menu show that both "In Workplane" and "Anywhere in 3d" are selected. Schroedinger would approve :-)

![schroedingers-workplane](https://cloud.githubusercontent.com/assets/1292352/22837180/325047a6-ef9e-11e6-9aa5-b8b5372a4885.png)

I've seen this on several occasions. Here is a somewhat circuitous way to reproduce it. I'm still looking for a simpler one.

solves

[2017-02-10 17:49] wpwrak opened #198 "neither "In Workplane" nor "Anywhere in 3d""
#197 has a nihilistic counterpart that is easier to reproduce:

- New
- assemble oled13.slvs (probably works with any assembly)
- select Sketch > In Workplane (which is already marked as selected)
- click away the complaint
- open Sketch > and behold ...

![nihilistic-workplane](https://cloud.githubusercontent.com/assets/1292352/22837567/ffe98fbe-ef9f-11e6-92ec-02da3b3af686.png)

[2017-02-10 18:03] wpwrak opened #199 "same orientation constrains two DOF when in workplane"
According to @whitequark same-orientation has no "In Workplane" variant. SolveSpace thinks it does:

Same setup as #197.

- New
- assemble oled13.slvs
- select #XY and Sketch > In Workplane
- notice that we have 6 DOF
- rotate up a little until a downward-pointing normal appears
- select that normal and the Z+ normal of the coordinate system
- same-orientation (X)
- we now have 4 DOF

![same-orien

[2017-02-10 18:13] wpwrak commented on #197
Here is a shorter sequence:

- New
- assemble oled13.slvs (probably works with anything)
- Sketch -> Anywhere in 3d
- Sketch -> In Workplane
- click away the complaint
- Sketch > ... and there it is again

Note that, if we leave out the assembly step, we just get "In Workplane", as expected.

[2017-02-10 18:58] whitequark commented on #194
@Evil-Spirit OK, then let's postpone it until we get rid of assembly groups (and just have assembly entity, maybe...)

[2017-02-12 14:12] whitequark commented on #198
Same underlying issue as #197.

[2017-02-12 14:12] #198 closed

[2017-02-12 14:13] whitequark commented on #199
@Evil-Spirit What's up with it? Reading the code I don't think the same-orientation constraint should be workplane-dependent, where am I wrong?

[2017-02-12 14:14] whitequark commented on #188
@Leichtbier ping?

[2017-02-12 14:14] whitequark commented on #181
@virtualritz ping?

[2017-02-12 14:28] Leichtbier commented on #188
Pong ^^ I've tryed it yesterday with the newest version of RDWorks and now it works again. Thank you for soliving my problem.

[2017-02-12 14:45] #188 closed

[2017-02-12 21:39] wpwrak opened #202 "why does lathe produce three DOF ?"
"New group rotating active sketch" aka "lathe" produces a group with three DOF. I tried to pull and twist, but nothing seems to be willing to move. So what are these three DOF ?

I asked @whitequark on #solvespace, and they didn't have an answer either.

[2017-02-12 21:46] whitequark commented on #202
@Evil-Spirit any ideas?

[2017-02-13 06:08] Evil-Spirit commented on #202
@whitequark revolution axis direction parameters is created when generating lathe group... I probably made this like it was made for extrusion group but now it is obvious what this is not the right solution because we can't drive some parameters of the previous group...

[2017-02-13 06:09] Evil-Spirit commented on #202
@whitequark, This is probably bug, so we have to remake this in correct way.

[2017-02-13 06:22] Evil-Spirit commented on #199
@whitequark, When we are trying to get NormalGetExprs which is using during builing equations for same orientation, it returns projected equations when in workplane. I don't know how we should do in this case. Probably, we should restrict using pure 3d constraints when operating in workplane,, but this is not good for backward compatibility

[2017-02-13 07:19] whitequark commented on #199
@jwesthues Is the same orientation constraint intended to produce different equations when in workplane? Or is that an accident?

[2017-02-13 13:39] jwesthues commented on #199
Not intentional, and I can't repro in 2.0. `NormalGetExprs` didn't used to return projected normals, and that wouldn't make a lot of sense. Are you sure the difference isn't the condition in [`AddEq()`](https://github.com/solvespace/solvespace/blame/e6ed36f739eaa29b827c9bc20d4434d5aa85ac59/src/constrainteq.cpp#L193), invoked from [here](https://github.com/solvespace/solvespace/blame/e6ed36f739eaa2

[2017-02-13 14:51] Evil-Spirit commented on #199
@jwesthues, yes, you are right. This is because AddEq()

[2017-02-13 17:04] Evil-Spirit commented on #202
@whitequark, fixed here

[2017-02-13 17:37] jwesthues commented on #199
@Evil-Spirit The geometrically obvious thing, constrain the projection of the point into the workplane to lie on the projection of the line into the workplane. That's what it did before.

Also, this has nothing to do with whether the entities are in 2d or 3d. This relates only to whether the constraint is projected into a workplane. You can sketch a line in workplane A, a point in workplane B, and

[2017-02-14 04:01] Evil-Spirit commented on #199
@jwesthues, Then it is ok, because pt-on-line work using:

[code]
So, we have projected version of line and points:
[code]

[2017-02-14 04:28] jwesthues commented on #199
Seems complicated. You can just use the same one equation as projected point-line-distance, with distance of zero.

[2017-02-14 04:55] Evil-Spirit commented on #199
@jwesthues, Then we will loose the direct parameter t and we can't do some ability to fix it (0.5=midpoint, any other cases also can be useful). This can be very useful when we are implement inequality (ranged constraints e.g. https://www.youtube.com/watch?v=u4dQ-eBAXx0).

[2017-02-14 05:15] jwesthues commented on #199
If you need t later, then you can calculate it from the point and line's endpoints. You need the extra parameter to write continuous equations for "parallel" or "point-on-line" in 3d, but not in 2d.

[2017-02-14 06:19] whitequark opened #203 "undefined behavior in solvespace-cli"
See http://solvespace.com/forum.pl?action=viewthread&parent=1768.

[2017-02-14 06:34] Evil-Spirit commented on #199
Now this is already introduced, so there is no any reasonable argument to remove it and then back again. Complicated equations is not problem. Equations can look like complicated and can work good because they produce perfect derivatives(but ugly equations), but also it can be simple and produce simple and fast derivatives but can cause serious issues when trying to converge (increase number of ne

[2017-02-14 06:45] Evil-Spirit commented on #199
@jwesthues, I also have some theroy about "transformation of dof": when we are constraining some of the dof, we have to express it directly by defining the new parameter. So, every time we take off some dof, we should introduce new parameters which directly express the resulting dofs and link them by equations with involved old parameters.

[2017-02-14 07:14] whitequark commented on #199
We haven't had a 3.0 release yet. We may break backwards compat still, for a really good reason.

[2017-02-14 08:06] Evil-Spirit commented on #199
@whitequark, We haven't break anything when equations was rewritten to use parameter, isn't it? For one more checkbox inside textwindow for pt-on-line we can allow showing value label and fixing param to specified value.

[2017-02-14 15:21] jwesthues commented on #199
This shouldn't affect backwards compatibility either way. It's a question of speed and stability.

Can you show an example where the extra parameter makes something work better in 2d? I'm open to the change, if there's a benefit that offsets the cost of the extra equation.

[2017-02-15 03:56] Evil-Spirit commented on #182
@whitequark, I have finally figure out what's happens here. Look at https://github.com/solvespace/solvespace/blob/master/src/group.cpp#L783 - the faces for top/bottom extrude is created here. For this faces we should take normal somewhere and this normal is taken from assembled loop (which is not exist for the first pass of generatation since it is generated here https://github.com/solvespace/solv

[2017-02-15 04:04] Evil-Spirit commented on #182
@whitequark, here is the fixes, but it breaks some tests, I am trying to fix them.
@jwesthues, What is your opinion on https://github.com/Evil-Spirit/solvespace-master/commit/c677df188c9863c9828c9a465cbc69192f25d95c?

[2017-02-15 04:06] Evil-Spirit commented on #203
@whitequark, updated here

[2017-02-15 04:07] Evil-Spirit commented on #194
@whitequark, updated here.

[2017-02-15 04:07] Evil-Spirit commented on #192
@whitequark, fixed here

[2017-02-15 04:12] jwesthues commented on #182
I guess it would be slightly better to use the normal from the loops if one exists (even in workplane groups), otherwise the workplane's normal? The cases where that matters are pretty pathological, though.

[2017-02-15 05:23] wpwrak commented on #202
Works great here. This was the last step to achieving the 0 DOF goal for my design :) Thanks !

[2017-02-15 06:14] Evil-Spirit commented on #202
@wpwrak, Thank YOU, because your bugreports are the best and you provide a lot of useful information :) I hope you will keep going because this makes the project better!

[2017-02-15 09:52] Evil-Spirit commented on #182
@jwesthues, what can you say about equality of loops and workplane normal? Is it always equal, or this can look at different directions? My thoughts was about introducing stability in normal direction (not let it swap direction), so what arguments for keep using loop normal? Can using normal from workplane break any leagcy files?

[2017-02-15 12:51] whitequark commented on #202
I second what @Evil-Spirit says.

[2017-02-15 15:23] Evil-Spirit commented on #182
@whitequark, reimplemented in safe way as @jwesthues suggested.

[2017-02-15 17:26] jwesthues commented on #182
Nothing specifically requires you to sketch in the workplane group's own workplane. That's a little pathological, but your change addresses that.

[2017-02-15 21:52] GerhardPaulus commented on #184
I installed a GTK theme and text input is now black on white.

[2017-02-15 21:52] #184 closed

[2017-02-16 05:23] Evil-Spirit commented on #199
@jwesthues, there is no benefit probably. It just brings ability to work with t like we work with dimension (make constraint point-on with t = 0.1, t = 0.2, etc.). When we are introduce ranged constraints (which is just a lot of UI work rather than solver), we can do the next : https://www.youtube.com/watch?v=u4dQ-eBAXx0

[2017-02-16 13:49] wpwrak opened #205 "choice of active group when saving has puzzling effect on assemblies"
When saving a design when a group other than the last one is activated, items in the groups following it are not available in assemblies. I think this is not intended, and it's rather confusing.

Using solvespace/master (e6ed36) with various recent fixes and improvement from @Evil-Spirit and myself.

First, make a simple design with more than one group:

- File > New
- draw a line at roughly 45 de

[2017-02-17 01:28] whitequark commented on #205
No, this is expected. It works in exactly the same way as hiding groups then saving and linking the file. It will work this way until #80.

[2017-02-17 01:28] #205 closed

[2017-02-17 02:54] whitequark commented on #203
Fixed in master.

[2017-02-17 02:54] #203 closed

[2017-02-17 02:54] whitequark commented on #192
Fixed in master.

[2017-02-17 02:54] #192 closed

[2017-02-17 03:02] whitequark commented on #202
Fixed in master.

[2017-02-17 03:02] #202 closed

[2017-02-17 03:06] whitequark commented on #199
Fixed in master.

[2017-02-17 03:06] #199 closed

[2017-02-17 03:31] whitequark commented on #194
@Evil-Spirit This has a bug: Esc doesn't remove some highlighted DOFs.

[2017-02-17 03:41] Evil-Spirit commented on #194
@whitequark, hm, I will look into this.

[2017-02-17 03:41] whitequark commented on #194
@Evil-Spirit I fixed that, was a missing persistentDirty.

[2017-02-17 03:42] Evil-Spirit commented on #194
@whitequark, ok, thank you

[2017-02-17 03:42] whitequark commented on #194
@Evil-Spirit I've committed this. Can you look at test/request/circle/normal_dof ? For some reason in the test, there is no highlight of circle radius DOF. But it works in the GUI.

[2017-02-17 03:52] Evil-Spirit commented on #194
@whitequark, I have seen this already and confused too.

[2017-02-17 04:14] whitequark commented on #194
Thanks, fixed in master.

[2017-02-17 04:14] #194 closed

[2017-02-17 04:17] whitequark commented on #179
@wpwrak can you please use gdb to trace GraphicsWidget::{on_motion_notify_event,on_button_press_event,on_button_release_event} calls?

[2017-02-17 05:01] whitequark commented on #182
Fixed in master.

[2017-02-17 05:01] #182 closed

[2017-02-17 05:03] whitequark commented on #193
@wpwrak Does this still happen after #182 is fixed? I'm not sure if this will ever appear without some other underlying bug.

@Evil-Spirit can you chime in?

[2017-02-17 05:48] Evil-Spirit commented on #193
@whitequark, ofc. Also, I have an opinion what we should not change 2d/3d for the current group once we have choosen this (by pressing 2-3 keys).

[2017-02-17 18:02] Evil-Spirit commented on #193
@whitequark, this happens because of graphicswin.cpp:657. This is called from GenerateAll->SolveGroupAndReport->ReportHowGroupSolved->ClearSuper. It seem no reason to call EnsureValidActivities here. This function looks strange and perfrom a lot of strange things. I think this function needs to be refactored/split/renamed. At least one of part can be called "UpdateMenuCheckboxes". For now I have n

[2017-02-17 18:21] Evil-Spirit commented on #197
@wpwrak, It seems I can't reproduce it on Windows. And it's strange how the following code can cause this:
[code]

[2017-02-17 18:22] Evil-Spirit commented on #197
@Schroedinger, can you explain it?

[2017-02-17 22:09] whitequark commented on #197
Seems like UB...

[2017-02-18 01:38] wpwrak commented on #197
UB = Ubuntu ? Yes, I'm on Ubuntu 16.10. I can collapse the quantum state (i.e., make it check only "Anywhere in 3d") by
https://0bin.net/paste/+c+6P42giR2hZiEl#AiwOfsiLHdPNCg2AOPR7Y3cM4g6xA2pY44gebEJmW7m
But I don't really know what I'm doing there, and if this may have nasty side-effects.

[2017-02-18 01:58] wpwrak commented on #205
Nice rationalizing ;-) But it doesn't work the same: if you hide groups through "show", etc., this information is preserved when you load the file, so you can make the connection between "show" and availability of items in an assembly fairly easily. But if you hide them through activation, this is hidden by SolveSpace activating the last group when loading the file.

So when the user looks at a fi

[2017-02-19 01:41] whitequark commented on #205
@wpwrak Regardless of whether you have a good argument I don't think this can be fixed before #80...

[2017-02-19 10:12] whitequark commented on #50
Haha wow SolveSpace is currently VERY broken on Linux HiDPI systems. Since one is now my main laptop... guess I'll have to address this.

[2017-03-02 00:09] Symbian9 commented on #197
@wpwrak, What build of SolveSpace you use on Xenial now?

[2017-03-02 01:28] Evil-Spirit commented on #93
@whitequark also, commints from whole branch Evil-Spirit/solvespace-master/commits/93-not-initialized

[2017-03-03 16:24] wpwrak commented on #197
@Symbian9: I just build from sources, with a number of fixes and improvement, either from @Evil-Spirit or self-made, that are not in mainline. Not sure about Xenial.

[2017-03-04 01:01] #181 closed

[2017-03-04 06:08] urmilparikh opened #206 "Feature Request: Exporting solid STEP"
The STEP file exported by SolveSpace contains only bounding surface.
Please add an option to export solid model.

[2017-03-07 09:59] KimSJ opened #207 "README instructions cite wrong package for zlib on Ubuntu"
In README.md, the apt-get instructions currently call for zlib1-dev. The correct package reference in Ubuntu 16.04 is zlib1g-dev.

[2017-03-07 11:54] whitequark commented on #207
Fixed in 9ab37c2e.

[2017-03-07 11:54] #207 closed

[2017-03-11 17:23] whitequark commented on #165
FWIW I haven't merged the patch because the UI work in it is horrible. It's completely inconsistent with the rest of text window stuff.

[2017-03-12 00:26] whitequark opened #208 "Creation of TTF and image requests uses wrong points"
The text window prompts first for "top left corner" then "bottom left corner" but neither of those is actually dragged.

[2017-03-12 01:01] whitequark commented on #161
@Evil-Spirit OK, I'll think more about it too.

[2017-03-12 01:12] whitequark commented on #193
@Evil-Spirit thanks for investigation, I'll handle this from now on.

[2017-03-12 01:15] whitequark commented on #147
I think we should just document that one may need to use the tool multiple times, if several intersections are desired.

[2017-03-12 17:25] Evil-Spirit commented on #147
@whitequark, actually there is no problem to implement this.

[2017-03-12 17:31] whitequark commented on #147
@Evil-Spirit OK, if it's easy please write a patch

[2017-03-12 17:35] whitequark opened #209 "Consider using homogeneous coordinates in the solver"
The issue can be demonstrated in DN100CF-fit-check.slvs (
[bug.zip](https://github.com/solvespace/solvespace/files/836669/bug.zip)), where a single point-coincident constraint is compatible with itself.

Transcript of the discussion in the old repo:

<hr>
@Evil-Spirit

<hr>
@Evil-Spirit

<hr>
@jwesthues

<hr>
@Evil-Spirit

<hr>
@jwesthues

<hr>
@Evil-Spirit

[2017-03-12 17:58] whitequark commented on #175
Triage: per discussion in https://github.com/Evil-Spirit/solvespace-master/commit/51616bc339d4a980dc2ae73c8a140be0fdefdcc0#commitcomment-21277921, switching from ear-triangulation to Delaunay will help here.

[2017-03-14 23:49] whitequark opened #210 "Write a tutorial that assumes no prior CAD knowledge whatsoever"
Explain how to do the most basic steps:

1) draw 2D shape
1.5) add constraints to make it the size you want
2) make it 3D via rotation or extrusion

and don't use jargon etc.

[2017-03-14 23:58] whitequark opened #211 ""Split line segment / curve at this point" tool"
This could be done by drawing and then removing an extra line, but seems easy to implement without that workaround.

[2017-03-17 15:55] virtualritz opened #212 "harness.cpp fails to build on OS X"
This is likely related to https://github.com/solvespace/solvespace/commit/e2e74762f4dc909876b99decb32f4f9fdb79de83

Error:
[code]

[2017-03-17 15:57] whitequark commented on #212
Already fixed in master.

[2017-03-17 15:57] #212 closed

[2017-03-17 16:44] jsmaniac opened #213 "Text boxes are garbled during editing"
### System information

SolveSpace version: (e.g. 3.0~911c67b2)

Operating system: NixOS 16.09 with custom up-to-date package from https://github.com/jsmaniac/nixpkgs/commit/d6f925d7c1ce29c2099e10dcbdb10628c1c63be1

### Expected behavior

What should have happened?

Text display shouldn't be garbled while editing it

### Actual behavior

Initially:
![initially](https://cloud.githubusercontent.com/

[2017-03-17 16:45] jsmaniac opened #214 "Memory leak"
### System information

SolveSpace version: (e.g. 3.0~911c67b2)

Operating system: NixOS 16.09 with custom up-to-date package from https://github.com/jsmaniac/nixpkgs/commit/d6f925d7c1ce29c2099e10dcbdb10628c1c63be1

### Expected behavior

What should have happened?

Shouldn't crash due to OOM.

### Actual behavior

Memory leak / crashes with Out Of Memory

### Additional information

Steps to repr

[2017-03-17 16:46] whitequark commented on #213
FLTK? SolveSpace uses GTK. Anyway, the problem you're observing is related to the theme you're using, and is the same as https://github.com/solvespace/solvespace/issues/184. Try installing a GTK theme.

[2017-03-17 16:49] jsmaniac commented on #213
I had updated an existing recipe for my OS, and solvespace 2 used FLTK. I should remove it from the dependencies.

Thanks for the pointer (I'm using Enlightenment 0.16, and it's not the first time I've seen missing stuff due to the lack of a GTK theme).

[2017-03-17 16:49] #213 closed

[2017-03-17 16:51] whitequark commented on #214
Do you mean "create a new custom style"? In any case, I cannot reproduce this, so you'll have to figure out what causes the allocations yourself. Try running solvespace under `valgrind`.

[2017-03-17 16:52] whitequark commented on #213
Actually, no SolveSpace release used FLTK. There was a brief time when the open-sourced code had an FLTK implementation, but it was essentially unusable.

[2017-03-17 16:52] jsmaniac opened #215 "File→Save and File→Save As… crash SolveSpace"
### System information

SolveSpace version: (e.g. 3.0~911c67b2)

Operating system: NixOS 16.09 with custom up-to-date package from https://github.com/jsmaniac/nixpkgs/commit/d6f925d7c1ce29c2099e10dcbdb10628c1c63be1

### Expected behavior

What should have happened?

A File Save dialog box should appear when pressing Ctrl+S or File→Save or File→Save As…

### Actual behavior

SolveSpace crashes. Her

[2017-03-17 16:54] jsmaniac commented on #214
Yes, sorry, I meant "create a new custom style". I'll try with valgrind later (hopefully this weekend).

[2017-03-17 16:54] whitequark commented on #215
This seems like a NixOS compatibility issue. Exactly where does it crash? See https://github.com/solvespace/solvespace/blob/master/CONTRIBUTING.md#debugging-a-custom-build for instructions on how to gather a backtrace.

[2017-03-17 17:00] whitequark commented on #215
Actually, you've mentioned that the property browser window did not instantly appear. What's happening is I'm calling `show_all()` right away on that window. If GTK does the same, and then expects the window to be realized, and it's not, then it will probably die dereferencing a null pointer or something like that.

[2017-03-17 17:06] jsmaniac commented on #215
It turns out the browser window was just hiding behind the main window (it seems like the "foreground window" property is not taken into account, perhaps because the main window appears *after* the browser window. Even if I move the main window to the side, and bring the browser window into focus, it goes to the back as soon as focus goes to the main window. After pressing tab twice, the browser w

[2017-03-17 17:08] whitequark commented on #215
Does the following patch fix things for you right after startup?

[code]

[2017-03-17 17:22] jsmaniac commented on #214
An initial run of valgrind spits out a plethora of warnings etc.

This stacktrace looks promissing:

[2017-03-17 17:24] whitequark commented on #214
A lot of warnings comes from GTK. It seems to be rather sloppily written, and it's nearly impossible to produce a decent suppression list (I tried).

You didn't post a stacktrace.

[2017-03-17 17:24] jsmaniac commented on #214
An initial run of valgrind spits out a plethora of warnings etc.

This stacktrace looks promissing:
[code]

I'm having trouble navigating the valgrind log, though, and I can't find an AlleyOop nor Valkyrie package for my distro :-( . I'll dig more into this later.

[2017-03-17 17:28] whitequark commented on #214
This doesn't seem concerning. This is just the font texture, it's quite large but it is only ever allocated once.

[2017-03-17 18:00] jsmaniac commented on #214
Sorry, I'm rarely ever coding in C/C++, so I'm not used to valgrind. I tried with `--tool=massif`, in the graph below the first ramping up is when I started solvespace, then I left it rest for a short while (the flat section at the beginning), then I opened the colour picker (the second, more steady upward slope). I took screenshots of the green, turquoise and purple blocks on the last time frame.

[2017-03-17 18:33] jsmaniac commented on #215
No, that patch didn't change anything (I tried adding `TW->set_transient_for(*GW);` after the `GW->show_all();`, still not good). I wouldn't worry about the initial display of the browser window, though, as it is most likely a problem with my window manager, with a simple workaround (press tab twice).

Here's the backtrace for the Save/Save As… crash:
[code]

[2017-03-18 01:01] whitequark commented on #215
Ah, yes, I see. It fails an assertion in GTK, specifically this one:
[code]
This is a misconfiguration of the desktop environment on your system that I can do nothing about (and have no particular insight into). Try the suggestion in https://stackoverflow.com/questions/37510261/ubuntu-meld-no-gsettings-schemas-are-installed-on-the-system#37578829.

[2017-03-18 01:01] #215 closed

[2017-03-18 02:12] whitequark commented on #214
Okay, so this is a texture-related leak. Can you apply this patch and show the output in the console?
[code]

[2017-03-19 03:23] Evil-Spirit commented on #214
@whitequark, this probably should fix it.

[2017-03-19 15:45] tpimh commented on #210
I'd like to see this tutorial showing how to draw all sorts of 3D shapes. I now feel pretty confident with SolveSpace when drawing simple designs for 3D printing, but I still can't figure out how to create cones. Is it even possible?

![Cones](http://study.com/cimages/multimages/16/3d_cone.png)

[2017-03-19 15:48] whitequark commented on #210
@tpimh  Sure. Rotate a triangle.
![screenshot_20170319_154656](https://cloud.githubusercontent.com/assets/54771/24082314/7f2d2fb4-0cbb-11e7-9d8c-a348ef8bd72d.png)
![screenshot_20170319_154709](https://cloud.githubusercontent.com/assets/54771/24082315/82a95e7e-0cbb-11e7-90c1-bedb49ab190f.png)

[2017-03-19 15:50] tpimh commented on #210
Thanks! It's that simple.

[2017-03-19 22:46] SL-RU opened #217 "Add external libs in sources archive."
### System information

SolveSpace version: 2.3

Operating system: Arch linux

### Expected behavior

Archive with sources must be absolutely complete. Anyone must have ability to build it even without network. But your release archives doesn't  contains external libs. That makes impossible to build it on offline machine.

### Actual behavior

All necessary sources must be  included in the archive

[2017-03-19 22:47] whitequark commented on #217
The source archive is built by GitHub, and GitHub doesn't include submodules. Unfortunately there isn't anything I can do about it (even hide the links).

[2017-03-19 22:47] #217 closed

[2017-03-19 22:48] whitequark commented on #217
Also, the README explicitly instructs to use git for checking out sources.

[2017-03-19 22:49] whitequark commented on #213
Incidentally, this is now fixed properly in master.

[2017-03-19 22:50] SL-RU commented on #217
Thanks for the answer. I understand. But maybe than you will publish those archives on your website externally? Because for someone it can be a problem.

[2017-03-19 22:52] whitequark commented on #217
Is using git a problem? If you're using Linux, the git checkout is also far smaller, since most external libraries (i.e. except libdxfrw) are only needed on Windows.

[2017-03-19 22:56] SL-RU commented on #217
No, not git. Building solvespace without network is a problem) Usually when archive with release sources are published, that means anyone can download it and compile it without network and etc.

But anyway.

[2017-03-19 23:14] SL-RU opened #218 "Unable to build"
### System information

SolveSpace version: 2.3

Operating system: Arch

### Expected behavior

I've cloned git repo, installed all dependencies and init submodules. But I've error.

[Here is stderr output](https://github.com/solvespace/solvespace/files/853653/log.txt)

### Additional information

`yaourt -S solvespace and` and `yaourt -S solvespace-git` are finishing with the same result

[2017-03-19 23:14] SL-RU commented on #218
I've also tried to checkout 2.x branch. Result was the same

[2017-03-20 06:22] whitequark commented on #218
Why is `ui.h` included from gcc's `limits.h`?
[code]
I'd like to see the contents of `/usr/lib/gcc/x86_64-pc-linux-gnu/6.3.1/include-fixed/limits.h` on your system.

[2017-03-20 07:22] SL-RU commented on #218
Here it is:

[code]

[2017-03-20 07:29] whitequark commented on #218
Based on your log, `#include_next <limits.h>` causes gcc to include SolveSpace's `ui.h` instead of the system header (which may not even exist). There is no conceivable reason whatsoever for this behavior, and it is almost certainly some issue with your installation. (I believe SolveSpace is in AUR and other people have never encountered this).

I suggest creating a fresh Arch chroot and reproduci

[2017-03-20 10:43] jsmaniac commented on #213
Sorry about the delay, I tested the latest (827f54f) commit on master, and the fix works perfectly. Thanks!

[2017-03-20 11:25] jonas-schievink commented on #218
I can reproduce on Arch with both GCC and Clang.

Clang reports:

[code]

The GCC error looks pretty much the same.

[2017-03-20 11:29] whitequark commented on #218
Oh *facedesk*

[2017-03-20 11:29] whitequark commented on #218
@jonas-schievink Can you replace all instances of `CHAR_WIDTH` with, say, `CHAR_WIDTH_` and see if that helps?

[2017-03-20 11:37] jonas-schievink commented on #218
@whitequark Yep, that makes it work.

FYI, I've been able to build Solvespace in the past, but even older commits fail to compile with the same error now, so this must have been caused or exposed by some updated package in Arch.

[2017-03-20 11:38] whitequark commented on #218
Yeah, I think it's an update in glibc.

[2017-03-20 13:11] jsmaniac commented on #214
Indeed, with whitequark's patch, I see a lot (hundreds every second) of `creating texture xxxx` messages as soon as the colour selection box is opened (and none printed in other situations.

[code]

I tried @Evil-Spirit's branch, and it does fix the memory leak. Thanks!

[2017-03-20 13:16] tpimh opened #219 "Ninja warnings:: "multiple rules generate *.po""
This is a very minor issue (but it may be annoying).

CMake generated `ninja.build` contains multiple rules for each `.po` file and complains about it:

    ninja: warning: multiple rules generate res/locales/en_US.po. builds involving this target will not be correct; continuing anyway
    ninja: warning: multiple rules generate res/locales/uk_UA.po. builds involving this target will not be correc

[2017-03-20 13:37] whitequark commented on #219
No, it's fair, and can likely cause hard to debug race conditions.

[2017-03-20 13:39] whitequark commented on #214
@Evil-Spirit I don't understand how the memory leak actually works. If you look at the log, you'll see that we're overwriting the same textures over and over again. Why does that increase memory usage?

Also, I got this report from IRC:
[code]
This looks as if the *driver itself* has a memory leak. Are graphics drivers really that shitty?

[2017-03-21 02:06] Evil-Spirit commented on #214
@whitequark,
We are allocting new pixmap every time we draw color dialog, but this is deleted by shared_ptr.  But also we create new opengl texture and never free it.

[2017-03-21 14:06] Evil-Spirit opened #220 "Can't copy-paste image request"
Image request copy-paste not working as it should.

[2017-03-21 15:48] Evil-Spirit commented on #152
@whitequark, updated here

[2017-03-22 19:15] whitequark commented on #214
Fixed in master.

[2017-03-22 19:15] #214 closed

[2017-03-23 03:46] Evil-Spirit commented on #165
@whitequark, what do you mean?

[2017-03-27 21:47] Symbian9 commented on #210
Also look on this
* https://github.com/solvespace/website/issues/1

[2017-03-31 21:15] diggit commented on #218
IMO there are several options how to avoid this collision:
- use library prefix (quite common) like: UI_CHAR_WIDTH
  - many projects have such requirement in their source code guidelines to prevent exactly these scenarios
  - if used, other macros should adopt prefix too to preserve code readability
- use different abbreviation or just whole word like: CHARACTER_WIDTH (workaround)
- use #ifdef...

[2017-03-31 21:18] whitequark commented on #218
I'm quite aware of the ways to fix it.

[2017-03-31 23:29] diggit commented on #218
May I offer PR with your preferred type of fix? This is simple bug. So why wait?

[2017-03-31 23:31] whitequark commented on #218
Because I'm busy. No PRs please, since we still don't have a CLA, and I couldn't merge it anyway.

[2017-04-05 13:36] whitequark opened #221 "Add a button to "Paste Transformed" to flip the paste"
This is as easy as setting scale to -1, but that's not obvious to many.

[2017-04-05 13:58] whitequark opened #222 "A better way to extrude contours derived from another contour"
This [Twitter thread](https://twitter.com/FioraAeterna/status/849621919938650113) describes the problem quite well.

[2017-04-05 14:04] Evil-Spirit commented on #222
@whitequark, Is this about drawing over the existant sketch like here https://www.youtube.com/watch?v=doxckvfLUKQ?

[2017-04-05 14:05] whitequark opened #223 "A paste mode that constrains the new contour to preserve shape of the old one"
I.e.:
  * constrain the lines to have the same length
  * constrain the circles to have the same diameter
  * constrain the lines to be parallel
  * copy horizontal/vertical constraints

It's not clear if we can make the shape perfectly identical. I.e. what to do if we have a line and a circle, totally unconstrained to each other, in the source selection? Maybe it's good enough even without handli

[2017-04-05 14:05] Evil-Spirit commented on #222
@whitequark 3:29

[2017-04-05 14:28] whitequark opened #224 "Reordering sketch-in-plane groups"
As a first approximation, let's go the simple way: just drop everything that has a newly impossible dependency, in our usual pruning step, and see how we can improve it from there. This should be fairly trivial to implement.

[2017-04-05 18:09] whitequark opened #225 "Solve equation systems with Eigen to improve convergence"
See https://drive.google.com/file/d/0B15RHGNY8nBpYnNwcG82WDdseDQ/view. The newly added arc segment has a pt-coincident constraint that causes the failure.

[2017-04-05 19:42] whitequark opened #226 "Imprecise unsolvable constraint error"
See the following file: https://drive.google.com/file/d/0B15RHGNY8nBpSU1xNjJHbmpyNnM/view, created in 2.1 originally.
There are lots of unsolvable constraints using the 3.0 logic that performs rank test before substitution. I think r028 is one of problematic requests.

The issue is that the errors are very imprecise for no good reason. Why can't we show which specific constraints are bad?

[2017-04-06 02:51] Evil-Spirit commented on #226
@whitequark
I see allowed redundant constraints here, so I've found what 12.7 pt-pt-distances appied twice like as two pt-on-circle. If we are delete all the redundant, we can converge here fine.

[2017-04-06 03:02] Evil-Spirit commented on #226
@whitequark, Somehow too many redundant constraints can't be converged. I've figured out what 3xPT_ON_CIRCLE can't converge (just try to make it on empty sketch). After disallowing redundant, too many redundants threated as non-converged for no reason. This is probably bug, but I am not sure whether rank test can work fine or not for such amount of redundants.

[2017-04-06 03:09] Evil-Spirit commented on #225
@whitequark
I see allowed redundant constraints here, so I've found what 12.7 pt-pt-distances appied twice like as two pt-on-circle. If we are delete all the redundant, we can converge here fine.

[2017-04-06 03:09] Evil-Spirit commented on #225
@whitequark, Somehow too many redundant constraints can't be converged. I've figured out what 3xPT_ON_CIRCLE can't converge (just try to make it on empty sketch). After disallowing redundant, too many redundants threated as non-converged for no reason. This is probably bug, but I am not sure whether rank test can work fine or not for such amount of redundants.

[2017-04-06 03:12] Evil-Spirit commented on #226
@whitequark, I see allowed redundants here. The problem is probably the same as #225.

[2017-04-06 05:41] whitequark commented on #225
@Evil-Spirit Yes, I did notice that many redundant constraints tend to degrade convergence. Please figure out why. This makes such a mode much less useful.

[2017-04-06 06:56] whitequark commented on #218
Wow, this is a standards disaster. Anyway, fixed in 7eb6574f.

[2017-04-06 06:56] #218 closed

[2017-04-06 07:00] whitequark commented on #218
Also in the 2.x branch in 7c2417a.

[2017-04-06 07:35] SL-RU commented on #218
Thanks a lot!

[2017-04-06 07:42] whitequark commented on #152
Fixed in master.

[2017-04-06 07:42] #152 closed

[2017-04-06 12:57] Evil-Spirit opened #227 "Show units of dimensions in more precise way"
This commit introduces units in meters https://github.com/Evil-Spirit/solvespace-master/commit/bc3e7a2e11d5e363d24d224b31df00013a996dfe
This https://github.com/Evil-Spirit/solvespace-master/commit/202c6fbb94297b0e632076dd22a5eeed47b6fba1 is experiments with si prefixes and formatting

![2017-04-06 20 08 41](https://cloud.githubusercontent.com/assets/1980537/24755691/61d5b046-1b05-11e7-9679-9744557

[2017-04-06 12:59] Evil-Spirit opened #228 "Dispaly area of closed polygons"
This https://github.com/Evil-Spirit/solvespace-master/commit/21a8ebe6f5431bb61c9c2a4d9a173bad81028a67 commit introduces showing closed polygon areas. This is useful for some architectural plans or building modeling.

![2017-04-06 20 04 04](https://cloud.githubusercontent.com/assets/1980537/24755412/4e63b48c-1b04-11e7-9c00-0740de4be266.png)

[2017-04-06 13:24] whitequark commented on #228
Looks good to me.

[2017-04-06 13:27] Evil-Spirit opened #229 "Circle is not visible when radius is negative"
![2017-04-06 20 25 59](https://cloud.githubusercontent.com/assets/1980537/24756292/60912b00-1b07-11e7-9250-038e011d1846.png)

[2017-04-06 13:34] Evil-Spirit opened #230 "New dimensions created as reference when redundant is allowed"
1. Create sketch
2. Make two identical constraints (one of them automatically created as REF)
3. Switch off REF from the second constraint
4. All the newly created dimensions will be created as REF

We should mark constraint as REF only when redundant state goes false->true (rise edge)

[2017-04-06 13:46] whitequark commented on #229
I don't think this is a bug. We allow all kinds of degenerate constraints, like line segments with length 0, and so on. It seems odd to prohibit those in some cases (like when specified explicitly) but not others (when they're inferred from other constraints).

[2017-04-06 13:47] Evil-Spirit commented on #229
@whitequark but this must show circle curve at least

[2017-04-06 13:54] whitequark commented on #229
Wait. How did you even manage to make a circle with negative radius?

[2017-04-06 14:05] Evil-Spirit commented on #229
I made two pt-on-circle and drag them in some unusal way

[2017-04-06 14:16] whitequark commented on #229
Oh, this is basically the same problem as constraint chirality, except applied to a circle.

[2017-04-06 14:16] whitequark commented on #229
We should probably rather fix this on the solver level, so that this is not possible.

[2017-04-06 14:18] Evil-Spirit commented on #229
@whitequark yes, the equation for pt-on-circle can be rewritten
`AddEq(l, du->Square()->Plus(dv->Square())->Sqrt()->Minus(r), 0);`

[2017-04-06 14:18] Evil-Spirit commented on #229
instead of
`AddEq(l, ((du->Square())->Plus(dv->Square()))->Minus(r->Square()), 0);`

[2017-04-06 15:47] Evil-Spirit commented on #226
@whitequark, I've made a visualization for Newton steps. This is the hell https://youtu.be/72Dnqvn_uTk

[2017-04-07 00:14] Jonimoose opened #231 "Build Fails to link on VS2015 Win10 x64"
### System information

SolveSpace version: Git master (8fd11f48869a7d9d884da91055f14fd37d053fa1)

Operating system: Windows 10 64bit, fully updated as of 4/6/2017

### Expected behavior

What should have happened?
The project to compile in VS2015 using the instructions listed in the readme.

### Actual behavior

What actually happened?
Received the following errors:
[code]

[2017-04-07 12:45] whitequark commented on #231
Oh, this is because you're performing an x64 build. This configuration is neither tested nor currently supported (mostly because I never had a reason to).

[2017-04-07 12:52] whitequark commented on #231
To be clear, I'll fix this issue now, but for now there are no plans to build x64 builds on CI because they're less portable than x32 builds and, with other limits kicking in much earlier than address space size in SolveSpace, offer no real advantage.

[2017-04-07 15:10] whitequark commented on #231
Unable to reproduce. Just set up a fresh build directory using Visual Studio 14 2015 on Windows 10 x64, and the build succeeded. I'm not sure what I can do in regards to this report, so closing.

I can suggest trying to:
  * build a fresh tree (`git clean -dxf` `del /QS build`)
  * build with msbuild and not nmake (`cmake -G "Visual Studio 14 2015 Win64" ..` `cmake --build .`)

[2017-04-07 15:58] Evil-Spirit opened #232 "Problems with builing on Debian 8"
Attempt to build on Debian 8 has failed,  gtkmm-3.16 is missing
[code]

In repository there is gtkmm-2.4 but 3.0 is missing.

@ukhanov

[2017-04-07 16:02] whitequark commented on #232
This is expected, and was extensively discussed before. SolveSpace cannot be built with Debian Jessie (stable, soon to be oldstable) but can be built with Debian Stretch (testing, soon to be stable).

[2017-04-07 16:02] #232 closed

[2017-04-07 16:06] whitequark commented on #232
To elaborate on this, Stretch is already [frozen](https://release.debian.org/) and should become a proper release any day now; there's no reason to not migrate to Stretch already, especially on a desktop system.

[2017-04-07 18:24] Jonimoose commented on #231
whitequark, The nmake 64bit build worked fine but didn't run do to another already reported issue. I received the errors in the first comment https://github.com/solvespace/solvespace/issues/231#issue-220070712 when building the project in visual Studio. I will attempt the listed commands this weekend and see if the issue disappears on my end.

[2017-04-07 18:25] whitequark commented on #231
@Jonimoose okay, I was confused by this part:

There are a few different ways to build the project with VS tools, so I specifically tested nmake. Let me try outright VS now.

[2017-04-07 22:09] whitequark commented on #231
Nope, still unable to reproduce. I did:
[code]
then just hit Ctrl+B.

[2017-04-07 22:09] #231 closed

[2017-04-08 14:39] whitequark commented on #229
Fixed in master.

[2017-04-08 14:39] #229 closed

[2017-04-08 14:44] whitequark commented on #230
Fixed in master.

[2017-04-08 14:44] #230 closed

[2017-04-08 16:46] whitequark commented on #228
Merged in master.

[2017-04-08 16:46] #228 closed

[2017-04-08 16:59] whitequark commented on #206
@Jonimoose can you please verify that the issue here is that STEP files exported by SolveSpace do not share edges between different bounding surfaces in the same solid?

[2017-04-08 17:19] whitequark commented on #220
Fixed in master.

[2017-04-08 17:19] #220 closed

[2017-04-08 17:29] ukhanov commented on #232
Debian 8 is tagget as 'wheezy' not 'jessie'.
Anyway, gtkmm-3.16 does not exist on its official site:
http://www.gtkmm.org/en/news.html
"April 6, 2011: gtkmm 3.0.0 and glibmm 2.28.0 released, as per the GNOME schedule. gtkmm 3.0 wraps the API in GTK+ 3.0 and installs in parallel with the gtkmm-2.4 API."

[2017-04-08 17:38] whitequark commented on #232
@ukhanov [this one](https://packages.debian.org/jessie/libgtkmm-3.0-dev) is versioned 3.14.0 (and is too old); [this one](https://packages.debian.org/stretch/libgtkmm-3.0-dev) is versioned 3.22.0 (and is new enough). Somewhere in between there might or might not have been a 3.16.0 package. I was looking at gtkmm changelogs when writing the version requirement.

[2017-04-08 18:23] ukhanov commented on #232
Thank you for clarifying the issue. BTW all versions are tagget as 'experimental' or 'unstable'. Even the old 2.4 one.

[2017-04-08 18:36] whitequark commented on #232
I have no idea what's up with that. gtkmm is certainly stable enough for real work, and it even has a stable ABI.

[2017-04-08 18:39] whitequark commented on #219
Fixed in master.

[2017-04-08 18:39] #219 closed

[2017-04-10 04:42] whitequark opened #233 "Accept --chord-tol in solvespace-cli regenerate"
Useful as a workaround to the fact that parts of an assembly are not regenerated when included in the assembly, if they are forced to triangle mesh, thus resulting in display chord tolerance of the assembly part being used when exporting triangle mesh for the entire assembly.

cc @wpwrak

[2017-04-10 18:07] Evil-Spirit commented on #225
@whitequark, I have researched a lot and made some debug functions (visualizing solve way and equations). Finally I've linked Eigen and this solves the problem. I think the problem is what the Gauss linear system solving is not so precise as it should be.

[2017-04-10 18:07] Evil-Spirit commented on #225
here is some beta
https://github.com/Evil-Spirit/solvespace-master/commit/703bccde0970ee39803d5af8bed4d04539d4820d

[2017-04-10 18:12] whitequark commented on #225
1. What is "solve way"?
2. Are there any downsides to using Eigen?

[2017-04-10 18:16] Evil-Spirit commented on #225
@whitequark, this is path of points during newton steps like here https://youtu.be/72Dnqvn_uTk

[2017-04-10 18:17] whitequark commented on #225
OK. Please prepare a commit that just adds Eigen, and separately these debugging capabilities.

[2017-04-10 18:20] Evil-Spirit commented on #225
2. I can try to work with Gauss Method to find any ways to imrove... But I think it is better to move in direction of Eigen integration because of better stability and convergence and a lots of methods to choose.

[2017-04-10 19:32] whitequark commented on #225
@Evil-Spirit I see no problem with Eigen. Just want to know if there is anything it's bad at.

[2017-04-11 00:45] Jonimoose commented on #231
Something must have been indeed wrong on my end. Build works correctly now. Thank you for your assistance on this, sorry it ended up being an issue on my end.

[2017-04-11 16:54] Evil-Spirit commented on #225
@whitequark
here is eigen https://github.com/Evil-Spirit/solvespace-master/commits/eigen
here is debug https://github.com/Evil-Spirit/solvespace-master/commits/solver-debug

[2017-04-12 02:31] Helios747 opened #234 "Using paste transform with scale -1 does not flip arcs"
### System information

SolveSpace version: 3.0~5d7b428

Ubuntu 16.10 x64

### Expected behavior

Arc should have been flipped like this

[flipped arc
](http://i.imgur.com/pI3PLDn.png)
### Actual behavior

[No flip](http://i.imgur.com/WOp8qFd.png)

### Additional information

[arc_flip_bug.zip](https://github.com/solvespace/solvespace/files/915262/arc_flip_bug.zip)

[2017-04-12 02:42] whitequark commented on #72
To be more specific, out-of-plane rotations work in all cases, but copying and pasting transformed with scale of -1 does not for text entities (nor image entities, I think).

[2017-04-12 02:46] jwesthues commented on #72
That makes sense. The "text by two points" representation lacks sufficient degrees of freedom to handle reflections, though the third point would make that possible...

[2017-04-12 02:49] whitequark commented on #72
We actually have four points now--this allows to e.g. outline a text with a bounding box easily. But the way it's implemented (ping @Evil-Spirit) means there is no way to represent mirrored text still.

[2017-04-12 03:00] Evil-Spirit commented on #72
@whitequark I don't see any problems here, anyway we have to say text to be mirrored somehow. When we will geneate sketch mirror, we don't need to write equations because entities just a copies, so we can place any point where we want it to be.

[2017-04-12 03:03] whitequark commented on #72
@Evil-Spirit I'm talking about mirroring via Paste Transformed here. It's still useful if the mirrored half needs to be modified afterwards. See also #223.

[2017-04-12 03:05] Evil-Spirit commented on #72
@whitequark, I think we anyway need to introduce some flags for chirality preserving of all constraints and entities which generates equations. So, for text and image it will be just mirrorX, mirrorY flags

[2017-04-12 03:10] Evil-Spirit commented on #72
@whitequark, I propose to make universal group for arrays which can create step-and-transfrom by specifing transform formulas for translation, rotation and [uniform]scale. e. g. guitar frets can be adjusted using this approach.

[2017-04-12 03:13] whitequark commented on #72
So far I don't think anyone I've talked to discovered even that they can use scale = -1 on their own, I wouldn't expect this feature to be used much.

[2017-04-12 03:16] Evil-Spirit commented on #225
@whitequark, what about to remove System::MAX_UNKNOWNS limit in eigen mode?

[2017-04-12 03:19] whitequark commented on #225
@Evil-Spirit Yeah, just rip out all pre-Eigen solver code, no #ifdefs needed, as well as MAX_UNKNOWNS limit. No reason to keep these.

[2017-04-12 03:26] Evil-Spirit commented on #225
@whitequark ok

[2017-04-12 04:53] whitequark commented on #234
Fixed in e5259d7.

[2017-04-12 04:53] #234 closed

[2017-04-16 01:38] whitequark opened #235 "Crash when calculating a difference"
See https://twitter.com/FioraAeterna/status/853307794094604288.

[2017-04-16 01:51] whitequark opened #236 "Docs never mention that constraints in g(N) do not affect g(N-1)"
This is not obvious, and can confuse people coming from other CADs.

[2017-04-16 02:16] whitequark commented on #235
Fixed in master and 2.x.

[2017-04-16 02:16] #235 closed

[2017-04-16 03:27] whitequark opened #237 "Creating a solid bounded by wireframe"
Right now, there are certain classes of solids that are extremely tedious or completely impossible to define in SolveSpace. These include:
  * platonic solids (except cubes)
  * Archimedean solids
  * stellations
  * frustums
  * certain pyramids
and so on.

Some of these could clearly be done in the spirit of SolveSpace (for example, a frustum group would cover right pyramids and frustums). Howev

[2017-04-16 03:52] jwesthues commented on #237
I don't think a useful "shell from wireframe" group is too hard. Take the lines/edges in 3d, and find all the planes defined by some set of adjacent edges. In each plane, find all the closed loops, and those are your faces. Then test that the faces make a watertight, non-self-intersecting shell, choose their normal directions to be consistent (like by choosing one arbitrarily, and then flooding ou

[2017-04-16 05:16] Evil-Spirit commented on #237
@whitequark, This is looks like common triangle mesh editing mode like it done e. g. in 3d studio max. We are defining the common 3d entities(segments, circles, arcs) and introduce something like "3d polygon" request which creatse face from set of looped edges and perserve points to lay in the same plane using solver equations. This is like [direct modeling](http://isicad.ru/ru/news.php?news=12886

[2017-04-16 05:19] whitequark commented on #237
Hm, this is a very interesting idea. We can add a "direct modeling group", where you would use parametric entities, but unlike regular draw-in-3d groups, the group would also include a solid, defined in the way @jwesthues described above. I think this solves all UI concerns I had.

[2017-04-16 05:24] Evil-Spirit commented on #225
@whitequark updated https://github.com/Evil-Spirit/solvespace-master/commits/eigen

[2017-04-16 05:27] Evil-Spirit commented on #225
@whitequark
the results is:
constarintfreeze.slvs from issue #131
With substitutions:

[code]
without substitutions:
[code]

[2017-04-16 05:38] Evil-Spirit commented on #225
@whitequark, @jwesthues
1. We have o(m*n)~o(k^2) (m = number of equations, n = number of unknowns)  for SolveBySubstitions and WriteJacobian and now I am working on improving this.
2. The sparsness of matrices is high. I think we have good memory usage reducing, but the speed of linear eq solving (and rank calculating) is 2x slower when it was. I think I will look into finding some better solver t

[2017-04-16 06:32] jwesthues commented on #225
The most robust way to rank-test is usually an SVD. Take care in how you set the tolerance on the rank test. That's a count of singular values above some threshold; so perhaps set that threshold empirically by looking at the singular values for a variety of sketches with known number of redundant DOF, and putting it halfway (geometric mean) between the biggest "zero" and the smallest "nonzero". Ma

[2017-04-16 20:53] Jonimoose commented on #206
I just imported an exported solvespace model into 3 different commercial CAD and CAM software packages and they all imported it as a "solid".

The software I used were Autodesk PowerShape, Autodesk FeatureCAM, Solidworks, and Vero Software EdgeCAM.

I did notice that FreeCAD seems to import the model differently after I've exported it from PowerShape as a step than it would exported straight from

[2017-04-16 21:13] diggit commented on #206
I have same problem with non solid STEP models in KiCAD which uses OCE for STEP model handling. (as well as FreeCAD)

[2017-04-17 10:15] bjaraujo commented on #92
Got the same issue.
Going to try that fix.

[2017-04-17 11:34] urmilparikh commented on #206
Autodesk 123D Design imports it as hollow model.

![image](https://cloud.githubusercontent.com/assets/10322815/25087860/9793d5a4-238f-11e7-974a-e95362dfe35b.png)

Source and step files: [cube.zip](https://github.com/solvespace/solvespace/files/925447/cube.zip)

[2017-04-17 21:43] Jonimoose commented on #206
[10mmcube.zip](https://github.com/solvespace/solvespace/files/925840/10mmcube.zip)
I've attached a a 10mm cube model that has been exported from PowerShape which does not exhibit the issue in FreeCAD, other than being about half the number of lines the main difference I can see is on line 42 and 43 of the powershape export:
`#28=SHAPE_REPRESENTATION_RELATIONSHIP('','',#114,#30);
#29=SHAPE_REPRESEN

[2017-04-20 14:22] Evil-Spirit opened #239 "Russian Translation"
https://github.com/Evil-Spirit/solvespace-master/commit/c935a5b47e8b6759a31b3a8dc43d20341f1682a3

[2017-04-20 14:47] whitequark opened #240 "In certain lathe groups, triangle normals get flipped"
See this file: [what.zip](https://github.com/solvespace/solvespace/files/943689/what.zip). If you drag the arc changing its diameter, sometimes the solid will become red. If you enable view of triangle mesh, it can be seen that all triangles get flipped.

[2017-04-20 18:04] tpimh opened #241 "Add VRML/X3D export support"
It is a feature request. X3D and VRML formats support colors, is adopted widely (at least among open-source software), is relatively easy to implement (X3D is XML-based) and it is also royalty free.

https://www.x3dom.org/

[2017-04-21 03:32] Evil-Spirit commented on #239
@whitequark updated https://github.com/Evil-Spirit/solvespace-master/commits/russian-translation

[2017-04-21 07:15] Natronium opened #242 "Creating a new sketch-in-workplane group from a secondary workplane causes a crash"
### System information

SolveSpace version: 3.0~1480f890
Operating system: Gentoo Linux

### Additional information

Create a new workplane in the current group using *Sketch -> Workplane*. Select the new workplane, and attempt to create a new sketch-in-workplane group with *New Group -> Sketch In New Workplane*

Solvespace crashes, with the following output on stderr:

[code]

[2017-04-21 23:10] whitequark commented on #242
Fixed in master. (Today I learned SolveSpace has workplane requests.)

[2017-04-21 23:10] #242 closed

[2017-04-21 23:15] whitequark commented on #239
Merged.

[2017-04-21 23:15] #239 closed

[2017-04-22 06:05] Jonimoose commented on #206
I have tracked down the issue to being what I and @whitequark initially thought, the step file output not reusing the EDGE_CURVE objects along shared edges.

I modified the 10mmcube file in the zip I attached in the previous comment so that it only contains 12 edge_curve entities and then imported the files into the OpenCascade CAD Assistant and with the only change being combining the edge curves

[2017-04-24 21:32] romeojulietthotel opened #243 "Font oops,"
### System information

SolveSpace version: git v2.3

Operating system: Linux

### Expected behavior

What should have happened?
No oops.

What actually happened?

Was trying out the text feature and it oopsed.

### Additional information

freetype: cannot set character size: invalid pixel size
oops at line 261, file /b/b/solvespace/src/ttf.cpp

[2017-04-25 00:54] whitequark commented on #243
That's not git master. The line 61 of ttf.cpp in master does not have a call to `oops`. What is the exact git revision you're using?

[2017-04-25 01:31] romeojulietthotel commented on #243
I oopsed, I had switched to v2.3. I updated the issue.

[2017-04-25 01:43] romeojulietthotel commented on #243
git master 3.0~50789079

[code]

I was trying the different fonts and when selecting a font I got that.

[2017-04-25 01:46] whitequark commented on #243
Which font? Also, post all messages, not just the crash.

[2017-04-25 09:24] tilya2014 opened #244 "Feature Request: Rotate camera around Up axis"
In most of 3d editors user can fix camera to rotate around one axis. Can somebody add this option to solvespace. I've changed this in my sources and its working, but I think that should be optional.

Version: 3.0~7544d016
solvespace-core/mouse.cpp line 133
[code]

[2017-04-26 00:29] romeojulietthotel commented on #243
There is more than one font that causes the assert. Here's one:
clR6x12.pcf a.k.a. Clean

[2017-04-26 00:56] whitequark commented on #243
Well, how do I obtain this font?

[2017-04-26 20:16] romeojulietthotel commented on #243
Depends on your os but on linux it's in a font package.

[2017-04-26 22:11] whitequark commented on #243
If you expect me to fix this, please provide the font.

[2017-04-26 22:26] romeojulietthotel commented on #243
Ok, for what linux distro?

[2017-04-26 22:27] whitequark commented on #243
I run Debian. You could also just provide the file.

[2017-04-26 22:35] romeojulietthotel commented on #243
https://packages.debian.org/jessie/all/xfonts-base/filelist

[2017-04-26 22:43] romeojulietthotel commented on #243
FWIW I don't expect anything. I try to offer help. Maybe you are suffering from those people that seem to think they are entitled. That's a trap I see maintainers fall into and it's not fair to the maintainer.

It takes time to file reports and it takes time to fix them. It also takes time to learn an application. I am doing what I can. Thanks for your efforts. Together we make the app better.

[2017-04-26 22:52] whitequark commented on #243
Okay, I have that package installed on my system, and I have `/usr/share/fonts/X11/misc/clR6x12.pcf.gz`. I cannot select it from the font list though, how did you achieve that? It seems that on my machine fontconfig does not return pcf fonts for some reason.

[2017-04-26 23:11] whitequark commented on #243
I found some other fonts that exhibit the same issue (they all start with "STIX" on my machine; not sure what are these fonts), and it is fixed as of 280d5b90.

[2017-04-26 23:11] #243 closed

[2017-04-26 23:13] whitequark commented on #244
Is this the same as #123?

[2017-04-26 23:28] romeojulietthotel commented on #243
FWIW, I think fc-cache has to be run for new fonts. But I'd expect that to happen on install.

[2017-04-26 23:28] romeojulietthotel commented on #243
This does not fix the issue.

[2017-04-26 23:44] whitequark commented on #243
Are you sure you've rebuilt the binaries? What is the complete content of messages printed to stdout?

[2017-04-26 23:48] romeojulietthotel commented on #210
This is a good one and it's basic.

:thumbsup:
https://youtu.be/1Em_XESnqUM

[2017-04-26 23:50] romeojulietthotel commented on #243
Error now:
[code]

[2017-04-27 00:41] whitequark commented on #243
What is the complete content of messages printed to stdout? You've only posted the error, not the preceding messages...

[2017-04-27 01:30] whitequark commented on #243
I've tried rerunning fc-cache and it does nothing to make that font available for use.

[2017-04-27 10:28] tilya2014 commented on #244
Yes it is. I didn't notice. Thanks

[2017-04-27 10:28] #244 closed

[2017-04-27 15:46] tpimh opened #245 "Add SVG import support"
It is a feature request.

I find it nearly impossible to create a gear in solvespace. So I try generate a gear with an online tool (geargenerator.com or paulkaplan.me/Gears/), download SVG, edit it in Inkscape, then in order to get the outline of the gear into solvespace, I should convert it to DXF. It would be great to eliminate the last step and import SVG outline to the workplane.

[2017-04-27 15:49] whitequark commented on #245
FWIW, I find it more important to make gear creation easier in SolveSpace than to add SVG import support.

[2017-04-27 16:13] tpimh commented on #245
It would be great. I also tried creating screw thread and failed. Is it even possible now?

[2017-04-27 16:24] whitequark commented on #245
Gears, yes, sure: http://solvespace.com/forum?action=viewthread&parent=872

Screws, no, but our NURBS backend simply does not support the required operation. You could import an external STEP model if we added that (#88).

[2017-04-28 03:22] Evil-Spirit commented on #225
@whitequark , @jwesthues
I've found SimplicalLDLT. It working for symmetrical matrices (A * A^T is symmtrical).
[code]
And this is ultrafast. @jwesthues what do you think about  https://eigen.tuxfamily.org/dox/classEigen_1_1SimplicialLDLT.html?

![2017-04-28 10 20 04](https://cloud.githubusercontent.com/assets/1980537/25513049/71e2ef82-2bfc-11e7-80d0-05fdc026fd58.png)
![2017-04-28 10 19 39](https:

[2017-04-28 06:14] jwesthues commented on #225
@Evil-Spirit Cool. What's the condition number of the matrix? It should intuitively be not too big, in which case Cholesky should work robustly, though I don't think I ever actually measured...

[2017-04-28 07:48] whitequark commented on #225
@Evil-Spirit Excellent work!

[2017-04-28 08:38] Evil-Spirit commented on #225
@jwesthues , I will try to calculate the condition number of the matrix and do output for it.
@whitequark Now we have WriteJacobian: 531.120 ms as bottleneck, but this is probably just Expr massive allocations (just need to make faster allocator). Anyway, this is not the problem. The next real problem is rank test. It's slow for rank-revealing QR, but @jwesthues suggesing to try SVD for it... But

[2017-04-28 08:52] jwesthues commented on #225
SVD rank testing is better but unlikely to be faster. I'm not sure about Eigen, but sparse SVD solvers are well-studied, http://www.netlib.org/svdpack/ or whatever.

Iterative methods for the SVD may have a special benefit here if we cache the result, since while dragging, the A matrix doesn't usually change that much from solve to solve. So the SVD shouldn't change that much either, so we might u

[2017-04-28 11:08] urmilparikh commented on #206
I confirm that `10mmcube-modded3.step` shared by @Jonimoose does show up as solid in 123D Design as well.

[2017-04-29 03:32] shrikumarh opened #246 "Circle inexplicable cannot resize more than 16384"
### System information

solvespace 2.3+repack1-2~bpo8+1

Operating system: (e.g. Debian testing) debian/jessie

### Expected behavior

In a sketch with a single circle. a single tangent and an intersecting radial, and no other constraints, all values of circle diameter should be feasible.

### Actual behavior

Circle cannot be dragged beyond ~16384.

Hitting space makes the solve error disappear,

[2017-04-29 03:40] whitequark commented on #246
Looks like the rank test starts to fail around that diameter (it's ~22354 on my machine, for some reason).

@shrikumarh The work-around is to enable the "allow redundant constraints" option in the group properties.

@jwesthues I understand the cause is that RANK_MAG_TOLERANCE is too small for this sketch. Lowering that value to 1e-5 lets the diameter be as large as 225000.

However, It seems reall

[2017-04-29 03:56] jwesthues commented on #246
`RANK_MAG_TOLERANCE` is absolute. It should obviously be relative to the bounding box of the sketch; but we have enough dynamic range that it never bothered anyone enough to fix it.

[2017-04-29 05:38] shrikumarh commented on #246
Thanks! Will look forward to fix in some future update.

Meantime, for me scaling the whole sketch is a better workaround.

I am using SolveSpace as a "have-fun" graphical-matlab drawing tool for my 8 and 9yo kids to doodle in. The "Redundant Constraints" error message is actually important to me .. it introduces them to notions like degrees of freedom along with solving for sin/cos, years before

[2017-04-29 07:55] tgirod opened #247 "background color of property window"
Property window's background is black, same as main window's background. Without a border around the property window, it is hard to distinguish the two windows from each others.

![capture d ecran de 2017-04-29 09-49-00](https://cloud.githubusercontent.com/assets/130746/25553965/e4ee18ba-2cc1-11e7-8092-e9fadd7be30b.png)

As a result, I often find myself clicking on the property window when trying

[2017-04-29 08:07] whitequark commented on #247
On Linux, this is the responsibility of the window manager. In my case, the window manager, i3, draws a nice thick border:
![screenshot_20170429_080433](https://cloud.githubusercontent.com/assets/54771/25554033/cf33883e-2cb2-11e7-8814-cb24ec8db994.png)

Therefore I suggest you configure your window manager to do the same. I don't know what DE that is or how does one configure it that way.

[2017-04-29 08:11] Evil-Spirit commented on #225
@jwesthues, I have calculated using approach mentioned here http://stackoverflow.com/questions/33575478/how-can-you-find-the-condition-number-in-eigen

[code]
the result is 1e+7...1e+14 for A*A^T matrix during newton steps (for a long solution solved in 39 steps )
what does it means?

[2017-04-29 09:35] jwesthues commented on #225
It's the number of digits of precision that we lose while solving; but we need to define the condition number as the ratio of the maximum singular value to the minimum **non-zero** singular value. I suspect that your condition number is artificially big because your sketch has unconstrained DOF, and each unconstrained DOF introduces a singular value that's ideally zero.

Ignore all the singular va

[2017-04-29 09:55] jwesthues commented on #246
@shrikumarh Thanks, we're glad that you liked it.

@whitequark I take back my statement above. A tolerance that scaled with the sketch would fix this problem, but introduce new ones with stuff like the quaternions used in assemblies. The right fix is a better rank test in general, like something based on singular values. A singular value tolerance really should be constant.

[2017-04-29 17:00] Evil-Spirit commented on #225
@jwesthues example of singular values list is
[code]

[2017-04-29 17:58] jwesthues commented on #225
That's a less abrupt step than I would hope. How many unconstrained DOF is it supposed to have?

[2017-04-29 18:15] Evil-Spirit commented on #225
@jwesthues , for this there is 34 dofs unconstrained.

[2017-04-29 18:21] jwesthues commented on #225
Really? There are 32 lines in the last obvious group.

What constraints are applied, and how many of each? Does that correspond to the group structure we see here?

[2017-04-29 18:31] Evil-Spirit commented on #225
@jwesthues
[code]
![2017-04-30 01 29 55](https://cloud.githubusercontent.com/assets/1980537/25557859/be5e6244-2d44-11e7-8cb7-2181d31d6211.png)
![2017-04-30 01 30 05](https://cloud.githubusercontent.com/assets/1980537/25557860/c105c7f8-2d44-11e7-8694-069689ef22a0.png)

[2017-04-29 18:32] Evil-Spirit commented on #225
@jwesthues all the same as the last image

[2017-04-29 18:39] Evil-Spirit commented on #225
@jwesthues  https://github.com/Evil-Spirit/solvespace-master/commit/13a646074b4a0c7615a915ddc0d16cce28260f57

[2017-04-29 18:40] Evil-Spirit commented on #225
@jwesthues  you can try it yourself

[2017-04-29 19:04] jwesthues commented on #225
Okay, got it. So you've got 32\*4\*2 rectangle vertex coordinates, minus 31\*2 unknowns for the point-coincident at the corner, minus 32\*2 for the lengths, minus 32\*2 for the parallels, minus 32 for the perpendiculars. That's our 34 DOF.

You write 32\*2 + 32\*2 + 32 = 160 nontrivial equations, and the A matrix would ideally have full rank. So this isn't a useful test case for what I was talking

[2017-04-29 19:10] tgirod commented on #247
fair enough !

[2017-04-29 20:35] #247 closed

[2017-04-30 05:18] whitequark opened #248 "dragging too quickly breaks selection rect on macOS"
Ref: https://twitter.com/FioraAeterna/status/858550392086331392

[2017-04-30 20:05] nekromant opened #249 "Sometimes solvespace creates corrupt slvs files."
### System information

This is SolveSpace version 2.3~.
(Latest deb-packaged version from releases)

Operating system: Debian Jessie (stable)

### Expected behavior

Solvespace should always save files correctly and load them.

### Actual behavior

Sometimes, when saving complex designs solvespace produces a file it can't open afterwards. Opening such a corrupt file causes solvespace's window to

[2017-04-30 20:10] whitequark commented on #249
The file is definitely not corrupted. Both 2.3 and 3.0 can open the file, after a slight delay:
[code]
Is, perhaps, chord tolerance set to an unreasonably low value on your machine?

[2017-04-30 20:27] nekromant commented on #249
@whitequark Hm, I think I figured it out. My Intel Sandybridge drivers were the issue. Since I'm using a dual-gfx laptop, running solvespace using the nvidia card solved the issue for me.

Here's what I get from stdout from solvespace when trying to open the file on intel :
[code]

And here's what I get from gdb when I ctrl+c it from the frozen state:

[code]

Here's the glxinfo for the intel card

[2017-04-30 20:34] whitequark commented on #249
Neither. You aren't actually running SolveSpace on the Intel video card. You are using the Mesa/LLVMpipe software rasterizer (and I'd expect that to be noticeably slow, if not *unusably* slow).

See:

    OpenGL renderer string: Gallium 0.4 on llvmpipe (LLVM 3.5, 256 bits)

And from the backtrace:

    #3  0x00007fffe36ec8f7 in ?? () from /usr/lib/x86_64-linux-gnu/dri/swrast_dri.so

The Mesa softw

[2017-04-30 20:37] #249 closed

[2017-04-30 20:39] nekromant commented on #249
Okay, looks like we can close the issue for now. I'll have to tripple check my graphics settings, looks like I've got something terribly broken without me noticing.

[2017-04-30 22:47] romeojulietthotel opened #250 "Make two rows for the icons in the Property Browser."
Enhancement request:

Make two rows for the icons in the Property Browser so the window can be narrow.

I looked at textwin.cpp but not sure how to best implement this feature.

On a low resolution display (laptop) the horizontal display space is limited and having a narrower Property Browser would give more to the modeling area.

[2017-04-30 22:48] whitequark commented on #250
We really should wrap both text and buttons for such cases.

[2017-05-01 03:44] Evil-Spirit commented on #246
@jwesthues, I have done it once a time. This is just new operator (Expr::Equals) which substitute Expr::Minus for the cases where we are actually do a compasion not a substraction. And this operation can take epsilon as a fraction of (min/max/mean) bound.

[2017-05-02 06:09] Evil-Spirit commented on #225
@jwesthues thank you, you are swimming at the deep where I still can understand you. Now I understand a little bit more about how to answer the question what equation is good, and what is bad. You can read this [article I written](https://translate.google.com/translate?hl=ru&sl=ru&tl=en&u=https%3A%2F%2Fhabrahabr.ru%2Fpost%2F325770%2F). I should check the PARALLEL equation because this is not scale

[2017-05-03 21:30] patrovite opened #251 "Solvespace crash if I try to lathe a shape in "difference" mode"
### System information

SolveSpace version: Solvespace 3.0 - 6637

Operating system: Voyager linux =>  XUbuntu 16.04 LTS

### Expected behavior

On a solid I tried to do a hole with a chamfer

### Actual behavior

On the workplane I draw the shape and lathe it. The program crashed when I selected "Difference" in the lathe options

### Additional information

[test3.zip](https://github.com/solvespa

[2017-05-03 21:31] patrovite commented on #251
If I launch Solvespave from the console, when the program crashed it produced these messages :

File /home/pierre/src/solvespace/src/dsc.h, line 334, function FindById:
Assertion 'Cannot find handle' failed: ((t != NULL) == false).
Backtrace:
0: solvespace(_ZN10SolveSpace14assert_failureEPKcjS1_S1_S1_+0x58) [0x483be8]
1: solvespace(_ZN10SolveSpace6Vector4FromENS_6hParamES1_S1_+0x77) [0x5671d7]
2:

[2017-05-04 01:21] romeojulietthotel commented on #250
Having a resizable window would be good to have.  I can only guess, since I don't know, that GTK has some features to do this so no hard coded geometry/locations would be needed.

And avoiding hard coded values in code is more maintainable as time goes by.

[2017-05-04 10:47] whitequark commented on #250
GTK has nothing to do with this because all of our UI drawing code is in OpenGL.

I'm well aware. I did not write that code.

[2017-05-04 11:04] whitequark commented on #251
This was fixed in 85b4b25278c0acf85c6f35cb347c672f273dec5d, are you sure your version is up-to-date?

[2017-05-04 12:40] patrovite commented on #251
I downloaded and compile my version in april 2th. I'm probably not up to date. I'll will dowload and compile the latest github version.

[2017-05-04 12:58] patrovite commented on #251
With the last version it solved my problem.
Thanks

[2017-05-04 12:58] #251 closed

[2017-05-04 18:42] romeojulietthotel commented on #250
Not too surprised that I was wrong about the GUI. It's good that it doesn't use a big UI toolkit.
Now I know why it compiles so quickly and with very few dependencies.

[2017-05-04 20:17] tgirod opened #253 "weird behaviour with imported dxf"
### System information

SolveSpace version:  2.3~7c1ca460

Operating system: archlinux

### All is fine ...

I'm importing a vectorized (dxf) tree. The shape has nice closed contours and everything is fine.

![fine](https://cloud.githubusercontent.com/assets/130746/25723075/dcb2109e-3116-11e7-9a17-ddb4afe48e13.png)

### But then ...

Now, if I add a rectangle around this shape, I should get the ne

[2017-05-04 23:06] whitequark commented on #253
That's because the style of the inner lines is different from the style of the rectangle (as we import DXF styles as they are). I'm not sure what's best to do here...

[2017-05-05 07:40] tgirod commented on #253
OK, I've just discovered the existence of styles in SolveSpace 👍

Knowing this, it was trivial to solve the problem by selecting everything and removing assigned style. Thanks !

[2017-05-05 07:40] #253 closed

[2017-05-07 09:00] damian0815 commented on #81
Are they any plans to bring this into the core? I would love this feature.

[2017-05-07 09:03] damian0815 opened #254 "Emulate right mouse button on OSX"
Solvespace is awkward to use on an OSX laptop without an external mouse because of the requirement for right-clicking to perform certain operations.

Solvespace should offer right-mouse-button emulation, for example by interpreting Ctrl-Click as Right click.

[2017-05-07 11:37] whitequark commented on #254
Would [this](https://github.com/solvespace/solvespace/issues/68) solve your problem?

[2017-05-07 11:41] whitequark commented on #81
No immediate plans, other tasks have a higher priority.

[2017-05-07 11:50] Evil-Spirit commented on #225
![2017-05-07 18 45 17](https://cloud.githubusercontent.com/assets/1980537/25780657/b7c69b60-3355-11e7-983d-c4b87ad9f2f8.png)

[code]

[2017-05-07 12:04] Evil-Spirit commented on #225
@jwesthues
As I suspect, the 3k...20k singular values was introduced by parallel constraints. Turning this equation in normalized form removes this big values. But rotation and length still in the different scale.

[2017-05-07 19:02] jwesthues commented on #225
@Evil-Spirit Cool. One option is just to multiply or divide by a constant scale factor derived from the bounding box of the overall sketch. That's ugly, but it does the right thing as long as the initial guess is drawn with halfway reasonable (within a few orders of magnitude) scale.

What singular values do you get when constraints really are redundant/inconsistent?

[2017-05-07 20:54] patrovite opened #255 "Program doesn't start after adding a new translation"
### System information

SolveSpace version: 3.0~280d5b90

Operating system: xubuntu 16.04LTS

### Expected behavior

The program must start and the main windows displayed.

### Actual behavior

The program doesn't start.
In the console I have :
File /home/pierre/src/solvespace/src/resource.cpp, line 496, function ExpectRegex:
Assertion 'Unmatched regex' failed: ((TryRegex(re, m)) == false).
Backtr

[2017-05-07 21:48] whitequark commented on #255
My bad. I've fixed it in master.

[2017-05-07 21:48] #255 closed

[2017-05-08 04:08] shrikumarh opened #256 ""Show Degrees of Freedom" command highlights more points than degrees of freedom"
### System information
solvespace 2.3+repack1-2~bpo8+1
Operating system: (e.g. Debian testing) debian/jessie

### Expected behavior

I should be able to make a circle by melding together two arcs.

### Actual behavior

If I use constraints to meld two arcs together, it fails, in different ways.

I can do it by mousing one center to the other just fine.

Sometimes I can do it by setting separation

[2017-05-08 12:32] whitequark commented on #256
The problem here is that you're overconstraining the sketch. Once you get the "SOLVE FAILED! redundant constraints" error message, click the "allow redundant constraints" link in the property browser.

The fact that it *works* here is a bug; it should always error out as the sketch is overconstrained. This is fixed in master.

[2017-05-08 15:15] patrovite opened #258 "Remove hard coded text in order to allow translation"
### System information

SolveSpace version: 3.0....
Operating system: XUbuntu 16.04LTS

### Expected behavior

With French translation all the text must be French.

### Actual behavior

After the French translation has been finished texts in the property browser are still in english

### Additional information

[2017-05-08 15:24] whitequark commented on #258
Yes, the much needed property browser rendering rework...

[2017-05-13 19:04] tpimh commented on #68
I think this is the GTK+ doc that you are missing: https://developer.gnome.org/gtk3/stable/GtkGesture.html

[2017-05-13 19:17] whitequark commented on #68
@tpimh It is a really bad doc.

[2017-05-14 04:27] Evil-Spirit commented on #225
@whitequark , ready here
https://github.com/Evil-Spirit/solvespace-master/tree/eigen-master

[2017-05-14 23:19] shrikumarh commented on #256
Thanks much. I understand what you mean, but to reason out what inside made it overconstrained was a bit confusing. I scratched my head a good bit about this one, but think I finally stumbled upon a few brain cells somewhere inside my skull.

Maybe the following is what you are saying is what's happening?
1. Two arcs, with the two ends constrained touching end1 to end1, end2 to end2. The two cente

[2017-05-15 03:19] Evil-Spirit commented on #225
@whitequark,
https://github.com/Evil-Spirit/solvespace-master/tree/solver-tests

[2017-05-16 15:24] Evil-Spirit commented on #208
@whitequark , updated here. Because of solver way to solve equations the diagonal point is stay at the same place, so I decided to change  dragged point and rewrite the text. What should I do with translations?

[2017-05-20 10:11] patrovite commented on #258
Are you planning to do a global rework on the property browser or you only want to work on the hard coded text? If it's the second choice, I can help you.

[2017-05-20 10:42] whitequark commented on #258
The former. There are more bugs like https://github.com/solvespace/solvespace/issues/92 and https://github.com/solvespace/solvespace/issues/250 and others maybe...

[2017-05-20 15:48] jonas-schievink opened #259 "'Cannot allocate memory' when exporting mesh"
### System information

SolveSpace version: 3.0~33b6e517 (current master, built with clang 4.0)

Operating system: Arch Linux x86-64

### Expected behavior

Solvespace should have reported an error (since I'm pretty certain the model has issues that lead to a somewhat broken mesh) or it should successfully export the mesh.

### Actual behavior

Solvespace hangs for a while, then crashes with a fai

[2017-05-20 16:32] whitequark commented on #259
What's the export chord tolerance? You could genuinely have a mesh larger than ~3GB.

[2017-05-20 16:53] jonas-schievink commented on #259
0.01mm. Looks like 0.1mm works. However, a previous version of this model exported just fine at 0.01mm and resulted in an STL file of only about 140 KiB. The only difference between the versions are slightly changed constraints.

[2017-05-20 17:10] whitequark commented on #259
Render chord tolerance is in % not mm.

[2017-05-20 17:43] jonas-schievink commented on #259
But the calculated value in mm is displayed next to the value in %, no? Setting the percentage such that this value is 0.01mm still works (which incidentally is 0.01%). Even with 0.005% it still renders fine (and displays a rounded tolerance of 0.00mm).

I also get the feeling that the GUI is a bit borked since the displayed values are sometimes not updated and sometimes change when I change nothi

[2017-05-22 14:41] Evil-Spirit commented on #259
@whitequark, @jonas-schievink fixed here

[2017-05-22 14:48] whitequark commented on #259
@Evil-Spirit Can you check if this addresses any of our other issues where mesh generation is slow?

[2017-05-22 14:49] Evil-Spirit commented on #259
@whitequark ofc

[2017-05-22 15:14] Evil-Spirit commented on #177
@whitequark 5 problematic edges here

[2017-05-22 15:23] whitequark commented on #177
is that after the fix in #259?

[2017-05-22 15:33] Evil-Spirit commented on #177
@whitequark hm. probably no progress here. it is like was before.

[2017-05-24 06:40] Helios747 opened #260 "[Feature request] Ability to move entities with keyboard"
So a lot of my workflows across my system for various reasons are very keyboard centric. What I would find nice to have is the ability to move selected entities via the keyboard arrows or through some shortcuts. If it's a single object, move that, if it's a group selection, move them all.

When I had the grid enabled, my intuition told me that I could use arrow keys and some sort of key modifier t

[2017-05-24 06:45] whitequark commented on #260
@jwesthues So this is an accessibility issue. SolveSpace is already much more accessible than direct CADs (or so I'm told), so I'd quite like to make it even better. Any opinion on the modifier? Ctrl+arrows, then jump using the current grid step?

[2017-05-24 07:50] jwesthues commented on #260
Nudge with the arrow keys is pretty common, makes sense.

Do you need a modifier? The arrow keys alone don't do anything yet, and that's how Office etc. work.

And maybe nudge by a grid step if the grid is shown, otherwise by a constant distance in screen pixels? That would avoid surprising users who haven't set up a grid (which is probably a lot of them, since the workflow isn't generally too gri

[2017-05-24 07:52] Evil-Spirit commented on #260
@jwesthues
I think by default arrows must control camera/view. This is needed when you are controlling without mouse (I don't like touch pad so much)

[2017-05-24 08:57] jwesthues commented on #260
Are there other applications where arrow keys alone pan/rotate the view, and modifier+arrow moves entities? The reverse would have seemed more intuitive to me, but I can't immediately think of examples of either.

[2017-05-24 09:58] whitequark commented on #260
Photoshop moves selection with plain arrows, Inkscape moves the canvas. I don't see either choice as more intuitive, personally, and in either case it seems trivial to adjust to it. We already have a highly nonstandard mouse controls for camera and it's not like many people complain.

@Helios747 any opinion here?

[2017-05-24 15:04] Helios747 commented on #260
I think with no modifier, moving the camera is fine.

[2017-06-02 23:44] traverseda commented on #75
Looks like the situation has changed since the time of writing.

a) [capnp decode reads a binary Cap’n Proto message from standard input and decodes it to a human-readable text format (specifically, the format used for specifying constants and default values in the schema language)](https://capnproto.org/capnp-tool.html#decoding-messages)

b) [Cap’n Proto messages can now be converted to and from

[2017-06-03 00:46] whitequark commented on #75
That hasn't changed. Note I've said "at runtime", capnp decode requires installing a binary.

[2017-06-03 12:29] traverseda commented on #75
Ahh, sorry. Just skimmed the issue. I was going to open a few issues on little usability things, but you've already got every complaint I could make covered.

[2017-07-09 15:37] NikiSchlifke commented on #50
Hey, is there anybody working on that right now. I use solvespace on a 276dpi laptop and it's really barely usable.
Regarding aligning svg images on a pixel grid and such, yeah that's nice but actually if you are using a HiDPI display you likely on't care. Because at above around 200dpi you can't even see the difference between naive grayscale anti-aliasing, sub-pixel anti-aliasing, font hinting o

[2017-07-09 18:07] whitequark commented on #50
Just use the master branch, that already has HiDPI support.

[2017-07-09 22:05] NikiSchlifke commented on #50
Just compiling and running it won't result in any changes for me. Perhaps I'm blind I can't see any option in the ui or code that is supposed to do the scaling for that matter.
Can you point me towards the code that is supposed to do the scaling?
All I can find is
https://github.com/solvespace/solvespace/blob/33b6e5173724ebb207c4d8450a561448b2e07e5d/src/view.cpp#L12-L19
which seems to be regarding

[2017-07-10 10:10] whitequark commented on #50
HiDPI support on GTK was added in commit 96476ca2e5af872c4fc0399be553951c6052254a. This doesn't actually bring you larger icons or larger text in the browser. Although I still find it quite usable, a quick and dirty way to increase icon and text size would be to scale the viewport 2x when creating `UiCanvas`.

[2017-07-10 21:16] diggit opened #262 "Constant CPU load"
### System information

SolveSpace version: 3.0~33b6e517 (It would be nice to have it selectable to copy)

Operating system: Archlinux

### Expected behavior

Minimal CPU load when not focused or focused and not doing anything.

### Actual behavior

Constant CPU load around 10% in average (~2s), even when unfocused and somewhere in background.

### Additional information

Processor i7-3610QM runni

[2017-07-10 22:16] whitequark commented on #262
Can you record a profile using `perf record solvespace` and then format it using `perf report | head -n 50`?

[2017-07-11 08:43] diggit commented on #262
Here it is:
[code]
_Most of time was solvespace in background. Runnning 6.7 minutes._

[2017-07-11 14:11] whitequark commented on #262
That's interesting. Looks like something in your window system continuously requests the text window to be repainted. How's your desktop set up?

[2017-07-11 14:37] diggit commented on #262
I am using tiling wm i3. No compositing manager running. It's quite bare setup, nothing fancy.

I tried to run solvespace in fluxbox and if textwindow was not visible, CPU load dropped to 0.
- switching to other virtual desktop worked
- minimizing text window worked too, but as it is not regular window, I couldn't find a way to restore it

Whenever it was visible, CPU load jumped back to 10%.

If

[2017-07-11 14:57] whitequark commented on #262
I use i3 too and don't observe such behavior. Weird.

[2017-07-11 15:09] diggit commented on #262
I have i3 built from git quite recently, comparing to last stable release from Nov 8, 2016 . Not sure which version you use.

Fluxbox test showed, that text window is being constantly repainted once it is visible. This is not ok IMO.

[2017-07-11 15:22] whitequark commented on #262
I'm not choosing when to repaint it while idle, GTK does. I'm not sure what's going on here.

[2017-07-12 00:29] Symbian9 commented on #255
@patrovite, try make DEB from latest sources of SolveSpace 3.0 for xubuntu 16.04 and upload it somewhere, please!

[2017-07-12 01:48] Symbian9 commented on #260
Maybe, better way is add "Keyboard settings" for SolveSpace, where user will map keys as want?

[2017-07-13 21:22] traverseda opened #263 "Use dear imgui for user interface"
It's decent, looks easy to integrate, and is platform agnostic. It seems perfect for platforms like javascript/emscripten and android, and more or less equivalent to the current non-native widgets.

Of course native integration with things like toolbars are nice.

[2017-07-13 21:39] whitequark commented on #263
So. Right now we already have a homegrown immediate mode UI library. It has obvious deficiencies (like not supporting RTL or ligatures in fonts), but neither does imgui! Moreover, we currently support input methods because we use platform's edit widgets on every platform, but imgui does not. So it's a lot of added code for what's essentially a regression in accessibility.

I'm not inherently oppos

[2017-07-13 22:27] traverseda commented on #263
It seems to me like using native widgets on each platform is going to be very difficult to maintain.

I've found multiple references to IME in the imgui [releases page](https://github.com/ocornut/imgui/releases), but that feature seems to be undocumented.

`InputText(): Replace OS IME (Input Method Editor) cursor on top-left when we are not text editing.` is one.

It looks like it has some undocum

[2017-07-13 22:33] whitequark commented on #263
We already have a working implementation of a platform abstraction layer that functions exactly as I want. Why should I add SDL to the mix? It's even more code, more bugs, more bloat, etc.

As another example, SDL may give me native IMEs but it does not give me native menus and keyboard accelerators, which e.g. will not fit into the new GNOME interface (where the menu attaches to the top of the sc

[2017-07-13 22:36] whitequark commented on #263
Ok, If you really want to use imgui, feel free to start the conversion with "toolbar.cpp". If the code actually comes out cleaner architecturally, or at least I see the *potential* for it to be cleaner architecturally, I will gladly migrate to this library.

[2017-07-14 06:39] Symbian9 commented on #263
Did imgui work with GPU limited to OpenGL1.x?

Or imgui require OpenGL2.0?

[2017-07-14 09:42] ss0git opened #264 "UX improvement - Switch to using Shift + "Two finger drag" (no click) on trackpads to Orbit around."
Proposed change to switch from Shift + "Two finger click and drag" to Shift + "Two finger drag" (no click) on trackpads to Orbit around.

### System information

SolveSpace version: 2.3

Operating system: OS X Sierra

### Expected behavior

Orbiting around using Shift + "Two fingers drag on trackpad" (no click) should work better. Pushing down to click is very cumbersome. You want to spin around t

[2017-07-14 10:06] whitequark commented on #263
dear imgui outputs vertex buffers, which are not in OpenGL 1.

[2017-07-14 10:08] whitequark commented on #264
Duplicate of #68.

[2017-07-14 10:08] #264 closed

[2017-07-14 12:22] traverseda commented on #263
Not as such, it's more an architectural thing. The current immediate mode GUI sucks, and it looks like it's going to suck for third-party contributors as well. I'm skeptical of the idea of using a bunch of different native widget toolkits to implement the more complicated UI elements. That seems like it would quickly end up being very hard to maintain. I'd like the limited developer time to be on

[2017-07-14 12:28] whitequark commented on #263
Huh? Of course it would, I'll just use an `<input>`.

[2017-07-14 12:38] traverseda commented on #263
As I understand it, your HTML inputs would essentially be running in a different process, so what you're actually talking about is implementing a whole new UI in html/JS, and including some kind of IPC mechanism? Am I understanding that correctly?

[2017-07-14 12:45] whitequark commented on #263
Not at all. Take a look at a WIP branch that abstracts the details of the exact platform. There's a [tiny API](https://github.com/solvespace/solvespace/blob/platform/src/platform/gui.h) that needs to be implemented to add support for another window system.

[2017-07-14 13:26] traverseda commented on #263
So your plan is to first write a generic cross-platform UI toolkit that outputs UI elements native to each platform? Even presuming that you're only targeting a small subset of functionality, that's still a pretty complicated thing. Easy enough when you're only targeting menus and menu bars, but more complicated when you start talking about things like tree editors.

I mean, if that's what you'd l

[2017-07-14 14:26] ss0git commented on #68
Since my issue was closed I'll copy my suggestion here. It is more specific than what is proposed in this support ticket.

UX improvement - Switch to using Shift + "Two finger drag" (no click) on trackpads to Orbit around

Proposed change to switch from Shift + "Two finger click and drag" to Shift + "Two finger drag" (no click) on trackpads to Orbit around.

### System information

SolveSpace vers

[2017-07-14 14:54] whitequark commented on #263
Please understand that:

  1. I already wrote this, it needs just a bit more polish to be published, and
  2. I do not intend to ever go beyond text editors, menu bars, tooltips and file pickers.

The UI elements I've described are in a way privileged. Menu bars interact with accelerators and are overlay windows, tooltips are overlay windows, and text editors need IMEs. No other element needs this

[2017-07-14 14:57] whitequark commented on #263
To add to the above, something I would be quite glad to get rid of is the platform *scroll bar*. It's a nightmare to interface with and it blocks #39, and #39 blocks Emscripten integration because Emscripten can only create exactly one WebGL context.

[2017-07-14 15:10] whitequark commented on #68
I would actually prefer use 2-finger "pinch" gesture for zoom, 3-finger "pan" gesture for translation, and 1-finger double-click plus drag gesture for rotation. Objections?

[2017-07-14 15:20] traverseda commented on #263
Well then find myself pretty confused.

It sounds like we're both describing exactly the same thing, use an immediate mode gui for the complicated widgets, progressively enhance that "special class" of widgets for particular platforms.

The big difference is, role your own that handles IME using native widgets, or use an established/documented project and do whole window IME? To me, it's pretty st

[2017-07-14 15:37] whitequark commented on #263
It's not really a reduction in cost. For example, if I add SDL, I have to figure out how to integrate it into the CMake build system (we use CMake exclusively so that targeting Windows and cross-compilation stay sane), then I have to figure out how to integrate it with ANGLE to support Windows machines with no OpenGL 2+ drivers, then I have to figure out how to add native menus and tooltips to it,

[2017-07-14 16:39] traverseda commented on #263
Wall of text coming, and I'm not describing it well, so for that I apologize.

---

There's no individual thing that you *couldn't* do yourself, but working as part of a group? Your expecting other programmers to learn *your* project specific immediate-mode gui, instead of something portable between projects. Right now that's pretty reasonable, but hopefully this project is going to get bigger.

[

[2017-07-14 16:57] whitequark commented on #263
We don't really have an UI library. It's just a bunch of code that draws rectangles. I have absolutely no allegiance to it and I've repeatedly said that it makes my life harder. I would obviously never advocate for anyone to switch to it or learn it because, well, there isn't a coherent *thing* to switch to in the first place.

I honestly don't know what or whom you're arguing with, I've agreed to

[2017-07-14 17:17] traverseda commented on #263
Well, all that was answering a very specific question

And for the sake of pedantry, the comment where you agreed to migrate is the fifth ;p

I'm not so much arguing as *trying to make sure* that there is a benefit. Like I say, I suck at cpp. Mostly I'm doing dynamically typed languages. So this is probably going to take me 10 hours minimum, for what the docs describe as taking "around an hour". I

[2017-07-14 17:20] whitequark commented on #263
Well sure, like I already mentioned the homegrown UI breaks down almost completely for #39 (I actually tried to implement #39 already and failed), so some sort of new solution is needed. dear imgui might just be it, let me glance at its API I guess.

[2017-07-14 19:21] eric-schleicher commented on #263
This thread is immensely interesting to me.    to help educate me.   is the idea here that an external immediate mode UI system brings more widgets with better supports.

is that required to draw solvespace code through an emscripten pipeline?  or just make it better (core/context-wise).

The idea of getting the use of solvesapce ui and constraint solver in javascript from webVR is tremendously in

[2017-07-14 19:33] whitequark commented on #263
Correct.

Indirectly, it does, see https://github.com/solvespace/solvespace/issues/263#issuecomment-315381212.

I want this for outreach, enabling people to use solvespace without installing it. Especially with Windows 10 and stuff, downloading and running executables just isn't cutting it anymore in today's world.

I personally have no interest in VR, skills required to make VR work, or for that

[2017-07-14 19:40] traverseda commented on #263
There would need to be some significant work done (in c++) to get this running under webVR.

The biggest challenge is that the webVR spec doesn't appear to have any *interaction*. So you might be able to view a scene, but the scale would most likely be off, and you wouldn't be able to edit it (through the webVR spec), even if you had a fancy 3D-space controller. [This](https://w3c.github.io/webvr/

[2017-07-15 00:19] eric-schleicher commented on #263
Well the WebVR spec *shouldn't* have interactions as it's intended to only provide the basic interface to enumerate the hardware and provide the plumbing for HMD and tracked input devices, which it does quite well as this point.

Translating the immediate UI data (in the source form of vertex buffers) into threejs objects would be trivial.  This leaves it very open for libraries like A-frame to ex

[2017-07-15 00:42] traverseda commented on #263
I wasn't speaking so much about "go-juice" as "spacial controllers". But point taken.

You'd interact with it through [preamble.js](https://kripken.github.io/emscripten-site/docs/api_reference/preamble.js.html), as I understand it. So a bit more of a pain in the ass then your pseudo code, but probably pretty reasonable.

If you wanted to pull the "render data" out of solvespace, and render it your

[2017-07-15 01:48] whitequark commented on #263
This is just the solver (think insides of one group), not complete SolveSpace. Complete SolveSpace will ~never be available as a library, the effort/benefit ratio is too low.

What he wants is a new platform, like GTK and macOS.

[2017-07-15 03:23] whitequark commented on #263
@traverseda So, I looked at imgui. I think *the* problem is going to be font rendering. It really should be using freetype instead of stb_truetype. Maybe we could do with a fork of imgui...

[2017-07-15 12:54] traverseda commented on #263
Somebody has already done *some* work on using freetype. See [this](https://github.com/ocornut/imgui/issues/618) thread and [this](https://github.com/Vuhdo/imgui_freetype) repo.

Personally? I wouldn't bother too much. It *can* be fixed, but it's probably good enough for now.

It [really doesn't look that bad](http://sol.gfxile.net/ocornut_demo/imgui.html) in practice. Personally, I'd throw someth

[2017-07-15 12:55] traverseda opened #265 "Set up crowdfunding stream"
There should be a way for people to give the project money. I hear patreon is a good option.

[2017-07-15 12:57] whitequark commented on #263
It's not about look, it's about rendering scripts that use ligatures.

[2017-07-15 13:07] whitequark commented on #265
This is not necessary. The limiting resource is not money (SolveSpace has one full-time programmer funded by M-Labs, though right now they are on hiatus) but time, specifically, time I spend on code review, merges and testing. I've had a lot of personal stuff going on recently and was unavailable to do much, which is why the project has stalled since April; that should change soon.

Also, quite fr

[2017-07-15 13:07] #265 closed

[2017-07-15 13:11] traverseda commented on #263
You mostly shouldn't need to render *real* ligatures, as long as

 * The ligature has a unicode code point assigned
and
 * You use a font with a glyph for that ligature

Most of the ligatures used by latin-ish scripts (french, russian, spanish, etc) *should* be alright. It's mostly just arabic that needs *real* ligature support. If I'm reading this right.

Their font rasterizer does, by default, s

[2017-07-15 13:16] whitequark commented on #263
I do not subscribe to the philosophy of open-source that essentially just ignores non-Latin non-Cyrillic scripts and hopes they go away. People using Latin scripts are a minority. Why *shouldn't* we support Arabic, especially given that we *already ship with Freetype*? Sure, also needs HarfBuzz and bidi, but those are easy to integrate.

[2017-07-15 13:25] whitequark commented on #263
Side note: you seem to be thinking that groups are "layers" (they are not), and the biggest problem with hierarchical sketches is the UI. That's not the case. The biggest problem with hierarchical sketches is that SolveSpace is currently unable to load more than one file at once because of pervasively used global data, and it will take literally *months* of refactoring before we are even near the

[2017-07-15 13:55] traverseda commented on #263
It looks like there's a [readable subset](https://en.wikipedia.org/wiki/Arabic_script_in_Unicode) of arabic that should be usable without real ligatures, but will be ugly. I think that's a reasonable best effort, and that beyond that it's really up to the languages advocates.

I mean, over a long enough time frame, they probably will. Look a china, and their governments attempts to simplify, stand

[2017-07-15 14:04] traverseda commented on #263
It looks like there's a [readable subset](https://en.wikipedia.org/wiki/Arabic_script_in_Unicode) of arabic that should be usable without real ligatures, but will be ugly. I think that's a reasonable best effort, and that beyond that it's really up to the languages advocates.

I mean, over a long enough time frame, they probably will. Look a china, and their governments attempts to simplify, stand

[2017-07-15 14:10] whitequark commented on #263
That's what we have right now with GNU Unifont. It's... not really usable.

A reasonable best effort is simply using Freetype, that we already use elsewhere in SolveSpace.

We are never going to agree on this, and the last thing I will say on this topic is I suggest developing some empathy for cultures of others. It's only pain in the ass because many others like you *consciously chose* to make it

[2017-07-15 15:03] traverseda commented on #263
it's more about building credibility. That money should, ideally, go towards bountry-source. Gradually, over time, the bounties should increase to the point where a new contributor picks it up. Hopefully they stick around. I think it's a useful step towards community building.

I think so. Sadly the big factors are the window bevels and transparency. The subtle re-size handle on the bottom left.

[2017-07-15 15:11] whitequark commented on #263
This is completely unconvincing. dear imgui looks like a quick-and-dirty layout engine for games, which I'm pretty sure it was conceived as. You definitely have a point with ease of use of the internal API, but I find it looks just as dated than the current UI.

[2017-07-15 15:25] traverseda commented on #263
Huh. Well that's something where our intuitions differ vastly. Imgui looks clean, minimalist, and professional. At least from where I'm standing. Hard to get concrete data on that though.

[2017-07-15 15:27] whitequark commented on #263
I consider both SolveSpace's current UI and dear imgui clean and minimalist, and I don't think that migrating to dear imgui will either help or hurt SolveSpace in that regard.

"Professional" in this day and age means "huge areas of white and flat design", which, being terrible for actual use notwithstanding, is not really something I'm willing to spend a lot of resources on right now.

[2017-07-15 15:31] traverseda commented on #265
Well, I'd encourage you to diversify your funding streams and find a way to compensate third-party contributors. It's a generally useful thing to do.

[2017-07-15 16:16] ss0git commented on #68
I'll do some testing here, with your setup, to see how it feels. My proposition was made with "mess with as little as possible" in mind. I tried using the app to model something as part of a real world project and it proved quite cumbersome to navigate after a while. Most projects are 75% moving around to get a better view.

[2017-07-15 16:17] d235j commented on #68
@whitequark why not stick with the Apple standards:
2-finger "pinch" for zoom
2-finger "pan" for translation
2-finger "rotate" for rotation
and some way to change axes.

[2017-07-15 17:29] whitequark commented on #68
@d235g Sure that works

[2017-07-15 18:38] ss0git commented on #68
There might be some use getting this down in some menu for user preferences or something. Have each user select the one they like.

That table I build for Pan, Zoom, Orbit could be pivoted and used for this purpose.

I'm a long time CAD user and there are many possibilities depending on what you want to achieve. Some people transition from other software packages, others appreciate uniformity with

[2017-07-15 18:55] BPLRFE commented on #265
Other things to think about:
- Please mention what you wrote above on the homepage. I am sure a lot of people would be willing to
pay via Paypal or similar (even i would consider a small donation) if it would help ...
- Please consider ways how people COULD contribute to the project

    rights so that the work on the homepage can be shared amongst more people

   to merge pull requests and closin

[2017-07-15 18:59] whitequark commented on #265
The website already exists in a form that's fairly easy to update but the deployment isn't configured, which is a tad annoying.

Linking to 3rd party tutorials is an excellent idea, thanks.

I have not so far been satisfied with the code quality of external contributions. It is regretful but true that accepting pull requests ultimately often requires *more* of my time than implementing a feature o

[2017-07-15 19:08] whitequark commented on #68
So far the majority of people have been satisfied with the default bindings. I think I'll first implement the OS-native gestures, and see how it goes from there.

[2017-07-16 09:11] BPLRFE commented on #265
So would you prefer creating issues for the Github/Solvespace/Website project or maybe you could
add a small readme there to describe how to add (after forking) something to the website and make a pull request ...

[2017-07-16 12:06] whitequark commented on #265
@BPLRFE Sure, issues are good. A bit later I'll properly document the workflow and we could do PRs.

[2017-07-16 18:17] eric-schleicher commented on #263
FWIW, I'm with @whitequark.   the percieved benefit of the imgui would be new UI functionality and supportability, not aesthetics, which i think aren't an improvement over the current solvespace UI.

[2017-07-16 20:12] whitequark commented on #263
I moderately like the API of imgui but frankly that's about the only thing I want to drag into SolveSpace. It uses global state (ew), doesn't use FreeType, doesn't do RTL, tries to do IME in weird ways... naaah.

It's really not hard to do some coordinate transforms while building up an UI and then associating state with hierarchical string identifiers. We have most of the infra for that already,

[2017-07-18 05:51] Evil-Spirit commented on #265
@whitequark,

This is not a reason for rejecting PRs. I think we can make a special branch (community branch) and merge all the good PRs and let people use it, test it and fix it themselves. When features will be proven, we can just merge it.
If we will act not in the way driven by our perfectionism, but in the way that allows other people do contribution, we can make SolveSpace more popular. BTW,

[2017-07-18 12:43] traverseda commented on #265
See also: [The cathedral and the bizarre](http://www.catb.org/esr/writings/cathedral-bazaar/cathedral-bazaar/). Translations available [here](http://www.catb.org/esr/writings/cathedral-bazaar/).

[2017-07-18 15:29] whitequark commented on #265
I have never seen this work in any open-source project. Why would it? Most people just want to scratch their own itch and don't have enough context to predict interactions with other code.

Open-source projects that merge a lot of external contributions have two traits in common:
  * They have an extensive battery of tests, and
  * They have a lot of people performing code review.
This still doesn

[2017-07-18 15:41] whitequark commented on #265
To add to this, I consider an application with few features that work very well far more useful than an application that has everything and a kitchen sink but little complete parts. Does FreeCAD have a working assembly workbench yet? Last time I looked they had three and none of them were usable. That's where your approach ends in.

SolveSpace is as usable as it is *precisely because* most of its

[2017-07-19 01:07] whitequark commented on #22
Moved to https://github.com/solvespace/solvespace-web/issues/4.

[2017-07-19 01:07] #22 closed

[2017-07-19 06:06] Evil-Spirit commented on #265
Yes, this is resonable argument. But how you can predict people intensions? May be this is the first commit of the person who will contribute in a quality way in future. If you are just rejecting PR, no PRs will be from this person in future. So, no chance to achieve quality contributors without approving thir first PR, no chance to have quality contrubutions in future without a bad ones before. T

[2017-07-19 11:38] whitequark commented on #265
I absolutely agree that we need to accept PRs and help people become productive contributors. But I can only do so many things at a time, and so there will be compromises.

I've already worked out the CLA question with Jonathan, so the major obstacle to merging 3rd party code is cleared.

[2017-07-20 02:02] whitequark commented on #265
@BPLRFE I've written [instructions](https://github.com/solvespace/solvespace-web#solvespaces-website) for updating the SolveSpace website. Feel free to submit or work on [issues](https://github.com/solvespace/solvespace-web/issues).

[2017-07-20 20:26] probonopd opened #266 "Compilation error: Backtrace_LIBRARY (ADVANCED)"
[code]

Full Travis CI build log: https://travis-ci.org/probonopd/solvespace/jobs/255811493#L986-L989

[2017-07-21 01:44] whitequark commented on #266
Try this and check if it helps.

[2017-07-21 10:07] alxv-su opened #267 "Wrong detection of redundant constraint"
### System information

SolveSpace version: 2.3~

Operating system: Linux Mint Debian Edition 2 Betsy (using repos from Debian Jessie)

### Expected behavior

Program should solve sketch correctly. DOF should be equal to 0.

### Actual behavior

"SOLVE FAILED!" text appears in "Property Browser" window.

### Additional information

Problematic file attached: [bug-angle.slvs.zip](https://github.com

[2017-07-21 10:07] probonopd commented on #266
Unfortunately it did not help. https://github.com/probonopd/solvespace/blob/patch-1/.travis.yml

[2017-07-21 11:47] whitequark commented on #267
Confirmed in master. A workaround is to constrain the angle of `r005-line-segment` to the X axis, not the YZ reference plane.

[2017-07-21 11:49] whitequark opened #268 "Name of entity (and request, if any) should be shown in entity properties"
We print the group, the workplane, in master even the list of constraints, but not the name of the entity itself, so it's annoying to explore these relations.

[2017-07-21 11:55] whitequark commented on #266
No idea sorry. On Linux, the `backtrace()` function is in glibc, so the check for it should not fail:

    -- Looking for backtrace
    -- Looking for backtrace - not found

You might want to enable CMake's verbose output to find out why.

[2017-07-21 13:55] ss0git opened #269 "README.md - XCode has to be installed via AppStore; it requires a free Apple ID but the Developer Version works too"
### System information

Operating system: macOS

### Expected behavior

XCode has to be installed via AppStore; it requires a free Apple ID.

### Actual behavior

Xcode can also be installed from a Developer Account too - https://developer.apple.com/download/

### Additional information

After you drag it to Applications you have to open it and go to Preferences - Locations - Command Line Tools an

[2017-07-21 14:52] whitequark commented on #269
0b79dc277e86f536736669e273576738e290d76a

[2017-07-21 14:52] #269 closed

[2017-07-21 16:17] whitequark commented on #266
Ah this reproduces on master. I'll look into it.

[2017-07-21 17:02] ss0git opened #270 "CONTRIBUTING.md - How to build the project with Xcode and contribute from there."
### System information

SolveSpace version: any

Operating system: macOS Sierra
### Expected behavior

Since "Xcode command tools" are required to build anything on the mac, and those, in turn, require you to have Xcode, it would make sense to use it to contribute to the project.

mkdir build
cd build
cmake .. -DCMAKE_BUILD_TYPE=Release -G Xcode
Start Xcode and open the generated project file and

[2017-07-21 17:15] whitequark commented on #270
Does this actually need -DCMAKE_BUILD_TYPE, or can you select that in XCode? I misplaced my macOS VM, can you please check?

[2017-07-21 18:12] ss0git commented on #270
Xcode has Build Schemes. And in each Build Scheme you get Build, Run, Test, Profile, Analyze and Archive. For each of these you can select Debug, Release, MinSizeRel and RelWithDebInfo as Build configurations.

That being said running "cmake .. -DCMAKE_BUILD_TYPE=Release -G Xcode" and "cmake .. -G Xcode" generate two somewhat different files with about 848 differences.

Attached generated folders

[2017-07-21 18:16] whitequark commented on #270
I think what's going on here is the hashes and order of build schemes changed.

[2017-07-21 18:21] whitequark commented on #270
32120ea2

[2017-07-21 18:21] #270 closed

[2017-07-21 18:23] ss0git commented on #270
Folder size is not exactly the same either but in Xcode they seem to behave exactly the same.

[2017-07-21 18:31] whitequark commented on #270
I believe I disable benchmarks in Debug builds. This is not terribly important.

[2017-07-21 18:41] ss0git opened #271 "Running the Cmake generated code in Xcode ends in "Command /bin/sh failed with exit code 2""
### System information

SolveSpace version: any

Operating system: macOS

### Expected behavior

Project should build.

### Actual behavior

[code]

### Additional information

I think this one has something to do with the command below. It is supposed to copy solvespace-cli inside solvespace.app/Contents/MacOS/ (notice MacOS is a folder). This folder doesn't already exist like in the normal "make

[2017-07-21 18:44] whitequark commented on #271
ah I think I messed up with parallelism or something, thanks

[2017-07-21 18:48] whitequark commented on #271
Does this help?
[code]

[2017-07-21 19:31] ss0git commented on #271
It doesn't, MacOS folder is still not there to copy to. I'm new to Cmake but your initial code seems fine.

This line is ok:
+    set(bundle_bin ${EXECUTABLE_OUTPUT_PATH}/solvespace.app/Contents/MacOS)
but the folder MacOS doesn't exist. From our earlier discussion it would seem:

` cmake .. -DCMAKE_BUILD_TYPE=Release` creates the directory
` cmake .. -DCMAKE_BUILD_TYPE=Release -G Xcode` doesn't c

[2017-07-21 20:10] whitequark commented on #271
Can you confirm that with this change, the project can be built from scratch reliably?

[2017-07-21 20:56] ss0git commented on #271
It fixes the folder issue. That being said it crashes on launch for other reasons.

Should I create a new issue or continue here? Crashes on

[code]
then in platform.cpp
[code]

The value of the variable name = "locales.txt"

[code]

[2017-07-21 21:10] ss0git opened #272 "Xcode building the project missing Info.plist file in solvespace app folder?"
That being said it crashes on launch for other reasons. There are two issues I can spot right now, and I think they are related.

- In the solvespace.app folder there are two folders MacOS and Resources. A file that is missing and should be there is Info.plist, it's there in the 'make' build and macOS apps in general have it.

- It seems to fail to find its resources? The file is there in the Reso

[2017-07-23 03:52] whitequark commented on #271
49c64f7f

[2017-07-23 03:52] #271 closed

[2017-07-23 03:55] whitequark commented on #272
I think your analysis is correct, here's how it's locating the path: https://github.com/solvespace/solvespace/blob/master/src/platform/platform.cpp#L475-L500

Not sure about Info.plist file.

[2017-07-23 03:59] whitequark commented on #272
I have a [MacOSXBundleInfo.plist.in file](https://github.com/solvespace/solvespace/blob/master/cmake/MacOSXBundleInfo.plist.in), which [should](https://cmake.org/cmake/help/v3.7/prop_tgt/MACOSX_BUNDLE_INFO_PLIST.html) be used for the target that [specifies MACOSX_BUNDLE](https://github.com/solvespace/solvespace/blob/master/src/CMakeLists.txt#L302-L305).

[2017-07-23 04:00] whitequark commented on #272
Also wow, I had no idea [BundleUtilities](https://cmake.org/cmake/help/v3.9/module/BundleUtilities.html) existed, I did not need to mess with `install_name_tool` manually after all. Thanks!

[2017-07-23 06:25] foror opened #273 "Min/Max constraints for angle"
SolveSpace doesn't have collision physics, but it can be simulated by minimum and maximum constraints at angle.

[2017-07-23 10:17] Evil-Spirit commented on #273
Actually, this must be performed for valA of the constraints with dimension values.

[2017-07-25 14:35] alxv-su opened #274 "Wrong detection of redundant constraint #2"
### System information

SolveSpace version: 2.3~

Operating system: Linux Mint Debian Edition 2 Betsy (using repos from Debian Jessie)

### Expected behavior

Program should solve sketch correctly with any distance value.

### Actual behavior

Solve failed if distance greater than 2645 (see screenshots).

### Additional information

Screenshots:
![bug](https://user-images.githubusercontent.com/112

[2017-07-25 14:47] whitequark commented on #274
This is already fixed in the `master` branch.

[2017-07-25 14:47] #274 closed

[2017-07-25 14:49] whitequark commented on #274
(Even if it wasn't, integrating the code in #225 would fix bugs of this sort as well.)

[2017-07-25 21:51] Symbian9 commented on #273
This feature requested already
* https://github.com/solvespace/solvespace/issues/81

[2017-07-25 21:58] Symbian9 commented on #17
@probonopd, use OpenGL 1.x flag for build AppImage, please (because OpenGL|ES 3.x supported not on all PC, that in same time has good support for OpenGL 1.x)
* https://github.com/solvespace/solvespace/blob/master/CMakeLists.txt#L46

[2017-07-25 22:07] probonopd commented on #17
How do I do that?

[2017-07-25 22:07] whitequark commented on #273
Closing as duplicate

[2017-07-25 22:07] #273 closed

[2017-07-25 22:38] Symbian9 commented on #81
@jwesthues & @Evil-Spirit, so if it work in test, why not implemented yet?

[2017-07-25 22:43] Symbian9 commented on #17
@probonopd, setup your recepie

* https://github.com/probonopd/AppImages/blob/master/recipes/meta/SolveSpace.yml

Or who is creator of those AppImages?

* https://bintray.com/package/files/probono/AppImages/SolveSpace

[2017-07-25 22:58] probonopd commented on #17
I mean, what do I have to change exactly to set the "OpenGL 1.x flag"?

[2017-07-26 05:22] whitequark commented on #17
I don't think this actually works with GTK 3 (SolveSpace master).

[2017-07-26 19:46] Symbian9 opened #275 "Add in README info about OpenGL flags for compilling"
### System information

SolveSpace version: 'master'

### Additional info

* https://github.com/solvespace/solvespace/issues/17#issuecomment-317885325

[2017-07-26 19:48] whitequark commented on #275
Sorry, no. `-DOPENGL` only works on Windows, results in a sub-par experience, and will not exist for a long time anyway.

[2017-07-26 19:48] #275 closed

[2017-07-26 19:50] Symbian9 commented on #275
Also in "Releases" section names of binary must include info for what OpenGL version it compiled

* for OpenGL 1.x: `solvespace-2.3_gl1.exe`

* for OpenGL|ES 2.x - `solvespace-2.3_gl2.exe`

[2017-07-26 19:54] whitequark commented on #275
There is no need to ever have a GL1-only Windows executable because ANGLE takes care of translating our OpenGL 3/ES 2 calls into corresponding D3D9/D3D11 calls.

[2017-07-26 20:01] Symbian9 commented on #275
Many user need OpenGL1.x only binary for older PC.

Also for building binary for Linux this deferentiation also needed.

[2017-07-26 20:03] whitequark commented on #275
They can keep using SolveSpace 2.3.

This is not supported now and will never be supported again, since it's incompatible with using GTK 3.

[2017-07-27 01:54] helifino opened #276 "Not buildable out-of-box on Linux"
### System information

SolveSpace version: (e.g. 3.0~3dd2fc00; go to Help → About...)
2.3 release

Operating system: (e.g. Debian testing)
Linux Mint 18.1 Serena 64-bit

### Expected behavior

What should have happened?
Successful build

### Actual behavior

What actually happened?
Several errors.

1. No pre-built .deb package as listed in the README
2. No mention of the required compiler or the

[2017-07-27 02:15] whitequark commented on #276
Note that the 2.3 release is in Debian repositories; you do not need to build it from source.

[2017-07-27 02:29] helifino commented on #276
There is no indication of this in the documentation- website or README

On Wed, Jul 26, 2017 at 7:15 PM, whitequark <notifications@github.com>
wrote:

[2017-07-27 21:48] Symbian9 commented on #276
Similar related to known PPA

* https://github.com/solvespace/solvespace/issues/142

There are AppImage's produced by @probonopd, but they not follow release versions and mostly look like compiled from master

* https://github.com/solvespace/solvespace/issues/17

[2017-08-01 09:59] Symbian9 commented on #17
@Evil-Spirit, need help with flags for OpenGL 1.x!

@probonopd, please, try make AppImage according releases version: 2.1, 2.2, **2.3**. Because currently your builds mostly look like 'nightly' builds for git1000 and git1078, that is not mean 'release'.

[2017-08-01 10:01] Symbian9 commented on #276
Latest discussion on forum
* http://solvespace.com/forum?action=viewthread&parent=2042&tt=1501555666

[2017-08-01 11:07] probonopd commented on #17
Hi @Symbian9 is this project interested in generating official AppImages? Mine are just examples.

[2017-08-01 16:21] Evil-Spirit commented on #81
@jwesthues,
@whitequark,
@Symbian9,
Uff... I made it!
https://github.com/Evil-Spirit/solvespace-master/commit/6b7e99b068ac7daeef87d2aab808538fb1e38a4a

[2017-08-01 16:25] Evil-Spirit commented on #81
`case Op::NORM: return a->PartialWrt(p)->Times(a->Abs()->Sgn());`

[2017-08-01 16:30] Evil-Spirit commented on #273
@foror, Solved here https://github.com/solvespace/solvespace/issues/81

[2017-08-01 18:51] Symbian9 commented on #81
@Evil-Spirit, you are the man! Do not forget call @probonopd to this party too!

[2017-08-01 18:58] Symbian9 commented on #276
@helifino, try compile under xUbuntu 16.04 LTS (LinuxMint 18.1) using this
[code]

[2017-08-01 19:52] Symbian9 commented on #17
@probonopd, main developers mostly don't respond to Linux users

* https://github.com/solvespace/solvespace/issues/17#issuecomment-252766048

Thanks to You there is most up to date builds, that work on xUbuntu 16.04 LTS.

@probonopd, Please, do not drop Linux users of SolvSpace and give us more  up to date builds as AppImages!

[2017-08-01 20:16] jwesthues commented on #17
@whitequark develops under Linux. He provides detailed build instructions under Linux. Most Linux users can type `apt-get install solvespace` or equivalent, and get the latest stable. If other people want to use his work to build packages in other forms, then we're in favor; but his own time is finite, and he decides how to spend it.

Only in free software have I seen people show such extraordinar

[2017-08-01 21:03] probonopd commented on #17
@jwesthues it's not disrespect. I'm happy to help @whitequark if he is interested in providing AppImages to reach Linux users despite whatever distribution they might be running.

[2017-08-01 22:07] jwesthues commented on #17
@probonopd To be clear, I'm referring only to @Symbian9's "mostly don't respond to Linux users".

The AppImages are cool, and if you want to continue then we'll advise people to use them, just like we tell them to `apt-get install solvespace`. It seems natural enough to me that @whitequark prefers to focus his own time on developing, and leave packaging to the expert packagers.

[2017-08-01 23:08] Symbian9 commented on #17
@jwesthues, to be clear, I'm not say desrispect, but as in fact that you build binary for Windows & macOS. Why users of Windows & macOS not build SolveSpace from sources? In this situation its look like descrimination for Linux users.

`apt-get install solvespace` or equivalent, and get the latest stable.

I use one of the most popular Linux distributive - xUbuntu 16.04 LTS. And there NO builds wi

[2017-08-02 00:16] jwesthues commented on #17
2.3 is in zesty; so just a matter of time, or you could upgrade, or cherry-pick.

I am certain that in the time you've spent on this thread you could have figured out how to build from source. I think most users who should be running from development branches know how to do that, and it's a generally useful skill.

In any case, your request is very clear. It's not useful to repeat it, or to say th