[2021-03-26 09:14] ruevs commented on #957
@robnee definitely a separate pull request.

And the saving/loading (I would call it exporting/importing) of the "per user local options" (registry on Windows/ json elsewhere) is such a niche feature that I would definitely not worry about it.
Certainly not for 3.0.

[2021-03-26 14:08] phkahler commented on #966
It brings AVX and AVX2, so some new fused multiply-add instructions is all I see that might change things like rounding.

I'll post the PNGs later. I thought of it right after I deleted the failing one...

BTW in my day job I found that letting angles go greater than 2PI causes sin() and cos() accuracy to drop quite a bit at least on Intel hardware. I was producing variable frequency sine waves by

[2021-03-26 23:26] phkahler commented on #966
@ruevs
Here is the original test image
![normal](https://user-images.githubusercontent.com/14852918/112702126-dff43a80-8e68-11eb-8f73-52bb0fc6f632.png)

And here is the one produced under march=x86-64-v3
![x86-64-v3](https://user-images.githubusercontent.com/14852918/112702107-ceab2e00-8e68-11eb-9665-2136fe858c4f.png)

[2021-03-26 23:49] ruevs commented on #966
There is a one pixel difference in the length of the horizontal line of the right angle constraint:
![Diff](https://user-images.githubusercontent.com/15338069/112702937-d3d6a000-8e9d-11eb-8e20-c44419d74758.png)
Here the area is marked with a square:
![DiffSpot](https://user-images.githubusercontent.com/15338069/112703018-231cd080-8e9e-11eb-8742-9d2b0fd7ad04.png)
![ZoomIn](https://user-images.githu

[2021-03-27 01:06] phkahler opened #972 "Performance under different build options"
### System information

- **SolveSpace version:** 3.0~3dd2fc00
- **Operating system:** Fedora 34 Beta
- **CPU:** Ryzen 2400G - system Mellori ITX
- **RAM:** 16GB but SolveSpace only uses about 300MB

### CMAKE options:
(option 0 is always enabled)

0) -DCMAKE_BUILD_TYPE=RelWithDebInfo
1) -DENABLE_OPENMP=yes
2) -DENABLE_LTO=yes
3) -DCMAKE_CXX_FLAGS=-march=x86-64-v3

|OMP| LTO| 64v3| TIME (s)
|----|

[2021-03-27 01:21] phkahler commented on #966
@ruevs I don't know why there are so many variants of this test in the folder. I could try some silly things like just moving the geometry around a little and seeing if I can find a variation that passes on both architectures. It seems to be a fluke since all the other tests pass.

[2021-03-27 11:02] pjanx commented on #939
I've tried the _eigen_over_master_ branch, and it doesn't help my [cursed model](https://github.com/pjanx/nyquist-case/tree/master/levinson_choc_case), seemingly at all, nor did OpenMP, seemingly at all. There don't seem to be any issues either, though.

gprof on RelWithDebInfo:
[code]

callgrind on RelWithDebInfo:
![image](https://user-images.githubusercontent.com/40222273/112716934-afa0b080-8ee9

[2021-03-27 12:18] gnbl commented on #682
Finally got around to testing - awesome, thanks!

I've noticed two related things:

- can't export light gray construction geometry (output appears identical with 0.1 or 0.9 brightness, minor difference to black visible with 0.2)
- "line styles" > "load factory defaults" could automatically do a redraw

Let me know if you want two separate issues.

[2021-03-27 12:48] robnee commented on #682
I'll look at automatically refreshing if resetting the styles.  Is "Fix white lines on export" checked?  That will draw light colors as black on export.  Try turning that off to export light grey.

[2021-03-27 13:15] pjanx commented on #939
So I think I've made my life bearable now. It's much better with this patch:

[code]

![image](https://user-images.githubusercontent.com/40222273/112721904-bb4ea000-8f06-11eb-9b1e-42ad181b15cc.png)

All tests pass and no new leaks seem to be happening.

[2021-03-27 13:54] gnbl commented on #682
Yes, that was it. Thought it was to be taken literally. Thanks.

[2021-03-27 14:04] gnbl commented on #682
Ah but then actual construction geometry edges (active-grp) are exported white. Easily fixed by choosing a dark color before exporting. For frequent use a bit of a hassle - could the "fix _light_ lines on export" option be per line-style as well? Or rather inherit the global option as is, but allow deselection for specific styles.
Sorry, just an idea.

[2021-03-27 14:47] robnee commented on #682
That would affect the .slvs file format and would probably not get merged for backwards compatibility reasons.  The lightest gray that will export without being changed to black is approx (0.77, 0.77, 0.77) as determined by:

    sqrt((1-r)^2 + (1-g)^2 + (1-b)^2) < 0.4

Does that work for your purposes?

[2021-03-27 15:33] gnbl commented on #682
Thanks for taking the time to look into it. I'll give it a try. Meanwhile I've noticed that the default green for construction geometry isn't too bad after conversion to grayscale (for print).
Cheers!

[2021-03-27 15:59] phkahler commented on #939
@pjanx  Thank you for looking into this so deep. Your fix is obviously better and will likely be merged very soon. But keep in mind it looks like a constant time speedup, rather than reducing the actual number of list manipulations. That's assuming inplace_merge isn't doing something really stupid. Oh wait, it probably ends up scanning the list looking for the right place to put the new item so if

[2021-03-27 16:18] phkahler commented on #939
@pjanx  With all the other optimizations that have been done, none of them had much impact on an old sketch of mine. Changing one dimmension took about 1.8 seconds and that's been mostly constant. Your fix bring it to 0.18 seconds!

[2021-03-27 16:30] pjanx commented on #939
@giannissc can you build from master and verify whether it's bearable in your case now?

[2021-03-27 16:33] pjanx commented on #932
@baryluk I believe I've mostly solved your issue in #973, so feel free to retry on current HEAD.

[2021-03-27 18:16] pjanx commented on #932
When I increase the number of holes in either direction too much, Solvespace crashes on this, though:
[code]
I don't know what to think of it. I've touched it last...

[2021-03-27 18:46] ruevs commented on #932
I'm writing from  a phone, so I can't be sure, but most probably more than 65536 objects/handles.

[2021-03-27 19:57] phkahler commented on #932
Redoing the handles will be very tricky to do without breaking every existing sketch. It may require a converter in the file reading (and linking) code.

But we should verify that's the problem and not a new bug.

[2021-03-28 16:03] matt-hammond-001 opened #977 "Rendering bug when some objects are transparent"
### System information

- **SolveSpace version:** Version 3.0 (3.0~36719c62)
- **Operating system:** Mac OS 10.15.7

### Expected behavior

One object, with opacity 0.5 is infront of another object. The portions of that second object that are behind the semi-transparent object should appear the same as the portions that are not occluded.

### Actual behavior

The portions of an object occluded by

[2021-03-28 18:31] ruevs commented on #977
This is a duplicate. Here is the original issue: https://github.com/solvespace/solvespace/issues/522

[2021-03-28 20:52] Symbian9 commented on #977
I suppose that `#522` should be reopened as it has more details on SolveSpace transparency issue.

[2021-03-29 05:12] ruevs commented on #977
It was closed with "wontfx" and a pretty decent explanation by Whitequark why not. If we reopen it all we'll have is one more open issue.

If we are to keep one open that one is definitely better, but I'd rather clese this one as well. Otherwise we will simply have one more open issue. @phkahler what do you think?

[2021-03-29 05:26] Symbian9 commented on #977
I suggest that `wontfix` tag, added by ex-maintainer personally, should be removed from `#522` as transparency issue is a serious *SolveSpace* `bug` which should be fixed *better late than never*.

I'm fully agree on closing `#977` as `duplicate` and reopening `#522` for continuous discussion on transparency `bug`.

[2021-03-29 08:11] matt-hammond-001 commented on #977
Thanks - sorry I didn't spot #522 ... I searched a little but somehow didn't find it.

[2021-03-29 14:39] phkahler commented on #977
I'd say reopen the other one. It's an obvious rendering error even if nobody can fix it any time soon. Maybe leave the tag? ;-)

[2021-03-29 15:09] Symbian9 commented on #977
Just remove `wontfix` tag and add `help wanted` tag instead.

[2021-03-29 15:39] #977 closed

[2021-03-29 15:40] giannissc commented on #939
I can say that it is faster but still not interactive as you do have to wait a few seconds

[2021-03-29 15:40] ruevs commented on #522
Reopening because of #977

[2021-03-29 17:49] phkahler commented on #939
I've added some text on IdList, Entities and the Remap mechanism here:
https://github.com/solvespace/solvespace/blob/master/developer_docs/IdLists_Entities_and_Remap.txt

And I guess I should have manually broken line ;-(

To write that I had to look up some things to make sure I wasn't lying, and it turns out the limit on entities in a group is not due to the global ID list, but the remap structu

[2021-03-29 18:43] #957 closed

[2021-03-29 19:28] giannissc opened #981 "Three Sphere Performance Bug"
I am posting here about a potential performance bug in solvespace. The issue is easy to reproduce. Just create a sphere and then create a translate group. This makes solvespace unusable for a few minutes. I don't this operation should trash performance so much. Just leaving it here so that you can investigate

[2021-03-29 19:40] pjanx commented on #981
Would you attach a file that shows the problem?

[2021-03-29 20:42] pjanx commented on #981
I can't reproduce this even with 500 spheres: [hundreds-of-translated-spheres.zip](https://github.com/solvespace/solvespace/files/6224401/hundreds-of-translated-spheres.zip)

[2021-03-29 21:28] phkahler commented on #981
What version of SolveSpace?
What is your chord tolerance set to?

[2021-03-30 09:37] giannissc commented on #981
I actually discovered what the problem is by seeing your example @pjanx. Instead of using half a circle for generating the sphere I used a full circle.

[2021-03-30 09:38] giannissc commented on #981
Using half a circle is night and day in performance

[2021-03-30 12:13] #981 closed

[2021-03-30 23:23] ruevs commented on #939
Hey I got annoyed and joined the [long and illustrious line of people](https://github.com/solvespace/solvespace/commits/master/src/dsc.h) who have tried to tackle `IdList` :-D

Some highlights ([among many commits](https://github.com/solvespace/solvespace/commits/master/src/dsc.h))

@whitequark
https://github.com/solvespace/solvespace/commit/c84a3b6de3b83cf5d7d0fc35dd8332fedf37bd9e this one is a r

[2021-03-30 23:36] phkahler commented on #939
@ruevs you've miss attributed @pjanx improvement to me. I just merged it ;-)

[2021-03-30 23:39] ruevs commented on #939
No, I did not, back on Aug 29, 2020 you actually improved `AddAndAssignId` in d3da2c8b22d here is the pull request https://github.com/solvespace/solvespace/pull/687 ;-)

[2021-03-30 23:44] pjanx commented on #939
@phkahler is just confused here.

[2021-03-30 23:48] phkahler commented on #939
Some thoughts:

Using NextAfter will be necessary if it gets replaced by anything that doesnt store them consecutively.

Would a red-black tree be a good solution?

It may be a good idea to look at those 199 instances of scanning the whole list. Many of them are searching for items that meet a particular criteria. Unfortunately the list is templated so those searches tend to be specialized to the

[2021-03-31 00:00] ruevs commented on #939
I think `NextAfter` can be avoided for all the "go through the whole list" for loops
[code]
becomes something like:
[code]
Yes I know this is `C`, but it will(may) be fast.

[2021-03-31 00:18] ruevs commented on #939
Using a `map` keyed by handle with the value a pointer to the aforementioned `elemstore` may be rather interesting - at least as an experiment. But we lose random access - after I commented the `operator []` of `IdList` I got "only" 13 errors:

[code]

[2021-03-31 13:05] pjanx commented on #939
My current idea is maintaining a permutation array next to `IdList` data. That way only sequences of PODs will be moved around, which is fast. Memory complexity will rise (2n/4n bytes) but less than with `std::map`. I don't have the slightest clue about consequences around the codebase, it's just something I want to try and shouldn't be difficult.

[2021-03-31 15:25] pjanx commented on #939
Anything non-obvious is definitely post-3.0, the improvement over the last stable version is overall huge, and I personally hope to see it out of the door soon.

[2021-03-31 17:49] phkahler commented on #969
@ruevs can you point it to their dev-slice branch which is 200 commits ahead of master? I'm currently quarantined away from my dev box :-(

[2021-04-01 13:23] zhulaojianke opened #984 "SolveSpace Crashed when I draw a line"
### System information

- **SolveSpace version:**3.0~36719c62.

- **Operating system:**  Win7 Ultimate Edition sp1

### Expected behavior

Only draw a line

### Actual behavior

It pops up a message window.
![image](https://user-images.githubusercontent.com/16543111/113299843-e2a2d400-932f-11eb-87ae-a509499a8522.png)

### Additional information

Sorry, I can't give you any files. When I click to g

[2021-04-01 13:31] zhulaojianke commented on #984
It seems only occurs on chinese interface, when I change the language to english, there is nothing go wrong.
![image](https://user-images.githubusercontent.com/16543111/113301372-893ba480-9331-11eb-97b3-8ebde4c59f39.png)

[2021-04-01 13:35] zhulaojianke commented on #984
When I close the "check sketch for closed contour", this crash also be avoided, even in chinese interface.

[2021-04-01 21:07] phkahler commented on #984
@zhulaojianke  The chinese translation has not been well tested. When I merged the pull request all I did was verify that the menus switch to chinese, which I can't read. It never occurred to me that a "bad" character might crash the program.

This is really easy to recreate - draw a single line segment with language set to chinese.

Sounds like it may be an issue with the on-sketch vector font no

[2021-04-01 21:26] Symbian9 commented on #960
Thanks @AlexanderP for sending me `solvespace-dbgsym_3.0.0~git1710-10ca307-1_*.deb`, here is backtrace log with `dbgsym` installed:

<details><summary>Backtrace Log (SolveSpace `3.0~10ca307`)</summary>

[code]

</details>

[2021-04-01 22:14] Symbian9 opened #986 "Ambient 1.0 settings ignored on PDF and SVG export"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/10ca307d986ab0c52faaab4fcaedb26bd42d1fd6
- **Operating system:** Debian 10 buster

### Expected behavior

Export of shaded triangles should depend on `ambient lighting` settings.

@robnee, See *"Flat colors render mode"* thread:

- https://github.com/solvespace/solvespace/issues/524

Special us

[2021-04-01 23:13] robnee commented on #986
@Symbian9 Just so I understand, if ambient light == 1.0 then don't compute the lighting and just use the group's solid color for all triangles?

[2021-04-01 23:20] phkahler commented on #986
@robnee For on-screen rendering they are additive. You get flat coloring by setting ambient = 1.0 and set the other lights brightness to 0.0.   It's possible to use both and I don't recall any clamping if things get too bright (maybe should ;-)

[2021-04-01 23:26] phkahler commented on #986
I should clarify that. It's ambient*(r,g,b) + c1*(r,g,b) + c2*(r,g,b)

Where (r,g,b) is the surface color, c1 and c2 are coefficients for light 1 and 2 which are simply the dot product of the light direction and the surface normal (snells law). Apparently I didn't add the ambient term to 2D export - nor did I know where that would go ;-)

[2021-04-02 00:42] robnee commented on #986
Looks like the lighting value needs to be clamped prior to applying it to the rgb values.

There is also a bug on the config screen for the ambient lighting which doesn't manifest for me on Linux but does on Windows.  It looks like the Printf is copied from the light direction but needs to have the arg for the light number removed.  This caused crazy behavior when I was testing with Windows.  I'll

[2021-04-02 05:25] zhulaojianke commented on #984
I don't think it's a translation problem，it seems to be a character encoding problem, because when I put a comment on the workplace and input chinese character such as “试试看”, it also return a wrong display.
![image](https://user-images.githubusercontent.com/16543111/113382580-69999000-93b4-11eb-9fc7-23f5825df299.png)
It seems any chinese character will be displayed wrong here.
To display chinese c

[2021-04-02 21:55] phkahler commented on #984
@zhulaojianke  The problem is the on-sketch text display uses a special vector font. We can't change the font or encoding without making huge changes to how text is drawn on the sketch. Many characters are missing from that font and they usually display as the same symbol. Looking at the translation file I see the following:

not closed contour, or not all same style!
未闭合轮廓，或样式不一致!

If I copy thos

[2021-04-02 22:13] #986 closed

[2021-04-03 05:08] zhulaojianke commented on #984
OK! I find it! Replace the SBC case comma to a DBC case comma, or do not use SBC case punctuation mark in the alarm message or comment.
For example, I input the same message using DBC case comma in the comment
![image](https://user-images.githubusercontent.com/16543111/113469052-0f183680-947d-11eb-8d3d-94427bdcb6a0.png)
and then
![image](https://user-images.githubusercontent.com/16543111/113469059

[2021-04-03 05:19] zhulaojianke commented on #984
I have tried other inputting contained SBC case punctuation mark, the SolveSpace crashed too.
For example, I input these using SBC case comma, and press enter key
![image](https://user-images.githubusercontent.com/16543111/113469276-f3ae2b00-947e-11eb-8477-cc386eba67a0.png)
and then...
![image](https://user-images.githubusercontent.com/16543111/113469300-12142680-947f-11eb-8a23-a90061450827.png)

[2021-04-03 13:18] ruevs commented on #969
Sorry just saw this now :-(

[2021-04-03 15:59] phkahler commented on #984
@zhulaojianke  there are some characters missing from the font. Can you find a way to translate the message that makes sense, doesnt crash solvespace, and displays correctly?

[2021-04-03 16:57] #969 closed

[2021-04-03 17:06] phkahler opened #990 "Crash when using some unicode characters on-sketch"
### System information

- **SolveSpace version:** 3.0 RC2
- **Operating system:** Fedora

### Expected behavior

SolveSpace should not crash.

### Actual behavior

Paste certain unicode characters into a comment-constraint and it will crash.
Sample String:
未闭合轮廓，或样式不一致!

That was the original chinese translation for "not closed contour, or not all same style!"
The alternate comma is apparently the

[2021-04-03 17:06] #966 closed

[2021-04-03 17:15] #934 closed

[2021-04-03 17:15] #947 closed

[2021-04-03 17:16] phkahler commented on #947
@nirvdrum  I just updated our mimalloc version. Can you try a MinGW build again? Reopen this if there is still a problem.

[2021-04-03 17:16] phkahler commented on #934
@rpavlik  I finally bumped to their latest dev-slice since there's been no updates in a month.

[2021-04-03 17:25] phkahler commented on #984
I am closing this issue after changing the comma. The message no longer crashes.

[2021-04-03 17:25] #984 closed

[2021-04-03 17:32] phkahler commented on #905
Did this get "fixed" so that doesn't crash?

[2021-04-03 18:19] robnee commented on #990
@phkahler It looks like glyph for this character in the font is wrong:

[code]

[2021-04-03 19:12] pjanx commented on #939
@giannissc see #992 if you can build from sources, it should go a step further.

[2021-04-03 19:39] ruevs commented on #905
Forgot to push my branch :-( But @robnee did :-)

[2021-04-03 19:58] #905 closed

[2021-04-03 20:30] #990 closed

[2021-04-03 20:37] nirvdrum commented on #947
@phkahler I was able to build cleanly with MinGW an Ubuntu 20.04 WSL2 instance. Thanks.

[2021-04-03 20:52] Symbian9 opened #995 "Do not add relative paths to "Open Recent" list"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/2df786e7415501c748f34741aa1d5c561e730814
- **Operating system:** Debian buster

### Expected behavior

If some files opened from folder via Terminal as `$ solvespace ./<filename>.slvs` its relative path should NOT be added to "Open Recent" list.

Alternatively add path to such files, BUT just w

[2021-04-04 09:16] zhulaojianke opened #996 "how to step dimension the rotation with the angle great than 180"
### System information

- **SolveSpace version:** 3.0~ 312a8df1
- **Operating system:** Win7 Ultimate Edition sp1

During I learn Solvespace tutorial No.4 https://solvespace.com/linkage.pl , at the last step, I use the "Step Dimension" to drive the line rotate like a motor, I input an angle 360 at the "finish"  box, and then click “step dimension now”, and then **the line is not rotate a full circ

[2021-04-04 11:29] Symbian9 commented on #996
That is known issue (not solved yet).

If expected rotation is between `> 180°` and `< = 360°` it's possible to use a trick: use *arc* length equal to *line* and step dimension its length.

[2021-04-04 12:14] tomsci commented on #495
I hit this myself (on OSX, master build from yesterday) and what I think is happening is that in `GraphicsWindow::PopulateRecentFiles()`, the call to `SS.OkayToStartNewFile()` can potentially update `recentFiles`, which invalidates the `path` reference - which will only break things if the `path` actually moves in the vector, which explains why it doesn't reproduce all the time.

My steps to repro

[2021-04-04 15:40] #893 closed

[2021-04-04 15:52] #495 closed

[2021-04-04 17:29] phkahler commented on #772
I'm ready to call 3.0 done. Any objections? I'll give it a day or three.

[2021-04-04 17:38] Symbian9 commented on #772
We need just a little time to update locales for `3.0`!

Maybe update `messages.pot` template now?

- https://github.com/solvespace/solvespace/blob/master/res/messages.pot

[2021-04-04 18:00] Symbian9 opened #999 "Locales switching does NOT work for "Property Browser""
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/2df786e7415501c748f34741aa1d5c561e730814
- **Operating system:** Debian 10 buster

### Expected behavior

1. Switching locales should take effect not only *main window*, but also *"Property Browser" window*;
2. Remember selected locale for next SolveSpace session.

### Actual behavior

1. Switc

[2021-04-04 18:39] zhulaojianke commented on #996
thanks, good idea! :)

[2021-04-04 18:40] phkahler commented on #999
The property browser is not coded in a way that allows localization. I agree that it would be an improvement, but it will have to wait for a rewrite of all that code. There are no specific plans to do that yet.

[2021-04-04 18:45] phkahler commented on #772
I'm not waiting for translations any more. No new features. No bug fixes.

If it builds on all platforms, as I think it will, passes tests, and there are no regressions from recent pull requests then its done.

[2021-04-04 18:48] #890 closed

[2021-04-04 18:54] phkahler commented on #999
Duplicate of #319

[2021-04-04 21:36] #999 closed

[2021-04-04 21:53] ruevs commented on #772
I'm all for it.

Of course I'm sorely tempted by the IdList optimizations (https://github.com/solvespace/solvespace/pull/992, [FixIdList_TheNextAttempt](https://github.com/ruevs/solvespace/commits/FixIdList_TheNextAttempt)), but that's extremely unwise. It's rather unlikely that we won't break anything.

So let's release a very **stable**, the "best so far" 3.0.

Then we can quickly make a **fast*

[2021-04-04 21:58] ruevs commented on #772
@phkahler do you think I should change the extrude icon as suggested here   https://github.com/solvespace/solvespace/issues/857#issuecomment-804415270 ?

[2021-04-05 00:22] pjanx commented on #772
Releases are mostly for distributions, and the jump in quality since 2.3 is huge. It should get out of the door ASAP, so long as there are no clear regressions against the 2.3. I'm fairly certain #992 is safe, but it doesn't actually matter. The lesser version we've managed to get in is more than sufficient.

[2021-04-05 00:31] pjanx commented on #772
And, since I'm already commenting here, CMake has support for making NSIS packages, but I haven't had good experience with it. Namely, there was an issue with having multiple installations of the same package--they conflicted. And it [just wasn't very nice](https://git.janouch.name/p/logdiag/src/branch/master/CMakeLists.txt#L415). Maybe it's got better since then.

[2021-04-05 05:35] ruevs commented on #772
An installer (on Windows of course) has been discussed - it's a "no" from most contributors.

A single exe with no dependencies does not need an installer. The MSVC runtime distributable dependency of the OpenMP build is already installed on 99% of machines anyway. And anyone "ambitious" enough to consider it should be able to handle downloading one extra file and installing it.

[2021-04-05 15:18] phkahler commented on #772
No. The way it is drawn now seems to reflect how it works better IMHO even if that's not the orientation your part ends up, it's how a sketch is extruded - out of the plane toward the user.

[2021-04-05 15:22] phkahler commented on #772
Yes, I'm kind of regretting the 2 builds for Windows. It's not our problem if Microsoft doesn't ship all their components with every Windows install. It's common enough that we don't need to do that.

[2021-04-05 16:32] ruevs commented on #995
https://github.com/solvespace/solvespace/commit/3ea8ebfaf57ab061f18f2838f6599d10a339d59b#diff-cc73b65c92fff23152e1a53f8f322c6e3e62f3c4efc6c3cd01ad66a7a93c1ab0

[2021-04-05 17:03] ruevs commented on #857
https://github.com/solvespace/solvespace/issues/772#issuecomment-813105492
https://github.com/solvespace/solvespace/issues/772#issuecomment-813448996

[2021-04-05 18:25] Symbian9 commented on #857
@phkahler, If so, on icon we should highlight source sketch as back side...

BUT on actual icon (`master`) source sketch is in front and extrusion done out of the user — so its anyway incorrect.

![pic1](https://camo.githubusercontent.com/5fa3d669051372e91e8283e78f55b705ad9e9de93ee760a920d64b072989e2f8/68747470733a2f2f692e696d6775722e636f6d2f55336831576a712e706e67)

![]()

[2021-04-05 20:29] ruevs commented on #857
![pic.1](https://camo.githubusercontent.com/c10cc76dc64524d2ed4fd030764ff3e66acf65898cf1113259387e6a166d602f/68747470733a2f2f692e696d6775722e636f6d2f594d677174576a2e706e67)

Now this one I actually like! @phkahler should I change it? Hopepefully I won't break anything with one PNG ;-)

[2021-04-05 23:11] phkahler commented on #857
@ruevs sure go ahead.

[2021-04-06 05:50] Symbian9 commented on #857
Here is final version of (`extrude.png`)

- <kbd>![extrude final](https://i.imgur.com/5WbQdHR.png)</kbd> for `v3.0`
  - https://i.imgur.com/5WbQdHR.png
- <kbd>![extrude actual](https://raw.githubusercontent.com/solvespace/solvespace/master/res/icons/graphics-window/lathe.png)</kbd> in `master`

Also here are my final touches on (`lathe.png`):

- <kbd>![lathe final](https://i.imgur.com/dnA61Uo.png)

[2021-04-07 08:02] ruevs commented on #857
Done. I kept revolve "on the same side" as lathe, as it was before and just added the dotted line.

[2021-04-07 08:43] ruevs commented on #689
@joellapointe1717 can you still reproduce this problem with recent builds?

[2021-04-07 08:47] ruevs commented on #398
@phkahler Added this to the 3.0 milestone so that we remember to close it and remove it from the pinned issues.

[2021-04-07 08:50] ruevs commented on #681
I **_think_** that I could reproduce this a few days back on Windows and then it disappeared?!?! Needs testing with all options cleared from the registry/json - just a guess...

[2021-04-07 08:53] ruevs commented on #772
The icons are updated https://github.com/solvespace/solvespace/pull/1004.

After looking through the open issues (not all 168 ;-) it seems to me that #935, #960 and #893 should be resolved (one way or another) before 3.0. They are all on Linux.

Also the discussion on https://github.com/solvespace/solvespace/pull/997 and [in the forum](https://solvespace.com/forum.pl?action=viewthread&parent=3601&

[2021-04-07 08:54] ruevs commented on #999
In fact the even older issue is https://github.com/solvespace/solvespace/issues/112

[2021-04-07 09:01] ruevs commented on #311
I think this is fixed. Can anyone reproduce it on Linux? @phkahler ?

[2021-04-07 09:08] ruevs commented on #268
Implemented on Aug 7, 2020 by @whitequark  in https://github.com/solvespace/solvespace/commit/a2962207dda64883d3b897ff757a726e0adbe40e .

[2021-04-07 09:08] #268 closed

[2021-04-07 09:18] Symbian9 commented on #857
@ruevs But it is NOT *"how a sketch is revolved"* as revolve is clockwise — actual icon <kbd>![revolve.png](https://raw.githubusercontent.com/solvespace/solvespace/master/res/icons/graphics-window/revolve.png)</kbd> (`master`) instead represents that revolve is counter-clockwise.

So, I propose anyway replace actual `revolve.png` with correct one according *"how a sketch is revolved"*, i.e. <kbd>!

[2021-04-07 10:24] ruevs opened #1005 "Problems with saving/exporting files and path/cwd on Linux"
### System information

- **SolveSpace version:** probaly e2bf722fec
- **Operating system:** Linux Mint 18.3 with the XFCE desktop

### Description

This was reported on the forum:
https://solvespace.com/forum.pl?action=viewthread&parent=3601&tt=1617634061
An initial discussion happened here: https://github.com/solvespace/solvespace/pull/997 and here https://github.com/solvespace/solvespace/pull/1

[2021-04-07 11:48] Symbian9 commented on #857
Interpretation of *"Revolve" operation direction* really depend on how its look like from user POV:

1. Sketching in SolveSpace starts just "on floor" (i.e. `XY` plane):
  ![pic.1](https://i.imgur.com/WJHza0I.png)
2. Sketch something in  2D & switch to nearest isometric view:
  ![pic.2](https://i.imgur.com/dQYMRZa.png)
3. Select "origin" point & `Y`-axis:
  ![pic.3](https://i.imgur.com/rlw5Pfv.png

[2021-04-07 12:00] ruevs commented on #886
Still pining up as "Draft" and when I view [the releases](https://github.com/solvespace/solvespace/releases) when not logged in there is no "Edge" release any more.

I'll do a "Edit | Publish release" on the latest one.

[2021-04-07 12:23] ppd commented on #886
Yes, the underlying issue remains. It seems the release action is unmaintained, and alternatives are recommended in their readme. I'll try an updated workflow in my fork to see whether the problem persists.

[2021-04-07 14:37] giannissc commented on #939
Most of my performance issues from the past models have been solved using another pull request (i can't remember now which one. I think it some something about slow translate groups). I am currently working on a much bigger and compelx model that should serve as good reference point for performance. Will keep you posted :)

[2021-04-07 14:57] giannissc opened #1006 "Feature request: Navigation Cube"
I was recently trying to create a piece (linked [here](https://github.com/solvespace/solvespace/files/6272427/dove-table.zip)) using slanted extrusions. I wanted a 45° relative to the front view to create a new workspace to push the extrusion through. I was able to do that by changing the projection parameters inside property browser -> view but it would have been so much easier to do so with a gr

[2021-04-07 15:01] ruevs commented on #939
@giannissc A (potentially) even faster version is coming. But it will be after 3.0 is released. For now you can try it by compiling from source https://github.com/ruevs/solvespace/tree/OptimizeIdList
https://github.com/solvespace/solvespace/pull/1002
And another one that does a pretty similar thing:
https://github.com/solvespace/solvespace/pull/992

[2021-04-07 15:20] giannissc opened #1007 "Feature request: Supress solid model in property browsers"
There is currently the "shown" check box at the top level of the property browser that activates/deactivates features generated by the different shapes/solid such as normals, points, line segment etc. It would also speed a lot of workflows if next to the "shown" columns there was a "solid" column that could toggle the solid model on/off. The current way to do that is to go to the solid group's mod

[2021-04-07 15:25] ruevs commented on #1006
Are these "navigation cubes" just hints for the orientation of the model?
If yes I think we have enough of those:
![Clipboard02](https://user-images.githubusercontent.com/15338069/113890447-d655c580-97cc-11eb-8ecc-def65ea6946d.png)

If they actually allow you to "set" specific orientations - what is the user interface? Sorry I have not used any of those.

We have `W`, `F2` and `F3` (`View` menu) f

[2021-04-07 15:40] ruevs commented on #1007
Are you aware of the rightmost icon in the Property Browser tool bar? It is a three state one controlling "visibility".
I find that by using it and the check boxes in the "shown" column I practically never have to disable solid models for the purposes of drawing something "inside" or occluded by them.

![occluded-invisible](https://raw.githubusercontent.com/solvespace/solvespace/master/res/icons/t

[2021-04-07 15:46] giannissc commented on #1006
I know there are plenty of ways to do that and they are. I am just think it will be easier to do for some standard value e.g. 45° (left or right side of current view) or quickly switching between different angles e.g. front view to bottom back view

[2021-04-07 15:47] ruevs commented on #841
@vespakoen @phkahler Hey! With this https://github.com/solvespace/solvespace/pull/1002 the 8040 model is wicked fast! No slow down at all while editing the constraints!

[2021-04-07 15:48] giannissc commented on #1007
I know that but I never actually used it when desiging. I will give it a go 😄

[2021-04-07 16:04] giannissc commented on #738
Another one causing issues
[dove-table.zip](https://github.com/solvespace/solvespace/files/6272982/dove-table.zip)

[2021-04-09 15:55] DuncanLithgow commented on #326
Great news that this is started.

@ruevs there's a page here I try and work on which is to track support for DXF in libre software
https://wiki.osarch.org/index.php?title=Drawing_Exchange_Format_(DXF)

The DWG page needs a bit of cleanup.
https://wiki.osarch.org/index.php?title=Drawing_(DWG)

@rurban maybe you'd like to check those pages for accuracy some time. The idea is to get people to concent

[2021-04-09 22:32] phkahler commented on #772
#935 and #960 have not been reproduced have they? I agree that crashes are bad, but are we stuck for now or is there a way to get to the bottom of them?

[2021-04-10 09:47] ppd commented on #886
I hope #1008 fixes this. I couldn't reproduce the issue in my fork with the included workaround.

[2021-04-11 14:41] zhulaojianke opened #1009 "Is the Bezier Spline tool only allowed users to draw up to 10 points?"
I just used the "Sketch Cubic Bezier Spline" tool to draw a 2D CAM model, and it seemly only permit me draw ten points once, and The problem caused my CAM curve can not be closed.

I wish that the developers could allow users to draw more curves points than 10.  :)

[2021-04-11 15:47] phkahler commented on #1009
You can draw two or more curves with shared endpoints. You may also constrain them to be tangent at the ends.

[2021-04-11 17:42] zhulaojianke commented on #1009
I find a way to solve this problem, use several point to define a spline circle and right click on it, select "Add spline point".

And then there are 4 new problems generated:
(1) Can't define a tangent constrain between tow shapes, such as a line and a circle, two circle, a circle and a spline curve, etc. Then it seems hardly to define a CAM contact relation.
(2) Can't define a perpendicular cons

[2021-04-11 18:14] zhulaojianke commented on #1009
Relvevant worksheet.
[CAMproblems.zip](https://github.com/solvespace/solvespace/files/6292471/CAMproblems.zip)

[2021-04-11 18:56] robnee commented on #772
These are reported against Debian.  I've only tested against RHEL/Centos/Fedora and cannot reproduce on those.

[2021-04-11 19:12] robnee commented on #1009
You can define a line tangent to a circle with the aid of a construction line through the center and perpendicular to the line.  A similar technique will let you do a line perpendicular to a circle.

[2021-04-12 02:02] zhulaojianke commented on #1009
OK, I accomplished line-circle, circle-circle tangent constrain, thank robnee :)
![image](https://user-images.githubusercontent.com/16543111/114328876-867e5200-9b70-11eb-905e-c680e732e289.png)
But a slightly more complicated shapes, for exmaple a square with round chamfer, can't use this method to create tangent constrain to other shapes, since the problem (4).
And since the problem (3), this meth

[2021-04-12 05:05] ruevs commented on #1009
My guess is that what you are looking for is `Sketch | Tangent Ark at Point` or `Shift+A` .

[2021-04-12 05:09] ruevs commented on #1009
I would suggest that you read through the reference (https://solvespace.com/ref.pl) or at least search for things that you need in it, e.g. "tangent".

The tutorials are very useful as well https://solvespace.com/tutorial.pl .

[2021-04-12 05:11] ruevs commented on #1009
And your point 4 above is indeed valid. Albeit a rather corner case.

[2021-04-12 06:05] zhulaojianke commented on #1009
Well, I'll keep learning and try. Thank you ruevs.

The command "Tangent Ark at Point" (Shift + A)  has no effect on spline curves even at their endpoints.
![image](https://user-images.githubusercontent.com/16543111/114347633-d4f31700-9b97-11eb-9d26-8222e1df0618.png)

I find a way to solve problem (3), although the constrained points cannot move independently along the curve.
![image](https://user

[2021-04-13 16:42] phkahler commented on #772
If there are no objections I'd like to do 3.0 final now.

[2021-04-13 18:02] robnee commented on #772
I've updated the reference page in solvespace-web for a number of 3.0 features as well.  It failed a couple of link checks that I think are false positives but need someone to confirm.

[2021-04-14 11:12] zhulaojianke opened #1012 "Bug: Can not drag the datum point sometimes"
SolveSpace version 3.0~f4ad8205
Operating system: Win7 Ultimate Edition sp1

During I learing the tutorials at the https://solvespace.com/tutorial.pl , there is 6 video tutorials, in the No.4 video, just as shown below,
![image](https://user-images.githubusercontent.com/16543111/114699244-9d7c9a00-9d52-11eb-96ce-ff79a83a69a9.png)

at 3:24, the teacher dragged the datum point, and then the circle a

[2021-04-14 11:36] ruevs commented on #1012
This is true. The reason is that at the center of the circle there are two points - the center of the circle and the datum point in `g002` that the plane is based on. When you click the sport (or drag it) in the old (2.3, 2.0) versions the point in the first (`g002`) group is selected. In the newer versions the point in `g003` is selected.

The behaviour most probably changed in commit f9529916c49

[2021-04-14 12:27] phkahler commented on #1012
The ability to drag a point in a previous group is a convenience feature. You still need to select the prior group if you want to constrain a point in that group.

This feature - the ability to drag points in prior groups - was causing other problems.

For plain selection, priority is given to entities in the current group, followed by earlier groups. For dragging, the same priority is used, but p

[2021-04-14 14:27] zhulaojianke commented on #1012
OK, I hid the g003 after extrude (g004) and got the same effect as the tutorial. I also feel that the logic of the version 3.x is clearer from both of your explanations. :)

[2021-04-14 18:14] zhulaojianke opened #1013 "draw a ring use the lathe tool"
SolveSpace version 3.0~f4ad8205
Operating system: Win7 Ultimate Edition sp1

When I draw a ring, first draw a circle and a line on the plane, select the line and then click "New group rotating actives sketch", it appears as below:
![image](https://user-images.githubusercontent.com/16543111/114754727-77272080-9d8b-11eb-99e0-34056e807996.png)
It doesn't produce a solid entity.

The Revolve tool also

[2021-04-14 18:26] phkahler commented on #1013
Make the rotation axis a construction line. Select it and press G. Then do your lathe or revolve.

The problem is that your sketch is not a closed contour. Construction lines don't count for that.

[2021-04-14 19:05] rpavlik commented on #772
Think that is fine by me - Debian is stuck at an earlier RC anyway due to freezes, and I'll likely be able to pull in the fix for that file-open bug when we figure it out once the freezes lift.  Thanks everybody for your hard work on wrapping up this release!

[2021-04-14 19:23] zhulaojianke commented on #1013
Ah...really did I misunderstand!

One last stupid question, I promise this is the last one. How to fillet multiple edges at the same time? For Example, all the edges around a cubic. It seems that the "tangent arc at point" only could be use in 2D sketch, and no command can be used on solid edges.
So I also used the dumbest way to make multiple chamfered edges:
![image](https://user-images.githubus

[2021-04-14 19:33] phkahler commented on #1013
That can be done by using the Revolve tool to make some of the corners. I also used a rotate group to copy the corner 4 times in the attached sketch. Have a look. The green points from the original sketch can still be dragged to change the size. All curves share the same radius.
![rounded_cube](https://user-images.githubusercontent.com/14852918/114768013-5d0f2300-9d36-11eb-8deb-bbbcf37b8c2c.png)
[

[2021-04-14 19:54] phkahler commented on #1013
One more tip for your lathe. You can also select a point and one of those little grey arrows to define the lathe axis. The arrow pointing down in your original image would have worked instead of drawing a line.

[2021-04-14 20:52] zhulaojianke commented on #1013
I have tried my best...
![image](https://user-images.githubusercontent.com/16543111/114776812-79967400-9da5-11eb-96ef-d1d4929edb80.png)
but there must be an easier way... I did this in the same clumsy method.

@phkahler Can you tell me about your drawing process? If it's not convenient to say it here, you can send me an email, zhu_xinyan@yeah.net.

[2021-04-15 07:22] dustinhartlyn opened #1014 "Add Export Options"
When developing a design for a laser cutter, I export and test cut parts dozens of times. This makes every step in the export process seam tedious because I may be doing it every couple of minutes. In CorelDraw I even went through the trouble of making a macro to export a DXF to a preset location with a hotkey.

Request: add export options, set either in the dialogue window or in a preferences sec

[2021-04-15 11:51] phkahler commented on #1013
@zhulaojianke did you open the sketch I attached in a zip file? Start at the first group - check the box in the text window for it. Then move through each group.

[2021-04-15 12:23] zhulaojianke commented on #1013
Oh, sorry, I just found it.

[2021-04-15 12:53] zhulaojianke commented on #1013
Your method is much more efficient than mine.

But filling in a feature along a path is still cumbersome to implement now. I think that Solvespce already have lathe and revolve and helix commands and if the Solvespace has a stretch along the path function, then all the three commands can be merged in it, and it's more flexible.
Then I can stretch out an entity by simply drawing a feature pattern a

[2021-04-15 12:55] ruevs commented on #1013
There is an issue for loft already:
https://github.com/solvespace/solvespace/issues/439

[2021-04-15 12:55] #1013 closed

[2021-04-15 17:48] robnee commented on #1014
Are you using 2.x or one of the more recent 3.0 testing builds?  3.0 gives more control over which styles are exportable and may help with the first problem.  Constraints can be marked visible but not exportable.

[2021-04-16 03:21] dustinhartlyn commented on #1014
I've been using a 3.0
After your message I looked around more intentionally though and don't see the export controls. Under Edit->Configuration I do see some options for export, but nothing to exclude the constraints from export. I full accept the possibility that I am blind though. Where should I be looking?

[2021-04-16 10:09] robnee commented on #1014
This is controlled by the line styles.  In 3.0 there is a checkbox to specify if each style is exportable or not.   For the default styles this a global setting.  If you need to tweak this per drawing you can assign the constraints a custom style.

[2021-04-17 07:44] dustinhartlyn commented on #1014
I looked into making a custom style for the excluding the constraints from export. I need further instruction on if I need to manually assign each constraint to a custom style, or if I can assign all constraints made to the style as a whole. I tinkered with the process for about fifteen minuets and could not figure out how to do anything beyond creating the custom style and specify that it be excl

[2021-04-17 12:40] robnee commented on #1014
Did you try turning off exportable for the default constraint style vs creating and assigning a custom style for constraints?  This should certainly work for pdf and svg.  The settings for the default styles are global so you should only need to change this once.  Each format handles exports differently.

[2021-04-17 16:55] dustinhartlyn commented on #1014
For the default constraint lifestyle I do not see an option to exclude it from export. I only see the 'export these objects' checkbox in custom lifestyles. Should I be looking somewhere else?

I do think there are some situations in which I and others would want to export the constraints to a PDF, which is why I think the exclusion should be file specific. I might send an assembly drawing to a per

[2021-04-17 19:02] phkahler commented on #772
@ppd  I made a tag/release for v3.0 which created a new entry on the downloads page but it didn't produce the executables.  Help?

[2021-04-17 19:03] #398 closed

[2021-04-17 19:56] Symbian9 commented on #772
Guess, You may just copy binary from latest `edge` builds and *add them manually as assets* to `v3.0` release; just release version number to each name:

- https://github.com/solvespace/solvespace/releases/download/edge/solvespace-openmp.exe
  - `solvespace-3.0-openmp.exe`
- https://github.com/solvespace/solvespace/releases/download/edge/SolveSpace.dmg
  - `SolveSpace-3.0.dmg`
- https://github.com

[2021-04-17 21:31] ppd commented on #772
@phkahler I think I fucked up the workflow. It skips the build jobs because it also skips the first "cancel previous build" job for release events. I'm sorry. I'll fix it, and we can copy the assets manually.

[2021-04-17 21:48] Symbian9 commented on #772
Wait, no. Is not release builds should NOT include git commit info in "About" dialog?

Release builds should include `This is SolveSpace 3.0` (without git commit infor + drop out `version` word forever), instead of `This is SolveSpace version 3.0~{git-commit}`.

I highly recommend to ***cancel/remove actual*** `v3.0` release and re-release it + add an extra commit which should force to show `This

[2021-04-18 00:31] Symbian9 commented on #1014
It is ***very ease to hide something just in one click before export***: if you need to exclude `normals` / `constraints` / `construction entities` / `constraints and dimensions` from 2D export (i.e. for DXF export) *just hide them via related buttons on "Property Browser" toolbar* (and click one more time to show it again for PDF / SVG export):

![pic.1](https://i.imgur.com/rya3xwU.png)

[2021-04-18 07:45] dustinhartlyn commented on #1014
Thank you for the picture. I am aware of that feature, and the goal of my initial suggestion was to give feedback from a person using it in the 2d cutting world (lasers, waterjet cutting, plasma, etc). While effective it becomes a tiresome task to constantly click the constraints on and off when exporting so frequently. I am unaware of a situation in which the a user would desire to include the co

[2021-04-18 08:05] Symbian9 commented on #1014
I may just recommend to read *SolveSpace docs* firstly before use *SolveSpace* app.

And if discussed here is missed in *SolveSpace docs*, then we can add such info into docs.

For batch export to various formats `solvespace-cli` should be a right way to do that, but need take a look on CLI options.

Also here is already a *feature request on "styles presets"*  for such cases where user need diffe

[2021-04-18 08:08] someSven commented on #1007
I had the same thought than OP and wasn't using that icon as well. Somehow escaped my memory. It seems to work pretty well.
However, I also wonder, if deactivating the rendering of some parts of the model could cut down on resource usage while working on some part. This might be an edge case, though, for users using some weak machine to not procrastinate by using the stuff on their bigger computer

[2021-04-18 12:16] phkahler commented on #772
@ppd thank you for your help with that!

@jwesthues can you have a quick look at the web site updates and push them live?

[2021-04-18 14:54] jwesthues commented on #772
Thanks, and thanks all. I've pulled to live; please check and let me know if you see any trouble.

[2021-04-18 15:25] someSven opened #1016 "Specific design has error in STL export"
### System information

**SolveSpace:** version:3.0~3e3ccdca
**Operating system:** Raspian wth OpenGL active

### Expected behavior

### Actual behavior

### Additional information
![forearm_V1b_slicer-error](https://user-images.githubusercontent.com/8271093/115150575-df625480-a060-11eb-8211-2a9dc480aae6.png)
[forearm_V1a.slvs.zip](https://github.com/solvespace/solvespace/files/6331502/forearm_V1a

[2021-04-18 16:18] zhulaojianke opened #1017 "Rotate about the specified axis at the specified angle"
Using the middle mouse button to rotate the view in the workspace is really convenient, but it gets tricky when I need to rotate the view to a specific perspective. Every time I need to adjust for a long time to get the right perspective, just like #1006 and the issues it refers to.

Let me make a suggestion:
(1) Let user select a axis or a line or a point, and press a hotkey (such as "K", this le

[2021-04-18 16:41] zhulaojianke commented on #1017
In addition to selecting a axis and line, the user can also select a point in workplane. When he does this, the view will be rotated about the axis perpendicular to the point, rotating the corresponding Angle either clockwise or counterclockwise.

[2021-04-18 18:48] dustinhartlyn commented on #1014
Hi Symbian9 - Thank you for telling me about the solvespace-cli interface. I read through all the documentation on the SolveSpace site and completed the tutorials before posting anything. My goal is not to waste your time. I just looked and confirmed there is no reference to the CLI in the reference document (https://solvespace.com/ref.pl) but I will look elsewhere.

I only posted this issue becau

[2021-04-18 23:11] Symbian9 commented on #772
@jwesthues, may you edit release description — add some *release notes* and link to [`CHANGELOG.md`](https://github.com/solvespace/solvespace/blob/master/CHANGELOG.md)

- https://github.com/solvespace/solvespace/releases/tag/v3.0

Also, please, add links to Linux builds:

- Snap builds on Snapcraft
  - https://snapcraft.io/solvespace

- @AlexanderP's PPA (where fresh SolveSpace packages for Debian

[2021-04-19 04:45] ruevs commented on #772
No it "is not". The releases will include the hash. This was already discussed.

[2021-04-19 04:49] ruevs commented on #1007
Deactivating the rendering will not help much in most cases.

[2021-04-19 06:16] Symbian9 commented on #772
Then there should be next info in about dialog: `This is a SolveSpace 3.0~0e0b025 (release)`

[2021-04-19 09:19] ppd commented on #772
Oh no, GitHub created a lightweight tag instead of an annotated one through its UI.

I tested pushing an annotated tag over the lightweight tag in my fork (https://github.com/ppd/solvespace/releases/tag/v3.0), and GitHub retained the release. So that seems to be a good option. Shall we do the same here?

[2021-04-19 09:40] Symbian9 commented on #772
@ppd, Also drop out `version` word from "About" dialog.

[2021-04-19 13:47] phkahler commented on #772
@Symbian9 we are not changing the about dialog, or anything else at this point.

[2021-04-19 13:49] phkahler commented on #772
Whatever you think is best ;-)

[2021-04-19 13:51] Symbian9 commented on #772
Okay, but I just recommend do that for next releases.

BTW, Edit `v3.0` *release title* & *release description* on GitHub according [my previous comment](https://github.com/solvespace/solvespace/issues/772#issuecomment-822080229)

[2021-04-19 14:04] phkahler commented on #772
@ppd I also created a branch "version3" in case we want to back port fixes prior to next major release. Let me know if that branch should be at a different point in the history (or just move it).

[2021-04-19 14:30] Symbian9 commented on #772
@ppd, Good, but why not just name this branch as `3.x`? (as it already did for `2.x`)

Guess, fixes should be going into `master` for the next `v3.1` bugfix/minor release (backporting into already released `v3.0` is a wrong way because after release `v3.0` should not be re-released anymore — it just what is release is).

Think, its too early to set `master` for `v4.0`, as I expect there would be o

[2021-04-19 14:41] phkahler commented on #1017
Are you aware of the view options at the bottom of the toolbar? The "neatest isometric" is very useful, just drag to the approximate view you want and click that (or press F3). For the nearest  workplane (including the 3 primary predefined ones) press F2. This covers most of the orientations you'd get from a view cube.

[2021-04-19 14:47] phkahler opened #1018 "Change default file filter for linking"
### System information

- **SolveSpace version:** ALL
- **Operating system:** ALL

### Expected behavior

When linking a file we should set the default file filter to include types other than .slvs if they are linkable.

### Actual behavior

The filter is set to only .slvs but that is not the only option.

### Additional information

SolveSpace can currently link .emn (IDF files) and should soon b

[2021-04-19 14:48] ruevs commented on #1017
`Ctrl + middle button (mouse wheel click)  drag`is also related to what you are asking for (even though not exactly. Try it out when a solid (3d) group is active.

[2021-04-19 15:55] zhulaojianke commented on #1017
I have tried all of these features, and when I needed to rotate to a particular perspective, it took me a couple of times to get it right. It's not that Solvespace can't do it, but it's really hard to do it, it's really hard to control, and when you have rotated the solid shape at a certain Angle, then drag mouse with middle button, it will not rotate in the direction the mouse movese, it will rot

[2021-04-19 15:56] kk6mrp commented on #1018
I haven't checked on Linux but windows shows both options:
![image](https://user-images.githubusercontent.com/9358855/115266320-f64e8880-a0ec-11eb-81d4-3481a62001f0.png)

[2021-04-19 16:03] phkahler commented on #1018
It does support both. What I mean is to have a single option (default) that shows both slvs and emn at the same time. And when STL is added we should show all 3 at the same time. The point is to show all files that could be linked so the user doesn't have to change the filter except to narrow the scope. We would keep the more specific options too.

[2021-04-19 16:31] zhulaojianke commented on #1017
In the example above, the harder thing to do is to look at the back face of the cubic.

[2021-04-19 16:57] zhulaojianke commented on #1017
Well, I admit I still need more practice. Once I got used to the spherical rotation from the center of the workspace and the use of the view-switching shortcuts, I wouldn't ask that question.

BTW, I found the "workplane" command in "Sketch" menu very handy and useful, when I just only want to create a reference surface not ortho without having to draw a graph on it. Why not give this command a sh

[2021-04-20 07:04] zhulaojianke opened #1019 "Hope to Specify a hot key for the "workplane" command"
During I learned and practiced Solvespace, I've found the "Workplane" command in "Sketch" menu is very useful in drawing a complex shape parts, it greatly simplifies the mouse operations required to define a new workplane. But it's still a little inconvenient to choose it from a drop-down menu every time, if specify this "Workplane" command a hot key, such as "K" key, this excellent " Workplane" f

[2021-04-20 07:05] zhulaojianke commented on #1017
I published a separate issue for the "workplane" shortcut key, #1019 .

[2021-04-20 07:22] zhulaojianke commented on #1019
Or perhaps it would be better to offer an option in the property browser to allow users to customize all of the Quickkeys for this software. This would prevent Solvespace from clashing with other software shortcuts and would allow users to maintain consistency between the shortcuts for the same function across different programs on their computer.

[2021-04-20 08:29] giannissc commented on #1007
I have actually had time to play around with it and the buttons at the top really help a lot. The only use case I have had for the solid model button has been in another program, Fusion360. It came in really handy when importing step assemblies. I wanted to copy the designs to solvespace and deactivating some component made it easier to work with that larger model to design and assemble mine in so

[2021-04-20 15:05] giannissc commented on #1006
Here is how I imagine a navigation cube in solvespace would be:

It would be positioned where the existing axes are like so:
![navigation-cube-axis-concept](https://user-images.githubusercontent.com/20277283/115418927-d1900900-a1f1-11eb-92ae-404fc9a3ddde.png)

This is my first design iteration. In the next pictures I also color coded the axes to make it easier to control.
Here is again how it woul

[2021-04-20 15:10] giannissc commented on #1006
What I like about this design is that the arc give you a more intuitive way to control the screen projection. Being in an orthographic view a pressing on the arc would allow you to specify the angle of the drawing (in a similar way you can do using Ctrl Click). However, being that the arc and the letters are extruded it gives you access to the other dimensions as well.

Now say I wanted to rotate

[2021-04-20 15:13] giannissc commented on #1006
And while I am thinking of specifying pitch, yaw and roll angles using text input they can also be made interactive

[2021-04-20 19:51] ruevs commented on #1006
In think #1017 and this are closely related.

As for me I might be a masochist but the current options for orienting the view are fine for me. This looks like "UI fluff" but if someone implements it cleanly as an option - fine. Personally I don't want this cube in the screen all the time.

[2021-04-20 22:17] rpavlik commented on #960
Hmm. So on a locally-built copy of SolveSpace, on Debian 10, latest master branch (3.0~0e0b0252) this loads fine through the GUI and file dialog, no crash. I have some stuff installed from backports but I'm reasonably sure nobody put gtkmm in backports, too intrusive...

[2021-04-21 01:16] phkahler commented on #1019
Shift->W

[2021-04-21 01:21] phkahler commented on #972
Can someone try this on an Apple M1? @vespakoen ?  Just the regular OpenMP and LTO for comparison would be nice.

I guess running the x86 version would be easy for anyone, but SolveSpace can be compiled native to the M1 as well.

[2021-04-21 01:42] zhulaojianke commented on #1019
"shift + W" and "Workplane" are two different commands. The "Workplane" command is in the menu "Sketch".

![image](https://user-images.githubusercontent.com/16543111/115484741-e0c09680-a285-11eb-81b9-7d4def405c20.png)

[2021-04-21 07:51] vespakoen commented on #972
With a recent stable build I got 1.285 / 1.300 / 1.249

[2021-04-21 08:49] someSven commented on #88
To me this was one of the first very basic problems I encountered when I started to look into the whole topic of 3D models. There are plenty of 3D models out there which are only available in STL (or in OBJ). Think of any use case where there's a file which came from sculpting, e.g. a human or animal head, and someone would like to put some parts, e.g. animatronics into it. Or a skeleton made from

[2021-04-21 09:42] giannissc commented on #1006
Yeah I agree it is not going to change the way solvespace currently works. The current navigational features are sufficient. What I think this will do is make some edge cases easier and be make the UI a bit more friendly to beginners

[2021-04-21 11:28] phkahler commented on #88
@someSven  issue #724 is the same thing for stl and obj.  I've got partly working STL import working on my import-mesh branch if you can build it and want to mess with experimental feature. It still needs better filtering of which verticies get solvespace point entities created. And OBJ might never happen.

[2021-04-21 11:32] phkahler commented on #972
@vespakoen  If that's at default chord tolerance (0.1 percent) then I'm very impressed. My results were on a 4 core / 8 thread Amd Zen+.  You have twice the cores, but that would get you half the time at best, and you're much faster than that. I have not seem a head to head comparison of the M1 to any Intel or AMD until now.

[2021-04-21 11:37] phkahler commented on #1006
@giannissc I'm with @ruevs in thinking it's not needed, but if someone implements it cleanly as an option we should accept it. It's probably more about familiarity for people coming from other tools.

[2021-04-21 13:16] phkahler opened #1020 "Create an automated performance benchmark"
We should have a performance benchmark that can be run in an automated way, probably using solvespace-cli. Maybe this is just loading an existing sketch that stresses a lot of code paths and produces an image?  Frame rates are not relevant because sketch regeneration when geometry changes takes way longer than rendering.

If there is an existing benchmark it's probably out of date with all the rec

[2021-04-21 13:20] ruevs commented on #1014
For reference I am posting the forum thread where this discussion started:
https://solvespace.com/forum.pl?action=viewthread&parent=3635&tt=1618405421

[2021-04-21 13:21] ruevs commented on #972
https://www.youtube.com/watch?v=l1j-aF_wyzU

[2021-04-21 13:27] ruevs commented on #1020
This would be extremely useful. However some performance tests depend on changing something. E.g. changing constraints in the fist group of this https://github.com/solvespace/solvespace/issues/841#issuecomment-742153838

solvespace-cli can not do that.

[2021-04-21 17:32] zhulaojianke commented on #1009
I still didn't give up trying to make a CAM, the constraint of the point on the curved surface. I have learned in the tutorial how to constrain a point to a cylinder surface, but it seems that what the only thing can I do about the curve surface is constrain a point to a cylinder surface. The constraint of a point on a surface is not only inapplicable to a cylinder surface extruded out by a closed

[2021-04-21 18:04] zhulaojianke commented on #996
I have find a better method to solve this problem. :)
[Angle ratio.zip](https://github.com/solvespace/solvespace/files/6352976/Angle.ratio.zip)

And I hope you could add "Angle Ratio" and "Angle difference" commands in the "constrain" menu, just like "length ratio" and "length diffrerence" commands. These two commands are very useful for driving the "motor" turn many rounds in step dimension mode.

[2021-04-21 21:15] Symbian9 commented on #996
Every SolveSpace trick has its pros'n'cons ;)

Create new issue thread for this feature request.

[2021-04-22 02:13] zhulaojianke commented on #996
Haha, All right, I'll take your advice.

I have watched all your challenge videos on youtube, really good! And can you guess how I made the shape below? :D
![image](https://user-images.githubusercontent.com/16543111/115645424-ef28b400-a352-11eb-87a8-f705f8a2e649.png)

Using the simple functionality of solvespace to complete some challenges makes me feel a sense of accomplishment. :)

[2021-04-22 02:24] zhulaojianke opened #1023 "Feature Request: "Angle Ratio" and "Angle difference""
I have find a better method to solve this problem. :)
[Angle ratio.zip](https://github.com/solvespace/solvespace/files/6352976/Angle.ratio.zip)

And I hope you could add "Angle Ratio" and "Angle difference" commands in the "constrain" menu, just like "length ratio" and "length diffrerence" commands. These two commands are very useful for driving the "motor" turn many rounds in step dimension mode.

[2021-04-22 08:12] Evil-Spirit commented on #1023
There is no point to support things like this. There is branch with supporting for arbitrary equations / parameters, so you can easily input any expression you want

[2021-04-22 08:16] Evil-Spirit commented on #1023
Also, you can check how I use [thing like this in NoteCAD](http://notecad.xyz/?filename=romantic_steam_new.xml) for creating slider to rotate engine.

[2021-04-22 08:27] Evil-Spirit commented on #1009
There should be no more than 4 points in Bezier (two of them is for derivatives). And should be added two constraints:

a. 1st order Tangent 

b. 2nd order Tanget

I don't know where, but it was discussed here a lot.

[2021-04-22 08:30] Evil-Spirit commented on #951
Don't forget about 2nd order tangent

[2021-04-22 08:40] ruevs commented on #1023
Indeed! I totally agree with @Evil-Spirit, that parametric sketches is the next logical step Instead of adding more specific constraint types (even though I implemented length difference back in 2015 in b23336b58).

See the issue for the whole discussion of parametric sketches https://github.com/solvespace/solvespace/issues/77

[2021-04-22 08:40] #1023 closed

[2021-04-22 08:53] ruevs commented on #996
"Step Translating" ? ;-)

[2021-04-22 09:03] zhulaojianke commented on #1023
Indeed, if Solvespace had variable parameters and computational capabilities (and preferably some system constant, such as π), then it would probably be the best lightweight windows CAD software in the world.

But it's not clear to me why the Solvespace development team didn't include such great features. I also saw the discussion on adding this feature in this issue forum a few years ago. It seem

[2021-04-22 09:54] Symbian9 commented on #996
Yes, I can. Even more, I can find more than one solution for such solid creation ;D

BTW, Such sort of showcase is out of scope of current issue thread, so continuous discussion on this showcase should be moved to [/r/SolveSpace](https://old.reddit.com/r/solvespace), [Twitter](https://twitter.com/hashtag/solvespace), etc.

[2021-04-22 10:11] ruevs commented on #1006
Aaaand this is a duplicate after all ;-) https://github.com/solvespace/solvespace/issues/70

[2021-04-22 10:15] ruevs opened #1024 "New feature idea? Missing functionality? Look here first?"
# Commonly Requested and Discussed Features and Enhancements to SolveSpce

This list is not exhaustive. Please search the issues before opening a new one.

## [Features already "planned" for a future "4.0" version](https://github.com/solvespace/solvespace/milestone/4)

## Constraints
- Parametric sketches, parametric constraints, variables. inequality constraints etc. </br>Examples: `x=2` `y=3` `z

[2021-04-22 10:59] zhulaojianke commented on #996
Oh, I'm sorry. I'll take care of that in the future.

[2021-04-22 16:05] #772 closed

[2021-04-23 11:28] phkahler commented on #972
I just reran 3.0 final with OpenMP and LTO.  5.502 / 5.503 / 5.552  with the default CT of 0.1 percent. I don't want to change the CT, but until @vespakoen confirms I wanted to see if increasing it can get anywhere near his M1 results.  Using the old default of 0.5 percent I can bring the time down to just over 4 seconds, so that's not a huge deal for this test but it still makes a difference.

[2021-04-23 11:34] phkahler commented on #1016
@someSven  I can't seem to open that file to chase the issue. Until then you might try changing the chord tolerance settings in the configuration screen as a work-around. There are 2 settings, one for display and one for export. The display one is in percent, but also shows the equivalent in mm. The export one is in mm. You might be able to "fix" it with the display setting and then set the export

[2021-04-23 17:41] jkrei0 opened #1027 "Default style for hidden lines is inconsistent with the "stipple occluded lines" icon"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Windows 10

### Expected behavior

Toggling the hidden lines icon to "Stipple occluded lines" should stipple hidden lines by default, as the icon shows.

### Actual behavior

The default style for hidden lines is a solid line.

![image](https://user-images.githubusercontent.com/51007423/115909308-59b41f80-a439-1

[2021-04-24 12:42] phkahler commented on #1027
As I recall, the text when you hover over the tool indicates what it will do when clicked, not the current state of things. If the appearance and hover text are consistent then all is "correct". I found it strange too and still dont know if it should change. It's also a 3-state button which makes it more odd.

[2021-04-24 17:43] nick87720z opened #1028 "Are usable tarballs not more maintained since 2.3?"
### System information

- **SolveSpace version:**
- **Operating system:**

### Expected behavior

Versions ending with 2.3 had some non-automatic tarball named solvespace-source.tar.gz or so.

### Actual behavior

solvespace-openmp.exe windows executable looks to be on place of previously existing tarball.

### Additional information

There could be separate, simple (probably hand-written) makefil

[2021-04-24 21:17] phkahler commented on #1028
What kind of tarball are you looking for? Someone suggested we tar all the dependencies/submodules. Is that what you mean?

[2021-04-25 06:22] nick87720z commented on #1028
Yes, release tarball should include submodules in order to be usable. For now version 2.3 - last, for which it exists.

[2021-04-25 09:50] Symbian9 commented on #1027
@phkahler, Gess actual ***issue here*** is that *"stipple type"* in default `s00e-#def-hidden-edge` style set to "not dashed" (see screenshot) — seems like it affected by update from previous SolveSpace versions (pre-release) builds to `v3.0` (probably this introduce few commits before `v3.0`).

Also *on clean* install `v3.0~` it seems like `s00e-#def-hidden-edge` style by default set to "not dash

[2021-04-25 10:18] Symbian9 commented on #1028
Guess, `solvespace-3.0-source.tar.gz` (with all submodules) should be attached manually to `v3.0` release as asset.

[2021-04-25 12:02] robnee commented on #1027
Will do...

[2021-04-25 13:10] robnee commented on #1027
@Symbian9 @phkahler This is a problem with all of the toolbar buttons.  Not just the tri-state but the toggles as well.  I can't reproduce it on Windows but I can on Linux.  I'm using a VM for Linux with a remote display (vs native for Windows) so it may be related to that and not a SS issue.  I will try to look into this too.

[2021-04-25 13:20] robnee commented on #1027
#974 introduced this problem when looking up the default styles for the very first time after an install.  i.e. before the config settings.json or registry entries have been created.  When exiting SolveSpace for the first time the config would be created and the incorrect stipple settings written so this problem persists.  Manually resetting the factory defaults and restarting SolveSpace repairs t

[2021-04-25 13:47] Symbian9 commented on #1027
@robnee Also, please, check does SolveSpace save actual styles into config on each session
Actually it seems like SolveSpace does NOT saves configuration/styles changes on closing SolveSpace/saving file — as a result all styles & configuration from actual session lost for the each next session (but it should be saved on closing app on each session).

[2021-04-25 15:39] robnee commented on #1027
SolveSpace does save the default styles when exiting the GUI by calling `Style::FreezeDefaultStyles` but, surprisingly, it does not save them on File -> New so the subsequent sketch reverts to the styles from the start of the session.  This is due to the odd way SolveSpace works, it _reads_ settings directly from the config but does not update to the config until exit.

1. Open SolveSpace
2. Draw

[2021-04-25 17:06] Symbian9 commented on #1027
I just tried to:

1. Start SolveSpace;
2. Change styles;
3. Exit from SolveSpace (both ways: via menu "File > Exit" and via "Close" button on window title);
4. Restart SolveSpace;
5. As result — ***styles NOT saved***.

Adding `save to config` option into "Property Browser > line stiles"* tab would be the best solution as for now ­— users should not redefine styles each session if they want use ow

[2021-04-25 17:31] robnee commented on #1027
@Symbian9

It's not clear what you did in "2. Check styles;" or if you modified a default style.

This works for me:

1. Start Solvespace
2. Open line styles page
3. Change `s008-#def-hovered` to a different color like blue
4. Exit SolveSpace
5. Restart SolveSpace
6. Confirm hovered entities are now still blue

Can you confirm this works for you?

[2021-04-25 17:53] Symbian9 commented on #1027
Here is what I did:

1. Start SolveSpace (clean install);
2. Open `line styles` page;
3. Change `s008-#def-hovered` stipple type from "not dashed" to "dashed" (default by design in previous versions);
  ![pic.1](https://i.imgur.com/dqY25cl.png)
4. Exit SolveSpace;
5. Restart SolveSpace;
6. Styles not saved and wrongly "not dashed"  `s008-#def-hovered` still persists in next session.

@robnee, Nope

[2021-04-25 18:24] robnee commented on #1027
If settings.json is not created then that is the problem.  Is there any reason SolveSpace might not be able to create files in your home directory?  Are either of these env variables set?  If so to what?

$HOME
$XDG_CONFIG_HOME

Is there anything strange about your setup?  Can you try on a different install of Linux?  Are you starting SolveSpace from the command line?  If not please do so and repe

[2021-04-25 19:05] Symbian9 commented on #1027
@robnee, I can't detect when SolveSpace 3.x nightly builds stopped to create `settings.json`, but I just tried "clean install" of few previous nightly builds — seems like issue introduced before SolveSpace `3.0~`https://github.com/solvespace/solvespace/commit/2939abf5f876a7454e0afbc06b32c888989b6546 (as it is latest build I has stored & just tested) already has NOT creates `settings.json`, but cou

[2021-04-25 19:12] robnee commented on #1027
And what messages were displayed to the console if any?

[2021-04-25 19:15] Symbian9 commented on #1027
Here is output ("Start SolveSpace" ; "Change stipple type in hidden syle" ; "Exit"):

[code]

[2021-04-25 19:20] robnee commented on #1027
It looks like it's crashing on exit before writing the settings.json.  Can you please remove ~/.config/solvespace and retry?  I'd like to see if it recreates that directory.

[2021-04-25 19:41] robnee commented on #1027
@Symbian9 Any chance you can run with valgrind?  i.e.

[code]

You may need to install it.

[2021-04-25 20:35] Symbian9 commented on #1027
@robnee, Yes.

0. Empty `~/.config/solvespace/` removed;
1. Started SolveSpace (just after fully "clean install" of `v3.0~9e8c3db8`):
2. Changed *stipple type* in `s008-#def-hovered` & closed "Poperty Browser";
3. "Exit" from SolveSpace;

<details><summary>Terminal Log:/summary>

[code]

</details>

[2021-04-25 20:59] robnee commented on #1027
@Symbian9 thanks.  This seg fault seems unrelated to saving the config on exit.  You can try adding `--num-callers=50` to valgrind to get a deeper stack trace but it won't be that helpful without debug symbols.  Does SS _always_ crash for you on exit regardless of what you do?  Can you build SS yourself with Debug or do you have access to debug builds?  Can you run X with GL or hardware accelerati

[2021-04-25 21:24] Symbian9 commented on #1027
I guess I spotted `Segmentation fault` in terminal on "Exit" for a while, but can't tell when it was introduced for the first time.

I has SolveSpace `3.0~`https://github.com/solvespace/solvespace/commit/10ca307d986ab0c52faaab4fcaedb26bd42d1fd6 build with debug symbols.

@robnee, may you take a look on my previous backtrace log (https://github.com/solvespace/solvespace/issues/960#issuecomment-8121

[2021-04-25 21:57] robnee commented on #1027
We need to know if SS always seg faults on exit regardless of what you do.  Does it seg fault if you simply start and then immediately exit?  If so does the one with debug symbols do the same?  If so run valgrind --num-callers=50 on that.  Maybe try on a separate clean install of Debian or another Linux disto.

[2021-04-25 22:12] robnee commented on #960
@rpavlik I wonder if we need to explicitly destroy or stop the timers when tearing down the app or when there is no geometry to display?  Maybe they are firing when we don't want them to.  I know for sure they don't always fire in a predictable order.

[2021-04-25 22:18] Symbian9 commented on #1027
Seems like yes.

Here are logs for SolveSpace `3.0~10ca307` with debug symbols on "clean install":

<details><summary>GDB Output</summary>

[code]

</details>

<details><summary>Vargrind Output</summary>

[code]

</details>

[2021-04-26 00:11] robnee commented on #1027
@Symbian9 This looks like it has something to do with destroying the editor overlay for the Property Browser when tearing down the GUI.  This may be a waste of time but can you try the following with gdb and the debuggable 3.0~10ca307:

1. start SolveSpace
2. go to config screen
3. click on any of the [change] buttons to bring up the floating text field (editor overlay)
4. dismiss it by hitting es

[2021-04-26 03:37] rpavlik commented on #960
Well, at least some of those mismatched new delete warnings about timers are false positives: shortly after I posted my last comment here, I found another bug report with a similar message and info on the root cause, so you'll notice there is now a comment on the relevant line of SolveSpace explaining it with a link to upstream 😁

It's possible there's a lifetime management thing going on here, bu

[2021-04-26 07:34] vespakoen commented on #972
Looks like I use 0.1 indeed...

<img width="343" alt="Screenshot 2021-04-26 at 09 27 54" src="https://user-images.githubusercontent.com/876117/116044894-c0238280-a671-11eb-8aad-5dcf7089c335.png">

I just ran it again, and got different results:

[code]

Not sure what changed between this run and the last time I ran it... same executable...

[2021-04-26 07:37] Symbian9 commented on #1027
Nope. Still `Segmentation fault` on "Exit".

[code]

JFTR, In backuped `~/.config/solvespace/` directory I found that `settings.json` config file last time saved/overwritten on March 29, 2021.

So, some previous nightly builds (I always use latest fresh builds from @AlexanderP's PPA) was able to at least overwrite existed configs `settings.json` from earlier installs.

Not for me — I'm interested

[2021-04-26 08:55] Symbian9 commented on #1027
@robnee, I just tested "clean install" *SolveSpace* `3.0~9e8c3db8` in LiveUSB mode on "clean install" *MX-Linux `19.3` (`MX-19.3_ahs_x64.iso` - https://sourceforge.net/projects/mx-linux/files/Old/MX-19.3/) — SolveSpace does NOT reach `Segmentation fault` on "Exit" & ***could*** create `settings.json`!

BUT *on my actual system* (*MX-19.3* with installed *regular updates of system packages*) *Solve

[2021-04-26 10:24] phkahler commented on #972
Oh, dont use triangle mesh. When I keep it NURBS there are 3 holes that get red edges. That's OK. Looks like the M1 is quite impressive :-)

[2021-04-26 13:43] Symbian9 commented on #1027
@robnee, So, I just fully reinstalled my actual *MX Linux* `MX-19.3` with a "clean install" distribution of `MX-19.4`.

Now *SolveSpace* issue with `Segmentation fault` on "Exit" disappear &  *SolveSpace* `3.0~9e8c3db8` on "clean install" successfully creates`settings.json` file!

@ruevs @phkahler, After all, merging of https://github.com/solvespace/solvespace/pull/1029 is required for fix initial

[2021-04-26 18:33] robnee commented on #1027
That's great!  Does it also fix the issues opening the model of the sunglasses from an earlier issue?

[2021-04-26 18:53] Symbian9 commented on #960
I just reinstalled system with MX Linux `MX-19.4` distro — on "clean install" *SolveSpace* `3.0~`https://github.com/solvespace/solvespace/commit/33091817738d780d904bcd3e077022d87ebf2cd3 can opens file without `Segmentation fault`.

1. Launch SolveSpace;
2. Open testcase file via "File > Open ...";
3. Close SolveSpace via "File > Exit"
4. Terminal log:

[code]

@robnee @rpavlik, Does it looks OK?

[2021-04-26 18:59] Symbian9 commented on #1027
@robnee, There are NO `Segmentation fault` on opening testcase, but still are warnings about timers  in terminal output, see: https://github.com/solvespace/solvespace/issues/960#issuecomment-827068539

[2021-04-26 21:11] robnee commented on #960
The messages look fine.  I would say if this file no longer seg faults then this issue can be closed.  I don't think anyone one else was able to reproduce.

[2021-04-26 21:43] #960 closed

[2021-04-27 14:23] giannissc opened #1030 "Parametric Template Components"
This is more of a question than a feature request. Is there a way to define a component that follows a pattern that can be exploited using repeat translate/rotate and have access to the repeat parameter when linking to that component?

Right now I have the following component which I import into reparate files to 2 step repeat, 3 step repeat, ..., 7 step repeat
[resistance-test-structures.zip](htt

[2021-04-27 16:18] phkahler commented on #1030
What you want is related to issue #77 and #80 which are still a long way off. Unfortunately there is currently no way to override anything in a linked file via input from the assembly file.

You might be able to simplify things by starting with the repeating pattern in a 2D sketch, do the repetition in a step-repeating group, and then add the end features while still in the 2D repeat group. You co

[2021-04-27 16:46] giannissc commented on #1030
Ok then I will close this for now :)

[2021-04-27 16:46] #1030 closed

[2021-04-27 21:09] rpavlik commented on #960
yep, that's all good. Thanks for bearing with us as we dug into this one.

[2021-04-28 12:53] #1027 closed

[2021-04-28 13:01] ruevs commented on #1027
@jkrei0 and @Symbian9 please try try with the latest edge, The bug should be fixed in 709dc31f7865573cbf23c09dbd1946b017e7dc80.
Please note that you should delete your  `HKEY_CURRENT_USER\Software\SolveSpace\Style_HiddenEdge_StippleType` registry key on Windows or the equivalent in the .json file on Linux to reproduce the problem (and thus test the fix).

[2021-04-28 14:06] robnee commented on #1019
@phkahler  @ruevs 'k' is the only unmodified letter remaining.  We could use that for sketch->workplane but I slightly prefer Shift+P instead.  There are also the new-ish commands sketch->Image and Darken Inactive Solids that are missing accelerators.  I propose this:

'k' - Sketch->Image
'<' - Darken Inactive Solids
'Shift-p' - Sketch->Workplane

I'm very open to other suggestions though...

[2021-04-28 14:15] phkahler commented on #1019
@robnee  Not everything needs a key. Certainly not Sketch->Image or Darken Solids.  I'm not sure how often Workplane is used, so not sure how important that one is?

BTW I'm happy to drop the key for Helix if we ever need another one. It's not a super common thing to use.

BTW2 notice that many of the keys are "grouped" by the shift key. Most sketch tools are plain keys, more new groups use Shift,

[2021-04-28 14:44] robnee commented on #1019
I rarely use these three so have no preference but noticed that almost everything has a key so thought to propose this.

I noticed too that most of the new group commands are shift so, agreed, probably best to not consume that namespace.

Perhaps 'K' is best held for any new constraint that comes along although constraints also use punctuation and there are plenty of those left.

[2021-04-28 14:46] ruevs commented on #1019
@phkahler @robnee In my opinion `Sketch | Workplane` in not used often enough to warrant a dedicated accelerator key, the same applies to image.

And once we assign an accelerator we are "stuck" with it - someone will inevitably complain if we remove or repurpose it later.

And by the way it would be pretty convenient to do `Alt+S` -> `W` (the normal menu accelerators) to create a new work plane i

[2021-04-28 14:48] ruevs commented on #1016
@someSven the link your model is broken. Please attach it again.

[2021-04-28 15:06] robnee commented on #1019
@ruevs yes, I like your suggestion so perhaps something like:

"wor&kplane", "Ta&ngent Arc at Point", and "Split Cur&ves at Intersection"

[2021-04-28 15:08] zhulaojianke commented on #1019
If solvespace allows users to customize hotkey in the properties browser, I think all the problems are no problem.

[2021-04-28 15:15] ruevs commented on #1019
That is true, but it is out of scope at this point. It is a rather large refactoring and a fair amount of work and bloat for a fairly small benefit. And it goes somewhat against the small fast and simple ideology of Solve space - it is after all a single 6.7MB exe.

Looks good to me. @phkahler shall I do it? @jwesthues ?

[2021-04-28 15:23] jkrei0 commented on #1027
Yep. It works as expected with the latest edge!

[2021-04-28 15:42] zhulaojianke commented on #1019
@ruevs Indeed, as you said, one of the reasons I like using Solvespace is that it's small, quick to start up, and fast to load models.

But what about making Solvespace no longer a single-file program? For example, if there is another .cfg or .ini file, read from that document when solvespace start up. And I think many of today's new feature requirements can be easily addressed if users are allowe

[2021-04-28 19:06] Symbian9 commented on #1027
@ruevs, I will try when it fresh DEB package would be built by @AlexanderP's PPA (as I avoid to use Snap/Flatpak builds, and there are no AppImage bulds yet).

[2021-04-29 11:44] vespakoen commented on #1020
I have a vague memory of seeing a benchmark function in someones fork at some point, I think it added something to the "test" functions that allowed one to see how long solving took.

Was it in your fork maybe @Evil-Spirit ?

Profiling on macOS is also pretty good, showing how long some lines of code took to run, I should probably open a whole bunch of big files and see where the bottlenecks are &

[2021-04-29 11:52] phkahler commented on #1020
@ruevs agreed. It's probably a good idea to stress the solver as well as everything else. Maybe we need a benchmark build (since we dont have scripting) that programmatically creates something and stresses everything?

Do groups get solved when opening a file? That should be easy though because it should be saved in a solved state.

[2021-05-01 12:03] zhulaojianke opened #1031 "Feature request: use copy and paste to insert images in workplace"
When I need to insert a picture annotation in the workplace, if solvespace can read the image file directly from the clipboard, it can be inserted by simply copying and paste, which simplifies a lot than now. Then users don't have to save the screenshot for PNG files, and click the "sketch image from a file" icon to select the image file and put it in. This is a bit cumbersome.

It seems that if I

[2021-05-01 12:50] zhulaojianke opened #1032 "The comments can't move with the shapes"
I have made a 2D geometry sketch, and used the comments to mark the point name. When I moved the shapes by selecting and dragging them, the comments around the points didn't move at the same time. When I use the mouse to drag a box to select the whole shape, only the shape itself is selected, and the comment is not selected. And even I click the comments one by one and then selecting the whole sha

[2021-05-01 14:09] ruevs commented on #1031
Highly unlikely that this will happen. Cross platform clipboard handling of image data...

[2021-05-01 14:50] phkahler commented on #1031
@ruevs  and it doesnt save image data in the .slvs file does it? Just a reference to the file?

[2021-05-01 15:55] ruevs commented on #1031
Of course!

[2021-05-01 15:55] #1031 closed

[2021-05-01 23:57] zhulaojianke commented on #1031
Oh, I see. It means that when publishing some .slvs files, I must make sure that the relative path of the image file to the source file is the same. That's good, too.

[2021-05-02 00:56] someSven commented on #1016
Hi, sorry for the late answer. I got distracted, had other things on my mind and completely forgot about this here.
[forearm_V1a.slvs.zip](https://github.com/solvespace/solvespace/files/6410125/forearm_V1a.slvs.zip)
The solution above by phkahler worked. Thanks. For me at least, because I don't need the model for anything than printing. It has many sharp edges, and I wasn't able to reduce them by

[2021-05-03 09:12] BKLronin opened #1033 "Feature Request: Export Sketch as SLVS or Components"
### System information

- **SolveSpace version:**
- **Operating system:**

Hi,

While working on an assembly I can´t find a comfortable way to draw parts that are based on other parts of the assembly. Currently it seems I have to:

- Draw a sketch to read the dimensions
- Make a new slvs file and read the dimensions step by step and draw the fitting part
- Reimport the finished part into the assem

[2021-05-08 00:08] robnee commented on #1032
@phkahler @ruevs I took a look at this.  When selecting with the marquee constraints are ignored.  The presumption is that if one moves the entities then the constraints will move with them anyway.  In fact, moving constraints with entities would double-count the distance change and end up moving them twice as far. Comment constraints are unique in that they are not associated with any entity.  Th

[2021-05-08 13:15] giannissc commented on #1007
I have actually found a usecase for this feature. I have found that it would be useful to be able to have quick access to the solid model show/hide when trying to export different parts of the design for manufacturing. Some surfaces when occluded by other objects around might be hard to select for example

[2021-05-09 06:49] ruevs commented on #1032
@robnee your approach is exactly how I would have done it.

How would it affect backward compatibility of the files?

[2021-05-09 10:28] Symbian9 commented on #1032
There no needs in backward compatibility — newer SLVS files should not be opened in older version of SolveSpace (actually we has implemented *warning message* for that).

As for opening older versions of SLVS in newer version of SolveSpace it could be solved just by adding some *warning message* on opening SLVS with comments that *some comments should be assigned* OR *some comments would not be im

[2021-05-09 12:55] robnee commented on #1032
@ruevs  I was thinking about compatibility too.  This does not need to introduce any new members to the `Constraint` class and hence does not change the file format.  I used `ptA` to hold the reference point so the introduction of a `Constraint.ptA` line is the only thing that changes as compared to a comment saved in version 3.0.
[code]
As luck would have it 3.0 already understands `ptA` and recr

[2021-05-12 02:28] orisvaldo19 opened #1036 "Windows error in solvespace 3.0 for windows 10."
### System information

- **SolveSpace version:**
- **Operating system:**

### Expected behavior

The program open.

### Actual behavior

The error message to open solvespace im my windows 10 as is in attached image. The vc_redist.x86.exe is installed.

### Additional information

![Solvespace_error](https://user-images.githubusercontent.com/84055840/117909285-57aee500-b2b0-11eb-887d-196a7cb09fbb.

[2021-05-12 04:43] kk6mrp commented on #1036
Your computer may not support a high enough OpenGL version. Can you try the attached version and report if this solves your issue?
[solvespace.zip](https://github.com/solvespace/solvespace/files/6463481/solvespace.zip)

[2021-05-12 16:44] Symbian9 commented on #1036
@kk6mrp, Please, describe what changes included in your build.

[2021-05-12 23:22] #1032 closed

[2021-05-12 23:28] phkahler commented on #443
See PR #1035. Selecting a point prior to adding a comment constraint ties the comment to the point. It's not clear how they should attach to other entities, but everything has at least one point ;-)

Feel free to reopen this or create another issue if this isn't good enough.

[2021-05-12 23:28] #443 closed

[2021-05-12 23:50] #932 closed

[2021-05-13 00:01] orisvaldo19 commented on #1036
Really. I don´t have a graphic card in this PC (is a reserve machine cause
my principal is with my son, a student and gamer), but the version that you
send me solves. Its open.
Thanks!

Orisvaldo Silva.

Em qua., 12 de mai. de 2021 às 13:44, app4soft ***@***.***>
escreveu:

[2021-05-13 00:04] phkahler commented on #939
With one of the PRs merged can we close this now? Try the latest edge build when it lands.

[2021-05-13 02:51] phkahler commented on #1036
Maybe we need to update the web site to indicate an OpenGL / graphics requirement?

Another option is to make a release build for XP or whatever. That will eventually die but it's still possible apparently :-)

[2021-05-13 09:07] ruevs commented on #1036
I'll make a Windows XP compatible build of 3.0 with the Open GL1 renderer. Will ping you when I get to it (matter of of sitting on a machine which very rarely gets used these days) and you can decide how "official" you want to make it.

Adding the Open GL requirement on the download page is a good idea.

[2021-05-14 01:09] phkahler opened #1037 "Rebase the emscripten port to master."
The emscripten port needs work but is out of date. We should merge it and write some build instructions so it will be easier for people to work on.

The bit-rot is mostly in the build related files. The UI is in entirely new files due to the platform abstraction layer.

Even though it's not usable yet, I think it should be merged to help prevent such divergence from happening again.

[2021-05-14 09:49] giannissc commented on #1007
Yeah that seems resonable to me

[2021-05-15 06:17] danixland opened #1038 "different WM_CLASS for property browser window and main program window"
### System information

- **SolveSpace version:** 3.0~00533a0f
- **Operating system:** Slackware64-current

### Expected behavior

The property browser window should have a different WM_CLASS than the main program window in order to differentiate them at window manager level.

### Actual behavior

Both the property browser window and the main program window have the same WM_CLASS property so it's

[2021-05-15 17:29] phkahler commented on #1038
According to this page https://developer.gnome.org/gtk3/unstable/GtkWindow.html

gtk_window_set_wmclass()  is deprecated. Just under that it mentions that gtk_window_set_role()  can be used.

Do you know if your window manager can use the role instead?

[2021-05-16 14:19] lelehehele opened #1039 "angle constraint can not work"
![image](https://user-images.githubusercontent.com/48273172/118393022-51818580-b66f-11eb-9319-7afa3e996f51.png)
there is a problem, when I change the angle from 20 to 60, or big, it cant not work, but if from 20 to 30, then 30 to 40..... it can work
thanks!
![angle](https://user-images.githubusercontent.com/48273172/118393136-13d12c80-b670-11eb-9dfd-507d65efa008.png)

[2021-05-16 19:45] phkahler commented on #173
FYI It is now possible to pick coincident lines by slightly rotating the sketch. For depth comparison each line is considered to be at the depth of its midpoint. That means if you rotate the sketch a little bit it will select the "closest" line when they overlap.

[2021-05-16 20:21] phkahler commented on #874
Closing as a duplicate of #1028 which is not specific to RC1.

[2021-05-16 20:21] #874 closed

[2021-05-16 20:22] phkahler commented on #917
Related to #808.

[2021-05-16 20:25] phkahler commented on #677
Duplicate of #678

[2021-05-16 20:25] #677 closed

[2021-05-16 20:28] #660 closed

[2021-05-16 20:35] phkahler commented on #625
The circuit boards (.emn) can be linked in version 3.0 final but will not show board keepout regions. There is a new Pull Request that shows keepouts as construction lines which should be merged soon.

Parts files (.emp) are not supported yet. I have not been able to get a design from anyone with the part placements. Someone sent me a pair of files for a KiCAD project, but the part file was empty

[2021-05-16 20:52] phkahler commented on #590
Update. Current thinking is that each "station" along the extrusion will be a POINT_N_ROT_TRANS of the original base sketch. That's 6 DoF (7 parameters and one constraint on the quaternion) but we can add constraints to get the desired effect.

Going from station N to N+1 can be accomplished with a rotation and translation (not the same as the one from the base sketch). If we want to rotate from P

[2021-05-16 21:09] phkahler commented on #297
Not sure if suggesting the user change the CT parameter is a good idea. It won't fix the issue in the model shown above. Keeping this open for now because of the NURBS issue shown.

[2021-05-16 21:52] phkahler commented on #79
Given the complexity of this and the significant performance gains that have been made in recent years, I think it's time to close this issue.

[2021-05-16 21:52] #79 closed

[2021-05-16 22:05] phkahler commented on #39
@anicolao   Another interesting possibility is VR. Imagine the text window as some kind of window in a virtual world, but the model view is not in any window at all - you're sketching and manipulating in the same space the user is walking around in ;-)  Just throwing this out there as a possible use-case as you consider changing the structure of the different things being shown.

[2021-05-17 02:40] mdirolf commented on #402
Just wondering if you'd be able to push to flathub now that 3.0 is out? Thanks!

[2021-05-17 05:18] ruevs commented on #402
@rpavlik started working on it last month https://github.com/solvespace/solvespace/pull/1026

[2021-05-17 11:05] Symbian9 commented on #625
@ohkahler, Here are some IDF PCB examples on GitHub:

- `*.emn` - https://github.com/search/?q=idf+extension:emn&type=Code
- `*.emp` - https://github.com/search/?q=idf+extension:emp&type=Code

[2021-05-17 11:27] fmagin commented on #313
The https://github.com/whitequark/solvespace repository doesn't exist anymore, and it's unclear if this issue is replicated/archived somewhere. I assume this is a non trivial thing to model as constraints? Or is this just a case of no one being motivated to implement it yet?

[2021-05-17 12:48] mdirolf commented on #402
Thanks @ruevs!

[2021-05-17 14:36] kk6mrp commented on #313
You can read the original issue here: http://web.archive.org/web/20200912191033/https://github.com/whitequark/solvespace/issues/52

[2021-05-17 15:05] phkahler commented on #313
Part 1:  The cubic spline with 4 points exists now, and that shouldn't be too hard to implement.  To constrain a point we'd need to create a new free parameter t and calculate the x,y,z equations for a point on the spline as a function of t. Then set those expressions equal to the point being constrained.  It is true that the point will be able to go past the end of the spline, much line point on

[2021-05-18 06:48] Symbian9 opened #1041 "Add dialog to re-setup keyboard shortcuts"
### System information

- **SolveSpace version:** `3.0`
- **Operating system:** All

### Expected behavior

There should be next:

- Dialog to re-setup keyboard/key shortcuts in SolveSpace (user may customize it);
- All operations should be able to has a key shortcut, even if by default there are no shortcut (so user may set one).

### Actual behavior

Actually there are no ways to resetup keyboar

[2021-05-18 07:13] #1041 closed

[2021-05-18 10:29] ruevs commented on #1041
https://github.com/solvespace/solvespace/issues/1019#issuecomment-828540005

[2021-05-18 14:31] zhulaojianke commented on #1039
I cannot reproduce this issue in win7  version e74e2024 :(

[2021-05-18 14:41] phkahler commented on #1039
@lelehehele  I created a similar diagram and was able to change the angle from 20 to 80 degrees in one step, but not from 10 to 90. I'm not sure what other constraints you've got in there, but this is just the solver having difficulty finding the solution due to the large change and other constraints present. You've already found the solution - make several smaller changes to reach your desired an

[2021-05-18 15:21] zhulaojianke opened #1042 "Chinese characters missing in the vector font (unicode.lff.gz), so they are not displayed in sketch comments."
SolveSpace version 3.0 b5fb1dd4
Windows 7 ultimate sp1

I've found chinese character displaying correctly in the property browser, but wrong in the comments. Like the picture below, the same chinese character displayed in the browser and in the comment.
![image](https://user-images.githubusercontent.com/16543111/118676814-4f195a00-b82e-11eb-8179-7ca9035d1a7e.png)
I think if you change the chinese

[2021-05-18 20:33] phkahler commented on #1042
The text window uses the GNU Unifont which contains every glyph in the unicode Multilingual Plane. This is a bitmap font so it is not really resizable. The sketch window comments use a vector font that came from the LibreCAD project and does not have so many glyphs defined (I recently added 3 new ones for hole annotations). Fonts in that vector format are not common so getting better character cov

[2021-05-18 20:54] phkahler commented on #1019
@zhulaojianke  What are you doing with Workplane?  When sketching I always use existing lines or add construction lines to define the orientation of a new workplane created via Shift->W.  It looks like the method you're using is much harder to orient a new workplane, so either I'm using it wrong or it doesn't seem to be a usedful feature. Is this why you opened issue #1017 ?? To get better control

[2021-05-18 21:08] phkahler commented on #1016
@someSven  The first thing to do for that is lower the chord tolerance. That parameter determines how far a flat surface is allowed to deviate from the ideal curved surface. Small values lead to more triangles with less deviation. The maximum linear segments setting is a sort of upper limit on what can be achieved with the chord tolerance setting and will not have any effect unless you have alread

[2021-05-19 02:22] zhulaojianke commented on #1019
@phkahler Hello, I am not a professional mechanical engineer, sorry, and my job in my team is to be the project leader, sometime like a teacher. I need to explain my plan and ideas to our mechanical engineer. And I have test several softwares such as Solidedge cracked, Design Spark mechanical, sketchup, GeoGebra and many others. But many softwares are too big to work on my poor notebook computer,

[2021-05-19 07:40] ruevs commented on #1042
They are not. Changing the vector font is not worth it in my opinion. At least not at this point. This has been discussed in the past, but I can not find it now.

[2021-05-19 13:58] phkahler commented on #1042
@zhulaojianke  There is a new feature where you can select a point and then press semicolon ;  And the comment will be positioned relative to that point. You may create multiple comments and move them all together by moving the point. It's not as nice as a real multi-line comment but it may help.

This is not available in verison 3.0, you'll need to use an Edge build:
https://github.com/solvespace

[2021-05-19 14:23] Symbian9 commented on #1041
The cost in few additional megabytes is nothing in comparison to such a "must have" feature for SolveSpace users to be able to customize shortcuts.

[2021-05-19 14:25] zhulaojianke commented on #1042
Haha, thanks a lot! I've downloaded and used it a day ago. This new feature allows me to explain my ideas more clearly on the drawings. Thank you for your help! :)

[2021-05-20 07:46] ruevs commented on #1042
The original [unicode.lff](https://github.com/LibreCAD/LibreCAD/blob/master/librecad/support/fonts/unicode.lff) has some updates:
  https://github.com/LibreCAD/LibreCAD/commits/master/librecad/support/fonts/unicode.lff
after ours:
  https://github.com/solvespace/solvespace/commits/master/res/fonts/unicode.lff.gz

Perhaps we should at least update it and maybe try to upstream our fixes and addition

[2021-05-20 13:25] phkahler commented on #1016
This is due to the way ear and grid-triangulation work. The surface here is a spline (order 3) and when lathed that creates surfaces of order 3x2 which uses grid triangulation (make a grid of quads, each split in 2 triangles). The problem isn't with the grid itself, but that we don't use the grid over the entire surface. All quads on the perimeter are handled by the regular ear triangulation code,

[2021-05-20 14:42] phkahler commented on #1042
I'm in favor of that. LibreCAD could probably benefit from having the glyphs for depth, countersink, and counterbore. Maybe those should be contributed back to them and then we pull the fully updated font again?

[2021-05-20 14:54] phkahler commented on #1042
Oh look:  https://github.com/LibreCAD/LibreCAD/tree/master/tools/ttf2lff
They have a ttf to lff converter!

I'm not sure the lff file can go beyond 0xFFFF but filling in more characters seems like a good idea.

[2021-05-20 19:02] #1039 closed

[2021-05-20 19:19] Symbian9 commented on #1042
`unicode.lff` is a single stroke font — that is why the best way to adding missed characters to single stroke `unicode.lff` fonts is by editing LFF-file in LibreCAD.

`ttf2lff` tool in most cases used for as TTF fonts ("filled fonts") into double stroke fonts ("outlined fonts") suitable for plotters / CNC, where single stroke fonts are required; also there are more converters such as `jhf2lff`:

-

[2021-05-21 00:18] Symbian9 commented on #1042
### Bitmap font to LFF?

As for me, the best what we can do at this moment — try to convert CJK characters from "single stroke" bitmap *GNU Unifont* font (available in BDF and HEX) into *LFF font* using some additional tools/converters.

- https://en.wikipedia.org/wiki/GNU_Unifont (CJK characters merged from WenQuanYi's Unibit bitmap font )
  - https://en.wikipedia.org/wiki/WenQuanYi#Unibit

For e

[2021-05-21 08:04] Symbian9 commented on #629
JFTR, I found that arc in linked `test1 v2.dxf` file has doubled (I'm not sure is it issue of DXF itself or is it issue of SolveSpace import).

I'll take a look on few other examples of 3D DXF, for example here are `cube.dxf`, `diamond.dxf` and `bridge.dxf`:

- https://people.math.sc.edu/Burkardt/data/dxf/dxf.html

[2021-05-21 09:32] ruevs commented on #1042
Yeah, I also found wqy-unicode.lff but it is indeed 42MB uncompressed and almost 8MB as an "ultra" compressed `gz` file.
After the mentioned discussions it was eventually removed from LibreCad in 2016:
  https://github.com/LibreCAD/LibreCAD/commit/382744d4ca1c151ce911cdf516c2b6d073b67b0e
  https://sourceforge.net/projects/librecad/files/Resources/fonts/

@Symbian9 when you say that "unicode.lff is

[2021-05-21 11:06] Symbian9 commented on #1042
@ruevs, Yep, `unicode.lff` and `wqy-unicode.lff` are rather different.

See: https://wiki.librecad.org/index.php?title=File:LibreCAD_Fonts_v2p1p3.png

[2021-05-24 01:49] xionghuijiang commented on #1039
Actually，there are other constraints

[2021-05-28 01:45] orisvaldo19 commented on #1036
Cool, thanks!

Em qui., 13 de mai. de 2021 às 06:07, ruevs ***@***.***>
escreveu:

[2021-05-29 20:13] Symbian9 commented on #1036
@ruevs, It would be cool! What about OpenGL1.x-copmpatible build for Mac OS X? See: https://github.com/solvespace/solvespace/issues/102#issuecomment-261479046

Additionally, add info on compiling SolveSpace `3.x` with `OpenGL1.x` for all supported platforms with older GPUs.

[2021-05-29 20:24] Symbian9 opened #1045 "Previos solid groups shaded by each next odd group even "Darken Inactive Groups" is OFF"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/e74e2024658ff6c6ce8e239932d95149eb174e45
- **Operating system:** Debian 10 buster

### Expected behavior

If *"View > Darken Inactive Groups"* is OFF, inactive groups should NOT be darken on adding next groups.

### Actual behavior

Previous solid groups shaded by each next odd group even "Dark

[2021-05-29 20:30] phkahler commented on #1036
@Symbian9 OpenGL 1.x is deprecated by all platforms. MacOS works fine with GL3 going way back. On Linux GL3 is supported on some pretty old hardware. The fact that @ruevs likes to keep it going on Windows XP is nice, but is possible as a result of SolveSpace moving slowly. We have no plans to move backward :-)

Things I consider deprecated:

OpenGL less than 3.0
X-windows
32 bit CPUs

[2021-05-29 20:49] Symbian9 commented on #1036
While SolveSpace 3.x could be built for deprecated OpenGL1.x, I suppose there should be a note in `README.md`.

[2021-05-30 13:06] baryluk opened #1046 "Ability to independently show/hide: H/V constraints, dimensions, REF and comments"
### System information

- **SolveSpace version:** 3.0-rc2
- **Operating system:** Debian testing

### Expected behavior

I really love SolveSpace, and it is my tool of choice for 2D and 3D designs, metal, 3D printing, woodworking, sketching, and even planning space use for many years, but there is one thing that bother me often, that is visual noise of all the constraints on the sketch.

There is

[2021-05-30 17:32] Symbian9 commented on #1046
This feature request is what I'm itself wanted for SolveSpace!

[2021-05-31 08:56] jchhenderson opened #1047 "Feature request: use trackpad ilo mouse"
### System information

- **SolveSpace version:** 3.0~0e0b0252)
- **Operating system:** Mac OS 11.4

Hi there!

I have just downloaded the app and and trying it out.  However I use a trackpad with my Mac which is normally OK for CAD systems, but doesn't seem to allow me to rotate, zoom etc with SolveSpace.

I cannot see any option to enable it, so please consider this a request for a future releas

[2021-05-31 09:33] jchhenderson commented on #1047
...this may be a big as it appears tohave worked in 2015 based on a forum post...

https://solvespace.com/forum.pl?action=viewthread&parent=586&tt=1581871613

[2021-05-31 14:10] simrim1 opened #1048 "Feature request: workplace creation and keyboard keys to rotate"
This piece of software is unbelievably simple, efficient and robust. I haven't come across any other 2d/3d design software with such a small footprint and an output of such level. I have been using it for 3d design ever since I downloaded and tried it out and never looked around for any other software except for toolpath generation. Once it is equipped with toolpath generation ( I hope it will), I

[2021-06-01 02:28] samuel-f opened #1049 "Feature request: pan and rotate view only by left dragging to improve usability with touchpads"
Currently the view can be panned using center and right dragging. However, many touchpads are configured to have a large area for a primary button (usually left click) and only small areas for secondary buttons. In FreeCAD, for example, holding shift + left dragging pans the view while shift + left double clicking and dragging rotates the view, which I find much more pleasant to use.

[2021-06-01 15:45] phkahler commented on #1048
The usual thing to do is make a pair of construction lines starting at a point (the end of your line). You can constrain them perpendicular or at a specific angle relative to something else. Then select the 2 lines and point and press Shif->W.

Without at least on line in the workplace there is no clear way to orient the workplane - left/right or up/down.

[2021-06-02 01:38] piedoom opened #1050 "Custom TTF fonts not showing up on Windows 10"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Windows 10 (Version 10.0.19041 Build 19041)

### Expected behavior

Installing any TTF font via opening and clicking "install", or dragging to the `%windir%/fonts` folder should make those fonts accessible through the type tool

### Actual behavior

The list of fonts available remains unchanged, showing what app

[2021-06-02 13:10] gnbl opened #1051 "Identical (overlapping) edges of different parts/volumes are collapsed"
solvespace-openmp.exe 3.0~e74e2024

Edges that are identical seem to be suppressed, so multiple parts in an assembly appear to have one face (under the mouse cursor):

![image](https://user-images.githubusercontent.com/1181708/120484725-a3d2de00-c3b3-11eb-9846-ab7f2fbc3152.png)

Is this behavior intended and why?
Personally, I'd like to see that edge.

[2021-06-02 13:33] gnbl commented on #1051
Indeed, if the length of either edge is different, it is displayed.
Maybe a remnant of "union" behavior for modelling?

[2021-06-02 15:20] phkahler commented on #1051
I have vague memory of causing this as a result of fixing something else that was worse. It's still a valid issue.

Somewhere in the edge classification and rendering code...

[2021-06-02 16:52] simrim1 commented on #1048
Yes we can create a workplane by adding two lines ( most of the times construction lines) at a particular point and adding angle constraints to get the required surfuce on which to create a workplane. This suggestion is to increase productivity without adding lines and constraints on them for a surface which is perpendicular to the desired line. This will help to decraese a bunch of lines in a com

[2021-06-03 07:51] gnbl commented on #1051
In case it helps, I have attached a small test case with an assembly of a cube and a boolean union.
[tmp.zip](https://github.com/solvespace/solvespace/files/6589827/tmp.zip)

- This only affects the resulting solid model edges, not individual group edges/outlines.
- It does not affect the faces, i.e. the union merges faces as expected, while the adjacent face of another entity remains separate.

[2021-06-03 12:01] giannissc opened #1052 "Question: Extrude along a surface"
Can something like this be done with existing version of solvespace or will this be needed #439?

[fluidic-ink-display.zip](https://github.com/solvespace/solvespace/files/6591478/fluidic-ink-display.zip)

[2021-06-03 13:36] phkahler commented on #1052
That is hard to do now. You could possibly make channels like that using a series of revolve groups combined as difference. See the path.zip file attached to one of the comments in #439. It won't be very easy because you'll need to have construction geometry including the center point of each curve, and each curved or straight segment will have to be a new group. The tool I hope to have one day wi

[2021-06-03 13:55] phkahler commented on #1046
@baryluk  There is a lot covered in this request. I think it's good that you put it all in one place because it's not really a series of specific features, but wants a rather comprehensive change in displaying constraints. The "On a related note" part about comments is the only part I'd consider separate ;-)

On reading it sounds like you want a lot of fine-grained ability to show/hide categories

[2021-06-03 15:27] giannissc commented on #1052
Is there a timeframe for this feature and is there a way I can help?

[2021-06-03 15:58] baryluk commented on #1046
Yes, it is more of a idea / set of features in UI, because I don't know how to best implement it in UI, or if other people thing there are good reasons to not implement it at all.

Yes, many little icons in toolbar are not a good idea, not only it makes it cluttered, it makes it hard to decode what they do, and you start hovering over all icons to know what they do, wasting a lot of time. Maybe a

[2021-06-04 18:07] aelio opened #1053 "Application does not start"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Windows 10 home 2004 build 19041.985

### Expected behavior

Application working

### Actual behavior

Application Error (message box) The application was unable to start correctly (0xc000007b) Click OK to close the application

### Additional information

Fresh windows installation/
Vc redist installed.

[2021-06-05 14:49] kk6mrp commented on #1053
I think I might have seen that error related to OpenGL versions, can you try the executable I attached from the link below?

https://github.com/solvespace/solvespace/issues/1036#issuecomment-839428790

[2021-06-06 11:04] MaxiPaille commented on #1048
Hello guys,

I agree with simrim1, this software seems wonderfull. Very light, very powerfull. But to be honest, it's a bit painfull to use, especially with workplanes. I'm pesevering to learn it because it's the closest software i'm looking for right now.

I'm wondering why we can't use **Shitft + W** when selecting a point and a normal ?

![image](https://user-images.githubusercontent.com/665300

[2021-06-07 11:25] kekscode opened #1055 "Compress slvs files"
### System information

- **SolveSpace version:** 3.0˜0e0b0252
- **Operating system:** macOS 11.4

### Expected behavior

A lot of plain text file formats are nowadays compressed when written on disk. Modern
machines are very good at (de)compression and `.slvs` files benefit a lot from that. I am
aware about the "storage is cheap" mantra, but `slvs` files can get quite big and cloud
syncing and re

[2021-06-07 12:49] akauppi commented on #1036
@phkahler You mention X-windows (X11) as deprecated, but it's an essential part of [WSLg](https://devblogs.microsoft.com/commandline/wslg-architecture/).

[2021-06-07 13:29] phkahler commented on #1036
Yes, even in the Linux world X-windows is deprecated. I'm not saying its dead yet, and if people want to submit fixes for X-issues I'm fine with that. I personally don't see any reason to support it for WSL because we have native Windows builds, but again if someone wants to use it that way and it works that's fine. Pull Requests to support old stuff are welcome too, as long as they're not invasiv

[2021-06-07 19:33] akauppi commented on #1036
@phkahler I was also wrong in my claim. Now, having read that page I referred to, it’s obvious that Microsoft and WSLg are seeing Wayland as the way, and X11 is nicely legacy supported. So my link proved my text wrong!

I would like to have a discussion on wider project goals, but hijacking an Issue is the wrong way. I’ll get back, after checking the source code a bit more..

[2021-06-08 00:26] phkahler commented on #1036
Another good place to look is at the 4.0 milestone issues. Those are ones I consider high impact even if they can't all make it. Some of them were originally targeting 3.0. The current goal is to make Solvespace better at what it already does and not try to turn it into a massive toolkit like FreeCAD. At some point we will have to make invasive breaking changes (hopefully with code for backward co

[2021-06-08 10:25] abrac opened #1056 "Feature Request (UI): Dark Title- and Menu-Bar"
Would it be possible to make the title-bar and the menu-bar dark? I think this would make the window look much better. This is how it currently look on my system (Ubuntu 20.10).

![image](https://user-images.githubusercontent.com/55248999/121169149-fe58b800-c853-11eb-9fe1-8bb4b5e26c0a.png)

As you can see the white menu-bar and title bar are quite distracting. If I switch my global theme to a dark

[2021-06-08 12:27] akauppi commented on #1037
Before merging, the branch should compile.

Comparison here:
https://github.com/solvespace/solvespace/compare/emscripten

If the aim is to merge, maybe someone does a PR between `emscripten` and `master`. That way, it would be easier to comment the right locations, line-wise.

Here are my findings, on Ubuntu 20.04 LTS (under WSL2).

## `README`

The section is now added under Linux build instructi

[2021-06-08 14:15] kk6mrp commented on #1056
This is not an issue with Solvespace. A quick Google search results in posts like this: https://unix.stackexchange.com/questions/14129/gtk-enable-set-dark-theme-on-a-per-application-basis

[2021-06-08 14:18] kk6mrp commented on #1037
I built the Emscripten branch recently and had the same result. Something changed...

[2021-06-08 14:19] phkahler commented on #1037
@akauppi  whitequark is no longer working on solvespace, but you can still try an older version of the emscripten version linked in   [this tweet](https://twitter.com/whitequark/status/1020156780201107463?lang=en)

This is totally out of my territory, but I'd like people to be able to build and run like that with master, obviously not for real use but to make it easy to improve that version to mak

[2021-06-09 10:25] akauppi commented on #1037
I'm not knowledgable about `cmake` builds, either.

My sole interest is to be able to use the (2D) solver within SolveSpace, within a JavaScript app. But the UI would come from web mechanics (normal web app).

FYI; I set up a Dockerfile to help in the compilation. That repo's not public, at the moment but I'm happy to share it if someone wants to see the steps, for the good of merging the branches

[2021-06-09 15:59] phkahler commented on #1037
@akauppi  you might want to have a look at a similar solver written in Rust:  https://github.com/Michael-F-Bryan/constraints

Rust to WASM is supposed to be easy, but I've not tried.

[2021-06-09 16:27] #1056 closed

[2021-06-09 16:31] phkahler commented on #1055
This really falls under the umbrella of new file format. That's not going to happen for a while.

[2021-06-09 16:32] phkahler commented on #1053
@aelio  any update on this? Did you try the OpenGL 1 version linked above?

[2021-06-09 17:34] aelio commented on #1053
Hi, yet had no chance. I guess it could work, there is Intel 630 CPU graphics, I'll let you know ASAP

[2021-06-11 03:00] kekscode opened #1058 "SolveSpace crashes when moving a sphere into a"
### System information

- **SolveSpace version:** Version 3.0 (3.0~0e0b0252)
- **Operating system:** MacOS 11.4 (20F71)

### Expected behavior

Reproduce by opening the attached slvs file and move the sphere from the top
right (by clicking+holding its mid point with the mouse cursor) and drag the
selected sphere into the X-shaped body.

This should work without crashing and show solver issues visu

[2021-06-11 08:31] ruevs commented on #1058
It is interesting that if I fix the sphere not to be "double walled" - in other words if it is made by a lathed half circle instead of a whole one then it does not crash. See the attached file.

It makes sense - the "distance" between the two "walls" of the sphere is 0 (zero) by definition, so any edge that is being intersected with the sphere will be cut into **three** segments - one outside of t

[2021-06-11 08:38] ruevs commented on #1058
Sure enough here is a much simpler model to reproduce the bug:
[DoubleWalledSphereZeroLengthEdgeInstersectionCrash.zip](https://github.com/solvespace/solvespace/files/6637019/DoubleWalledSphereZeroLengthEdgeInstersectionCrash.zip)

[2021-06-17 06:25] nowakf opened #1059 "Crash when creating lathe group and extrusion from triangle"
### System information
- **SolveSpace version:**
3.0~0e0b0252
- **Operating system:**
Arch Linux
### Expected behavior
1. You create the triangular section.
2. You lathe it around its tip.
3. You select the sketch again, and extrude it.
4. You save it / select the extrusion, etc

### Actual behavior
It crashes at 4 with:

File ./src/srf/surfinter.cpp, line 103, function AddExactIntersectionCurve:

[2021-06-17 06:28] ruevs commented on #1059
Most.probably a duplicate to this https://github.com/solvespace/solvespace/issues/1058
I'll confirm later.

[2021-06-23 12:25] littlebritaly opened #1060 "Crashes with error LSOpenURLsWithRole() failed with error -10810 for the file"
### System information

Solvespace 3 on macOS Sierra 10.12.6

I downloaded the latest version from the website (3.0 stable) and as soon as I try to open SolveSpace.app, i get a "SolvesSpace quit unexpectedly" dialog.

I tried from the command line (open SolveSpace.app), what i then get is "LSOpenURLsWithRole() failed with error -10810 for the file"

even after removing the quarantine (xattr -d com

[2021-06-23 14:08] phkahler commented on #1060
@vespakoen  haven't heard from you is a while, any ideas on this mac issue?

[2021-06-24 08:43] vespakoen commented on #1060
The error you got was from the "open" command not finding SolveSpace.app, the correct way to use the "open" command with an app name is this:

[code]

However, that won't show a log, if you want to see a log, open SolveSpace like this (from the Terminal.app):

[code]

Hopefully it shows what the problem is, if not, you could try installing XCode and compiling SolveSpace yourself:

[code]

[2021-06-24 08:58] vespakoen commented on #1037
If you want to work on emscripten, checkout my branch, I got it half-compiling? again with a newer emscripten version (in december 2020):

https://github.com/vespakoen/solvespace/commit/91df00be073cc29ac04602ae8e9231beb521174a

https://github.com/vespakoen/solvespace/commits/vespakoen-emscripten

Better to diff this branch with the current master, looks like I rebased it at the time...

[2021-06-24 12:34] Evil-Spirit commented on #1055
Just need to invent a new format, but support of loading of slvs files.

[2021-06-24 15:21] rpavlik opened #1061 "Symmetry can't be about a vector? Why does this line segment act like a vector?"
### System information

- **SolveSpace version:**  only flatpak changes on top of 00533a0fb22c85293d253f998c8d6f30029061ea
- **Operating system:** debian buster

### Expected behavior

I'm trying to mirror the location of two screw holes across an object. I click the two points I want symmetric, then I click a line to mirror across. I should be able to add the symmetry constraint and have it work.

[2021-06-24 15:41] rpavlik commented on #1036
Interestingly, I don't think I've ever seen Solvespace run on Windows without using ANGLE, at least not in modern versions.

[2021-06-24 15:42] rpavlik commented on #1028
yeah this is an annoying thing about github and submodules.

[2021-06-25 05:01] littlebritaly commented on #1060
Thank you for the help, I dont get a log, just this one line

LSOpenURLsWithRole() failed for the application /Applications/SolveSpace.app/Contents/MacOS/SolveSpace with error -10810.

I'll try downloading and compiling and will report back

[2021-06-25 16:00] littlebritaly commented on #1060
Ignore the above, i found "SolveSpace.app" in the solvespace/build/bin/Debug" folder, copied to Applications folder and it launches instantly, thank you so much.

[2021-06-25 16:54] phkahler commented on #1061
@rpavlik  What would symmetry about a line mean in 3D? For a point I could see it being put on the opposite side of the line, but it looks like that would get the position wrong in this case.  I had no idea this feature exists but symmetry about a line works fine in a 2d sketch group.

On a related note, my hope is that a mirror groups can be used for this. You'd select 3 points to define a "mirro

[2021-06-26 01:46] rpavlik commented on #1061
Yeah you're right, it would get things wrong in this case. I think I was thrown off by the fact the line segment started being called a vector once I also had two points selected.

[2021-06-26 08:33] vespakoen commented on #1060
Glad that worked!

We probably dropped support for your macos version in our build process a while ago, but im glad that manual compilation still seems to work.
I cannot test on that old of a macos version  so I cannot help more than I already did i'm afraid.

[2021-06-26 08:33] #1060 closed

[2021-06-26 17:00] ruevs commented on #1060
Well the _newest_ Mac OS version that I have is  a 32 bit [Snow Leopard](https://en.wikipedia.org/wiki/Mac_OS_X_Snow_Leopard) on a MacBook Pro from 2008 - with a similar vintage XCode :-D  I'm not using it :-)

Now there is a system that will be mighty hard to support - C++ 11 did not exist when that XCode version was released :-D

Maybe someday (when I retire?) maybe I should try compiling SolveS

[2021-06-26 17:09] ruevs commented on #1060
Yep, that's "a bit old" in Apples' twisted "forced obsolescence" world :-D

[2021-07-01 11:01] Symbian9 opened #1064 "Datum Point not shown if added in solid group"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/4ee869906540343522db76f1ed170e74f3dbed8c
- **Operating system:** Debian 10 buster

### Expected behavior

*Datum Point* objects (points added via <kbd>P</kbd> shortcut) **added in any group** should be visible if set *"Show points"* + *"Hide construction entities"*.

### Actual behavior

1. Lau

[2021-07-02 13:51] phkahler commented on #1052
No time frame. The way I want to implement this is quite complex but should be very satisfying to use.

[2021-07-02 20:09] simrim1 commented on #1048
I am very grateful to everyone who responded especially @phkahler who actually tried to implement it, although, not exactly what I requested but it gave a clue to make another feature to create a new workplane. I hope that actual request will be implemented sooner or later.

As for the other request for keyboard keys to rotate 3d view will extremely be useful. I think numpad keys can be used 1,2,3

[2021-07-02 20:22] phkahler commented on #1048
This is not true. A workplane for sketching has a coordinate system (u,v). It is not just the standard mathematical definition of a plane. We need more information for the orientation of the u,v.  If not for that, I would agree that a line and point should be sufficient.

You can always use construction lines, which can have visibility turned off via the toolbar in the text window.

[2021-07-02 20:36] mmiscool commented on #1037
I compiled and got the same error.
Also some thing looks weird as the output after running the dev server thing to host the wasm.emrun if you run "build/bin/solvespace.html" I got the following output.
[code]

[2021-07-05 04:14] akauppi commented on #1037
@phkahler Thanks for the Rust link. I'll take it in to the [Solver shootout](https://github.com/akauppi/solver-shootout) that I just started.

The aim: to find a 2D solver suitable to be used in JS. :)

[2021-07-06 14:05] phkahler commented on #1037
That's awesome!  In the link I provided, he created an algebraic constraint solver. I'm not sure if he ever completed geometric constraints on top of that, but it was his goal to use it in his "arcs" 2D drawing program.

[2021-07-07 07:18] JiangXL commented on #738
Another NURBS Fail case: [NURBS_Fail.zip](https://github.com/solvespace/solvespace/files/6775127/NURBS_Fail.zip)
![Screenshot_20210707_151759](https://user-images.githubusercontent.com/5670700/124716322-8820a180-df36-11eb-827c-746968cac1c9.png)

[2021-07-07 15:51] phkahler commented on #738
@JiangXL  That is a common failure. There are some known work-arounds. Try creating the sketch plane for the second hole by using lines that are not orthogonal to the original box - make them at some arbitrary angle. Another option that may not be OK (depends on your design requirements) is to make one hole 0.001 larger or smaller than the other.

[2021-07-08 02:36] JiangXL commented on #738
Thank for your kind reply! I decide to make one hole larger than other. I'm curious whether it is a NURBS limitation. If not, it will be so great that solvespace can solve it in the future.

[2021-07-08 14:06] phkahler commented on #738
It is a problem in the NURBS code. A cylinder is composed of 4 surfaces of 90 degrees each.  The problem seems to be failure to find the intersection of trim curves with the edge of those surfaces. I'd like to add code to split trim curves against trim curves which I suspect will fix this issue. Either that or figure out why the curve-surface intersection is failing on those edges and find a fix f

[2021-07-11 09:07] Symbian9 commented on #738
Could be this value increased to `8` (45° stepping) for "Lathe" operations?

[2021-07-11 18:24] josedgm opened #1066 "Runtime error 'Length / Arc Ra&tio' missing translation"
### System information

- **SolveSpace version:** edge
- **Operating system:** ubuntu 20.04

### Expected behavior

After compile, the program must open.

### Actual behavior

It just gives this error:
Missing (absent) translation for 'Length / Arc Ra&tio'
Missing (absent) translation for 'Length / Arc Diff&erence'
connect failed: No such file or directory
Killed

### Additional information

The 3

[2021-07-11 20:42] phkahler commented on #1066
Perhaps we should put that back to the way it was. I think Lenght Ratio and Length Difference are clear even when applied to an Arc. Did the old text include the word "Line"?

The translation issue should not be causing the killed process though.

[2021-07-11 22:09] Symbian9 commented on #1066
I use @AlexanderP's PPA builds, and latest *SolveSpace* `3.0~` https://github.com/solvespace/solvespace/commit/ddb76324afb99376c1bf5cccec2db7cb06a023dc works well for me.

@josedgm, may you try its DEB on your Ubuntu 20.04?

- https://notesalexp.org/packages/en/focal/amd64/solvespace/
  - https://notesalexp.org/packages/en/focal/amd64/solvespace/download.html

[2021-07-14 04:30] eaglefred opened #1067 "Unable to open/save a file"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Xubuntu 20.04.2 LTS

### Expected behavior

Opening a dialog box to choose a file

### Actual behavior

Nothing

### Additional information

Error reported in terminal:

(solvespace:6053): GLib-GIO-WARNING **: 06:20:50.978: Error creating IO channel for /proc/self/mountinfo: Permission denied (g-file-error-quark

[2021-07-19 19:35] Symbian9 opened #1068 "Link DXF and DWG files"
### System information

- **SolveSpace version:** `3.0~master`
- **Operating system:** All supported

### Expected behavior

Add feature suport for linking AutoCAD DXF and DWG files via *"Link / Assemble..."* (as 2D/3D wireframe).

In such way all entities from DXF / DWG would be inserted as fully constrained ("read-only" enteties), which allows.

There should be one dot with a `3` normals (for X,

[2021-07-19 19:59] Symbian9 opened #1069 "Active workplane border is shown wrongly after resetup workplane in "sketch-in-plane" group"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/ddb76324afb99376c1bf5cccec2db7cb06a023dc
- **Operating system:** Debian 10 buster

### Expected behavior

*Active workplane border* should be shown in actually *active workplane* in any group with a sketching mode turned to *"Sketch > In Workplane"*.

### Actual behavior

0. Keep shown `g001-#r

[2021-07-19 21:13] Symbian9 opened #1070 "Do not hide comments with a custom style when hide constraints enabled"
### System information

- **SolveSpace version:** `3.0~`
- **Operating system:** Debian 10 buster

### Expected behavior

*Comments* with a custom style (with *"show this object on screen"* turned ON) should be *visible* if enable *"Hide constraints and dimensions"*

### Actual behavior

If enable *"Hide constraints and dimensions"* all *comments* also hides even some of them has a custom style (w

[2021-07-19 21:18] Symbian9 opened #1071 "Allow set custom style for each dimension"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/ddb76324afb99376c1bf5cccec2db7cb06a023dc
- **Operating system:** Debian 10 buster

### Expected behavior

Allow set custom style for each *dimension*, same way as for *comment*.

### Actual behavior

Actually constraints and dimensions are hardcoded to use only `s006-#def-constraint` style.

##

[2021-07-19 21:46] Symbian9 opened #1072 "Show link to constrained point by comment"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/ddb76324afb99376c1bf5cccec2db7cb06a023dc
- **Operating system:** Debian 10 buster

### Expected behavior

If select *comment* which constrains *point* there should be shown selected entities screen in "Property Browser" as next:

- hyperlink to constrained *point* (e.g. `CONSTRAINS: {link to po

[2021-07-19 23:56] Symbian9 opened #1073 "Add color and opacity (transparency) settings for linked group in assembly"
### System information

- **SolveSpace version:**`3.0~`
- **Operating system:** Debian 10 buster

### Expected behavior

Add color and opacity settings for linked group:

- Linked group color - there should be option "keep original color"; if disable it there should be active *color chooser* to set custom color for linked group in actual assembly (if linked group itself include few different color

[2021-07-25 10:40] akauppi opened #1075 "🔮 How burdensome are Windows and macOS builds to maintain? (+ suggestion)"
I'm only tangentially (pun) following the SolveSpace project, but installed it today.

As I'm seeing it, the ecosystem for this kind of tools is changing. The introduction of [WSLg](https://devblogs.microsoft.com/commandline/the-initial-preview-of-gui-app-support-is-now-available-for-the-windows-subsystem-for-linux-2/) makes it possible to run Linux GUI programs on updated Windows 10, by the end o

[2021-07-25 15:59] phkahler commented on #1075
Not that bad? Getting the CI setup took a lot of work by some great people, but now it mostly just works although macOS builds are currently failing (@vespakoen or @ppd  any idea why?)

If someone wants to run the linux version on another OS they are certainly welcome to do that. If the maintenance burden were to get too high it might be worth considering, but so far it's OK and we get to run nati

[2021-07-25 16:11] phkahler commented on #1068
As a workaround you can open them and immediately save the drawing as a .slvs file which can be linked.

I think this should be looked at after the major DXF DWG work is completed.

[2021-07-25 17:18] akauppi opened #1076 "Building from sources on Debian `buster-slim`"
### System information

- **SolveSpace version:** git `master`, currently `a97b77c1e552c89aee873562694e7ac733056094`
- **Operating system:** Debian `buster-slim`

### Expected behavior

I followed the Linux Debian/Ubuntu instructions for [Building for Linux](https://github.com/solvespace/solvespace#building-for-linux) and found some deviations from the instructions.

"Expected behavior":

- I can

[2021-07-26 00:47] Symbian9 commented on #1068
In most cases if *"Import > DXF"* with more that just few entities *SolveSpace* immediately "red screened"  with `To many unknowns in a single group!`

[2021-07-26 15:25] akauppi commented on #1076
I ended up being stuck with "Unable to create GL context" - which can be a Docker / macOS thing. https://github.com/akauppi/docker-solvespace/issues/1

[2021-07-27 09:22] Symbian9 commented on #1076
@AlexanderP, may you get us your DEB-build scripts?

- https://notesalexp.org/packages/en/buster/amd64/solvespace/

[2021-07-29 00:27] phkahler commented on #724
This is landing in edge builds soon. Dropping the OBJ format though as STL is enough for now.

[2021-07-29 00:36] #724 closed

[2021-07-29 00:45] Symbian9 commented on #724
Awesome! Thanks!

[2021-07-29 01:15] #1018 closed

[2021-07-29 04:09] Symbian9 commented on #1018
@phkahler, I highly recommends rename *"ALL"* to *"Supported formats"*, because *"ALL"* is commonly used in desktop software to list *just all available files in a folder path* in file chooser dialogs (aka *"All files"*).

[2021-07-31 17:14] phkahler commented on #1076
For the packages that are not missed, are they required to do a debug build? They are -dev packages.

[2021-07-31 17:15] #488 closed

[2021-07-31 22:03] Symbian9 opened #1079 "Show XYZ normals for linked STL and EMN origin points"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/f6bb0a2d35ba6c67a72170413207d0f28bac216d
- **Operating system:** Debian 10.x buster

### Expected behavior

Linked STL and EMN objects *origin point* should be represented with three *XYZ normals* shown for easy rotating, same way as for linked SLVS objects (if linked SLVS file saved with shown

[2021-07-31 23:14] Symbian9 commented on #1076
FTR, It would good to make it usable via GitHub Actions, for example:

- https://github.com/nylas/build-dpkg-buster

[2021-08-07 17:51] Symbian9 commented on #813
As SolveSpace has *"Dimensions in Meters"* and  *"Dimensions in Meters"* for `SI` system of measurements, it would be good if there would ***"Dimensions in Feets"*** additionally to *"Dimensions in Inches"* for `Imperial` system of measurement too.

Also it would be cool if there would be a way to show Imperial dimensions with `ft`/`in` and alternatively with `'`/`"`:

- in Feet:
  - 2.67ft
  - 2'

[2021-08-07 19:02] Symbian9 opened #1081 "Move light direction and perspective factor to view tab"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/1b8e1dec652eef7916a94b6c9db404457dacb0db
- **Operating system:** Debian 10.x buster

### Expected behavior

`light direction` and `perspective factor` options should be on `view` tab in "Property Browser", as they directly related to view properties in main window (aka *scene, work area*).

Add

[2021-08-07 19:33] Symbian9 opened #1082 "Add "step length" option for "Step Translate" groups"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/1b8e1dec652eef7916a94b6c9db404457dacb0db
- **Operating system:** Debian 10.x buster

### Expected behavior

"Step Translate" group should has `step length` (in some way similar to `pitch` in Helix groups) for continuous copies drawing with constant step length:

[code]

While distance between o

[2021-08-07 20:32] Symbian9 opened #1083 "Distance constraint between origins of 1st and 2nd copies removed after decreasing Step Tramslate to 2 copies"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/1b8e1dec652eef7916a94b6c9db404457dacb0db
- **Operating system:** Debian 10.x buster

### Expected behavior

If in "Step Translate" group with `3` or more copies there is ***non-reference*** *"Distance constraint between origins of 1st & 2nd copies"* and number of copies then decreased to `2` —

[2021-08-07 23:32] Symbian9 opened #1084 "SolveSpace runs out of RAM and swap on linking STL files"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/1b8e1dec652eef7916a94b6c9db404457dacb0db
- **Operating system:** Debian 10.x buster

### Expected behavior

SolveSpace should detect any potential issue on linking 'dangerous' STL files to prevent overload RAM.

### Actual behavior

SolveSpace fully blows my RAM with linking next STL files:

-

[2021-08-07 23:56] Symbian9 opened #1085 "Linked STL has no edges but outlined with "Show edges of solid model""
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/1b8e1dec652eef7916a94b6c9db404457dacb0db
- **Operating system:** Debian 10.x buster

### Expected behavior

With *"Show edges of solid model"* linked STL geometry should not be shown as *outlined* - instead there should be shown edges (apply removing vertices doubles is needed to avoid double e

[2021-08-08 00:26] phkahler commented on #1085
You can turn off the silhouette edges with the toolbar on the text window. STLs will behave like a normal model with all entities disabled. There will not be any edge entities, but you can add lines between the vertices it chose to add. STL contains no surface or edge information. It's just triangle soup.

[2021-08-08 00:32] phkahler commented on #1083
I'll give it some thought but I dont think this is fixable without braking things. The copies are internally numbered 1..n-1 and LAST. That's because constraining against the last one is common, and it allows changing the number of copies without braking those constraints.

When you reduce the number to 2, they get numbered 1 and LAST. Any constraint on 2 is lost.

This was IMHO a really good way

[2021-08-08 00:34] phkahler commented on #1082
You can do a distance constraint between first and second copy. Or first and last copy.

[2021-08-08 03:05] kryspetrie opened #1086 "Feature Request: Backwards compatibility for macOS 10.14.5"
### System information

- **SolveSpace version:** 3.0~0e0b0252 (release)
- **Operating system:** macOS 10.14.5

### Expected behavior

Application opens under macOS 10.14.5

### Actual behavior

Popup saying Solvespace is only compatible with macOS 10.15.x

### Additional information

For organizational reasons I cannot upgrade yet would like to still use this software... Is there any way to maint

[2021-08-08 04:31] ruevs commented on #1082
And one can constrain points on (any of the) copies using the vertical, horizontal, on line, midpoint, symmetric etc. constraints.

The requested feature is completely superfluous.

[2021-08-08 04:36] ruevs commented on #1082
@Symbian9 and otherwise? Draw more than N copies? I find it hard to imagine the use cases in a CAD program where one does not know exactly how many copies are needed.

[2021-08-08 04:44] ruevs commented on #1075
Requiring WSL on Windows is downright crazy. SolveSpace works on Win 7 and later out of the box and can still be built for XP.

And you want to force people to have the latest Windows 10 and download and install gigabytes of a full extra OS (the WSL) just to to run a program, which natively built is a 6MB single EXE?!

And maintaining the readme is close to 0% of the effort.

[2021-08-08 04:44] #1075 closed

[2021-08-08 05:01] ruevs commented on #1085
This works exactly as for any other model.

The "thick edges" are ones where - from the current point of view - the visible boundary of the model is "hanging in the air" (in other words a ray from the camera direction is tangent to the solid). Such a boundary may be in front of other parts of the solid.

[2021-08-08 05:33] ruevs commented on #1084
This is true - there are no provisions in the code to restrict RAM usage. Probably due to the fact that it would become unusably slow, when trying to construct complex objects in the "normal" way, long before RAM usage became excessive.

Linking STL is the first time we have been able to "trick" SolveSpace into importing something "too complex".

[2021-08-08 13:19] Symbian9 commented on #1085
@phkahler, As you can on my first screenshot *'silhouette edges'* already turned OFF with "Hide outlines of solid model", but imported mesh still outlined with "Show edges of solid model".

So, it seems like a bug.

[2021-08-08 13:41] Symbian9 commented on #1082
Lets talk about parametric: I has a template of long bar (which may warry in size) and want duplicate some objects along this bar depending on bar length (i.e. two points from this bar would be used to constraint 'total length' of "Step Translate" group) with a constant step length - CAD program already know total distance between two points which should be used for Step Translate.

Yeah, but it c

[2021-08-08 13:47] Symbian9 commented on #1083
So, in this issue I just propose: if there is constraint between origins of `1` and `n-1` in a group with 3+ copies, after decrease to 2 copies this constraint should be automatically replaced with a constraint between origins of `1` and `LAST` copies.

[2021-08-08 13:53] Symbian9 commented on #1086
Which version are you using (could be run) now on your macOS 10.14.x?

@kryspetrie, please, try @vespakoen's DMG build:

- https://github.com/vespakoen/solvespace/releases/tag/3.0.0-alpha.5

[2021-08-08 14:10] Symbian9 commented on #1084
Issue here is not about its complexity, but about

Just compare next files:

- `break_openscad.stl` (blows out RAM) VS `cube.stl` (not issued RAM)
- `Suzanne.stl` (blows out RAM) VS `monkey.stl` (not issued RAM)

Maybe there are some digit precision or big distance values in those STL files which triggers SolveSpace to blows RAM? Or maybe there some difference in format structure, characters, etc

[2021-08-08 16:38] ruevs commented on #1082
OK - I understand. This is a valid use case. Typical example - the mounting holes along a linear rail.

Essentially it would be a "variable N (copies) translate" with set distance between them and the ends (length) constrained to some entities on a (parametric length) object or just a distance.

I'm not sure this can be implemented as part of the current step stranslating group while keeping backw

[2021-08-08 16:54] phkahler commented on #1086
@vespakoen  I also have problems with the 3.0 stuff on my 2013 Macbook Air.  Do you know why newer builds don't run on older OSX?  I'd like them to work, but I don't even know why they don't. Any ideas?

[2021-08-08 16:59] phkahler commented on #1085
Nope. 8th toolbar icon from the left - 4th from the right. Click that one to make those edges go away.

AFAICT there is no bug or other issue with this one.

[2021-08-08 17:06] phkahler commented on #1083
Sorry, I'm not going to accept changes that try that hard to figure out what the user wants to do in special cases. If I think of another general solution I'll post it as an enhancement suggestion.

[2021-08-08 17:06] #1083 closed

[2021-08-08 17:15] kryspetrie commented on #1086
I don't have previous version information since this is a newly provisioned
laptop. I'll try the suggested build and will let you know.

On Sun, Aug 8, 2021, 9:53 AM app4soft ***@***.***> wrote:

[2021-08-08 17:18] phkahler commented on #1082
I've run across this type of thing before with step rotating where I want the number of copies and an angle to be related. IMHO this is worth keeping in mind while noodling on bigger changes.

[2021-08-08 17:22] phkahler commented on #1079
Awe, c'mon I gave you a bounding box for STLs !   ;-)

But seriously, I don't know how the "same orientation" constraint even works. I thought a normal was something other than it turned out to be. There is one (one of 3) on linked IDFs. Might need to add more, and for STL.

[2021-08-08 17:30] ruevs commented on #1079
Ehh, I don't know how it works in the code either, but (as you probably know) it is extremely powerful for assemblies since it constrains all three rotational degrees of freedom of two objects relative to each other by just roughly orienting them, selecting two normals and pressing "X".

[2021-08-08 17:34] phkahler commented on #1084
I can open that monkey file too, but the suzanne fails for me with increasing memory usage and general unresponsiveness - I didn't wait for it to crash or anything like that.

I've got no tools for analyzing an STL file to figure out what might be wrong. Maybe adding some debug output to the STL linker.... @ruevs you're a 3d printing kind of guy, how do you like the STL linking? Any ideas why it m

[2021-08-08 18:50] ruevs commented on #1053
I created an unofficial Windows XP release with OpenGL 1.
https://github.com/ruevs/solvespace/releases/tag/WindowsXPPost3.0

[2021-08-08 18:51] ruevs commented on #1036
I created an unofficial Windows XP release with OpenGL 1.
https://github.com/ruevs/solvespace/releases/tag/WindowsXPPost3.0

[2021-08-08 21:21] Symbian9 commented on #1084
FTR, SolveSpace tottally freeze on my PC with `break_openscad.stl`, which has only 39 verticies / 13 triangles (but works fine with a `cube.stl`, which has 36 verticies / 12 triangles)

[2021-08-08 21:29] Symbian9 commented on #1036
Great! Is it reproducable? If yes, it would be cool to add it to `edge` GH Actions.

It could be useful not only for Windows XP users, but also for those who use SolveSpace using WINE under older Linux & macOS on older hardware.

[2021-08-08 21:43] Symbian9 commented on #1085
Here is simple usecase:

1. Create any sort of solid group;
2. Link STL;

So, how to disable outlines of STL mesh groups, BUT keep edges of solid groups visible?

![pic](https://i.imgur.com/t2t1tOC.png)

[2021-08-09 05:22] ruevs commented on #1036
It can be reproducible, but as it is it is not.

To make it reproducible I need to create a patch that removes c4ca4be and this patch needs to be applied before compiling for XP. This is the commit that replaced the old memory allocator with mimalloc.

As is is there are a few Vista and later Windows features,  that mimalloc uses, that I had to stub out. I described them in the release.

Another a

[2021-08-09 05:31] ruevs commented on #1036
And of course to compile for XP one needs the compatible platform toolset, the Visual Studio 2017 v141_xp toolset.

https://docs.microsoft.com/en-us/cpp/build/configuring-programs-for-windows-xp?view=msvc-160

In not sure what version of Visual Studio the GithubActions provide (or ours use?) but if it is 2017 or 2019 it needs the above add-on and I do not know if it can be installed/configured. @p

[2021-08-09 06:17] ruevs commented on #1085
@Symbian9 I don't understand. You want to be able to show/hide the outlines of linked STL files independently of other solids?

Lets use the attached file for discussion. It is a cube with a cylinder, exported as STL and the STL imported back into the same SLVS file (STL on the right in the screenshot).

[10mmCube5mmCylinder.zip](https://github.com/solvespace/solvespace/files/6952442/10mmCube5mmCy

[2021-08-09 08:14] Symbian9 commented on #1085
No, I mean that there *should be NO outlines* of linked STL shown IF *"Hide outlines of solid models"* is active (even *"Show edges of solid model"* is active too) — actually it looks like a bug, because if *"Hide outlines of solid models"* + *"Show edges of solid model"* are active together there should be shown only edges of solid body and NO any outlines.

It's OK to show *outlines* of inked ST

[2021-08-09 09:51] Symbian9 opened #1087 "Backport patches from LibreCAD's libdxfrw"
### System information

- **SolveSpace version:** `master~` https://github.com/solvespace/solvespace/commit/56719415dea4de7af750227653362f4c8cad78f8
- **libdxfrw version**: `master~` https://github.com/solvespace/libdxfrw/commit/0b7b7b709d9299565db603f878214656ef5e9ddf
- **Operating system:** all supported

### Expected behavior

Backport patches from LibreCAD's `libdxfrw` into SolveSpace's `libdx

[2021-08-09 14:55] phkahler commented on #1085
@Symbian9  No. I specifically told which toolbar icon would make them go away. It does not have the red X in your screenshot.

I am bothered by @ruevs image where the STL version doesn't show some of the hidden lines. Not sure what's going on but none of this should be STL specific.

[2021-08-09 22:55] Symbian9 commented on #1085
The only way to hide *'lines'* (*'edges', 'outlines'*) of linked STL is just hide all outlines & edges in model/scene:

![slvs-e-0](https://user-images.githubusercontent.com/13188580/128784388-1828d309-d3fc-4812-afca-e47101fdd0ed.png)

But I'm talking about all othes situations, where its inclear how 'lines' works for linked STL

@phkahler, Here is comparison of *Solid Cube*, `cube.stl` & `monkey.

[2021-08-10 13:50] phkahler commented on #1085
**The problem is that STL files are terrible** I see what's happening now. Solvespace is meant to work with surfaces, each of which may be represented by 1 or more NURBS surfaces, each of which may be represented by one or more triangles. You'll notice that a torus created by using Lathe on a circle will produce a single surface even though it is actually composed of 16 NURBS surfaces and possibly

[2021-08-10 13:59] phkahler commented on #1084
I'll have to verify, but the cube with 13 verticies is probably not valid in some sense. It has edges that are not shared 1-to-1 by two triangles. It's not clear why that's causing such huge problems - it may be triggering issue #320 which would be interesting. I'll confirm later that its not the mesh reader (very unlikely).

It is interesting that CGAL (used by openscad) can't handle it properly

[2021-08-10 20:56] ruevs commented on #1085
@phkahler bravo! You explained it much better than I did above when I said:

But hopefully all is clear now - (linked) STLs simply have no "structure" to show apart from the "edges" from the current point of view.

I am closing this.

[2021-08-10 20:56] #1085 closed

[2021-08-10 21:08] ruevs commented on #1084
I'll try to debug it as well - when I get some spare time.

[2021-08-10 21:19] ruevs commented on #1082
Definitely.

A possible solution in a future where [parametric sketches](https://github.com/solvespace/solvespace/issues/77) are implemented is to literally do `NumberOfCopies=TotalLength/CopyDistance`.

[2021-08-11 15:47] ruevs commented on #1084
Well when importing "break_openscad.stl" we are  importing 538976288 (0x20202020) triangles on line 123 of importmesh.cpp

![image](https://user-images.githubusercontent.com/15338069/129059627-32611ada-7ff3-4880-9ca2-b7cefc593d1d.png)

This is certain to cause problems...

Now on to the hex editor to see why that `f.read((char*)&n, 4);` reads 0x20202020 and to learn what the STL format looks like

[2021-08-11 16:25] ruevs commented on #1084
Well `break_openscad.stl` is not an STL file it is a text file containing OpenSCad source!

[code]

No wonder stupid things happen. Interesting whether there is a way to validate that a file (at least looks like) STL format...

[2021-08-11 16:43] ruevs commented on #1084
:-D :-D
Binary: https://www.loc.gov/preservation/digital/formats/fdd/fdd000504.shtml#specs
Text: https://www.loc.gov/preservation/digital/formats/fdd/fdd000506.shtml#specs
[code]

Anyway... they are trivial and we could support both, or at least easily not crash on the text one... The text one just starts with "solid"... I'll work on it if I find time.

[2021-08-11 16:44] ruevs commented on #1084
http://paulbourke.net/dataformats/stl/

[2021-08-11 17:49] phkahler commented on #1084
IIRC there are 2 variations on how to encode color, but the one I implemented is more common and works with STLs exported by Solvespace.

[2021-08-12 13:23] tomsci opened #1089 "github macOS automated tasks are broken"
The "Test / Test macOS" github check seems to be broken for all PRs, eg [here](https://github.com/solvespace/solvespace/pull/1057/checks?check_run_id=3176323644) and [here](https://github.com/solvespace/solvespace/pull/1088/checks?check_run_id=3311566506). It'd be nice to have them working again, or commented out I guess.

[2021-08-12 15:41] phkahler commented on #1089
Agreed. I think I broke it by merging a PR that wasn't quite ready.

[2021-08-14 12:01] tomsci opened #1091 "NURBS failure with countersunk holes"
### System information

- **SolveSpace version:** master @ 56719415dea4de7af750227653362f4c8cad78f8 (3.0)
- **Operating system:** macOS 11.5.1 (Big Sur)

### Expected behavior

Opened [turc-nurbs-1.slvs.zip](https://github.com/solvespace/solvespace/files/6986416/turc-nurbs-1.slvs.zip)
Expected no NURBS issues

### Actual behavior

The 'board-1-inset' group shows "The Boolean operation failed", the

[2021-08-14 15:07] Symbian9 commented on #1091
JFTR, Increasing `chord tolerance (in percents)` to `0,01 %` prevents this NURBS issue.

![pic](https://i.imgur.com/fFH3Uv8.png)

[2021-08-14 16:02] tomsci commented on #1091
The correctness of NURBS operations is predicated on the chord tolerance setting? 🤨 I didn't realise that the chord tolerance would affect such things, I assumed it was only when you forced to triangle mesh (and thus started approximating everything) that the chord tolerance became a factor. My mistake.

The problem I have with this as a solution is that it seems to be a massive house of cards tha

[2021-08-14 16:15] phkahler commented on #1091
@tomsci  Your frustration is completely justified. It is not obvious that chord tolerance affects these thing, but it does.  It shouldn't but it does. That doesnt mean this is a non-issue - it will be added to the collection of NURBS failures to be fixed.

[2021-08-14 17:43] tomsci commented on #1091
OK thanks. I'm afraid I have another one though, and no amount of fiddling with chord tolerance seems to fix it :/

This time it's when trying to make a curved edge between two boxes by extruding a quarter-circle:

![image](https://user-images.githubusercontent.com/2305420/129455690-ed933c12-db3e-4932-b30d-90a5695cc5e5.png)

[turc-nurbs-2.slvs.zip](https://github.com/solvespace/solvespace/files/69

[2021-08-14 17:47] ruevs commented on #1091
Strictly speaking this is a mesh bug, not a NURBS one. It is clear from the error message "failed to assemble polygon to trim nurbs surface in uv space". The problem also disappears if you change the extrusion height of `g009-board-1-inset` to 0.6mm.

It starts working with force triangle mesh, because the algorithm is different, just turn on ![mesh](https://github.com/solvespace/solvespace/blob/m

[2021-08-14 17:58] ruevs commented on #1091
With NURBS (chord tolerance 0,1% and 0.6mm extrusion) your model is 280 triangles.
With "force NIRBS surfaces to triangle mesh" in the last group it is 488 triangles.

Just one (of possibly many) reasons the second one is slower.

Anyway; it is a bug and I will add it to the tracking issue https://github.com/solvespace/solvespace/issues/738. All the ones with an `m` in the first column are mesh pr

[2021-08-14 18:10] ruevs commented on #1091
Your second one on the other hand is a typical NURBS bug. You are creating a "singularity" along the edge where the two parallelograms meet. It is a hard problem in general for 3D software, which does not mean we should not try to handle it. Here is an explanation https://github.com/solvespace/solvespace/issues/470#issuecomment-527175273 with links to better explanations in my following posts :-)

[2021-08-14 18:37] tomsci commented on #1091
Thanks, that's really useful info! I think I understand a bit better what not to do :)

[2021-08-14 20:00] ruevs commented on #1091
By the way here is a simplified version of your second case - fewer surfaces, easier to debug in the future ;-)

[2021-08-14 20:12] ruevs commented on #1091
By all means do create singularities if they work - in many cases they do - and usually they are quite hard to avoid (construction wise).

Your example is not one of those cases - just make the arc part of the first sketch ;-) - but it is a nice simple example of a very typical failure.

[2021-08-14 20:26] Symbian9 commented on #1091
I already played a lot with similar complex features found that most (but not all) of NURBS issues *could be solved* with a little bit different *"topology"*.

Here is example of "box with rounded corner" which NURBS does not fails (even with `chord tolerance (in percents)` set to `0.10 %`)

- SLVS - [box_rounded_corner.zip](https://github.com/solvespace/solvespace/files/6987150/box_rounded_corner

[2021-08-15 09:01] ruevs commented on #1086
@tomsci since you are actively working on the code on macOS can you look into what is required to support old versions? I don't have a Mac (newer than 2008 :-) ), but as far as I can see in the history of [guimac](https://github.com/solvespace/solvespace/commits/master/src/platform/guimac.mm) we should be able to run on very old macOS versions if compiled "properly".

[2021-08-15 10:26] tomsci commented on #1086
On it :)

[2021-08-15 11:11] tomsci commented on #1089
It seems like the failure is due to install-macos.sh trying to fetch the libomp bottle directly from bintray.com, which is now returning 403 for that URL, which the script doesn't recognise is an error and tries to extract the resulting HTML error page as if it were the archive. Visiting bintray.com suggests they're no longer mirroring bottles. So this seems to be a case of an external dependency

[2021-08-15 14:02] vespakoen commented on #1089
We build the arm64 binary on a x64 macOS CI image, and there is no way to tell homebrew to fetch the arm64 package, it uses the architecture of the computer it's executed on.

That is the reason I had to download the binary from the bintray url, apparently it changed.

I'd suggest downloading the 2 binaries from the new host and hosting them ourselves in the github repository.

[2021-08-15 14:28] tomsci commented on #1089
Ah, that makes sense. Maybe we should just include the libomp source as a submodule and build it from source like libpng etc? It might be less maintenance hassle than pulling binaries from homebrew's CDN? The brew recipe doesn't look too bad. It's a bigish package, but not as big as cairo which is also built from source on mac I think?

[2021-08-15 15:04] tomsci commented on #1089
It seems like there is now:

[code]

Although I haven't found a way yet to control where that download ends up, or get brew to easily tell you, because `brew --cache libomp` doesn't accept the `--bottle-tag` option :( Might have to scrape it from the `brew fetch` stdout...

[2021-08-15 16:28] #1086 closed

[2021-08-15 20:19] Symbian9 commented on #1036
Here is "How To" generate a git patch from commit & apply it via git command:

- https://gist.github.com/emmanueltissera/19d0a8852f000cde13768dd7420a0906
  - https://stackoverflow.com/questions/6658313/generate-a-git-patch-for-a-specific-commit

[2021-08-15 22:02] phkahler commented on #1091
@ruevs  I Finally got a chance to try the sketch here. It is difficult for me to speculate why this simple difference might fail. The problematic curve (shown in red) is at the intersection of a curved surface (90 degree portion of the inside of a hole) and a plane. My best guess is that proximity of the top or botton faces is causing some issue - similar to #907. Indeed, changing the depth of the

[2021-08-15 22:07] phkahler commented on #1091
Oh BTW, the idea behind #955 would also allow you to put these holes in the base sketch with a defined counter-bore. It would then create them fully featured at the time of extrusion using no boolean operations. At least that's one way I envision it.

[2021-08-17 19:20] ruevs commented on #1089
Half jokingly - fetch it from China ;-)
https://mirrors.nju.edu.cn/homebrew-bottles/libomp-12.0.1.arm64_big_sur.bottle.tar.gz

https://mirrors.nju.edu.cn/homebrew-bottles/

[2021-08-18 01:54] phkahler commented on #1089
Can we stop trying to build the ARM version until it actually works? CI needs to not fail.

[2021-08-18 10:19] vespakoen commented on #1089
Just fixed CI, sorry that this took so long, thanks @tomsci for finding that --bottle-tag option!

[2021-08-18 10:42] ruevs commented on #1089
And the CI for your pull request passed! Thank you!

[2021-08-18 10:42] #1089 closed

[2021-08-18 17:41] phkahler commented on #1084
The first 80 bytes are read all at once, as that's the header for the binary STL files. So we can check if that starts with "solid" and pop up as error, or branch to a text.STL file reader which could share a lot of code with the existing one.

[2021-08-18 20:03] tomsci commented on #1091
That's a really nice model @Symbian9!

Thanks for looking into it @ruevs and @phkahler, I've managed to nurbsify all the rest of my problematic model (soo much nicer mesh and dramatically better performance!) and I think I've found one more problem that cranking up the chord tolerance or tweaking dimensions doesn't make go away, and seems like it might be the same issue of intersecting circular ge

[2021-08-19 01:16] phkahler commented on #1091
I suspect the arcs (2 of the 4 making up the top circle) are not getting split by the line where the curved and flat surfaces are tangent. They need to because part of those arcs should be kept and part discarded.

The boolean process includes a step where all curves in one shell are split by surfaces in the other shell. It seems to fail when the curve intersects the surface right on its edge for

[2021-08-19 07:29] ruevs commented on #1084
My thoughts exactly.

[2021-08-20 13:51] phkahler commented on #1091
Thinking about this during my drive (the second failure, not the proximity one). Those arcs are exact curves at the end of a circular cylinder, so they will be surface-intersected with the new exact method rather than using the intersection of 3 surfaces method. That doesn't matter because they would both fail to find the intersection of the curve and the rounded surface because the tangent plane

[2021-08-20 16:58] tomsci commented on #1091
I admit I didn't understand a lot of that but it certainly sounds like a promising line of inquiry :-) Let me know if there's anything I can do to help!

[2021-08-22 00:38] phkahler commented on #1091
Thinking about a general way to find curve-curve intersection. For curves 1 and 2 I was thinking of checking the bounding boxes. If they overlap, split curve 1 in half to form curves 3 and 4 - then recursively check (2 & 3) and (2 & 4). The recursion would put curve 2 as the first one so it would split next time. Then I realized the the curves are coincident for any length, this will result in a m

[2021-08-23 10:58] ruevs commented on #1091
I on the other hand am thinking about the case with the three prisms:
![image](https://user-images.githubusercontent.com/15338069/130421794-ab37aaf4-6d1e-4d6c-96f6-99daff3c4634.png)

The problem is that the highlighted edge of the small prism falls on four edges belonging to the extrude with the two big prisms.

At the very least this code is not at all happy since it gets `edge_inters==4`:
https:

[2021-08-23 11:55] Symbian9 commented on #1091
It seems like there is some sort of  NURBS fail *much earlier just with two prisms with mutual corner edge*, where "corner edge" itself is not recognized as "edge of solid model" (similar to what I mentioned in https://github.com/solvespace/solvespace/issues/1091#issuecomment-898955336)

![pic.1](https://i.ibb.co/SrSkC8Y/Screenshot-2021-08-23-14-40-21.png)

[2021-08-23 13:26] Symbian9 opened #1098 "CLA Assistant Agreement check needs to be removed"
### System information

- **SolveSpace version:** `3.0~master`
- **Operating system:** All supported

### Expected behavior

CLA Assistant should be fully un-linked/removed from pull request checks for SolveSpace repo due to violating SolveSpace licensing, because *"SolveSpace is licensed under the GPLv3 or later and any contributions must be made available under the terms of that license"*

### A

[2021-08-23 13:56] phkahler commented on #1098
Yeah, does anyone know how to disable that? We're just GPL3 now since things have been merged without the CLA already.

[2021-08-23 13:59] phkahler commented on #1091
@Symbian9  That missing edge is issue #1051 and is a display issue. The NURBS surfaces are actually completely intact in that situation.

[2021-08-23 14:25] Symbian9 commented on #1098
@phkahler, please, look here:

- https://github.com/cla-assistant/cla-assistant/issues/561

[2021-08-23 19:17] jwesthues commented on #1091
@ruevs - All the Booleans assume non-degenerate geometry without regions joining along knife edges. Whenever stuff like that works, it's basically by accident. Looks like here I assume that an edge from shell A can intersect shell B at only zero or two of shell B's coincident edges (since edges on a watertight shell always occur in pairs), when in that knife-edge case it could be any even number.

[2021-08-23 20:16] jwesthues commented on #1091
@phkahler - I suspect that you're right. The options are either to make the curve-surface intersection work even with the tangency  or to split trim curves against trim curves as you say. The former is painful in general numerically, since anything Newton-like fails; but you could include hand-solved special cases for common surfaces like cylinders and get most of the benefit plus a speedup. For t

[2021-08-24 14:43] rpavlik commented on #1036
The GitHub Actions stuff tends to install basically every toolset, iirc. I don't remember what version we're building with. May just need to add a build that passes the toolset version to cmake: https://cmake.org/cmake/help/v3.21/manual/cmake.1.html  suggests it should be `-T v141_xp` though I haven't tested this.

[2021-08-25 16:50] wucke13 commented on #149
Is it at all possible to create fillets for a body like a chopped of pyramid (like a cube but without the constrain that all angles between the adjacent surfaces are 90 degrees)?

[2021-08-27 15:19] ArmanHayots opened #1100 "0xc000007b on Windows 7"
### System information

- **SolveSpace version:** 3.0
- **Operating system:** Windows 7 SP1 x64

### Behavior

0xc000007b error on start of both solvespace.exe and solvespace-openmp.exe

### Additional information

DependencyWalker shows some strange errors with linking to WinRT(?) files. Screenshot attached.
![DependencyWalker](https://user-images.githubusercontent.com/25264017/131150437-7d7f709e

[2021-08-29 07:22] ArmanHayots commented on #1100
@ruevs, can you provide a link to that version?

[2021-08-29 07:58] ArmanHayots commented on #1100
Installed **Microsoft Visual C++ 2005-2008-2010-2012-2013-2019-2022 Redistributable Package Hybrid x86 & x64**  and problem is gone.

[2021-08-29 07:58] #1100 closed

[2021-08-29 09:21] ruevs commented on #1100
The Visual C++ redistributable is explicitly mentioned as a requirement for the multiprocessor (openmp) version on the download page https://solvespace.com/download.pl

[2021-08-29 17:54] #1081 closed

[2021-08-29 18:13] phkahler commented on #1091
As a crude experiment, I tried a basic curve-curve intersection test here:
https://github.com/phkahler/solvespace/tree/curve-inter

I think it actually solves the second issue here sometimes depending on the location of the hole. It obviously needs to be more robust and should also be able to find multiple intersections between a pair of curves. I'm curious what other open NURBS issues it might fi

[2021-08-29 18:31] ddevault opened #1103 ""Edge" GitHub releases are not useful"
I am the maintainer of the solvespace package on Alpine Linux and I cannot subscribe to release notifications because I am overwhelmed by notifications for the "edge" versions all of the time.

[2021-08-29 18:46] tomsci commented on #1091
@phkahler your edits beat me to it, I just tried it on a bunch of my problem models including the ones I uploaded on this issue. As you say, it seems to give mixed results, for eg it made the rectangular hole in turc-nurbs-3.slvs fail when before it was fine, but I'm very happy that you're looking at it! I tried stepping through boolean.cpp for a bit before reluctantly concluding I have no chance

[2021-08-30 00:54] phkahler commented on #1091
@tomsci  dont worry about the parts of the code that are currently out of reach, there are a lot of complex parts here. If you do want to dig into the /srf folder I recommend reading a little about Bezier and NURBS curves and surfaces (without knots, we dont do knots, just weighted control points) then read ratpoly.cpp. That file IMHO is very clean and educational. But there is plenty to be done i

[2021-08-30 01:16] jwesthues commented on #1091
@tomsci And I can't imagine anyone understanding that code just by reading it, so don't get discouraged if you can't. The best/only way I've found to debug such operations is by graphical experiment, modifying the the code to identify edges or surfaces of interest and then highlight them on the model.

[2021-08-30 11:36] vespakoen commented on #1103
What package manager are you getting the notifications from?
Are we not tagging our builds correctly as an "edge" / "unstable" release?

[2021-08-30 11:54] ddevault commented on #1103
I am getting the notifications from GitHub. I am the *maintainer* of a solvespace package in a Linux distribution, so when you release an update it's my job to go and update the Alpine package also. I subscribed to GitHub release notifications so I can do my part after solvespace updates, but getting notified every day for the same edge release makes it useless for this purpose.

[2021-08-30 12:59] ppd commented on #1103
Well, we could opt for a solution where we leave the edge tag where it is and replace the edge release's assets each time instead of re-creating the whole thing. @phkahler ?

[2021-08-30 13:35] ppd commented on #1103
You're right; a separate channel would be a nice solution. I could just be another GitHub repository if we want to keep it simple.

[2021-08-30 16:05] ArmanHayots commented on #1100
Yes.

[2021-08-30 17:18] phkahler commented on #1103
@ppd  I'd be OK with that or putting them somewhere else (not sure where). I'll leave the details to you.

In contrast to this issue I find the edge builds quite useful. Some people get to confirm fixes without having to build from source. I get to check out the latest macOS versions even though I only build on Linux. But I can see how churn on the releases page could be bad.

[2021-08-30 17:26] phkahler commented on #1091
@ruevs and @jwesthues  I see that SBezier::PointOnThisAndCurve() and  SBezier::ClosestPointTo() don't clamp the t-parameter to the range [0, 1] but let it go off the ends. In the hack I posted here, that seems to lead to false solutions in a lot of places. I haven't tried limiting those. It just feels like adding limits in there might break a bunch of other things that allow that to go past (or ma

[2021-08-30 18:07] vespakoen commented on #1103
I misread the first message, thanks for clarifying!

I would prefer updating the files only, we actually did that in the past but the commit sha1 would not get updated.

It looks like we should be able to change the "target commitish" though looking at the API: https://docs.github.com/en/rest/reference/repos#update-a-release

I'll give it a try...

[2021-08-31 12:17] nanoant commented on #149
I agree that this would 80-90 of the cases, especially for 3D printing where you want to strengthen edges by fillets. Definitely looking forward to seeing this working in SolveSpace. And thanks for such a great project!

[2021-09-01 01:04] kk6mrp commented on #1100
@ruevs I've had to install the redistributable for solvespace.exe to work in the past. The only think I can guess is that the executable is not 100% native though it seems like it should be.

[2021-09-02 07:59] ppd commented on #1103
I think you can't download assets from there if you're not a project member.

[2021-09-02 13:17] Symbian9 commented on #1103
For get Actions artifacts user shold be just logged into GitHub. It's NO need to be a project member.

BTW, I suppose the best solution would be just upload `edge` builds as assets into separate repo:

- https://github.com/solvespace-builds/releases/tag/edge

[2021-09-02 18:48] ppd commented on #1103
There's a nice solution for getting static links to workflow artifacts (and without requiring the user to be logged in): https://nightly.link/

At first glance, it looks exactly like what we need. I'll check it out tomorrow or this weekend.

[2021-09-02 19:14] Symbian9 commented on #1103
@ppd, It may fails as I can see due to rate limits.

I suppose it would be better to use [my suggestion](https://github.com/solvespace/solvespace/issues/1103#issuecomment-911672134) with publish artifacts in `solvespace-builds` as assets to `edge` release using next scripts:

- https://github.com/fnkr/github-action-ghr

[2021-09-03 14:23] ardugitter opened #1105 "Cannot extend reference line in simple sketch"
### System information

- **SolveSpace version:**
3.0~0a3504c3

- **Operating system:**
Debian stable

### Expected behavior
Should be able to change the length of the 1000mm line to 4000mm.

### Actual behavior

Solvespace says that it is a redundant constraint even though all I have done is extend a reference line with no connection on the end.

### Additional information

Please see attached .z

[2021-09-03 14:24] ardugitter commented on #1105
[problem.zip](https://github.com/solvespace/solvespace/files/7106553/problem.zip)

[2021-09-03 23:07] phkahler commented on #1105
It's not a line "with no connection on the end" as both its ends are constrained to other things. One is tied to the midpoint of a line and the other is coincident with 2 lines end points. Having said that, the sketch is not fully constrained and the line (along with some others) can be extended. I was able to go from 1000 -> 1200 -> 2000 -> 2500 -> 3000 etc. But it eventually required smaller ste

[2021-09-04 01:53] phkahler commented on #972
I just saw that GCC is going to enable some vectorization with optimization level -O2.  So looking at our compiler flags it seems releases are built -O2.  Maybe if we were building at -O3 the 64v3 flag may have been useful. This may also explain why some things I tried a while back didn't seem to have the expected result.

[2021-09-05 13:04] tomsci opened #1106 "Mac Magic Mouse scroll gestures are misinterpreted"
The mac Magic Mouse has a touch-sensitive surface instead of scrollwheel, and its 'scroll' gesture is misinterpreted as a trackpad pan by the logic I added in #1093.

_Originally posted by @nanoant in https://github.com/solvespace/solvespace/issues/1093#issuecomment-913132466_

[2021-09-05 13:10] tomsci commented on #1106
@nanoant can you try using this branch https://github.com/tomsci/solvespace/tree/tomsci-scroll-magic-mouse to see if it fixes the issue for you? I've changed the logic so that single-finger gestures on the Magic Mouse should go back to being interpreted as scroll gestures, hopefully even if you still have another finger resting on the surface of the mouse (ie one moving finger, and any number of s

[2021-09-05 14:39] nanoant commented on #1106
@tomsci It works well for me. Is two finger dragging is good for you to pan, then I think this is a good compromise.

FYI unfortunately it seems there's absolutely no way to distinguish `NSEvent` sent from track-pad and Apple Magic Mouse. See https://developer.blender.org/T28092#97274 - it seems they generate exactly the same events. Theoretically we could query `IOHIDManager` to see which kind of

[2021-09-05 14:52] tomsci commented on #1106
That's great to hear, thanks for trying it out!

It seems a reasonable behaviour to me, although since I don't have a Magic Mouse in front of me I haven't been able to actually try it out to see whether I like it or not.

As you say though, I don't think we have any choice. I didn't find any way to distinguish a two-finger trackpad gesture from a two-finger Magic Mouse gesture either. The only opt

[2021-09-05 15:36] nanoant commented on #1106
Well, there's always a way. See https://github.com/nanoant/solvespace/commit/3c04016bf85293a888c79ac1ded516898835e496 Shall I make a PR?

[2021-09-05 15:48] nanoant opened #1108 "Assembly fit fails at tangent arcs despite of same dimensions"
### System information

- **SolveSpace version:** 3.0~6bc63e9 (latest master as of today)
- **Operating system:** macOS 10.15.7 (19H1323)

### Expected behavior

When constructing enclosure over assembly part using the same dimensions as assembly part there should be no fit errors.

### Actual behavior

Assembly is reporting fit problem of the enclosure using tangent arcs at the corners, despite t

[2021-09-05 16:01] phkahler commented on #1108
@nanoant  does changing chord tolerance have any effect? How about changing the dimensions slightly to avoid "perfect" fit - leave a tiny gap.

[2021-09-05 17:38] nanoant commented on #1108
@phkahler Nope. It seems increasing or decreasing it has no effect on fit. It obviously affects the numer of triangles/vertices used for rendering curves though.

Btw. I am surprised why SS is not finding a problem that linked assembly is piercing the wall of newly built solid.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/103067/132136023-c54b02af-f033-40a3-b084-393

[2021-09-05 17:49] Symbian9 commented on #1108
@phkahler, nope, changing tolerance does not help. Additionally according assembly design I may reproduce such issue as single part - as for me there is NURBS in coincident surfaces (especially circles with equal radius)

- Here is my minimal testcase on this issue SLVS: [nurbs-union-issue.zip](https://github.com/solvespace/solvespace/files/7112079/nurbs-union-issue.zip)
  ![Screenshot_2021-09-05_

[2021-09-05 17:58] nanoant commented on #1108
@Symbian9 Oh, this is what I was afraid of actually. This is of course doable, but then I need to model holes in `FT232BL_Case.slvs` without any point of reference (in void). I presume I'd need to leave few DOF for holes and constrain them in final `FT232BL_asm.slvs`, right?

[2021-09-05 18:15] Symbian9 commented on #1108
No. *SolveSpace* does not support editing entities with free DOF from linked SLVS-part inside SLVS-assembly (*yet*: https://github.com/solvespace/solvespace/issues/80).

@nanoant, May you draw some basic image (or show photo) of expected resulting assembly for this "dongle"? Then I may recommend the best solution.

[2021-09-05 18:43] nanoant commented on #1108
Well I already did that case in Fusion 360 and 3D printed it.

<img width="400" alt="image" src="https://user-images.githubusercontent.com/103067/132137592-7b1431c3-022f-4a6d-b0fe-db957d22291d.png">

I first measured the physical board with caliper. Then I modeled parts like PCB, connectors. Finally I created the enclosure on top of that with constraints, e.g. for distance to the wall and for hole

[2021-09-05 20:36] phkahler commented on #1108
When building parts you should not use the assembly operation for a group. When making an assembly (linking a file), always combine as assembly.

Aside from that, solvespace does have some trouble with coincident surfaces, particularly curved ones.

[2021-09-05 21:17] Symbian9 commented on #1108
Okay, here is a quick solution I found basing on initial `FT232BL_Case.zip` design:

- After linking `FT232BL.slvs` (e.g. board, where all groups was `shown` when file saved) inside `FT232BL_Case.slvs` just **suppress** `g003-FT232BL` group, BUT keep `g003-FT232BL` group `shown` in "Property Browser" — this way you would be able to use `g003-FT232BL` entities as reference wireframes for case desig

[2021-09-05 21:31] Symbian9 commented on #1108
@phkahler, to be clear, its possible (in comment above I just described how to avoid NURBS issues) & in some cases it may be useful (even linking SLVS with just "flat sketches"), but that workflow *"just is not recommended until you know what you are doing"* ;-)

[2021-09-06 19:34] tomsci commented on #1106
@nanoant I think it's an interesting bit of code (I'll definitely bookmark it for future reference) but not really the right thing to do here. For one, if I've understood it right it would prevent trackpad gestures from being recognised _on the trackpad_ if there happened to also be a Magic Mouse connected to that machine? Because there's still no way to associate the event with the device that it

[2021-09-06 20:26] nanoant commented on #1106
@tomsci I absolutely agree and understand that solution that enumerates connected devices is far from something acceptable. It is a pity that Magic Mouse and trackpads are undistinguishable at `NSEvent` though. Nevertheless it was an interesting experiment.

[2021-09-06 22:41] phkahler commented on #1106
Isn't the issue that trackpad scroll is being interpreted as pan?

[2021-09-07 07:11] ruevs commented on #1100
I don't have any "clean" Windows machines. I'll have to meke a VM and see what is going on.

[2021-09-07 15:28] nanoant commented on #1106
I think this is other way around. https://github.com/solvespace/solvespace/pull/1093/commits/cabe114bff90168f379fe75ef83e11d4df8271b5 adds special condition in `- (void)scrollWheel:(NSEvent *)nsEvent` that was so far triggering zoom, that is now instead triggering panning via adding `event.button = MouseEvent::Button::RIGHT;` when event is flagged as `nsEvent.subtype == NSEventSubtypeTabletPoint`.

[2021-09-07 16:03] phkahler commented on #1106
According to this page: https://support.apple.com/en-us/HT204895
sliding two fingers up or down on the trackpad is meant to scroll. We are not doing that, we're panning. We use scrolling to zoom, but on my MBA there doesn't seem to be a way to zoom with the trackpad. It's way better than the recent changes, but I don't think its working the way Apple suggests it should in all cases.

[2021-09-07 16:21] tomsci commented on #1106
That was the intention of #1093 :-)

Well, "scroll" is a bit ambiguous in this context. Sliding 2 fingers up or down on the trackpad is generally meant to move the document up and down, which I've tried to be consistent in calling a "pan" gesture (given UIKit has `UIPanGestureRecognizer` but Apple themselves are pretty inconsistent in terminology here) to distinguish from a scroll (wheel) event fr

[2021-09-07 16:31] phkahler commented on #1106
Oops. You are right, and I knew that somewhere in the dark recesses of my mind when I said otherwise.

[2021-09-08 18:59] ruevs commented on #1024
https://ltnr.ca/Lib/solvespaceTips.html a nice list of useful hints (slightly outdated in places, because it was written for 2.3)

[2021-09-12 09:54] anymouse404 opened #1110 "16-bit color PNG gets imported as corrupted"
### System information

- **SolveSpace version:** 3.0~0e0b0252
- **Operating system:** Ubuntu 20.04

### Expected behavior

16-bit color picture imports correctly in the same way as the 8-bit (both attached)

### Actual behavior

The 16-bit colored image has weird colors, line artifacts and is cut in half (pictured right in the following picture:)
![image](https://user-images.githubusercontent.com

[2021-09-14 19:38] Symbian9 commented on #1110
Issue probably related to `libpng` (as SolveSpace uses it for import PNG):

- https://stackoverflow.com/questions/51309691/read-16-bit-png-using-libpng

[2021-09-14 20:42] phkahler commented on #1110
Don't use 16bit PNG files?  Seriously.  But it looks like a valid bug.

[2021-09-14 20:55] anymouse404 commented on #1110
Tbh, I feel like an error message would be plenty sufficient solution.

[2021-09-14 22:05] Symbian9 commented on #1110
Something like next?

[code]

[2021-09-14 23:04] ghost opened #1111 "Add "ghost mode" for solid groups (prevent linked STL mesh "force to triangle" whole model)"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** all supported

### Expected behavior

Add option ("ghost mode") to solid groups to exclude group solids/meshes from any boolean operations in model — if such mode would be turned "ON" on *STL mesh group* its mesh should be "ghost"/

[2021-09-14 23:17] Symbian9 opened #1112 "Add line styles for linked IDF & STL"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** all supported

### Expected behavior

- Add new lines styles: `s{id}-#def-stl-mesh` and `s{id}-#def-emn-solid`.
- Add `opacity` option for STL and IDF groups.

### Actual behavior

Actually styles of linked `*.stl` and `.emn` are h

[2021-09-14 23:25] ghost opened #1113 "SketchUp-like moving by grab faces of solid"
### System information

- **SolveSpace version:** `3.0~`https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** all supported

### Expected behavior

Allow moving linked solid parts by selected face from this solid group (moving should follow orthogonal to selected flat face).

Also, allow extend "Extrude"/"Lathe"/"Helix" by grabbing face (b

[2021-09-15 01:48] phkahler commented on #1112
There are no lines on STL mesh to style. STL files will use the color specified in the file if there is one. I think there is already an open issue to override colors of linked files.

[2021-09-15 02:02] phkahler commented on #1111
An STL file IS a triangle mesh. There is no option to mix NURBS and triangles meshes and there won't be. If you link a mesh, you're going to get meshes after that group.

[2021-09-15 04:33] kwshi opened #1114 "Include full source distribution in v3.0 release assets"
The [version 2.3 release assets](https://github.com/solvespace/solvespace/releases/tag/v2.3) included a [`solvespace-source.tar.gz`](https://github.com/solvespace/solvespace/releases/download/v2.3/solvespace-source.tar.gz) archive in addition to GitHub's automatically-generated [source code archive](https://github.com/solvespace/solvespace/archive/refs/tags/v2.3.tar.gz), which include sources for

[2021-09-15 08:44] Symbian9 commented on #1111
Then at least **suppressing** *STL mesh group* should turns back to solid NURBS mode.

[2021-09-15 08:51] Symbian9 commented on #1112
In https://github.com/solvespace/solvespace/issues/1073 I originally requested for solid groups, but guess I will STL and IDF groups too iin its description.

[2021-09-15 08:51] #1112 closed

[2021-09-15 10:15] Symbian9 commented on #1114
Duplicate of https://github.com/solvespace/solvespace/issues/217 (and probably https://github.com/solvespace/solvespace/issues/1028)

[2021-09-16 02:35] kwshi commented on #1114
OK, #217 got closed without resolution but #1028 remains open, so I'm going to close this issue in favor of #1028 (and move discussion there).

[2021-09-16 02:35] #1114 closed

[2021-09-16 07:26] ruevs commented on #1114
And https://github.com/solvespace/solvespace/issues/874

[2021-09-16 14:03] phkahler opened #1115 "Allow perpendicular constraints for faces"
### System information

- **SolveSpace version:** 3.x
- **Operating system:** ALL

### Expected behavior

Perpendicular constraints should be allowed between faces. This could be used in assemblies or when using Revolve or Helix groups to create 90 or 270 degree bends for example.

### Actual behavior

Perpendicular constraints only work for 2D entities, not faces.

### Additional information

Not

[2021-09-16 16:02] Symbian9 commented on #1115
If possible, lets there would be single "perpendicular" symbol placed somewhere on *intersection edge* (in one or both planes) and this symbol should be movable along this *intersection edge*.

I imagine it as there should be single virtual (invisible) datum point constrained on both faces + there should comment `⊥` text constrained to this datum point.

Here is mockup SLVS (see each group names)

[2021-09-18 19:19] Symbian9 commented on #292
### Awesome News!

Thanks to @hlorus, now there is *"Geometry Sketcher"* add-on for *Blender* `2.92+` (written on top of @realthunder's [`py_slvs`](https://pypi.org/project/py-slvs/) Python module) for adding *SolveSpace 2D geometry constraints into Blender!*

- Blender Add-On: https://github.com/hlorus/geometry_sketcher
  - Demo Video: https://twitter.com/hlorus1/status/1438913270098939904

N.B.

[2021-09-19 09:47] Symbian9 commented on #401
#### Cairo widget for FLTK and Qt

- https://github.com/user1095108/cairowidget

[2021-09-19 11:19] Symbian9 opened #1117 "Add FLTK GUI (alternative frontend)"
### System information

- **SolveSpace version:** `3.x+`
- **Operating system:** all supported

### Expected behavior

Add FLTK GUI for SolveSpace.

### Actual behavior

Actually SolveSpace GUI based on `GTK2/3+`, and there is some work on preparation for `GTK4+` (https://github.com/solvespace/solvespace/issues/853). But GTK itself has many issue (with its ABI, theming, etc) which depends on each

[2021-09-19 15:54] phkahler commented on #1117
No. Solvespace was originally written with FLTK and it was abandoned for native Windows, macOS, and GTK. The ImGUI discussion has been had any number of times. It offers the project absolutely NOTHING, same is true of FLTK.

The argument that using a different GUI toolkit will enable more developers is nonsense. Solvespace has several very complex pieces and doing anything requires much more than

[2021-09-19 15:54] #1117 closed

[2021-09-19 16:45] Symbian9 commented on #1117
Okay.

[2021-09-21 15:26] phkahler commented on #1105
This might be related to #225 if those changes really do improve the convergence of the solver and not just the speed.

[2021-09-23 23:59] Symbian9 opened #1118 "Export to glTF 2.0"
### System information

- **SolveSpace version:** `3.x`/`4.x`
- **Operating system:**  all supported

### Expected behavior

Add *"Export Triangle Mesh... > glTF 2.0 (*.gltf)"*, which would be especially useful for export assembly models with preserving parts hierarchy/kinematics (relative origins, parts parenting) and animations (translate/rotate/scale keyframes).

- https://github.com/KronosGrou

[2021-09-24 10:15] Efruit opened #1119 "Exporting to SVG does not retain groups"
### System information

- **SolveSpace version:** 3.0 ~ 0eab7f78
- **Operating system:** Fedora 33

### Expected behavior

Exported SVGs should have SVG paths grouped by their Solvespace groups.

### Actual behavior

SVGs only contain paths and styling information.

### Additional information

Ideally, the [\<g> elements](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g) should:
- Contai

[2021-09-24 14:06] Symbian9 commented on #1119
Yep, actual SVG is messy if try to edit it Inkscape.

But there is a big question on how SolveSpace should export *outlines*, side *solid edges*, *fills* of cube with cut. Its not as easy as defining group ID. In some cases when SolveSpace export 2D view of solid model (e.g. cube with cut), single closed path (cutted side face fill) may refer to various groups, where its edges loop (in 3D) may ref

[2021-09-25 02:18] Symbian9 opened #1120 "New sketch from point and normal does not follow its parent transforms"
### System information

- **SolveSpace version:** `3.0~` https://github.com/solvespace/solvespace/commit/6bc63e92b0d908aa751ae06063b2ec00fec4cc57
- **Operating system:** Debian 10 buster

### Expected behavior

If new sketch created from point & normal, this new sketch should follow transforms of parent point and normal.

### Actual behavior

Actually if create revolve and use normal from resulted

[2021-09-25 15:10] hinell commented on #1119
Hi. Web front end developer here.

There is a [`<g>`] element for grouping elements in SVG, checkout docs. Cheers.

[`<g>`]: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g

[2021-09-25 15:29] phkahler commented on #1119
Inkscape SVG format is standard web SVG format, unless they changed something recently.

This feature request is fine - making the SVG export more useful in different cases would be nice. It's probably going to need someone to step up and make it happen. @Efruit you might want to try again. Make a (wip) pull request so we can see what you're up to. I have never even looked at the SVG export code :

[2021-09-25 18:26] Efruit commented on #1119
Yes and no. It's SVG-based, but they extend it a bit to support things like layers. It's still compatible with all but the most picky SVG parsers, but there are minor differences.

Frankly, I don't understand the internals well enough to figure it out. The Q&A required to get me up to speed would probably take as much time and effort as someone who's already in-the-know doing it from scratch
...no